Repository star-whale/starwhale, pull requests merged in 2022-08, with the labels that each got.

#833 feat(runtime): add runtime quickstart from Starwhale Runtime URI
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/view.py
  client/starwhale/utils/__init__.py
  client/starwhale/utils/venv.py
  scripts/run_demo.sh
Labels: feature ✨, standalone 💻, client 🌈, runtime🐌

#839 fix: fix job yaml can't be loaded error
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
Labels: controller 🏘️

#843 fix: fix task update error when controller restart
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/JobEventHandler.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sClient.java
Labels: bug 🐛, controller 🏘️

#842 feat(deploy): update charts for k8s based starwhale
  docker/charts/templates/NOTES.txt
  docker/charts/templates/_helpers.tpl
  docker/charts/templates/controller-deployment.yaml
  docker/charts/templates/daemonset.yaml
  docker/charts/templates/rolebinding.yaml
  docker/charts/values.yaml
Labels: deploy 🚀

#840 feat(runtime): support runtime-uri argument for job create command
  client/starwhale/api/_impl/model.py
  client/starwhale/core/job/executor.py
  client/starwhale/core/job/model.py
  client/starwhale/core/runtime/process.py
  client/starwhale/utils/process.py
  client/starwhale/utils/venv.py
  client/tests/core/test_runtime_process.py
Labels: feature ✨, standalone 💻, client 🌈, runtime🐌

#846 fix(console): A user can only have one role in a project
  console/src/domain/project/components/MemberAddForm.tsx
  console/src/domain/project/components/UserSelector.tsx
  console/src/pages/Project/ProjectMembers.tsx
Labels: chore 🛎️, ui

#847 feat(console): password is not required in setting user state api
  server/controller/src/main/java/ai/starwhale/mlops/api/UserController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/user/UserUpdateStateRequest.java
Labels: feature ✨

#845 feat(runtime): add runtime args for model ppl/cmp/eval cmd
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/view.py
Labels: standalone 💻, runtime🐌, model🐇

#848 enhance(runtime): add runtime-restore args for RuntimeProcess and auto extract for runtime restore
  client/starwhale/core/job/cli.py
  client/starwhale/core/job/model.py
  client/starwhale/core/job/view.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/view.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/process.py
  client/starwhale/core/runtime/view.py
  client/starwhale/utils/venv.py
Labels: enhancement ❤️, standalone 💻, client 🌈, runtime🐌

#849 fix(console): admin can not disable itself
  console/src/pages/Admin/UserManagement.tsx
Labels: chore 🛎️, ui

#850 feat(runtime): support runtime activate with runtime uri argument
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/view.py
  client/starwhale/utils/error.py
Labels: feature ✨, standalone 💻, client 🌈, runtime🐌

#853 feat: add external dependency software check command
  client/setup.py
  client/starwhale/cli/mngt.py
  client/starwhale/mngt/__init__.py
Labels: client 🌈

#854 feat(console): show confirm when disable/enable users and remove user from project members
  console/src/App.tsx
  console/src/components/Modal/confirm.tsx
  console/src/i18n/locales.ts
  console/src/pages/Admin/UserManagement.tsx
  console/src/pages/Project/ProjectMembers.tsx
Labels: chore 🛎️, ui

#855 fix(console): use builtin icon font
  .gitattributes
  .github/workflows/console.yml
  console/src/assets/fonts/iconfont.css
  console/src/assets/fonts/iconfont.js
  console/src/assets/fonts/iconfont.json
  console/src/assets/fonts/iconfont.ttf
  console/src/assets/fonts/iconfont.woff
  console/src/assets/fonts/iconfont.woff2
  console/src/components/BaseSidebar.tsx
  console/src/components/Header/index.tsx
  console/src/components/IconFont/index.tsx
  console/src/components/data-table/column-categorical-tags.tsx
  console/src/pages/Admin/AdminSidebar.tsx
  console/src/pages/Settings/SettingsSidebar.tsx
Labels: chore 🛎️, ui

#857 feat: add 'Get arbitrary user token' api for cloud support
  server/controller/src/main/java/ai/starwhale/mlops/api/UserApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/UserController.java
Labels: feature ✨, controller 🏘️

#859 feat(controller): support injecting host path config for pip cache
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sClient.java
  server/controller/src/main/resources/application.yaml
Labels: chore 🛎️, controller 🏘️

#860 fix(deploy): agent host path takes effect with job cache data
  docker/charts/README.md
  docker/charts/templates/controller-deployment.yaml
  docs/docs/cloud/helm-charts.md
Labels: chore 🛎️, deploy 🚀

#863 feat(client): migrate to new version server api
  client/starwhale/base/bundle_copy.py
  client/tests/base/test_copy.py
Labels: client 🌈

#864 fix(build): use the latest tag as latest release version
  docker/Makefile
Labels: chore 🛎️, docker 🗃️

#866 fix(console): accessing resource with no access will redirect to the login page
  console/src/api/ApiHeader.tsx
  server/controller/src/main/java/ai/starwhale/mlops/configuration/security/JwtLoginFailureHandler.java
  server/controller/src/main/java/ai/starwhale/mlops/configuration/security/JwtTokenFilter.java
Labels: chore 🛎️, ui, controller 🏘️

#862 feat(runtime): add cuda/cudnn image
  docker/Dockerfile.starwhale
  docker/Makefile
  docker/cuda/.gitignore
  docker/cuda/Dockerfile.tmpl
  docker/cuda/render.py
  docker/cuda/requirements.txt
Labels: docker 🗃️, runtime🐌

#868 feat(client): auto active env in bash/fish/zsh when executing runtime active cmd
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/view.py
  client/starwhale/utils/venv.py
Labels: chore 🛎️, client 🌈

#870 enhance(ci): make e2e test of standalone work well with the existing job data
  scripts/run_demo.sh
Labels: chore 🛎️, ci 🕹️

#869 enhance(client): change default storage path
  client/starwhale/consts/__init__.py
  client/starwhale/utils/config.py
  client/tests/core/test_project.py
  client/tests/utils/test_config.py
Labels: chore 🛎️

#867 feat(runtime): support cuda/cudnn field in runtime.yaml
  client/starwhale/core/runtime/model.py
  client/tests/core/test_runtime.py
  example/runtime/pytorch/runtime.yaml
Labels: feature ✨, runtime🐌

#872 refactor: update sw-docker-entrypoint for command switch
  client/scripts/sw-docker-entrypoint
Labels: docker 🗃️, runtime🐌

#874 enhance(ci): parallel build starwhale image
  .github/workflows/release.yml
  docker/Makefile
Labels: enhancement ❤️, ci 🕹️

#879 enhance(runtime): add runtime.yaml python field validator
  client/starwhale/core/runtime/model.py
Labels: enhancement ❤️, runtime🐌

#878 doc: add e2e status and client support python version badge status
  README.md
Labels: doc 📄

#876 bug(client): fix importlib import and install for python3.8+
  client/setup.py
  client/starwhale/__init__.py
  example/runtime/pytorch/dummy/setup.py
Labels: bug 🐛, dependencies 🎢, client 🌈

#875 chore: use the fixed python(3.8) for starwhale package in starwhale image
  docker/Dockerfile.starwhale
Labels: chore 🛎️, dependencies 🎢, docker 🗃️

#871 feat(runtime): add `runtime dockerize` command
  client/setup.py
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/template/Dockerfile.tmpl
  client/starwhale/core/runtime/view.py
  client/starwhale/utils/docker.py
  client/starwhale/utils/process.py
  example/runtime/pytorch/runtime.yaml
Labels: feature ✨, standalone 💻, client 🌈, runtime🐌

#884 fix(ci): remove starwhale arch matrix build
  .github/workflows/release.yml
  docker/Makefile
Labels: ci 🕹️

#885 fix(console): iconfont transform by scss error
  console/src/App.tsx
  console/src/styles/_global.scss
Labels: hotfix 🔥, ui

#886 bug(docker): fix Dockerfile.starwhale env typo
  docker/Dockerfile.starwhale
Labels: bug 🐛, docker 🗃️

#887 doc: use SourceSansPro font as the doc default font
  docs/src/css/custom.scss
  docs/static/fonts/SourceSansPro-Regular.ttf
  docs/static/fonts/cousine-v25-latin-regular.eot
  docs/static/fonts/cousine-v25-latin-regular.svg
  docs/static/fonts/cousine-v25-latin-regular.ttf
  docs/static/fonts/cousine-v25-latin-regular.woff
  docs/static/fonts/cousine-v25-latin-regular.woff2
Labels: doc 📄

#883 bug(client): fix log streamwrapper typo
  client/starwhale/utils/log.py
Labels: client 🌈

#882 chore(release): update releaase drafer config for sort and prelease
  .github/release-drafter.yml
Labels: ci 🕹️

#888 bug(runtime): fix runtime activate shell bin path
  client/starwhale/utils/venv.py
Labels: bug 🐛, runtime🐌

#889 chore(ci): enable lfs for console build
  .github/workflows/console.yml
  .github/workflows/release.yml
Labels: ci 🕹️, ui

#890 enhance(controller): make init container compatible with both minio and aliyun oss
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/main/resources/template/job.yaml
Labels: enhancement ❤️, controller 🏘️

#895 feat(client): add --token argument for swcli instance login command
  client/starwhale/core/instance/cli.py
  client/starwhale/core/instance/view.py
  client/tests/core/test_instance.py
  client/tests/core/test_model.py
Labels: feature ✨, client 🌈

#899 fix(client): fix wrong uri of head request
  client/starwhale/base/bundle_copy.py
  client/tests/base/test_copy.py
Labels: bug 🐛, client 🌈

#901 feat(console): new version project creating modal
  console/src/components/Form/form.ts
  console/src/domain/project/components/ProjectForm.tsx
  console/src/domain/project/schemas/project.tsx
  console/src/i18n/locales.ts
Labels: ui

#902 enhance(datastore): tune datastore storage dir by swcli config
  client/starwhale/api/_impl/data_store.py
  client/starwhale/utils/config.py
  client/tests/sdk/test_base.py
  client/tests/sdk/test_data_store.py
  client/tests/sdk/test_wrapper.py
Labels: enhancement ❤️, sdk 🐶, datastore 🐇

#905 feat(console): owner and description of project
  server/controller/src/main/java/ai/starwhale/mlops/api/ProjectController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/project/ProjectRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/project/ProjectVO.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectConvertor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/bo/Project.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/po/ProjectEntity.java
  server/controller/src/main/resources/db/migration/V00007__Add_project_des.sql
  server/controller/src/main/resources/mapper/ProjectMapper.xml
Labels: feature ✨

#898 new layout & new login page
  console/package.json
  console/src/App.tsx
  console/src/api/ApiHeader.tsx
  console/src/assets/logo_normal_en_gray.svg
  console/src/components/BaseNavTabs.tsx
  console/src/components/BaseSidebar.tsx
  console/src/components/Card/index.module.scss
  console/src/components/Card/index.tsx
  console/src/components/Form/form.ts
  console/src/components/Header/Logo.tsx
  console/src/components/Header/index.tsx
  console/src/components/IconFont/index.tsx
  console/src/components/Input/Input.tsx
  console/src/components/data-table/data-custom-table.tsx
  console/src/consts/index.ts
  console/src/domain/user/schemas/user.tsx
  console/src/i18n/locales.ts
  console/src/pages/BaseLayout.tsx
  console/src/pages/Home/LoginNew.tsx
  console/src/pages/Home/login.scss
  console/src/pages/Project/ProjectSidebar.tsx
  console/src/routes.tsx
  console/src/styles/_global.scss
  console/vite.config.ts
  console/yarn.lock
Labels: enhancement ❤️, ui

#908 bug(datastore): fix scan table path argument error
  client/starwhale/api/_impl/data_store.py
Labels: bug 🐛, standalone 💻, datastore 🐇

#903 refactor(dataset): dataset meets datastore
  client/starwhale/api/_impl/dataset.py
  client/starwhale/api/_impl/loader.py
  client/starwhale/api/_impl/model.py
  client/starwhale/api/_impl/wrapper.py
  client/starwhale/consts/env.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/model/cli.py
  client/starwhale/utils/error.py
  client/tests/data/dataset/swds/index.jsonl
  client/tests/data/dataset/swds/label_ubyte_0.swds_bin
  client/tests/sdk/test_base.py
  client/tests/sdk/test_data_store.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_model.py
  example/mnist/mnist/process.py
  scripts/run_demo.sh
Labels: refactor 🐛, dataset🐫

#892 doc: enable doc i18n
  docs/docusaurus.config.js
  docs/i18n/zh/code.json
  docs/i18n/zh/docusaurus-plugin-content-blog/options.json
  docs/i18n/zh/docusaurus-plugin-content-docs/current.json
  docs/i18n/zh/docusaurus-plugin-content-docs/current/img
  docs/i18n/zh/docusaurus-plugin-content-docs/current/quickstart/standalone.md
  docs/i18n/zh/docusaurus-theme-classic/footer.json
  docs/i18n/zh/docusaurus-theme-classic/navbar.json
  docs/package.json
  docs/src/css/custom.scss
Labels: doc 📄

#910 chore(dataset): remove dataset batch_size argument
  README.md
  client/starwhale/api/_impl/dataset.py
  client/starwhale/api/_impl/loader.py
  client/starwhale/api/_impl/model.py
  client/starwhale/core/dataset/dataset.py
  client/starwhale/core/dataset/model.py
  client/tests/data/dataset.yaml
  client/tests/data/dataset/dataset.yaml
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_model.py
  docs/docs/standalone/dataset.md
  docs/docs/tutorials/ag_news.md
  docs/docs/tutorials/cifar10.md
  docs/docs/tutorials/mnist.md
  docs/docs/tutorials/nmt.md
  docs/docs/tutorials/pfp.md
  docs/docs/tutorials/speech.md
  example/PennFudanPed/code/data_slicer.py
  example/PennFudanPed/code/ppl.py
  example/PennFudanPed/dataset.yaml
  example/cifar10/code/data_slicer.py
  example/cifar10/code/ppl.py
  example/cifar10/dataset.yaml
  example/mnist/dataset.yaml
  example/mnist/mnist/ppl.py
  example/mnist/mnist/process.py
  example/nmt/code/dataset.py
  example/nmt/code/ppl.py
  example/nmt/dataset.yaml
  example/speech_command/code/data_slicer.py
  example/speech_command/code/ppl.py
  example/speech_command/dataset.yaml
  example/text_cls_AG_NEWS/code/data_slicer.py
  example/text_cls_AG_NEWS/code/ppl.py
  example/text_cls_AG_NEWS/dataset.yaml
Labels: client 🌈, dataset🐫

#911 feat(console): support sign up with third-party account
  console/src/components/IconFont/index.tsx
  console/src/consts/index.ts
  console/src/domain/user/components/CreateAccountForm.tsx
  console/src/domain/user/components/ResetPasswordForm.tsx
  console/src/domain/user/components/ThirdPartyLoginButton.tsx
  console/src/domain/user/schemas/user.tsx
  console/src/domain/user/services/user.ts
  console/src/i18n/locales.ts
  console/src/pages/Home/CreateAccount.tsx
  console/src/pages/Home/LoginNew.tsx
  console/src/pages/Home/ResetPassword.tsx
  console/src/routes.tsx
  console/src/setupProxy.js
Labels: feature ✨, ui

#900 feat(datastore): data store server naive implementation
  .gitignore
  server/controller/pom.xml
  server/controller/src/main/java/ai/starwhale/mlops/api/DataStoreApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/DataStoreController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/datastore/ColumnDesc.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/datastore/QueryTableRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/datastore/RecordDesc.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/datastore/RecordListVO.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/datastore/RecordValueDesc.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/datastore/ScanTableRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/datastore/TableDesc.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/datastore/TableQueryFilterDesc.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/datastore/TableQueryOperandDesc.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/datastore/UpdateTableRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/ColumnSchema.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/ColumnSchemaDesc.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/ColumnType.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/DataStore.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/DataStoreQueryRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/DataStoreScanRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/MemoryTable.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/OrderByDesc.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/RecordList.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/TableQueryFilter.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/TableScanIterator.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/TableSchema.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/TableSchemaDesc.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/impl/MemoryTableImpl.java
  server/controller/src/main/java/ai/starwhale/mlops/exception/SWValidationException.java
  server/controller/src/main/java/ai/starwhale/mlops/memory/BufferManager.java
  server/controller/src/main/java/ai/starwhale/mlops/memory/SwBuffer.java
  server/controller/src/main/java/ai/starwhale/mlops/memory/impl/BufferManagerConfig.java
  server/controller/src/main/java/ai/starwhale/mlops/memory/impl/ByteBufferManager.java
  server/controller/src/main/java/ai/starwhale/mlops/memory/impl/SwBytesBuffer.java
  server/controller/src/main/java/ai/starwhale/mlops/objectstore/ObjectStore.java
  server/controller/src/main/java/ai/starwhale/mlops/objectstore/impl/FileSystemObjectStore.java
  server/controller/src/main/java/ai/starwhale/mlops/objectstore/impl/ObjectStoreConfig.java
  server/controller/src/test/java/ai/starwhale/mlops/api/DataStoreControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/ColumnSchemaTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/DataStoreTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/TableSchemaTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/impl/MemoryTableImplTest.java
  server/controller/src/test/java/ai/starwhale/mlops/login/TestLoginRequest.java
Labels: cloud ☁️, datastore 🐇

#913 fix：add alter script for job
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/split/JobSpliteratorEvaluation.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/bo/Task.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/converter/TaskBoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/po/TaskEntity.java
  server/controller/src/main/resources/db/migration/V00008__Add_job_dag_field.sql
  server/controller/src/main/resources/mapper/SWModelPackageVersionMapper.xml
  server/controller/src/main/resources/mapper/TaskMapper.xml
Labels: bug 🐛

#914 feat(console): log in with third-party account
  console/src/consts/index.ts
  console/src/pages/Home/LoginNew.tsx
Labels: feature ✨, ui

#915 feat(dataset): support dataset copy with datastore meta load/dump
  client/starwhale/api/_impl/dataset.py
  client/starwhale/base/bundle_copy.py
  client/starwhale/base/cloud.py
  client/starwhale/consts/__init__.py
  client/starwhale/core/dataset/dataset.py
  client/starwhale/core/dataset/model.py
  client/tests/base/test_copy.py
Labels: client 🌈, dataset🐫

#917 enhance(datastore): support `SW_OBJECT_STORE_KEY_PREFIX` env to unify dataset process
  client/starwhale/api/_impl/loader.py
Labels: enhancement ❤️, sdk 🐶, dataset🐫

#916 feat(dataset): support `swcli dataset summary` command
  client/starwhale/api/_impl/dataset.py
  client/starwhale/base/cloud.py
  client/starwhale/base/type.py
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/dataset.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/view.py
  client/starwhale/core/model/model.py
  client/starwhale/core/runtime/model.py
  client/tests/core/test_dataset.py
  client/tests/sdk/test_dataset.py
Labels: feature ✨, dataset🐫

#919 chore(console): update icon fonts
  console/src/assets/fonts/google.svg
  console/src/assets/fonts/iconfont.css
  console/src/assets/fonts/iconfont.js
  console/src/assets/fonts/iconfont.json
  console/src/assets/fonts/iconfont.ttf
  console/src/assets/fonts/iconfont.woff
  console/src/assets/fonts/iconfont.woff2
  console/src/components/IconFont/index.tsx
  console/src/pages/Home/LoginNew.tsx
Labels: chore 🛎️, ui

#921 feat(console): support email register
  console/src/api/ApiHeader.tsx
  console/src/components/Checkbox/index.tsx
  console/src/components/Form/form.ts
  console/src/components/IconFont/index.tsx
  console/src/consts/index.ts
  console/src/domain/user/components/EmailConfirm.tsx
  console/src/domain/user/components/ThirdPartyLoginButton.tsx
  console/src/domain/user/schemas/user.tsx
  console/src/domain/user/services/user.ts
  console/src/i18n/locales.ts
  console/src/pages/Home/CreateAccount.tsx
  console/src/pages/Home/LoginNew.tsx
  console/src/routes.tsx
Labels: feature ✨, ui

#918 feat(dataset): support user-raw data format type for dataset
  client/starwhale/api/_impl/dataset.py
  client/starwhale/api/_impl/loader.py
  client/starwhale/api/dataset.py
  client/starwhale/base/type.py
  client/starwhale/consts/__init__.py
  client/starwhale/core/dataset/dataset.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/view.py
  client/starwhale/utils/fs.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_model.py
  example/mnist/dataset.yaml
  example/mnist/mnist/process.py
Labels: feature ✨, dataset🐫

#927 chore(client): remove deprecated abstractproperty
  client/starwhale/api/_impl/dataset.py
  client/starwhale/api/_impl/loader.py
  client/starwhale/base/store.py
Labels: chore 🛎️, client 🌈

#928 enhance(dataset): add X-SW-UPLOAD-DATA-URI header for dataset copy
  client/starwhale/base/bundle_copy.py
Labels: client 🌈, dataset🐫

#930 feat(console): support resetting password via email
  console/src/components/Input/Input.tsx
  console/src/domain/user/components/NewUserForm.tsx
  console/src/domain/user/components/PasswordForm.tsx
  console/src/domain/user/components/ResetPasswordForm.tsx
  console/src/domain/user/components/SendResetPasswordEmailForm.tsx
  console/src/domain/user/services/user.ts
  console/src/i18n/locales.ts
  console/src/pages/Home/LoginNew.tsx
  console/src/pages/Home/ResetPassword.tsx
  console/src/pages/Project/ProjectListCard.tsx
  console/vite.config.ts
Labels: feature ✨, ui

#880 feat(job): custom job scheduler
  .gitignore
  client/scripts/sw-docker-entrypoint
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/dataset.py
  client/starwhale/api/_impl/job.py
  client/starwhale/api/_impl/loader.py
  client/starwhale/api/_impl/metric.py
  client/starwhale/api/_impl/model.py
  client/starwhale/api/_impl/wrapper.py
  client/starwhale/api/job.py
  client/starwhale/base/type.py
  client/starwhale/base/uri.py
  client/starwhale/cli/__init__.py
  client/starwhale/cli/board/widgets.py
  client/starwhale/consts/__init__.py
  client/starwhale/consts/env.py
  client/starwhale/core/eval/__init__.py
  client/starwhale/core/eval/cli.py
  client/starwhale/core/eval/executor.py
  client/starwhale/core/eval/model.py
  client/starwhale/core/eval/store.py
  client/starwhale/core/eval/view.py
  client/starwhale/core/job/model.py
  client/starwhale/core/job/scheduler.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/default_handler.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/starwhale/mngt/__init__.py
  client/starwhale/utils/flatten.py
  client/starwhale/utils/load.py
  client/tests/core/test_executor.py
  client/tests/core/test_job.py
  client/tests/core/test_mngt.py
  client/tests/core/test_model.py
  client/tests/sdk/test_metric.py
  client/tests/sdk/test_model.py
  example/mnist/mnist/ppl.py
  example/mnist/mnist/test.py
  example/mnist/mnist/train.py
  scripts/run_demo.sh
Labels: feature ✨, break-change 💔, controller 🏘️, client 🌈

#931 chore(console): fix typos
  console/src/pages/Dataset/Overview.tsx
  console/src/pages/Evaluation/EvaluationOverviewLayout.tsx
  console/src/pages/Job/JobOverviewLayout.tsx
  console/src/pages/Job/JobTasks.tsx
  console/src/pages/Model/Overview.tsx
  console/src/pages/Runtime/Overview.tsx
  console/src/pages/Settings/SettingsOverviewLayout.tsx
  console/src/theme/index.ts
Labels: chore 🛎️

#933 feat(console): new overview page & refactor auth
  console/src/App.tsx
  console/src/api/ApiHeader.tsx
  console/src/api/Auth.tsx
  console/src/assets/fonts/iconfont.css
  console/src/assets/fonts/iconfont.js
  console/src/assets/fonts/iconfont.ttf
  console/src/assets/fonts/iconfont.woff
  console/src/assets/fonts/iconfont.woff2
  console/src/components/BaseSidebar.tsx
  console/src/components/Header/index.tsx
  console/src/components/IconFont/index.tsx
  console/src/domain/project/components/ProjectForm.tsx
  console/src/domain/project/schemas/project.tsx
  console/src/i18n/locales.ts
  console/src/pages/Home/Login.tsx
  console/src/pages/Project/Overview.tsx
  console/src/pages/Project/ProjectLayout.tsx
  console/src/pages/Project/ProjectListCard.tsx
  console/src/pages/Project/ProjectSidebar.tsx
  console/src/routes.tsx
Labels: feature ✨, ui

#936 fix(console): keep state unique without local persist
  console/package.json
  console/pnpm-lock.yaml
  console/src/components/data-table/store.ts
  console/src/pages/Evaluation/EvaluationListCard.tsx
Labels: hotfix 🔥, ui

#940 feat(controller): add job token & storage env for job
  server/controller/src/main/java/ai/starwhale/mlops/common/util/JwtTokenUtil.java
  server/controller/src/main/java/ai/starwhale/mlops/configuration/security/JobTokenConfig.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/main/resources/application.yaml
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/fs/S3Env.java
Labels: controller 🏘️

#945 chore(client): add typing hint for python lambda
  client/starwhale/api/_impl/model.py
  client/starwhale/base/bundle.py
  client/starwhale/base/tag.py
  client/starwhale/base/uri.py
  client/starwhale/base/view.py
  client/starwhale/core/eval/executor.py
  client/starwhale/core/project/view.py
  client/starwhale/utils/__init__.py
  client/starwhale/utils/config.py
  client/starwhale/utils/http.py
Labels: chore 🛎️, client 🌈

#941 feat(controller): storage prefix env
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/BundleManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/recover/RecoverManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/evaluation/EvaluationService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectAccessor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/storage/StoragePathCoordinator.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/SWDatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/upload/SwdsUploader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swmp/SWModelPackageService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/user/UserService.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/test/java/ai/starwhale/mlops/JobMockHolder.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/swds/SwdsUploaderTest.java
Labels: controller 🏘️

#955 refactor(console): dataset ui
  console/src/components/Accordion/Accordion.tsx
  console/src/components/Accordion/index.tsx
  console/src/components/BaseNavTabs.tsx
  console/src/domain/dataset/hooks/useDatasetVersion.ts
  console/src/domain/dataset/hooks/useFetchDataset.ts
  console/src/domain/dataset/hooks/useFetchDatasetVersion.ts
  console/src/domain/dataset/services/datasetVersion.ts
  console/src/i18n/locales.ts
  console/src/pages/Dataset/DatasetLayout.tsx
  console/src/pages/Dataset/DatasetOverviewLayout.tsx
  console/src/pages/Dataset/DatasetVersionListCard.tsx
  console/src/pages/Dataset/DatasetVersionOverview.tsx
  console/src/pages/Dataset/DatasetVersionOverviewFiles.tsx
  console/src/pages/Dataset/DatasetVersionOverviewMeta.tsx
  console/src/pages/Dataset/Overview.tsx
  console/src/pages/Evaluation/EvaluationListCard.tsx
  console/src/pages/Project/Overview.tsx
  console/src/routes.tsx
  console/src/styles/_global.scss
Labels: enhancement ❤️, ui

#944 feat(dataset): support `Link` type for dataset
  client/starwhale/api/_impl/dataset.py
  client/starwhale/api/_impl/loader.py
  client/starwhale/api/_impl/model.py
  client/starwhale/api/dataset.py
  client/starwhale/consts/__init__.py
  client/starwhale/core/dataset/dataset.py
  client/starwhale/core/dataset/model.py
  client/starwhale/utils/__init__.py
  client/starwhale/utils/fs.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_loader.py
  client/tests/sdk/test_model.py
  client/tests/utils/test_common.py
  example/PennFudanPed/code/utils.py
  example/mnist/dataset.yaml
  example/mnist/mnist/ppl.py
  example/mnist/mnist/process.py
Labels: feature ✨, sdk 🐶, dataset🐫

#959 feat(dataset): support dataset copy with .auth_env file
  client/starwhale/base/bundle_copy.py
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/view.py
Labels: feature ✨, client 🌈, dataset🐫

#947 feat(console): privacy of project & project overview statistics
  server/controller/src/main/java/ai/starwhale/mlops/api/ProjectApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ProjectController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/project/ProjectRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/project/ProjectVO.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/project/StatisticsVO.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectConvertor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/bo/Project.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/mapper/ProjectMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/po/ProjectEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/po/ProjectObjectCountEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/user/UserService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/user/bo/Role.java
  server/controller/src/main/resources/db/migration/V00010__Add_project_privacy.sql
  server/controller/src/main/resources/mapper/ProjectMapper.xml
Labels: feature ✨

#963 refactor(client): change misleading fuse to `LocalFS`
  client/starwhale/api/_impl/dataset.py
  client/starwhale/api/_impl/loader.py
  client/starwhale/consts/__init__.py
  client/tests/core/test_executor.py
  client/tests/sdk/test_loader.py
  client/tests/sdk/test_model.py
  example/cifar10/code/ppl.py
  example/text_cls_AG_NEWS/code/ppl.py
Labels: refactor 🐛, client 🌈

#968 refactor(bootstrap): bye bootstrap
  .github/file-filter.yml
  .github/workflows/bootstrap-lint.yaml
  .gitignore
  bootstrap/.ansible-lint
  bootstrap/.flake8
  bootstrap/MANIFEST.in
  bootstrap/Makefile
  bootstrap/README.md
  bootstrap/pyproject.toml
  bootstrap/requirements-dev.txt
  bootstrap/setup.py
  bootstrap/starwhale_bootstrap/__init__.py
  bootstrap/starwhale_bootstrap/cmd.py
  bootstrap/starwhale_bootstrap/default.py
  bootstrap/starwhale_bootstrap/deploy.py
  bootstrap/starwhale_bootstrap/playbook/bootstrap.yaml
  bootstrap/starwhale_bootstrap/playbook/hosts
  bootstrap/starwhale_bootstrap/playbook/roles/controller/tasks/main.yaml
  bootstrap/starwhale_bootstrap/playbook/roles/minio/tasks/main.yaml
  bootstrap/starwhale_bootstrap/playbook/roles/mysql/tasks/main.yaml
  bootstrap/starwhale_bootstrap/playbook/roles/nexus/tasks/main.yaml
  docs/docs/cloud/ansible.md
  docs/docs/quickstart/on-premises.md
Labels: refactor 🐛, bootstrap 🚪

#958 fix(controller): fix dataset upload error
  docker/charts/templates/controller-deployment.yaml
  scripts/e2e_test/start_test.sh
  scripts/run_demo.sh
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/BundleManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/recover/RecoverManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/evaluation/EvaluationService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectAccessor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/SWDatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/upload/SwdsUploader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/upload/bo/Manifest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swmp/SWModelPackageService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/user/UserService.java
Labels: controller 🏘️

#956 enhance(job): simplify job eval cmd
  client/scripts/sw-docker-entrypoint
  client/starwhale/api/_impl/job.py
  client/starwhale/api/_impl/model.py
  client/starwhale/api/_impl/wrapper.py
  client/starwhale/base/type.py
  client/starwhale/core/eval/cli.py
  client/starwhale/core/eval/executor.py
  client/starwhale/core/eval/model.py
  client/starwhale/core/eval/store.py
  client/starwhale/core/eval/view.py
  client/starwhale/core/job/model.py
  client/starwhale/core/job/scheduler.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/default_handler.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/starwhale/utils/load.py
  client/tests/sdk/test_wrapper.py
Labels: bug 🐛, size/s 🐀, client 🌈

#961 feat(controller): support resource pool
  server/controller/src/main/java/ai/starwhale/mlops/api/JobController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/job/JobRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/job/JobVO.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/bo/Job.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/converter/JobBoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/converter/JobConvertor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/po/JobEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/mapper/ResourcePoolMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/po/ResourcePoolEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/resourcepool/ResourcePoolCache.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/resourcepool/ResourcePoolConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/resourcepool/ResourcePoolManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/resourcepool/bo/ResourcePool.java
  server/controller/src/main/java/ai/starwhale/mlops/exception/SWValidationException.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sResourcePoolConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/NodeEventHandler.java
  server/controller/src/main/resources/db/migration/V00011__Add_resource_pool.sql
  server/controller/src/main/resources/mapper/JobMapper.xml
  server/controller/src/main/resources/mapper/ResourcePoolMapper.xml
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobBoConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/system/ResourcePoolConverterTest.java
Labels: feature ✨, controller 🏘️

#970 fix(console): fix bug & add pytest for project api
  scripts/apitest/pytest/test_project.py
  server/controller/src/main/java/ai/starwhale/mlops/api/ProjectApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ProjectController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/project/CreateProjectRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/project/UpdateProjectRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/common/util/HttpUtil.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectService.java
  server/controller/src/main/resources/mapper/ProjectRoleMapper.xml
  server/controller/src/test/java/ai/starwhale/mlops/common/util/HttpUtilTest.java
Labels: bug 🐛

#978 feat(controller): get resource pools api
  server/controller/src/main/java/ai/starwhale/mlops/api/SystemApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/SystemController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/system/ResourcePoolVO.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/SystemService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/resourcepool/ResourcePoolConverter.java
Labels: feature ✨, controller 🏘️

#986 fix(controller): make resource pool feature compatible with the old data
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/converter/JobConvertor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/resourcepool/ResourcePoolConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/resourcepool/bo/ResourcePool.java
Labels: chore 🛎️, controller 🏘️

#985 feat(console): support selecting resource pool when create job
  console/src/domain/job/components/JobForm.tsx
  console/src/domain/job/components/ResourcePoolSelector.tsx
  console/src/domain/job/hooks/useFetchResourcePools.ts
  console/src/domain/job/schemas/job.tsx
  console/src/domain/job/schemas/resourcePool.ts
  console/src/domain/job/services/job.ts
  console/src/i18n/locales.ts
Labels: feature ✨, subtask

#991 test(controller): add pytest for management of role
  scripts/apitest/pytest/test_role.py
  server/controller/src/main/java/ai/starwhale/mlops/configuration/security/JwtTokenFilter.java
Labels: controller 🏘️

#984 update(console): project editing api
  console/src/assets/bg.jpg
  console/src/components/Header/HeaderLeftMenu.tsx
  console/src/domain/project/components/ProjectForm.tsx
  console/src/domain/project/services/project.ts
  console/src/i18n/locales.ts
  console/src/pages/Dataset/DatasetVersionListCard.tsx
  console/src/pages/Home/CreateAccount.tsx
  console/src/pages/Home/LoginLayout.tsx
  console/src/pages/Home/LoginNew.tsx
  console/src/pages/Project/Overview.tsx
  console/src/pages/Project/ProjectListCard.tsx
  console/src/routes.tsx
Labels: refactor 🐛, console 🎨

#971 feat(dataset): standalone simple object store for dataset versioning
  client/starwhale/api/_impl/dataset/builder.py
  client/starwhale/api/_impl/dataset/loader.py
  client/starwhale/base/bundle_copy.py
  client/starwhale/base/cloud.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/store.py
  client/starwhale/core/dataset/tabular.py
  client/starwhale/utils/config.py
  client/starwhale/utils/fs.py
  client/tests/base/test_copy.py
  client/tests/sdk/test_dataset.py
  example/mnist/dataset.yaml
Labels: feature ✨, dataset🐫

#993 chore(dataset): remove useless mode field in dataset.yaml
  README.md
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/type.py
  client/tests/data/dataset.yaml
  client/tests/data/dataset/dataset.yaml
  docs/docs/tutorials/ag_news.md
  docs/docs/tutorials/cifar10.md
  docs/docs/tutorials/mnist.md
  docs/docs/tutorials/nmt.md
  docs/docs/tutorials/pfp.md
  docs/docs/tutorials/speech.md
  example/PennFudanPed/dataset.yaml
  example/cifar10/dataset.yaml
  example/mnist/dataset.yaml
  example/nmt/dataset.yaml
  example/speech_command/dataset.yaml
  example/text_cls_AG_NEWS/dataset.yaml
Labels: chore 🛎️, client 🌈, dataset🐫

#996 chore(controller): use offical awscli to support arm64 arch device
  server/controller/src/main/resources/template/job.yaml
Labels: controller 🏘️

#1000 chore(controller): catch exception when heading model/dataset/runtime
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/RuntimeApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/RuntimeController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/SWModelPackageApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/SWModelPackageController.java
  server/controller/src/main/java/ai/starwhale/mlops/exception/api/StarWhaleApiException.java
Labels: chore 🛎️

#999 feat(controller): Support link auth in controller
  server/controller-sdk/src/main/java/ai/starwhale/mlops/api/protocol/report/resp/ReportResponse.java
  server/controller-sdk/src/main/java/ai/starwhale/mlops/api/protocol/report/resp/TaskTrigger.java
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetController.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/SWDatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/converter/SWDSBOConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/datastore/DataStoreTableNameHelper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/index/IndexItem.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/mapper/SWDatasetVersionMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/objectstore/DSFileGetter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/objectstore/StorageAccessParser.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/objectstore/StorageAuths.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/objectstore/StorageUri.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/po/SWDatasetVersionEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/upload/SwdsUploader.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/main/resources/db/migration/V00013__Add_dataset_field.sql
  server/controller/src/main/resources/mapper/SWDatasetVersionMapper.xml
  server/controller/src/test/java/ai/starwhale/mlops/domain/swds/SwdsUploaderTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/swds/objectstore/TestStorageAuths.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/swds/objectstore/TestStorageUri.java
Labels: feature ✨, controller 🏘️

#1007 fix(controller): dataset upload issues
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/upload/SwdsUploader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/upload/bo/Manifest.java
  server/controller/src/main/resources/db/migration/V00014__Update_dataset_field.sql
  server/controller/src/test/java/ai/starwhale/mlops/domain/swds/HotSwdsHolderTest.java
Labels: bug 🐛, controller 🏘️, dataset🐫

#1006 test(controller): pytest for role permission apis
  scripts/apitest/pytest/common/httputil.py
  scripts/apitest/pytest/test_role.py
  scripts/apitest/pytest/test_role_permission.py
Labels: controller 🏘️

#1010 fix(controller): prevent losing data after finding the eval_jobs.yaml file
  server/controller/src/main/java/ai/starwhale/mlops/domain/swmp/SWModelPackageService.java
Labels: bug 🐛, controller 🏘️, model🐇

#1011 fix(dataset): add default s3 region for s3 link auth
  client/starwhale/core/dataset/type.py
Labels: bug 🐛, dataset🐫

#1004 feat(dataset): support dataset data append only mode
  client/starwhale/api/_impl/dataset/builder.py
  client/starwhale/base/bundle.py
  client/starwhale/consts/__init__.py
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/tabular.py
  client/starwhale/core/dataset/view.py
  client/starwhale/core/runtime/model.py
  client/starwhale/utils/fs.py
Labels: feature ✨, client 🌈, dataset🐫

#1014 fix(controller): fix dataset/model copy error
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/upload/SwdsUploader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swmp/SWModelPackageService.java
Labels: bug 🐛

#1013 fix(controller): fix dataset link auth error
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetController.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/SWDatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/index/IndexItem.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/objectstore/DSFileGetter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/objectstore/StorageAccessParser.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/objectstore/StorageAuths.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/upload/SwdsUploader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/watchers/TaskWatcherForSchedule.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/swds/objectstore/TestStorageAuths.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/StorageAccessService.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/s3/StorageAccessServiceS3.java
Labels: hotfix 🔥

#1016 feat(client): add SW_TOKEN env for instance_uri sw_token
  client/starwhale/api/_impl/data_store.py
  client/starwhale/base/uri.py
  client/starwhale/consts/env.py
  client/starwhale/utils/config.py
Labels: enhancement ❤️, client 🌈

#1018 fix(docker): entrypoint default value format
  client/scripts/sw-docker-entrypoint
Labels: agent 🪧, docker 🗃️

#1019 fix(controller): resolve env overwritten
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sClient.java
Labels: bug 🐛, controller 🏘️

#1020 bug(datastore): fix datastore resp format typo
  client/starwhale/api/_impl/data_store.py
Labels: bug 🐛, datastore 🐇

#1021 example: update example for numpy dependencies
  example/PennFudanPed/requirements.txt
  example/cifar10/requirements.txt
  example/mnist/requirements-sw-lock.txt
  example/mnist/requirements.txt
  example/runtime/pytorch/runtime.yaml
  example/speech_command/requirements.txt
  example/text_cls_AG_NEWS/requirements.txt
Labels: example 🚕

#1017 test(controller): pytest for user api
  scripts/apitest/pytest/test_role_permission.py
  scripts/apitest/pytest/test_user.py
Labels: controller 🏘️

#1022 ci(datastore): fix datastore test for scantable
  client/tests/sdk/test_data_store.py
Labels: ci 🕹️, datastore 🐇

#1023 chore(controller): remove useless cmd from job template
  server/controller/src/main/resources/template/job.yaml
Labels: chore 🛎️, controller 🏘️

#1025 fix(controller): fix integeration test bugs
  server/controller-sdk/src/main/java/ai/starwhale/mlops/api/protocol/report/resp/TaskRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/configuration/security/JobTokenConfig.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/split/JobSpliteratorEvaluation.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
Labels: bug 🐛, controller 🏘️

#1024 enhance(sdk): set label str type and update mnist example
  client/starwhale/api/_impl/dataset/builder.py
  client/starwhale/api/_impl/dataset/loader.py
  client/starwhale/api/_impl/model.py
  client/starwhale/core/dataset/tabular.py
  client/starwhale/core/dataset/type.py
  client/tests/sdk/test_loader.py
  example/mnist/mnist/ppl.py
  example/mnist/mnist/process.py
  example/mnist/requirements-sw-lock.txt
  scripts/run_demo.sh
Labels: example 🚕, sdk 🐶

#1026 chore(deploy): inject instance url for controller
  docker/charts/templates/controller-deployment.yaml
Labels: chore 🛎️, deploy 🚀

#1027 bug(dataset): fix dataset label size calculate
  client/starwhale/api/_impl/dataset/builder.py
  example/mnist/dataset.yaml
Labels: bug 🐛, dataset🐫

#1029 fix(controller): fix the problem of generating empty WAL files when DataStore uses object storage
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/upload/SwdsUploader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swmp/SWModelPackageService.java
  server/controller/src/main/java/ai/starwhale/mlops/objectstore/impl/S3ObjectStore.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/swds/SwdsUploaderTest.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/StorageAccessService.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/s3/StorageAccessServiceS3.java
Labels: bug 🐛, controller 🏘️, datastore 🐇

#1032 fix(docker): change entrypoint of starwhale from swmp to swmp/src
  client/scripts/sw-docker-entrypoint
Labels: docker 🗃️

#1030 fix(client): cmp results use multi table in datastore
  client/starwhale/api/_impl/metric.py
  client/starwhale/api/_impl/model.py
  client/starwhale/api/_impl/wrapper.py
  client/starwhale/core/eval/model.py
  client/starwhale/core/eval/view.py
Labels: bug 🐛, client 🌈

#1034 feat(controller): make controller dataset schema free
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/datastore/IndexWriter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/index/IndexItem.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/upload/SwdsUploader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/upload/bo/Manifest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swmp/SWModelPackageService.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/swds/datastore/TestIndexWriter.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/LargeFileInputStream.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/s3/StorageAccessServiceS3.java
Labels: feature ✨, controller 🏘️

#1028 fix(controller): fix dataset uri download error
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetController.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/SWDatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/objectstore/DSFileGetter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/objectstore/StorageUri.java
Labels: controller 🏘️

#1033 feat(dataset): support dataset mime_type config
  client/starwhale/api/_impl/dataset/builder.py
  client/starwhale/api/_impl/dataset/mnist.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/type.py
  client/tests/sdk/test_dataset.py
  example/mnist/dataset.yaml
  example/mnist/mnist/process.py
Labels: feature ✨, dataset🐫

#1037 enhance(dataset): tune dataset meta schema fields with swds_bin_offset and swds_bin_size
  client/starwhale/api/_impl/dataset/builder.py
  client/starwhale/api/_impl/dataset/loader.py
  client/starwhale/core/dataset/tabular.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_loader.py
Labels: enhancement ❤️, dataset🐫

#1036 feat: datasete viewer for mnist bytes
  .gitignore
  console/.eslintrc.js
  console/.storybook/main.js
  console/package.json
  console/pnpm-lock.yaml
  console/src/__generated__/MySuperbApi.ts
  console/src/api/index.ts
  console/src/assets/test.jpg
  console/src/components/Button/index.tsx
  console/src/components/Pages/Page.tsx
  console/src/components/Pages/defaultEffects.ts
  console/src/components/Tag/MultiTags.tsx
  console/src/components/Viewer/DatasetViewer.tsx
  console/src/components/Viewer/ImageSegmentationViewer.tsx
  console/src/components/Viewer/ImageViewer.tsx
  console/src/components/Viewer/VideoPreviewViewer.tsx
  console/src/components/Viewer/ZoomWrapper.tsx
  console/src/components/Viewer/utils.ts
  console/src/domain/dataset/hooks/useFetchDataset.ts
  console/src/domain/dataset/hooks/useFetchDatasetVersion.ts
  console/src/domain/dataset/schemas/dataset.tsx
  console/src/domain/dataset/utils.ts
  console/src/domain/datastore/hooks/useFetchDatastore.ts
  console/src/domain/datastore/schemas/datastore.tsx
  console/src/domain/datastore/services/datastore.ts
  console/src/domain/datastore/utils.ts
  console/src/pages/Dataset/DatasetOverviewLayout.tsx
  console/src/pages/Dataset/DatasetVersionOverviewFiles.tsx
  console/src/pages/Evaluation/EvaluationListCard.tsx
  console/src/routes.tsx
  console/src/stories/Button.stories.tsx
  console/src/stories/DatasetViewer.stories.tsx
  console/src/stories/Header.stories.tsx
  console/src/stories/Header.tsx
  console/src/stories/ImageSegmentationViewer.stories.tsx
  console/src/stories/Page.stories.tsx
  console/src/stories/Page.tsx
  console/src/stories/VideoPreviewViewer.stories.tsx
  console/src/stories/ZoomWrapper.stories.tsx
  console/src/stories/deco.jsx
  console/src/stories/header.css
  console/src/stories/page.css
  console/src/styles/_global.scss
  console/swagger.json
  console/vite.config.ts
  console/yarn.lock
Labels: enhancement ❤️, console 🎨

#1039 WIP bug(dataset): fix ppl loader data encode typo
  client/starwhale/api/_impl/model.py
Labels: bug 🐛, dataset🐫

#1040 enhance(dataset): tune s3 file read return type as bytes type
  client/starwhale/api/_impl/dataset/loader.py
  client/starwhale/core/dataset/store.py
  client/tests/sdk/test_loader.py
Labels: enhancement ❤️, dataset🐫

#1044 fix(datastore): close inputstream after using s3.get
  server/controller/src/main/java/ai/starwhale/mlops/objectstore/impl/S3ObjectStore.java
Labels: chore 🛎️, datastore 🐇

#1046 fix(controller): use manifest field as the runtime image
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/converter/JobBoConverter.java
Labels: controller 🏘️, runtime🐌

#1041 refactor(client): replace object asdict method with ASDictMixin class
  client/starwhale/base/mixin.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/tabular.py
  client/starwhale/core/dataset/type.py
  client/starwhale/core/dataset/view.py
  client/starwhale/core/model/model.py
  client/starwhale/core/runtime/model.py
  client/tests/base/test_mixin.py
  client/tests/core/test_dataset.py
  client/tests/core/test_runtime.py
  client/tests/sdk/test_dataset.py
Labels: refactor 🐛, client 🌈

#1045 fix(controller): fix log missing bug
  server/controller-sdk/src/main/java/ai/starwhale/mlops/api/protocol/report/resp/TaskTrigger.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/bo/Task.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/bo/cmp/CMPRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/bo/ppl/PPLRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/converter/TaskBoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/po/TaskEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/test/java/ai/starwhale/mlops/JobMockHolder.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/EvalStepTriggerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TaskBoConvertorTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TaskWatcherTest.java
Labels: controller 🏘️

#1049 fix(controller): fix integration test error
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/resourcepool/ResourcePoolManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/resourcepool/bo/ResourcePool.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/main/resources/mapper/JobSWDSVersionMapper.xml
Labels: bug 🐛, controller 🏘️

#1048 fix(client):move auc to new table
  client/starwhale/api/_impl/model.py
  client/starwhale/core/eval/view.py
Labels: client 🌈

#1050 fix(controller): verify object id when converting object url
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/BundleManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/BundleVersionAccessor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/SwdsManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swmp/SwmpManager.java
Labels: bug 🐛

#1056 chore(docker): optimize docker build ppl
  docker/Dockerfile.nodejs
  docker/Makefile
  server/Makefile
Labels: chore 🛎️, docker 🗃️

#1058 fix(controller): fix log overwrite error
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/split/JobSpliteratorEvaluation.java
Labels: bug 🐛

#1060 fix(controller): fix wal init error
  server/controller/src/main/java/ai/starwhale/mlops/objectstore/impl/S3ObjectStore.java
Labels: bug 🐛

#1051 feat(dataset): add `swcli dataset diff` command
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/tabular.py
  client/starwhale/core/dataset/view.py
  client/starwhale/utils/__init__.py
  client/tests/utils/test_common.py
Labels: feature ✨, dataset🐫

#1062 feat(dataset): support dataset build to use the specific runtime environment with `--runtime` argument
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/view.py
Labels: feature ✨, dataset🐫

#1064 feat(model): support `--runtime` argument for model build and auto restore runtime
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/view.py
  client/starwhale/core/eval/cli.py
  client/starwhale/core/eval/model.py
  client/starwhale/core/eval/view.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/view.py
  client/starwhale/core/runtime/process.py
Labels: runtime🐌, model🐇

#1068 enhance(docker): tune sw-docker-entrypoint for debug
  client/scripts/sw-docker-entrypoint
Labels: enhancement ❤️, docker 🗃️

#1071 enhance(datastore): add more log for remote data store table update
  client/starwhale/api/_impl/data_store.py
  client/tests/sdk/test_data_store.py
Labels: enhancement ❤️, datastore 🐇

#1070 fix(sdk): task execute at cloud store failed
  client/starwhale/api/_impl/model.py
Labels: bug 🐛

#1074 fix(controller): do not cache unfinished evaluation
  server/controller/src/main/java/ai/starwhale/mlops/domain/evaluation/EvaluationService.java
Labels: bug 🐛, controller 🏘️

#1075 fix(docker): fix wrong python version string parsed by awk
  .github/workflows/release-base.yml
  client/scripts/sw-docker-entrypoint
  docker/Dockerfile.base
  docker/Makefile
  docker/external/render_sources_list.sh
Labels: chore 🛎️, docker 🗃️

#1078 fix(ci): fix auth token issue in pull request
  .github/workflows/release-base.yml
Labels: bug 🐛

#1073 feat(controller): user info contains email(if exists)
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/user/UserVO.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/user/UserConvertor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/user/po/UserEntity.java
  server/controller/src/main/resources/mapper/UserMapper.xml
Labels: feature ✨

#1076 fix(test): use microsecond as name to create tmp user
  scripts/apitest/pytest/common/httputil.py
Labels: bug 🐛

#1077 fix(datastore):uniform column name pattern
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/model.py
  server/controller/src/main/java/ai/starwhale/mlops/datastore/TableSchema.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/TableSchemaTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/impl/MemoryTableImplTest.java
Labels: bug 🐛

#1069 fix(controller): evaluation counts include all of jobs
  server/controller/src/main/resources/mapper/ProjectMapper.xml
Labels: bug 🐛

#1067 fix(controller): project maintainer/guest can get the role list
  server/controller/src/main/java/ai/starwhale/mlops/api/ProjectApi.java
Labels: bug 🐛

#1084 fix(example): use new version swcli in mnist demo
  example/mnist/notebook.ipynb
Labels: example 🚕

#1083 fix(client): support docker run mode at standalone
  client/starwhale/core/eval/executor.py
Labels: bug 🐛

#1085 fix(sdk): single execute status bug
  client/starwhale/core/job/scheduler.py
Labels: bug 🐛

#1082 fix(controller): exception that occurs when the register_info does not exist
  server/controller/src/main/java/ai/starwhale/mlops/domain/user/UserService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/user/mapper/UserMapper.java
  server/controller/src/main/resources/mapper/UserMapper.xml
Labels: bug 🐛

#1090 feat(controller): create user with password and salt
  server/controller/src/main/java/ai/starwhale/mlops/api/UserController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/user/UserRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/user/UserService.java
Labels: feature ✨

#1081 refactor(controller): clean controller legacy code
  server/controller-sdk/src/main/java/ai/starwhale/mlops/domain/task/TaskType.java
  server/controller/src/main/java/ai/starwhale/mlops/api/TaskLogWSServer.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/task/TaskVO.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dag/DAGQuerier.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/bo/Job.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/cache/JobLoader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/converter/JobBoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/split/JobSpliteratorEvaluation.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/step/status/StatusRequirement.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/step/trigger/SimpleStepTrigger.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/step/trigger/StepTrigger.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/step/trigger/StepTriggerContext.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/bo/SWDataSet.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/index/SWDSBlockSerializer.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/index/SWDSIndexLoader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/index/SWDSIndexLoaderImpl.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/index/datastore/DataStoreTableNameHelper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/index/datastore/IndexWriter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/upload/SwdsUploader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/agent/AgentStatusWatcher.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/TaskService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/bo/Task.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/bo/TaskCommand.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/converter/TaskBoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/converter/TaskConvertor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/mapper/TaskMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/po/TaskEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/WatchableTask.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/watchers/TaskWatcherForCommandingAssurance.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/watchers/TaskWatcherForJobStatus.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/CommandingTasksAssurance.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/main/resources/db/migration/V00015__Restore_task_result_path.sql
  server/controller/src/main/resources/mapper/TaskMapper.xml
  server/controller/src/test/java/ai/starwhale/mlops/JobMockHolder.java
  server/controller/src/test/java/ai/starwhale/mlops/ObjectMockHolder.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobBoConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobLoaderTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobSpliteratorEvaluationTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/SimpleStepTriggerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/swds/SWDSIndexLoaderImplTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/swds/SwdsUploaderTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/swds/datastore/TestIndexWriter.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TaskBoConvertorTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TaskWatcherForCommandingAssuranceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TaskWatcherForPersistTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TaskWatcherForScheduleTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TaskWatcherTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TestTaskWatcherForJobStatus.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/WatchableTaskTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/TestCommandingTasksAssurance.java
Labels: controller 🏘️
