Repository star-whale/starwhale, pull requests merged in 2022-07, with the labels that each got.

#694 fix(client): unit test darwin runnable
  client/starwhale/core/job/executor.py
  client/starwhale/utils/__init__.py
  client/tests/core/test_model.py
Labels: client 🌈, unit test

#697 Refactor: Remove Bundle & Normalize Managers and Accessors
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/BundleManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/recover/RecoverManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/remove/RemoveAccessor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/remove/RemoveException.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/remove/RemoveManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/revert/RevertAccessor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/revert/RevertManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/tag/TagAccessor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/tag/TagManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/SWDatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/SwdsManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swmp/SWModelPackageService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swmp/SwmpManager.java
Labels: refactor 🐛

#700 chores(client): tune client setup.py for classifiers and other fields
  client/setup.py
Labels: client 🌈, python 🐍

#706 bug(ci): enable lfs for client e2e test
  .github/workflows/client.yaml
Labels: ci 🕹️, client 🌈

#702 bug(lint): fix markdown lint ci and refine docs markdown style
  README.md
  docs/.markdownlint.yaml
  docs/Makefile
  docs/docs/cloud/helm-charts.md
  docs/docs/quickstart/on-premises.md
  docs/docs/quickstart/standalone.md
  docs/docs/reference/cli/instance.md
  docs/docs/reference/cli/job.md
  docs/docs/reference/cli/utilities.md
  docs/docs/standalone/runtime.md
  docs/docs/tutorials/ag_news.md
  docs/docs/tutorials/cifar10.md
  docs/docs/tutorials/pfp.md
  docs/docs/tutorials/speech.md
Labels: doc 📄, ci 🕹️

#707 chores(git): force to use lf
  .gitattributes
Labels: chores 🛎️

#709 ci(standalone): local e2e use separate conf and data dir
  client/starwhale/consts/__init__.py
  client/starwhale/utils/config.py
  client/tests/utils/test_config.py
  scripts/run_demo.sh
Labels: ci 🕹️, client 🌈, unit test

#708 chores(doc): update logo links by git lfs
  README.md
  docker/charts/Chart.yaml
Labels: doc 📄, chores 🛎️

#710 chores(doc): use offical default link for png
  README.md
  docker/charts/Chart.yaml
Labels: doc 📄

#714 fix(doc): fix missing images
  .github/workflows/docs.yaml
Labels: doc 📄

#716 doc: add notebook for mnist
  README.md
  example/mnist/notebook.ipynb
Labels: doc 📄, example 🚕

#717 fix(doc): fix lint issue and colab url
  README.md
Labels: doc 📄

#720 feat(sdk): build datasets and models using tmp dir
  client/starwhale/base/bundle.py
  client/starwhale/base/store.py
  client/starwhale/consts/__init__.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/store.py
  client/starwhale/core/model/model.py
  client/starwhale/core/runtime/model.py
  client/starwhale/mngt/__init__.py
  client/tests/core/test_dataset.py
Labels: sdk 🐶, client 🌈

#722 feat(client): ordered cli list output
  client/starwhale/base/view.py
  client/starwhale/core/job/view.py
  client/starwhale/utils/__init__.py
Labels: client 🌈

#723 fix(client): ignore invalid dir in project list
  client/starwhale/core/project/model.py
Labels: bug 🐛, client 🌈

#718 ci(e2e): add e2e test ci
  .github/workflows/e2e-test.yml
  client/requirements-dev.txt
  client/requirements-install.txt
  docker/Dockerfile.starwhale
  docker/external/config-e2e-pypi-repo.sh
  scripts/e2e_test/copy_artifacts_to_server.sh
  scripts/e2e_test/service_wait.sh
  scripts/e2e_test/start_test.sh
  scripts/e2e_test/test_job_run.sh
  scripts/run_demo.sh
Labels: ci 🕹️

#725 fix(client): forgot to close the file
  client/starwhale/base/tag.py
  client/starwhale/utils/fs.py
Labels: bug 🐛, client 🌈

#726 feat(client): support terminal based UI (list instances and projects)
  client/setup.py
  client/starwhale/cli/__init__.py
  client/starwhale/cli/board.py
  client/starwhale/core/instance/model.py
Labels: client 🌈

#728 fix(client): model list cmd works with instance prefix uri
  client/starwhale/base/uri.py
  client/tests/core/test_model.py
Labels: client 🌈

#730 fix(sdk): resolve all ResourceWarning: unclosed file of yaml loading
  client/starwhale/base/bundle.py
  client/starwhale/base/bundle_copy.py
  client/starwhale/base/store.py
  client/starwhale/base/tag.py
  client/starwhale/base/view.py
  client/starwhale/core/dataset/dataset.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/job/model.py
  client/starwhale/core/model/model.py
  client/starwhale/core/runtime/model.py
  client/starwhale/utils/__init__.py
  client/starwhale/utils/config.py
  client/tests/core/test_dataset.py
  client/tests/core/test_executor.py
  client/tests/core/test_model.py
  client/tests/core/test_runtime.py
Labels: sdk 🐶, client 🌈

#729 feat(client): board support show project tree and model list
  client/Makefile
  client/starwhale/cli/__init__.py
  client/starwhale/cli/board/__init__.py
  client/starwhale/cli/board/board.py
  client/starwhale/cli/board/project_tree.py
Labels: client 🌈

#731 feat(client): board support listing model, dataset, runtime and job
  client/starwhale/cli/board/board.py
  client/starwhale/cli/board/widgets.py
  client/starwhale/utils/__init__.py
Labels: client 🌈

#732 feat(client): pretty project tree with current project selected
  client/starwhale/cli/board/board.py
  client/starwhale/cli/board/project_tree.py
  client/starwhale/cli/board/widgets.py
Labels: client 🌈

#736 feat(client): sw board table sortable
  client/starwhale/cli/board/widgets.py
  client/starwhale/utils/__init__.py
Labels: client 🌈

#762 ci: init release-drafter
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: chore 🛎️, ci 🕹️

#768 fix: making abstract base classes actually work
  client/starwhale/api/_impl/dataset.py
  client/starwhale/api/_impl/loader.py
  client/starwhale/api/_impl/model.py
  client/starwhale/base/bundle.py
  client/starwhale/base/cloud.py
  client/starwhale/base/store.py
  client/starwhale/base/tag.py
  client/starwhale/base/uri.py
  client/starwhale/core/dataset/dataset.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/job/executor.py
  client/starwhale/core/job/model.py
  client/starwhale/core/model/model.py
  client/starwhale/core/project/model.py
  client/starwhale/core/runtime/model.py
  client/starwhale/utils/config.py
  client/starwhale/utils/log.py
  client/starwhale/utils/obj.py
  example/PennFudanPed/code/ds.py
Labels: bug 🐛

#771 ci: change e2e test trigger event from pr to schedule
  .github/workflows/e2e-test.yml
Labels: ci 🕹️

#778 fix(client): force to close popen stdout for log_check_call
  client/starwhale/utils/process.py
Labels: bug 🐛, standalone 💻, client 🌈

#766 feat: runtime.yaml 2.0 definition
  .gitignore
  client/setup.py
  client/starwhale/base/type.py
  client/starwhale/consts/__init__.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/view.py
  client/starwhale/utils/__init__.py
  client/starwhale/utils/venv.py
  client/tests/core/test_runtime.py
  example/runtime/pytorch/dummy-0.0.0-py3-none-any.whl
  example/runtime/pytorch/dummy/Makefile
  example/runtime/pytorch/dummy/dummy/__init__.py
  example/runtime/pytorch/dummy/setup.py
  example/runtime/pytorch/requirements.txt
  example/runtime/pytorch/runtime.yaml
  example/runtime/pytorch/scripts/prepare.sh
Labels: feature ✨, size/l 🐘, client 🌈, runtime🐌

#790 chore(runtime): use conda-forage as the default conda channels
  client/scripts/sw-docker-entrypoint
  client/starwhale/core/job/executor.py
  docker/charts/templates/_helpers.tpl
  docker/charts/values.yaml
  docker/external/condarc
Labels: chore 🛎️, standalone 💻, runtime🐌

#776 fix(deps): fix requirements-dev.txt import reqs file typo
  client/requirements-dev.txt
Labels: bug 🐛, ci 🕹️

#788 feat(runtime): support conda install to use configs.channels field in the runtime.yaml
  client/starwhale/core/runtime/model.py
  client/starwhale/utils/venv.py
Labels: feature ✨, standalone 💻, runtime🐌

#794 ci: config global editorconfig file
  .editorconfig
  console/.editorconfig
Labels: ci 🕹️

#799 refactor(k8s): merge k8s code
  server/controller/pom.xml
  server/controller/src/main/java/ai/starwhale/mlops/api/LogController.java
  server/controller/src/main/java/ai/starwhale/mlops/deploy/Kubernetes.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/TaskService.java
  server/controller/src/main/java/ai/starwhale/mlops/reporting/ReportProcessorImp.java
  server/controller/src/main/resources/template/job.yaml
  server/pom.xml
Labels: controller 🏘️, k8s-refactor

#796 feat(runtime): support pip install to use configs.pip field in the runtime.yaml
  client/starwhale/core/runtime/model.py
  client/starwhale/utils/venv.py
  client/tests/core/test_runtime.py
  client/tests/utils/test_venv.py
  example/runtime/pytorch/runtime.yaml
Labels: feature ✨, standalone 💻, runtime🐌

#797 chore(docker): remove default pip config
  docker/Dockerfile.base
  docker/external/pip.conf
Labels: chore 🛎️, docker 🗃️

#802 feat(runtime): add `swcli runtime lock` command
  client/starwhale/base/type.py
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/view.py
  client/starwhale/utils/__init__.py
  client/starwhale/utils/venv.py
  client/tests/core/test_runtime.py
Labels: feature ✨, standalone 💻, client 🌈, runtime🐌

#803 ci(mypy): enable mypy strict mode
  client/pyproject.toml
  client/starwhale/api/_impl/dataset.py
  client/starwhale/api/_impl/loader.py
  client/starwhale/api/_impl/model.py
  client/starwhale/api/dataset.py
  client/starwhale/base/bundle.py
  client/starwhale/base/cloud.py
  client/starwhale/base/store.py
  client/starwhale/base/tag.py
  client/starwhale/base/view.py
  client/starwhale/cli/board/board.py
  client/starwhale/cli/board/project_tree.py
  client/starwhale/cli/board/widgets.py
  client/starwhale/core/dataset/view.py
  client/starwhale/core/instance/model.py
  client/starwhale/core/instance/view.py
  client/starwhale/core/job/executor.py
  client/starwhale/core/job/view.py
  client/starwhale/core/model/store.py
  client/starwhale/core/model/view.py
  client/starwhale/core/project/model.py
  client/starwhale/core/project/view.py
  client/starwhale/core/runtime/view.py
  client/starwhale/mngt/__init__.py
  client/starwhale/utils/__init__.py
  client/starwhale/utils/config.py
  client/starwhale/utils/http.py
  client/starwhale/utils/obj.py
  client/starwhale/utils/progress.py
Labels: ci 🕹️

#804 feat(runtime): runtime lock with user pip configs
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/view.py
  client/starwhale/utils/venv.py
  client/tests/core/test_runtime.py
  example/runtime/pytorch/requirements-sw-lock.txt
  example/runtime/pytorch/requirements.txt
  example/runtime/pytorch/runtime.yaml
Labels: feature ✨, client 🌈, runtime🐌

#808 feat(console): support changing password
  console/src/components/Header/index.tsx
  console/src/domain/user/components/PasswordForm.tsx
  console/src/domain/user/schemas/user.tsx
  console/src/domain/user/services/user.ts
  console/src/i18n/locales.ts
Labels: feature ✨, ui

#807 feat(runtime): add `enable-lock` for swcli build and refactor runtime build/restore process with runtime.yaml 2.0 definition
  client/starwhale/base/bundle.py
  client/starwhale/base/view.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/model/model.py
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/store.py
  client/starwhale/core/runtime/view.py
  client/starwhale/utils/error.py
  client/starwhale/utils/venv.py
  client/starwhale/utils/venv_pack.py
  client/tests/core/test_runtime.py
  example/runtime/pytorch/requirements-sw-lock.txt
  example/runtime/pytorch/runtime.yaml
Labels: feature ✨, standalone 💻, client 🌈, runtime🐌

#810 feat(console): manage users support listing users and change user state
  console/src/components/Header/index.tsx
  console/src/components/data-table/stateful-data-table.tsx
  console/src/domain/user/hooks/useUser.ts
  console/src/domain/user/schemas/user.tsx
  console/src/domain/user/services/user.ts
  console/src/i18n/locales.ts
  console/src/pages/Admin/AdminLayout.tsx
  console/src/pages/Admin/AdminSidebar.tsx
  console/src/pages/Admin/UserManagement.tsx
  console/src/routes.tsx
Labels: feature ✨, ui

#816 watch k8s job status
  server/controller/src/main/java/ai/starwhale/mlops/reporting/ReportedTask.java
  server/controller/src/main/java/ai/starwhale/mlops/reporting/SimpleTaskStatusReceiver.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/JobEventHandler.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sClient.java
  server/controller/src/test/java/ai/starwhale/test/reporting/TaskStatusReceiverImpTest.java
Labels: controller 🏘️, k8s-refactor

#814 feat(runtime): support multi-arch system
  .github/workflows/release.yml
  docker/Dockerfile.base
  docker/Dockerfile.starwhale
  docker/Makefile
  docker/external/config-e2e-pypi-repo.sh
  docker/external/dind-dockerd-entrypoint.sh
  docker/external/render_sources_list.sh
  scripts/e2e_test/start_test.sh
Labels: feature ✨, runtime🐌

#815 feat(console): support project member management
  console/src/components/BaseSidebar.tsx
  console/src/domain/project/components/MemberAddForm.tsx
  console/src/domain/project/components/RoleSelector.tsx
  console/src/domain/project/components/UserSelector.tsx
  console/src/domain/project/hooks/useFetchProjectMembers.ts
  console/src/domain/project/hooks/useFetchRoleList.ts
  console/src/domain/project/schemas/project.tsx
  console/src/domain/project/services/project.ts
  console/src/domain/user/schemas/user.tsx
  console/src/i18n/locales.ts
  console/src/pages/Project/ProjectListCard.tsx
  console/src/pages/Project/ProjectMembers.tsx
  console/src/routes.tsx
Labels: feature ✨, ui

#820 feat(runtime): add arch validator
  client/starwhale/consts/__init__.py
  client/starwhale/core/runtime/model.py
  client/tests/core/test_runtime.py
  example/runtime/pytorch/runtime.yaml
Labels: feature ✨, runtime🐌

#822 feat(runtime): auto inject starwhale pkg when restore runtime
  client/starwhale/core/runtime/model.py
  client/starwhale/utils/venv.py
  client/tests/core/test_runtime.py
  example/runtime/pytorch/requirements-sw-lock.txt
Labels: feature ✨, runtime🐌

#819 feat(console): support adding user in user management page
  console/src/domain/user/components/NewUserForm.tsx
  console/src/domain/user/schemas/user.tsx
  console/src/domain/user/services/user.ts
  console/src/i18n/locales.ts
  console/src/pages/Admin/UserManagement.tsx
  console/src/utils/passwordGenerator.ts
Labels: feature ✨, ui

#827 feat(runtime): add shell environment validators for runtime lock
  client/starwhale/core/runtime/model.py
  client/starwhale/utils/venv.py
  client/tests/core/test_runtime.py
Labels: feature ✨, runtime🐌

#825 feat(console): support changing user's password in admin settings page
  console/src/components/Form/validators.ts
  console/src/domain/user/components/NewUserForm.tsx
  console/src/domain/user/components/PasswordForm.tsx
  console/src/domain/user/services/user.ts
  console/src/i18n/locales.ts
  console/src/pages/Admin/UserManagement.tsx
Labels: feature ✨, ui

#828 fix(console): set user's password min length to 8
  console/src/components/Form/validators.ts
  console/src/consts/index.ts
  console/src/domain/user/components/NewUserForm.tsx
  console/src/domain/user/components/PasswordForm.tsx
  console/src/i18n/locales.ts
Labels: chore 🛎️, ui

#829 feat(runtime): add runtime quickstart command, goodbye to create command
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/view.py
  client/starwhale/utils/venv.py
  client/tests/core/test_runtime.py
  scripts/run_demo.sh
Labels: feature ✨, refactor 🐛, standalone 💻, client 🌈, runtime🐌

#834 fix(console): hide admin menu when user is not admin
  console/src/api/ApiHeader.tsx
  console/src/components/Header/index.tsx
  console/src/domain/project/schemas/project.tsx
  console/src/domain/user/services/user.ts
  console/src/hooks/global.ts
  console/src/hooks/useCurrentUserRoles.ts
Labels: ui

#835 refactor(controller-k8s): adapt device request to k8s node selector
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8SSelectorSpec.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sClient.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
Labels: controller 🏘️, k8s-refactor

#836 feat: add shell completion for swcli
  client/setup.py
  client/starwhale/cli/__init__.py
  client/starwhale/cli/completion.py
  client/starwhale/utils/__init__.py
Labels: feature ✨, standalone 💻, client 🌈
