Repository star-whale/starwhale, pull requests merged in 2022-10, with the labels that each got.

#1331 fix(console): remove tsc from package
  console/package.json
  console/yarn.lock
Labels: ci 🕹️, console 🎨

#1329 feat(console): system settings config
  console/src/domain/setting/hooks/useSettings.ts
  console/src/domain/setting/schemas/system.tsx
  console/src/domain/setting/services/system.ts
  console/src/i18n/locales.ts
  console/src/pages/Admin/AdminSidebar.tsx
  console/src/pages/Admin/SystemSettings.tsx
  console/src/routes.tsx
Labels: enhancement ❤️, console 🎨

#1334 chore(console): interactive optimize
  console/package.json
  console/src/components/Checkbox/Checkbox.tsx
  console/src/components/Checkbox/FormCheckbox.tsx
  console/src/components/Checkbox/index.tsx
  console/src/components/Form/item.tsx
  console/src/components/Viewer/ImageViewer.tsx
  console/src/components/Viewer/TextViewer.tsx
  console/src/components/Viewer/ZoomWrapper.tsx
  console/src/components/data-table/column.tsx
  console/src/components/data-table/config-manage-columns.tsx
  console/src/components/data-table/filter-operate-menu.tsx
  console/src/components/data-table/header-cell.tsx
  console/src/domain/dataset/components/DatasetSelector.tsx
  console/src/domain/dataset/components/DatasetVersionSelector.tsx
  console/src/domain/model/components/ModelSelector.tsx
  console/src/domain/model/components/ModelVersionSelector.tsx
  console/src/domain/runtime/components/RuntimeSelector.tsx
  console/src/domain/runtime/components/RuntimeVersionSelector.tsx
  console/src/domain/setting/components/DeviceSelector.tsx
  console/src/i18n/locales.ts
  console/src/pages/Dataset/DatasetOverviewLayout.tsx
  console/src/pages/Dataset/DatasetVersionOverviewFilePreview.tsx
  console/src/pages/Dataset/DatasetVersionOverviewFiles.tsx
  console/src/pages/Evaluation/EvaluationListCompare.tsx
  console/src/pages/Project/ProjectListCard.tsx
  console/src/pages/Runtime/RuntimeOverviewLayout.tsx
  console/src/pages/Runtime/RuntimeVersionListCard.tsx
  console/src/theme/index.ts
  console/src/utils/index.ts
  console/vite.config.ts
  console/yarn.lock
Labels: enhancement ❤️, console 🎨

#1337 chore(client): make client ut stable
  client/Makefile
  client/starwhale/api/_impl/dataset/builder.py
  client/tests/base/test_copy.py
  client/tests/base/test_uri.py
  client/tests/core/test_dataset.py
  client/tests/core/test_eval.py
  client/tests/core/test_executor.py
  client/tests/core/test_instance.py
  client/tests/core/test_job.py
  client/tests/core/test_model.py
  client/tests/core/test_project.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_loader.py
  client/tests/sdk/test_model.py
  client/tests/utils/test_config.py
Labels: chore 🛎️, ci 🕹️, client 🌈

#1333 doc: add python sdk zh-doc
  client/starwhale/__init__.py
  client/tests/sdk/test_loader.py
  client/tests/sdk/test_model.py
  docs/docs/reference/sdk/data_type.md
  docs/docs/reference/sdk/dataset.md
  docs/docs/reference/sdk/evaluation.md
  docs/docs/reference/sdk/other.md
  docs/docs/reference/sdk/overview.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/cli/model.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/sdk/data_type.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/sdk/dataset.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/sdk/evaluation.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/sdk/other.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/sdk/overview.md
  docs/sidebars.js
Labels: doc 📄, sdk 🐶, ban-e2e 🚫

#1338 chore(client): use sys.ver when python version not specified in runtime.yaml
  client/starwhale/core/runtime/model.py
  client/starwhale/utils/venv.py
  client/tests/core/test_runtime.py
  example/runtime/pytorch/runtime.yaml
Labels: chore 🛎️, example 🚕, runtime🐌

#1301 example(example):add custom mnist example
  client/starwhale/__init__.py
  client/starwhale/api/_impl/dataset/__init__.py
  client/starwhale/api/_impl/dataset/loader.py
  client/starwhale/api/_impl/job.py
  client/starwhale/api/_impl/metric.py
  client/starwhale/api/_impl/model.py
  client/starwhale/api/_impl/wrapper.py
  client/starwhale/api/dataset.py
  client/starwhale/api/evaluation.py
  client/starwhale/api/job.py
  client/starwhale/api/model.py
  client/starwhale/core/job/model.py
  client/starwhale/core/model/default_handler.py
  client/tests/core/test_model.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_job.py
  client/tests/sdk/test_metric.py
  client/tests/sdk/test_model.py
  example/PennFudanPed/pfp/evaluator.py
  example/mnist/custom_model.yaml
  example/mnist/mnist/custom_evaluator.py
  example/mnist/mnist/evaluator.py
  example/nmt/nmt/evaluator.py
  example/speech_command/sc/evaluator.py
  example/text_cls_AG_NEWS/tcan/evaluator.py
Labels: example 🚕

#1339 chore: thin server base image size
  .github/workflows/release-base.yml
  docker/Dockerfile.base_server
  docker/Makefile
Labels: chore 🛎️

#1328 feat: add system setting api
  console/src/domain/setting/services/system.ts
  server/controller/src/main/java/ai/starwhale/mlops/api/SystemApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/SystemController.java
  server/controller/src/main/java/ai/starwhale/mlops/common/DockerImage.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/converter/JobBoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/split/JobSpliteratorEvaluation.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/storage/StoragePathCoordinator.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/upload/SwdsUploader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swmp/SwModelPackageService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/SystemService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/SystemSetting.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/SystemSettingService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/mapper/SystemSettingMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/po/SystemSettingEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/exception/SwValidationException.java
  server/controller/src/main/resources/application.yaml
  server/controller/src/main/resources/db/migration/V00021__Add_system_setting.sql
  server/controller/src/test/java/ai/starwhale/mlops/JobMockHolder.java
  server/controller/src/test/java/ai/starwhale/mlops/api/SystemControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/common/DockerImageTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobBoConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/system/SystemSettingServiceTest.java
Labels: feature ✨

#1336 doc: add guides zh-docs
  client/starwhale/core/eval/executor.py
  docker/charts/README.md
  docker/compose/README.md
  docs/docs/fundamentals/arch.md
  docs/docs/guides/config/cloud_admin.md
  docs/docs/guides/config/standalone_config.md
  docs/docs/guides/config/swignore.md
  docs/docs/guides/install/helm-charts.md
  docs/docs/guides/install/standalone.md
  docs/docs/guides/standalone/swignore.md
  docs/docs/img/dataset-workflow.jpg
  docs/docs/img/eval-workflow.jpg
  docs/docs/img/mlops-users.png
  docs/docs/img/runtime-workflow.jpg
  docs/docs/img/swds-tree.png
  docs/docs/quickstart/standalone.md
  docs/docs/reference/cli/job.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current.json
  docs/i18n/zh/docusaurus-plugin-content-docs/current/fundamentals/arch.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/fundamentals/concepts.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/cloud/overview.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/config/cloud_admin.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/config/standalone_config.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/config/swignore.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/dataset.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/evaluation.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/faq.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/install/helm-charts.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/install/standalone.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/model.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/runtime.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/standalone/swignore.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/quickstart/on-premises.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/cli/eval.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/cli/job.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/sdk/dataset.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/sdk/overview.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/tutorials/ag_news.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/tutorials/cifar10.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/tutorials/mnist.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/tutorials/nmt.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/tutorials/pfp.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/tutorials/pytorch.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/tutorials/speech.md
  docs/sidebars.js
Labels: doc 📄, ban-e2e 🚫

#1343 bug(client): fix mypy exclude typo and some code lint error
  client/pyproject.toml
  client/starwhale/api/_impl/dataset/builder.py
  client/starwhale/utils/venv.py
Labels: bug 🐛, ci 🕹️, client 🌈, ban-e2e 🚫

#1347 fix(controller): fix job status is unknown occasionally
  server/controller/src/main/java/ai/starwhale/mlops/api/JobController.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dag/DagQuerier.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/cache/HotJobsLoader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/cache/JobLoader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/converter/JobBoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/split/JobSpliterator.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/split/JobSpliteratorEvaluation.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dag/DagQuerierTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobBoConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobLoaderTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobSpliteratorEvaluationTest.java
Labels: bug 🐛

#1350 doc: add contribute docs
  Makefile
  docs/docs/community/contribute.md
  docs/docs/community/dev.md
  docs/docs/community/roadmap.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/community/contribute.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/community/dev.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/community/roadmap.md
  docs/sidebars.js
Labels: doc 📄, ban-e2e 🚫

#1345 fix(e2e): update task num when run eval on cloud
  scripts/client_test/step_spec.yaml
Labels: chore 🛎️

#1349 fix(client): terminal execute process on failure
  client/starwhale/core/job/model.py
  client/starwhale/core/job/scheduler.py
Labels: chore 🛎️, ban-e2e 🚫

#1352 fix(docker): add python-dev in base image
  docker/Dockerfile.base
  docker/Makefile
Labels: docker 🗃️

#1351 fix(client): unit test works with macos
  .github/workflows/client.yaml
  client/tests/core/test_runtime.py
  client/tests/core/test_runtime_process.py
  client/tests/sdk/test_dataset.py
  scripts/run_demo.sh
Labels: chore 🛎️, ci 🕹️, ban-e2e 🚫

#1355 chore(ci): build and push cuda-base image automatically
  .github/workflows/release-base.yml
  docker/cuda/render.py
Labels: chore 🛎️, ci 🕹️

#1346 doc: add quickstart docs
  README.md
  docs/docs/img/cifar10_create.png
  docs/docs/img/cifar10_result1.png
  docs/docs/img/cifar10_result2.png
  docs/docs/img/cifar10_result3.png
  docs/docs/img/cifar10_result4.png
  docs/docs/img/console-artifacts.gif
  docs/docs/img/console-create-job.gif
  docs/docs/img/core-workflow.gif
  docs/docs/img/create-job-workflow.gif
  docs/docs/img/mnist-viewer.gif
  docs/docs/img/standalone-core-workflow.gif
  docs/docs/img/ui-create-job.jpg
  docs/docs/img/ui-job-results.jpg
  docs/docs/img/ui-job-steps.jpg
  docs/docs/img/ui-list-dataset.jpg
  docs/docs/img/ui-list-model.jpg
  docs/docs/img/ui-list-project.jpg
  docs/docs/img/ui-list-runtime.jpg
  docs/docs/quickstart/on-premises.md
  docs/docs/quickstart/standalone.md
  docs/docs/tutorials/cifar10.md
  docs/docs/tutorials/mnist.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/dataset.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/quickstart/on-premises.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/quickstart/standalone.md
  example/runtime/pytorch/requirements-sw-lock.txt
Labels: doc 📄, ban-e2e 🚫

#1354 doc: add uri/concepts/arch docs
  docs/docs/fundamentals/arch.md
  docs/docs/fundamentals/concepts.md
  docs/docs/guides/config/standalone_config.md
  docs/docs/guides/uri.md
  docs/docs/img/arch.jpg
  docs/i18n/zh/docusaurus-plugin-content-docs/current/fundamentals/arch.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/fundamentals/concepts.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/uri.md
  docs/sidebars.js
Labels: doc 📄, ban-e2e 🚫

#1359 fix(console): step cant edit by rm overwriteable
  console/src/domain/job/components/JobForm.tsx
  console/src/domain/model/schemas/modelVersion.tsx
Labels: hotfix 🔥

#1357 fix(datastore): hex decode error when value is "0"
  client/starwhale/api/_impl/data_store.py
  client/tests/sdk/test_data_store.py
  server/controller/src/test/java/ai/starwhale/mlops/datastore/DataStoreTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/impl/MemoryTableImplTest.java
Labels: bug 🐛

#1360 fix(statsotre): hex str encode/decode error when value miss "0"
  client/starwhale/api/_impl/data_store.py
  client/tests/sdk/test_data_store.py
Labels: bug 🐛

#1358 doc: upgrade docusaurus and fix doc typo
  README.md
  docs/Makefile
  docs/docs/fundamentals/concepts.md
  docs/docs/guides/install/helm-charts.md
  docs/docs/guides/install/standalone.md
  docs/docs/guides/uri.md
  docs/docs/img/concepts-org.jpg
  docs/docusaurus.config.js
  docs/i18n/zh/docusaurus-plugin-content-docs/current/fundamentals/concepts.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/install/helm-charts.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/install/standalone.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/uri.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/quickstart/on-premises.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/cli/dataset.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/cli/eval.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/cli/instance.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/cli/model.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/cli/project.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/cli/runtime.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/cli/utilities.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/sdk/data_type.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/sdk/dataset.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/sdk/evaluation.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/sdk/other.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/sdk/overview.md
  docs/package.json
  docs/sidebars.js
  docs/yarn.lock
Labels: doc 📄, ban-e2e 🚫

#1348 feat(sdk): datastore support flush
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/dataset/builder.py
  client/starwhale/api/_impl/wrapper.py
  client/starwhale/core/dataset/tabular.py
  client/tests/sdk/test_data_store.py
Labels: bug 🐛, client 🌈

#1383 example: update pytorch runtime example for python3.7-3.10
  example/runtime/pytorch/requirements-sw-lock.txt
Labels: example 🚕, runtime🐌

#1386 chore(client): support specifying docker image env in runtime.yaml
  client/starwhale/core/runtime/model.py
  client/tests/core/test_runtime.py
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/runtime.md
Labels: chore 🛎️, runtime🐌

#1380 enhance(client): tune runtime process logger with the external swcli verbose setting
  client/starwhale/consts/__init__.py
  client/starwhale/core/runtime/process.py
  client/starwhale/utils/debug.py
  client/starwhale/utils/process.py
  client/tests/utils/test_process.py
Labels: client 🌈

#1344 feat: add e2e & unit test support
  console/cypress/fixtures/example.json
  console/cypress/integration/sw.spec.js
  console/cypress/plugins/index.js
  console/cypress/support/commands.js
  console/cypress/support/index.js
  console/jest/jest.config.ts
  console/jest/jest.setup.ts
  console/jest/svgTransform.ts
  console/package.json
  console/playwright/.env
  console/playwright/.github/workflows/playwright.yml
  console/playwright/.gitignore
  console/playwright/README.md
  console/playwright/example.png
  console/playwright/package.json
  console/playwright/playwright.config.ts
  console/playwright/setup/auth-fixtures.ts
  console/playwright/setup/auth.ts
  console/playwright/setup/global-setup.ts
  console/playwright/tests-examples/demo-todo-app.spec.ts
  console/playwright/tests-examples/example.spec.ts
  console/playwright/tests/admin.spec.ts
  console/playwright/tests/config.ts
  console/playwright/tests/user.spec.ts
  console/playwright/tests/utils.ts
  console/playwright/yarn.lock
  console/src/components/data-table/config-views.tsx
  console/src/components/data-table/data-custom-table.tsx
  console/src/components/data-table/filter-operate-selector.tsx
  console/src/components/data-table/header-cell.tsx
  console/src/domain/job/components/JobForm.tsx
  console/src/domain/model/schemas/modelVersion.tsx
  console/src/domain/project/components/ProjectForm.tsx
  console/src/domain/setting/services/system.ts
  console/src/pages/Admin/SystemSettings.test.tsx
  console/src/pages/Admin/__snapshots__/SystemSettings.test.tsx.snap
  console/src/pages/Project/ProjectListCard.tsx
  console/src/setupProxy.js
  console/src/setupTests.ts
  console/src/test/provider.tsx
  console/src/utils/helper/measureTextWidth/measureTextWidth.ts
  console/src/utils/helper/toTextEllipsis/toTextEllipsis.ts
  console/tsconfig.base.json
  console/yarn.lock
  docs/static/fonts/iconfont.ttf
  docs/static/fonts/iconfont.woff
  docs/static/fonts/iconfont.woff2
Labels: chore 🛎️, console 🎨

#1311 ci: sync images from public registry to self hosted registry
  scripts/publish/image_sync.sh
Labels: ci 🕹️

#1382 doc: update docs for the git-lfs issue
  README.md
  docs/docs/community/contribute.md
  docs/docs/quickstart/standalone.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/community/contribute.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/quickstart/standalone.md
Labels: doc 📄, ban-e2e 🚫

#1396 fix(ci): fix e2e not use pypi repo
  scripts/publish/pub.sh
Labels: ban-e2e 🚫

#1398 enhancement(console): refactor job step more user friendly
  console/src/api/ApiHeader.tsx
  console/src/domain/job/components/JobForm.tsx
  console/src/domain/model/schemas/modelVersion.tsx
  console/src/domain/setting/components/DeviceSelector.tsx
  console/src/i18n/locales.ts
  console/src/pages/Admin/SystemSettings.tsx
  console/src/pages/Dataset/DatasetVersionOverview.tsx
  console/src/pages/Dataset/DatasetVersionOverviewMeta.tsx
Labels: enhancement ❤️, console 🎨

#1392 bug(examaple): fix cifar10 model evaluation example typo
  example/cifar10/cifar/evaluator.py
Labels: bug 🐛, example 🚕, ban-e2e 🚫

#1397 feat(dataset): support function as dataset build handler
  client/starwhale/api/_impl/dataset/builder.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/model/default_handler.py
  client/starwhale/utils/load.py
  client/tests/core/test_dataset.py
  client/tests/core/test_model.py
  client/tests/data/dataset/dataset.yaml
  client/tests/sdk/test_dataset.py
  client/tests/utils/test_load.py
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/dataset.md
  example/mnist/dataset.yaml
  example/mnist/mnist/dataset.py
Labels: feature ✨, sdk 🐶, client 🌈

#1405 fix(controller): fix list jobs mapper
  server/controller/src/main/resources/mapper/JobMapper.xml
Labels: controller 🏘️, ban-e2e 🚫

#1404 chore(controller): do not expose GPU to the job which requires no GPU
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/ResourceOverwriteSpec.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sTaskSchedulerTest.java
Labels: chore 🛎️, controller 🏘️

#1401 enhace(dataset): remove dataset.yaml/name dependencies
  client/starwhale/base/bundle.py
  client/starwhale/base/view.py
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/type.py
  client/starwhale/core/dataset/view.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/view.py
  client/tests/core/test_dataset.py
  client/tests/utils/test_fs.py
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/dataset.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/cli/dataset.md
Labels: enhancement ❤️, client 🌈, dataset🐫

#1420 refactor(controller): resource pool implementation change;update doc
  docs/docs/community/contribute.md
  scripts/e2e_test/docker/entrypoint.sh
  server/controller/src/main/java/ai/starwhale/mlops/api/SystemApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/SystemController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/task/TaskVo.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/converter/JobBoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/converter/JobConvertor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/po/JobEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/step/bo/Step.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/SystemService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/SystemSetting.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/SystemSettingService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/mapper/ResourcePoolMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/resourcepool/ResourcePoolCache.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/resourcepool/ResourcePoolConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/resourcepool/ResourcePoolManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/resourcepool/bo/Resource.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/resourcepool/bo/ResourcePool.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/TaskService.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sResourcePoolConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/NodeEventHandler.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/ResourceOverwriteSpec.java
  server/controller/src/main/resources/db/migration/V00022__Refactor_resource_pool.sql
  server/controller/src/main/resources/mapper/JobMapper.xml
  server/controller/src/main/resources/mapper/ResourcePoolMapper.xml
  server/controller/src/test/java/ai/starwhale/mlops/api/SystemControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobBoConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/converter/JobConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/mapper/JobMapperTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/project/mapper/ProjectMapperTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/system/ResourcePoolConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/system/SystemSettingServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TaskServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sResourcePoolConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sTaskSchedulerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/NodeEventHandlerTest.java
Labels: refactor 🐛

#1395 fix(client): get instance wrong when multi instances has the same uri
  client/starwhale/utils/config.py
  client/tests/base/test_uri.py
  client/tests/data/config.yaml
  client/tests/utils/test_config.py
Labels: bug 🐛

#1421 doc: starwhale controller deployment with docker
  .github/workflows/docs.yaml
  docs/Makefile
  docs/docs/guides/install/docker.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/install/docker.md
  docs/package.json
  docs/sidebars.js
Labels: doc 📄, docker 🗃️, ban-e2e 🚫

#1417 example: add cifar100 dataset
  .gitignore
  client/starwhale/core/dataset/type.py
  example/datasets/cifar100/Makefile
  example/datasets/cifar100/README.md
  example/datasets/cifar100/dataset.py
  example/datasets/cifar100/example.py
Labels: example 🚕, ban-e2e 🚫

#1394 doc: add some doc for server
  docs/docs/guides/config/cloud_admin.md
  docs/docs/guides/config/server_admin.md
  docs/docs/guides/evaluation.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/config/cloud_admin.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/config/server_admin.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/evaluation.md
Labels: doc 📄, ban-e2e 🚫

#1387 fix(controller): add project role for test user
  server/controller/src/main/resources/db/migration/V00022__Add_test_role.sql
Labels: bug 🐛, ban-e2e 🚫

#1423 e2e: up tp 34 cases, cover evaluation/dataset/model etc
  console/playwright/.env
  console/playwright/image-grayscale.png
  console/playwright/package.json
  console/playwright/playwright.config.ts
  console/playwright/setup/index.ts
  console/playwright/tests/admin.spec.ts
  console/playwright/tests/config.ts
  console/playwright/tests/user.spec.ts
  console/playwright/tests/user.spec.ts-snapshots/Datasets-Files-should-canvas-render-at-least-one-dataset-1-chromium-linux.png
  console/playwright/tests/utils.ts
  console/playwright/yarn.lock
  console/src/api/ApiHeader.tsx
  console/src/components/BaseNavTabs.tsx
  console/src/components/DAG/DAG.tsx
  console/src/components/Header/HeaderLeftMenu.tsx
  console/src/components/Viewer/AudioViewer.tsx
  console/src/components/Viewer/ImageGrayscaleViewer.tsx
  console/src/components/Viewer/ImageViewer.tsx
  console/src/components/Viewer/TextViewer.tsx
  console/src/components/data-table/config-manage-columns.tsx
  console/src/components/data-table/filter-operate-menu.tsx
  console/src/hooks/usePage.ts
  console/src/pages/Dataset/DatasetVersionOverviewFiles.tsx
  console/src/pages/Evaluation/EvaluationListCompare.tsx
  console/src/pages/Settings/SettingsSidebar.tsx
  console/src/routes.tsx
Labels: console 🎨

#1425 fix(controller): conflict flyway migration file
  server/controller/src/main/resources/db/migration/V00023__Refactor_resource_pool.sql
Labels: ci 🕹️, controller 🏘️

#1426 e2e(console): add admin cases
  console/playwright/.env
  console/playwright/playwright.config.ts
  console/playwright/tests/admin.spec.ts
  console/playwright/tests/config.ts
  console/src/domain/setting/services/system.ts
  console/src/domain/user/components/NewUserForm.tsx
  console/src/i18n/locales.ts
  console/src/pages/Admin/SystemSettings.tsx
Labels: console 🎨

#1427 fix(unittest): job resource's wrong type
  client/tests/core/test_job.py
  client/tests/core/test_model.py
Labels: bug 🐛, ban-e2e 🚫

#1431 feat(console): get resource by resource pool api
  console/.eslintrc.js
  console/package.json
  console/playwright/tests/user.spec.ts
  console/src/__generated__/MySuperbApi.ts
  console/src/domain/job/components/JobForm.tsx
  console/src/domain/job/components/ResourcePoolSelector.tsx
  console/src/domain/job/hooks/useFetchResourcePools.ts
  console/src/domain/job/services/job.ts
  console/src/domain/setting/components/ResourcePoolSelector.tsx
  console/src/domain/setting/components/ResourceSelector.tsx
  console/src/domain/setting/hooks/useSettings.ts
  console/src/domain/setting/schemas/system.tsx
  console/src/domain/setting/services/system.ts
  console/swagger.json
  console/tsconfig.base.json
  console/yarn.lock
Labels: console 🎨

#1436 chore: allow `SW_PYPI_EXTRA_INDEX_URL` be override by env var
  scripts/e2e_test/start_test.sh
Labels: chore 🛎️

#1430 fix(sdk): support single step override task num
  client/starwhale/core/job/model.py
  client/starwhale/core/job/scheduler.py
  client/starwhale/core/model/model.py
Labels: bug 🐛
