Repository star-whale/starwhale, pull requests merged in 2022-09, with the labels that each got.

#1087 fix(sdk): single task execute status bug again
  client/starwhale/core/eval/executor.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
Labels: bug 🐛

#1093 ci(standalone): replace standalone test coverage viewer with codecov
  .github/workflows/client.yaml
Labels: ci 🕹️, standalone 💻

#1080 enhance(datastore): tune TableWriter run thread exception handler
  client/setup.py
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/wrapper.py
  client/tests/sdk/test_data_store.py
  client/tests/sdk/test_wrapper.py
Labels: enhancement ❤️, datastore 🐇

#1088 enhance(controller): add user name dup validation when create new user
  server/controller/src/main/java/ai/starwhale/mlops/domain/user/UserService.java
Labels: controller 🏘️

#1102 feat: datastore type js sdk
  console/package.json
  console/pnpm-lock.yaml
  console/src/assets/fonts/iconfont.css
  console/src/assets/fonts/iconfont.ttf
  console/src/assets/fonts/iconfont.woff
  console/src/assets/fonts/iconfont.woff2
  console/src/components/BaseSidebar.tsx
  console/src/components/IconFont/index.tsx
  console/src/components/Indicator/utils.ts
  console/src/components/Link/TextLink.tsx
  console/src/components/Viewer/DatasetViewer.tsx
  console/src/components/Viewer/ImageGrayscaleViewer.tsx
  console/src/components/data-table/storeContext.tsx
  console/src/domain/dataset/hooks/useFetchDataset.ts
  console/src/domain/dataset/hooks/useFetchDatasetVersion.ts
  console/src/domain/datastore/hooks/useFetchDatastore.ts
  console/src/domain/datastore/hooks/useParseDatastore.ts
  console/src/domain/datastore/sdk.ts
  console/src/domain/datastore/utils.ts
  console/src/pages/Dataset/DatasetVersionOverviewFiles.tsx
  console/src/pages/Evaluation/EvaluationListCard.tsx
  console/src/pages/Evaluation/EvaluationResults.tsx
  console/src/pages/Model/ModelLayout.tsx
  console/src/pages/Project/ProjectListCard.tsx
  console/src/styles/_global.scss
  console/src/utils/index.ts
Labels: enhancement ❤️, console 🎨

#1101 fix(console): edit project use PUT method in overview page
  console/src/pages/Project/Overview.tsx
Labels: bug 🐛, console 🎨

#1094 doc: update cov badge for readme
  README.md
Labels: doc 📄

#1100 chore(console): fix descendant dom warning
  console/src/components/BaseSidebar.tsx
  console/src/components/Header/index.tsx
Labels: chore 🛎️, console 🎨

#1108 feat(console): support runtime revert
  console/src/domain/runtime/schemas/runtime.tsx
  console/src/domain/runtime/services/runtime.ts
  console/src/i18n/locales.ts
  console/src/pages/Dataset/DatasetVersionOverviewFiles.tsx
  console/src/pages/Runtime/Overview.tsx
  console/src/pages/Runtime/RuntimeLayout.tsx
  console/src/pages/Runtime/RuntimeVersionListCard.tsx
Labels: hotfix 🔥, console 🎨

#1104 enhance(client): add http_retry decorator
  client/starwhale/api/_impl/data_store.py
  client/starwhale/base/cloud.py
  client/starwhale/utils/retry.py
  client/tests/sdk/test_data_store.py
  client/tests/sdk/test_wrapper.py
  client/tests/utils/test_common.py
Labels: enhancement ❤️, client 🌈

#1111 fix(controller): fix task start time null bug
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/watchers/TaskWatcherForPersist.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TaskWatcherForPersistTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TaskWatcherTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/WatchableTaskTest.java
Labels: bug 🐛, controller 🏘️

#1112 fix(console): model/dataset/runtime revert
  console/src/components/BaseSidebar.tsx
  console/src/components/Header/index.tsx
  console/src/components/IconFont/index.tsx
  console/src/components/Link/TextLink.tsx
  console/src/components/Viewer/ImageGrayscaleViewer.tsx
  console/src/domain/dataset/services/datasetVersion.ts
  console/src/domain/model/services/modelVersion.ts
  console/src/domain/project/hooks/useFetchProject.ts
  console/src/domain/runtime/services/runtime.ts
  console/src/domain/runtime/services/runtimeVersion.ts
  console/src/i18n/locales.ts
  console/src/pages/Dataset/DatasetVersionListCard.tsx
  console/src/pages/Model/ModelVersionListCard.tsx
  console/src/pages/Runtime/Overview.tsx
  console/src/pages/Runtime/RuntimeVersionListCard.tsx
Labels: hotfix 🔥, console 🎨

#1110 bug(client): fix model eval info output
  client/starwhale/api/_impl/model.py
  client/starwhale/core/eval/model.py
  client/tests/core/test_eval.py
  client/tests/core/test_executor.py
  client/tests/core/test_job.py
  client/tests/data/job/job_manifest.yaml
  client/tests/data/job/report.json
  client/tests/sdk/test_model.py
Labels: chore 🛎️, client 🌈

#1113 fix(controller): try to fix wal ut TempDir not deleted error
  server/controller/src/test/java/ai/starwhale/mlops/datastore/impl/MemoryTableImplTest.java
Labels: controller 🏘️

#1109 refactor(controller): the versionUrl is required for revert requests
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/RuntimeController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/SWModelPackageController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/runtime/RuntimeRevertRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/swds/RevertSWDSRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/swmp/RevertSWMPVersionRequest.java
Labels: refactor 🐛

#1105 refactor(controller): rename manifest field of runtime to image
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/runtime/RuntimeVersionVO.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/converter/JobBoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeVersionConvertor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/po/RuntimeVersionEntity.java
  server/controller/src/main/resources/db/migration/V00016__alter_manifest_2_image.sql
  server/controller/src/main/resources/mapper/RuntimeVersionMapper.xml
Labels: controller 🏘️

#1107 refactor(controller): remove email field of user
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/user/UserVO.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/user/UserConvertor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/user/UserService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/user/mapper/UserMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/user/po/UserEntity.java
  server/controller/src/main/resources/mapper/UserMapper.xml
Labels: refactor 🐛, controller 🏘️

#1120 fix(controller): fix bug of reverting version - add version_order field for version history
  server/controller/src/main/java/ai/starwhale/mlops/api/RuntimeController.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/mapper/SWDatasetMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/mapper/SWDatasetVersionMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/upload/SwdsUploader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swmp/SWModelPackageService.java
  server/controller/src/main/resources/db/migration/V00017__Add_version_field.sql
  server/controller/src/main/resources/mapper/RuntimeVersionMapper.xml
  server/controller/src/main/resources/mapper/SWDatasetVersionMapper.xml
  server/controller/src/main/resources/mapper/SWModelPackageVersionMapper.xml
Labels: bug 🐛, controller 🏘️

#1123 ci(ut-controller): codecov report for java
  .github/workflows/server-ut-report.yml
  README.md
  server/Makefile
  server/pom.xml
Labels: ci 🕹️

#1122 fix(console): prevent extra interceptors in strict mode
  console/src/api/ApiHeader.tsx
  console/src/api/Auth.tsx
  console/src/api/index.ts
  console/src/domain/datastore/hooks/useFetchDatastore.ts
  console/src/pages/Dataset/DatasetVersionOverviewFiles.tsx
  console/src/pages/Home/Login.tsx
  console/src/pages/Project/ProjectSidebar.tsx
  console/src/pages/Runtime/RuntimeVersionListCard.tsx
Labels: hotfix 🔥, console 🎨

#1124 fix(console): Member button should go to Overview page
  console/src/pages/Project/ProjectListCard.tsx
Labels: hotfix 🔥

#1125 fix(console): password input tabindex to -1
  console/src/components/Input/Input.tsx
Labels: hotfix 🔥

#1042 refactor(client): job scheduler
  client/starwhale/api/_impl/job.py
  client/starwhale/api/_impl/model.py
  client/starwhale/core/eval/executor.py
  client/starwhale/core/job/dag.py
  client/starwhale/core/job/model.py
  client/starwhale/core/job/scheduler.py
  client/starwhale/core/model/default_handler.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/tests/core/test_dag.py
  client/tests/core/test_executor.py
  client/tests/core/test_job.py
  client/tests/core/test_model.py
  client/tests/data/job/job_steps_with_cls.py
  client/tests/data/job/job_steps_without_cls.py
  client/tests/sdk/test_model.py
Labels: bug 🐛, refactor 🐛

#1129 fix（controller): fix bug with syntax error in mysql
  server/controller/src/main/resources/mapper/RuntimeVersionMapper.xml
  server/controller/src/main/resources/mapper/SWDatasetVersionMapper.xml
  server/controller/src/main/resources/mapper/SWModelPackageVersionMapper.xml
Labels: bug 🐛

#1128 chore(datastore): allow non existing table when query or scan
  server/controller/src/main/java/ai/starwhale/mlops/api/DataStoreController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/datastore/QueryTableRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/DataStore.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/DataStoreQueryRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/DataStoreScanRequest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/DataStoreTest.java
Labels: chore 🛎️, controller 🏘️, datastore 🐇

#1133 chore(controller): make database name configurable
  docker/charts/templates/controller-deployment.yaml
  server/controller/src/main/resources/application.yaml
  server/controller/src/main/resources/db/migration/V00001__Create_schema.sql
Labels: chore 🛎️, controller 🏘️, deploy 🚀

#1144 chore(console): no error message when no evaluation result
  console/src/domain/datastore/hooks/useFetchDatastore.ts
  console/src/domain/datastore/schemas/datastore.tsx
  console/src/pages/Evaluation/EvaluationResults.tsx
Labels: chore 🛎️, console 🎨

#1137 test(controller): unit test for project classes and some tiny change
  server/controller/src/main/java/ai/starwhale/mlops/api/ProjectController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/user/ProjectRoleVO.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/user/RoleVO.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectConvertor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectRoleConvertor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/bo/Project.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/mapper/ProjectMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/mapper/ProjectRoleMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/user/RoleConvertor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/user/UserConvertor.java
  server/controller/src/test/java/ai/starwhale/mlops/api/ProjectControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/project/ProjectConvertorTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/project/ProjectManagerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/project/ProjectRoleConvertorTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/project/ProjectServiceTest.java
Labels: chore 🛎️, controller 🏘️

#1132 enhance(datastore): compatible with ali oss
  server/controller/src/main/java/ai/starwhale/mlops/datastore/WalManager.java
  server/controller/src/main/resources/application.yaml
  server/controller/src/test/java/ai/starwhale/mlops/datastore/DataStoreTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/WalManagerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/impl/MemoryTableImplTest.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/s3/StorageAccessServiceS3.java
Labels: enhancement ❤️, datastore 🐇

#1145 chore(client):Remove redundant URI parse logic
  client/starwhale/base/uri.py
Labels: chore 🛎️

#1149 fix(controller): remove duplicate mapper file
  server/controller/src/main/resources/mapper/JobSWDSVersionMapper.xml
Labels: bug 🐛, controller 🏘️

#1150 fix(console): can not reset password
  console/src/api/ApiHeader.tsx
  console/src/pages/Home/ResetPassword.tsx
Labels: bug 🐛, console 🎨

#1148 fix(docker): fix jar building after adding java.header for checkstyle
  docker/Makefile
Labels: chore 🛎️, docker 🗃️

#1151 fix(controller): mapper name error with Upper case
  server/controller/src/main/resources/mapper/SwDatasetVersionMapper.xml
Labels: bug 🐛

#1154 fix(datastore): add ignoreNonExistingTable option for scan table
  server/controller/src/main/java/ai/starwhale/mlops/api/DataStoreController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/datastore/ScanTableRequest.java
  server/controller/src/test/java/ai/starwhale/mlops/api/DataStoreControllerTest.java
Labels: bug 🐛, controller 🏘️, datastore 🐇

#1163 fix(controller): try to fix no cmp log bug
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/watchers/TaskWatcherForJobStatus.java
Labels: bug 🐛, controller 🏘️

#1173 fix: Change the field of task table
  console/src/domain/job/schemas/task.tsx
  console/src/pages/Job/TaskListCard.tsx
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/task/TaskVo.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/mapper/ResourcePoolMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/TaskService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/converter/TaskConvertor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/mapper/TaskMapper.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TestTaskService.java
Labels: chore 🛎️

#1175 fix(console): #1140 list not refresh after add
  console/src/pages/Admin/UserManagement.tsx
Labels: hotfix 🔥, console 🎨

#1169 ut(controller): add unit test for bug 1164
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TestTaskWatcherForJobStatus.java
Labels: chore 🛎️, console 🎨

#1174 feat(console): support fullscreen & card layout
  console/package.json
  console/src/assets/fonts/iconfont.css
  console/src/assets/fonts/iconfont.js
  console/src/assets/fonts/iconfont.json
  console/src/assets/fonts/iconfont.ttf
  console/src/assets/fonts/iconfont.woff
  console/src/assets/fonts/iconfont.woff2
  console/src/components/IconFont/index.tsx
  console/src/components/Viewer/DatasetViewer.tsx
  console/src/components/Viewer/ImageGrayscaleViewer.tsx
  console/src/components/Viewer/ImageViewer.tsx
  console/src/i18n/locales.ts
  console/src/pages/Dataset/DatasetVersionOverviewFilePreview.tsx
  console/src/pages/Dataset/DatasetVersionOverviewFiles.tsx
  console/src/routes.tsx
  console/src/styles/_global.scss
Labels: enhancement ❤️, console 🎨

#1172 fix(client): add label for container and cancel by label
  client/starwhale/core/eval/executor.py
  client/starwhale/core/eval/model.py
  client/tests/core/test_eval.py
  client/tests/core/test_executor.py
Labels: bug 🐛

#1157 feat(controller): support aliyun oss
  server/controller/src/main/java/ai/starwhale/mlops/datastore/ObjectStore.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/objectstore/StorageAccessParser.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/objectstore/StorageAuths.java
  server/controller/src/main/resources/application.yaml
  server/controller/src/test/java/ai/starwhale/mlops/domain/swds/SwdsUploaderTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/swds/objectstore/TestDsFileGetter.java
  server/controller/src/test/java/ai/starwhale/mlops/resulting/ResultQuerierTest.java
  server/pom.xml
  server/storage-access-layer/pom.xml
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/LengthAbleInputStream.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/StorageAccessService.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/aliyun/StorageAccessServiceAliyun.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/configuration/StorageAccessConfig.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/fs/FileStorageEnv.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/fs/StorageAccessServiceFile.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/s3/StorageAccessServiceS3.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/util/MetaHelper.java
Labels: feature ✨, controller 🏘️

#1130 feat(dataset): support annotations and data type for dataset
  .gitignore
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/dataset/__init__.py
  client/starwhale/api/_impl/dataset/builder.py
  client/starwhale/api/_impl/dataset/loader.py
  client/starwhale/api/_impl/dataset/mnist.py
  client/starwhale/api/_impl/metric.py
  client/starwhale/api/_impl/model.py
  client/starwhale/api/_impl/wrapper.py
  client/starwhale/api/dataset.py
  client/starwhale/base/mixin.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/store.py
  client/starwhale/core/dataset/tabular.py
  client/starwhale/core/dataset/type.py
  client/starwhale/core/job/model.py
  client/starwhale/utils/flatten.py
  client/tests/core/test_dataset.py
  client/tests/core/test_model.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_loader.py
  client/tests/sdk/test_model.py
  docs/docs/tutorials/pfp.md
  docs/docs/tutorials/speech.md
  example/PennFudanPed/code/data_slicer.py
  example/PennFudanPed/code/ds.py
  example/PennFudanPed/code/ppl.py
  example/PennFudanPed/dataset.yaml
  example/cifar10/code/data_slicer.py
  example/cifar10/code/ppl.py
  example/cifar10/dataset.yaml
  example/mnist/dataset.yaml
  example/mnist/mnist/ppl.py
  example/mnist/mnist/process.py
  example/nmt/code/dataset.py
  example/nmt/code/helper.py
  example/nmt/code/ppl.py
  example/nmt/dataset.yaml
  example/speech_command/code/data_slicer.py
  example/speech_command/code/ppl.py
  example/speech_command/dataset.yaml
  example/text_cls_AG_NEWS/code/data_slicer.py
  example/text_cls_AG_NEWS/code/ppl.py
  example/text_cls_AG_NEWS/dataset.yaml
  scripts/run_demo.sh
Labels: feature ✨, dataset🐫

#1178 enhance(controller): support virtual host path configuration
  client/starwhale/core/dataset/store.py
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/configuration/StorageProperties.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/fs/AliyunEnv.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/fs/BotoS3Config.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/fs/FileStorageEnv.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/fs/S3Env.java
  server/storage-access-layer/src/test/java/ai/starwhale/mlops/storage/fs/AliyunEnvTest.java
  server/storage-access-layer/src/test/java/ai/starwhale/mlops/storage/fs/BotoS3ConfigTest.java
  server/storage-access-layer/src/test/java/ai/starwhale/mlops/storage/fs/S3EnvTest.java
Labels: enhancement ❤️, sdk 🐶, controller 🏘️

#1167 example: refactor PennFudanPed example with new api
  client/starwhale/api/_impl/metric.py
  client/starwhale/api/_impl/model.py
  client/starwhale/api/_impl/wrapper.py
  client/starwhale/core/dataset/type.py
  client/starwhale/core/eval/model.py
  client/starwhale/core/eval/view.py
  client/tests/core/test_model.py
  example/PennFudanPed/.gitignore
  example/PennFudanPed/Makefile
  example/PennFudanPed/code/coco_utils.py
  example/PennFudanPed/code/ds.py
  example/PennFudanPed/code/engine.py
  example/PennFudanPed/code/ppl.py
  example/PennFudanPed/code/test.py
  example/PennFudanPed/code/train.py
  example/PennFudanPed/code/transforms.py
  example/PennFudanPed/config/__init__.py
  example/PennFudanPed/config/config.py
  example/PennFudanPed/config/hyperparam.json
  example/PennFudanPed/dataset.yaml
  example/PennFudanPed/model.yaml
  example/PennFudanPed/pfp/__init__.py
  example/PennFudanPed/pfp/dataset.py
  example/PennFudanPed/pfp/model.py
  example/PennFudanPed/pfp/ppl.py
  example/PennFudanPed/pfp/train.py
  example/PennFudanPed/pfp/utils/__init__.py
  example/PennFudanPed/pfp/utils/coco_eval.py
  example/PennFudanPed/pfp/utils/coco_utils.py
  example/PennFudanPed/requirements.txt
  example/PennFudanPed/runtime.yaml
  example/runtime/pytorch/requirements-sw-lock.txt
  example/runtime/pytorch/runtime.yaml
Labels: example 🚕, dataset🐫, job 💡

#1177 example: refactor cifar10 example
  client/starwhale/core/dataset/type.py
  example/cifar10/.gitignore
  example/cifar10/Makefile
  example/cifar10/cifar/__init__.py
  example/cifar10/cifar/dataset.py
  example/cifar10/cifar/model.py
  example/cifar10/cifar/ppl.py
  example/cifar10/cifar/train.py
  example/cifar10/code/data_slicer.py
  example/cifar10/code/ppl.py
  example/cifar10/code/test.py
  example/cifar10/config/__init__.py
  example/cifar10/config/config.py
  example/cifar10/config/hyperparam.json
  example/cifar10/dataset.yaml
  example/cifar10/model.yaml
  example/cifar10/requirements.txt
  example/cifar10/runtime.yaml
Labels: example 🚕

#1182 enhance(controller): data provider in job support virtual host path
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/main/resources/template/job.yaml
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/TestK8sTaskScheduler.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/configuration/StorageProperties.java
Labels: enhancement ❤️, controller 🏘️

#1185 chore(controller): make controller UT report more accurate
  server/lombok.config
  server/pom.xml
Labels: controller 🏘️

#1183 chore(controller): add mybatis test framework
  server/controller/pom.xml
  server/controller/src/test/java/ai/starwhale/mlops/domain/MySqlContainerHolder.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/mapper/TestTaskMapper.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/user/mapper/TestUserMapper.java
  server/pom.xml
Labels: controller 🏘️

#1187 example: refactor speech command example
  example/speech_command/.gitignore
  example/speech_command/Makefile
  example/speech_command/code/__init__.py
  example/speech_command/code/data_slicer.py
  example/speech_command/code/dataset.py
  example/speech_command/code/ppl.py
  example/speech_command/code/predict.py
  example/speech_command/code/train.py
  example/speech_command/dataset.yaml
  example/speech_command/model.yaml
  example/speech_command/requirements.txt
  example/speech_command/sc/__init__.py
  example/speech_command/sc/dataset.py
  example/speech_command/sc/model.py
  example/speech_command/sc/ppl.py
  example/speech_command/sc/train.py
Labels: example 🚕

#1192 fix(client):exit error code when failed
  client/starwhale/core/model/model.py
Labels: bug 🐛

#1193 chore(deploy): add storage type in config
  docker/charts/templates/controller-deployment.yaml
  docker/charts/values.yaml
Labels: chore 🛎️, deploy 🚀

#1186 feat(controller): support version alias for model/dataset/runtime
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/runtime/RuntimeInfoVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/runtime/RuntimeVersionVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/swds/DatasetVersionVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/swds/SwDatasetInfoVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/swmp/SwModelPackageInfoVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/swmp/SwModelPackageVersionVo.java
  server/controller/src/main/java/ai/starwhale/mlops/common/VersionAliasConvertor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/BundleManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/BundleVersionAccessor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeVersionConvertor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/mapper/RuntimeMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/mapper/RuntimeVersionMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/po/RuntimeVersionEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/SwDatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/SwdsManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/converter/SwdsVersionConvertor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/mapper/SwDatasetVersionMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/po/SwDatasetVersionEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swmp/SwModelPackageService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swmp/SwmpManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swmp/SwmpVersionConvertor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swmp/mapper/SwModelPackageMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swmp/mapper/SwModelPackageVersionMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swmp/po/SwModelPackageVersionEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/exception/ConvertException.java
  server/controller/src/main/resources/mapper/RuntimeVersionMapper.xml
  server/controller/src/main/resources/mapper/SwDatasetVersionMapper.xml
  server/controller/src/main/resources/mapper/SwModelPackageVersionMapper.xml
  server/controller/src/test/java/ai/starwhale/mlops/common/VersionAliasConvertorTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/bundle/BundleManagerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeManagerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeVersionConvertorTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/swds/SwdsManagerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/swds/convertor/SwdsVersionConvertorTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/swmp/SwmpManagerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/swmp/SwmpVersionConvertorTest.java
Labels: feature ✨, controller 🏘️

#1194 fix(client):task failed but status is success
  client/starwhale/core/model/model.py
Labels: bug 🐛

#1201 fix(controller): fix e2e failing
  server/controller/src/main/resources/application.yaml
Labels: hotfix 🔥

#1196 example: refactor nmt example
  example/nmt/.gitignore
  example/nmt/Makefile
  example/nmt/code/config.py
  example/nmt/code/eval.py
  example/nmt/code/helper.py
  example/nmt/code/ppl.py
  example/nmt/code/train.py
  example/nmt/code/vocab.py
  example/nmt/config/__init__.py
  example/nmt/config/config.py
  example/nmt/config/hyperparam.json
  example/nmt/dataset.yaml
  example/nmt/main.py
  example/nmt/model.yaml
  example/nmt/nmt/__init__.py
  example/nmt/nmt/bleu.py
  example/nmt/nmt/dataset.py
  example/nmt/nmt/helper.py
  example/nmt/nmt/model.py
  example/nmt/nmt/ppl.py
  example/nmt/nmt/train.py
  example/nmt/requirements.txt
  example/nmt/runtime.yaml
  example/nmt/test/test_eng-fra.txt
Labels: example 🚕, standalone 💻

#1202 feat(console): viewer with segment/bbox/audio/text
  console/package.json
  console/pnpm-lock.yaml
  console/src/components/Button/Button.tsx
  console/src/components/Viewer/AudioViewer.tsx
  console/src/components/Viewer/DatasetViewer.tsx
  console/src/components/Viewer/ImageViewer.tsx
  console/src/components/Viewer/utils.ts
  console/src/components/data-table/config-manage-columns.tsx
  console/src/domain/dataset/sdk.ts
  console/src/pages/Dataset/DatasetOverviewLayout.tsx
  console/src/pages/Dataset/DatasetVersionOverviewFilePreview.tsx
  console/src/pages/Dataset/DatasetVersionOverviewFiles.tsx
  console/src/utils/index.ts
Labels: feature ✨, console 🎨

#1191 fix(controller): use type string name other than category
  server/controller/src/main/java/ai/starwhale/mlops/api/DataStoreController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/datastore/RecordListVo.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/RecordList.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/index/datastore/IndexWriter.java
  server/controller/src/test/java/ai/starwhale/mlops/api/DataStoreControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/swds/datastore/TestIndexWriter.java
Labels: bug 🐛, controller 🏘️

#1200 feat(client):history cmd support json format
  client/starwhale/core/dataset/view.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/view.py
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/view.py
Labels: feature ✨

#1204 bug(dataset): fix dataset rows diff error
  client/starwhale/core/dataset/tabular.py
Labels: bug 🐛, dataset🐫

#1206 chore(ci): alter e2e trigger condition
  .github/workflows/e2e-test.yml
Labels: ci 🕹️

#1209 chroe(ci): remove e2e condition of filter
  .github/workflows/e2e-test.yml
Labels: ci 🕹️

#1210 update(console): match with client as_mask
  console/src/components/Accordion/Accordion.tsx
  console/src/domain/dataset/sdk.ts
  console/src/pages/Dataset/DatasetOverviewLayout.tsx
  console/src/pages/Dataset/DatasetVersionOverviewFilePreview.tsx
Labels: console 🎨

#1208 fix(console): #1179 #1181
  console/src/components/data-table/filter-operate-selector.tsx
  console/src/pages/Evaluation/EvaluationListCard.tsx
  console/src/pages/Evaluation/EvaluationListCompare.tsx
  console/src/utils/index.ts
Labels: hotfix 🔥, console 🎨

#1213 fix(console): #1139 owner when editing project
  console/src/domain/project/components/ProjectForm.tsx
Labels: hotfix 🔥

#1217 fix(client):remove exit logic
  client/starwhale/core/model/model.py
Labels: bug 🐛

#1214 update(console): use name as list column
  console/src/domain/runtime/schemas/runtimeVersion.tsx
  console/src/pages/Runtime/RuntimeLayout.tsx
  console/src/pages/Runtime/RuntimeListCard.tsx
  console/src/pages/Runtime/RuntimeVersionLayout.tsx
  console/src/pages/Runtime/RuntimeVersionListCard.tsx
Labels: enhancement ❤️, console 🎨

#1220 feat(console): add job actions
  console/src/domain/job/schemas/task.tsx
  console/src/pages/Evaluation/EvaluationOverviewLayout.tsx
  console/src/pages/Job/JobListCard.tsx
  console/src/pages/Job/JobTasks.tsx
Labels: feature ✨

#1207 chore(controller): rename Test** to **Test
  server/controller/src/test/java/ai/starwhale/mlops/domain/graph/GraphTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobStatusCalculatorTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/StatusRequirementTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/mapper/JobMapperTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/swds/datastore/IndexWriterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/swds/objectstore/DsFileGetterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/swds/objectstore/StorageAccessParserTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/swds/objectstore/StorageAuthsTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/swds/objectstore/StorageUriTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/StepHelperTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TaskServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TaskWatcherForJobStatusTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/log/TaskLogK8sCollectorTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/mapper/TaskMapperTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/user/mapper/UserMapperTest.java
  server/controller/src/test/java/ai/starwhale/mlops/login/LoginRequestTest.java
  server/controller/src/test/java/ai/starwhale/mlops/login/PasswordEncoderTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/JobEventHandlerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sJobTemplateTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sResourcePoolConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sTaskSchedulerTest.java
Labels: controller 🏘️, ban-e2e

#1203 feat(client): support auto-fast-tag for model/dataset/runtime
  client/starwhale/base/bundle.py
  client/starwhale/base/bundle_copy.py
  client/starwhale/base/tag.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/model/model.py
  client/starwhale/core/runtime/model.py
  client/tests/base/test_copy.py
  client/tests/base/test_tag.py
Labels: feature ✨, standalone 💻, client 🌈

#1222 test(controller): add unit tests
  server/controller/src/main/java/ai/starwhale/mlops/api/JobController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/SystemController.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/BaseImageConvertor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/mapper/JobSwdsVersionMapper.java
  server/controller/src/test/java/ai/starwhale/mlops/api/JobControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/api/LogControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/api/SystemControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/BaseImageConvertorTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobManagerTest.java
Labels: controller 🏘️

#1216 chore(controller): add UT for K8S related code
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sClient.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sClientConfig.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/NodeEventHandler.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sClientTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/NodeEventHandlerTest.java
Labels: controller 🏘️

#1218 fix(controller): show security message in English
  server/controller/src/main/java/ai/starwhale/mlops/configuration/security/SecurityMessageConfig.java
  server/pom.xml
Labels: bug 🐛, controller 🏘️

#1225 feat(dataset): add mask propteries for Dataset Image type
  client/starwhale/core/dataset/type.py
  client/tests/sdk/test_dataset.py
  example/PennFudanPed/pfp/dataset.py
Labels: feature ✨, ban-e2e

#1223 fix(datastore): can not load wal after restart
  server/controller/src/main/java/ai/starwhale/mlops/memory/SwBufferInputStream.java
  server/controller/src/test/java/ai/starwhale/mlops/memory/SwBufferInputStreamTest.java
Labels: bug 🐛, datastore 🐇

#1224 fix(controller): can not work with minio when disable the chunkedEncoding config
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/s3/StorageAccessServiceS3.java
  server/storage-access-layer/src/test/java/ai/starwhale/mlops/storage/s3/StorageAccessServiceS3Test.java
Labels: bug 🐛, controller 🏘️

#1219 feat(job): tune eval info classification ui for standalone
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/metric.py
  client/starwhale/api/_impl/model.py
  client/starwhale/core/eval/view.py
  client/tests/sdk/test_metric.py
Labels: standalone 💻, client 🌈, job 💡, ban-e2e

#1231 fix(datastore): datastore table list out of bound error when invoke scan api
  server/controller/src/main/java/ai/starwhale/mlops/datastore/DataStore.java
Labels: bug 🐛

#1226 fix(client):job info error at cloud instance
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/wrapper.py
  client/starwhale/core/eval/model.py
  client/starwhale/core/eval/view.py
  client/tests/core/test_eval.py
Labels: bug 🐛, ban-e2e

#1233 feat(console): support default view with all runs
  console/src/components/Accordion/Accordion.tsx
  console/src/components/Viewer/AudioViewer.tsx
  console/src/components/data-table/config-manage-columns.tsx
  console/src/components/data-table/config-views.tsx
  console/src/components/data-table/stateful-data-table.tsx
  console/src/i18n/locales.ts
  console/src/pages/Dataset/DatasetListCard.tsx
  console/src/pages/Dataset/DatasetOverviewLayout.tsx
  console/src/pages/Evaluation/EvaluationListCard.tsx
  console/src/pages/Evaluation/EvaluationOverviewLayout.tsx
  console/src/pages/Job/JobTasks.tsx
  console/vite.config.ts
Labels: enhancement ❤️, chore 🛎️, console 🎨

#1232 fix(datastore): fix copyTo/setBytes function of SwByteBuffer
  server/controller/src/main/java/ai/starwhale/mlops/memory/impl/SwByteBuffer.java
  server/controller/src/test/java/ai/starwhale/mlops/memory/impl/SwByteBufferTest.java
Labels: bug 🐛, datastore 🐇

#1235 chore(controller): add test for JobMapper,JobSwdsVersionMapper,ProjectMapper
  server/controller/src/main/java/ai/starwhale/mlops/api/EvaluationController.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/evaluation/EvaluationService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/mapper/JobMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/mapper/ProjectMapper.java
  server/controller/src/main/resources/mapper/JobMapper.xml
  server/controller/src/main/resources/mapper/JobSwdsVersionMapper.xml
  server/controller/src/main/resources/mapper/ProjectMapper.xml
  server/controller/src/main/resources/mapper/SwDatasetVersionMapper.xml
  server/controller/src/test/java/ai/starwhale/mlops/domain/evaluation/EvaluationServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/mapper/JobMapperTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/mapper/JobSwdsVersionMapperTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/project/mapper/ProjectMapperTest.java
Labels: chore 🛎️

#1234 test(controller): add unit tests
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/converter/JobConvertor.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/bundle/BundleManagerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/converter/JobConverterTest.java
Labels: controller 🏘️

#1230 chore(client): add ut for client runtime
  client/starwhale/core/runtime/process.py
  client/tests/core/test_runtime.py
Labels: ci 🕹️, client 🌈, ban-e2e

#1237 fix(client): fix dataset size info in cloud
  client/starwhale/base/cloud.py
  client/tests/base/test_cloud.py
Labels: chore 🛎️, client 🌈

#1240 fix(controller): dataset not show when using aliyun oss
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/aliyun/StorageAccessServiceAliyun.java
Labels: bug 🐛, controller 🏘️

#1241 enhance(console): evaluation result with all store tables
  console/src/__generated__/MySuperbApi.ts
  console/src/domain/datastore/hooks/useFetchDatastore.ts
  console/src/domain/datastore/hooks/useParseDatastore.ts
  console/src/domain/datastore/schemas/datastore.tsx
  console/src/domain/datastore/services/datastore.ts
  console/src/domain/datastore/utils.ts
  console/src/pages/Evaluation/EvaluationResults.tsx
  console/src/utils/datetime.ts
  console/src/utils/index.ts
  console/swagger.json
Labels: enhancement ❤️, console 🎨

#1238 enhance(console): support getting token for swcli login
  console/src/assets/fonts/iconfont.css
  console/src/assets/fonts/iconfont.js
  console/src/assets/fonts/iconfont.json
  console/src/assets/fonts/iconfont.ttf
  console/src/assets/fonts/iconfont.woff
  console/src/assets/fonts/iconfont.woff2
  console/src/components/Header/index.tsx
  console/src/components/IconFont/index.tsx
  console/src/i18n/locales.ts
Labels: enhancement ❤️, console 🎨

#1242 bug(client): fix model/dataset/runtime info command
  client/starwhale/base/bundle.py
  client/starwhale/base/uri.py
  client/starwhale/base/view.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/view.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/view.py
  client/tests/core/test_dataset.py
  client/tests/core/test_model.py
  client/tests/core/test_runtime.py
Labels: bug 🐛, client 🌈, runtime🐌, dataset🐫, model🐇

#1236 ci(client): fix datastore atexit dump test error
  client/tests/core/test_eval.py
  client/tests/core/test_model.py
  client/tests/sdk/test_base.py
  client/tests/sdk/test_wrapper.py
Labels: ci 🕹️, client 🌈

#1246 feat(console): role privilege component
  console/src/api/WithAuth.tsx
  console/src/domain/project/hooks/useProjectRole.tsx
  console/src/pages/Project/ProjectMembers.tsx
  console/src/theme/index.ts
Labels: enhancement ❤️, console 🎨

#1244 fix(controller): guest user has permission to see the resource in dataset
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetApi.java
Labels: chore 🛎️, ban-e2e

#1248 fix(client): raise exception when error
  client/starwhale/core/model/model.py
Labels: bug 🐛

#1250 chore(example): upgrade pytorch runtime dependencies
  example/runtime/pytorch/requirements-sw-lock.txt
Labels: chore 🛎️, example 🚕

#1249 refactor(controller): refactor storage env related code
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/swds/SwDatasetInfoVo.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/SwDatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/bo/SwDataSet.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/converter/SwdsBoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/objectstore/DsFileGetter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swds/objectstore/StorageAccessParser.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/main/resources/application.yaml
  server/controller/src/test/java/ai/starwhale/mlops/domain/swds/objectstore/StorageAccessParserTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/swds/objectstore/StorageUriTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/swds/objectstore/UserStorageAuthEnvTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sTaskSchedulerTest.java
  server/pom.xml
  server/storage-access-layer/pom.xml
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/StorageUri.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/configuration/StorageAccessConfig.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/configuration/StorageProperties.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/env/AliyunEnv.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/env/S3Env.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/env/StorageEnv.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/env/StorageEnvsPropertiesConverter.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/env/UserStorageAccessServiceBuilder.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/env/UserStorageAuthEnv.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/minio/StorageAccessServiceMinio.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/s3/BotoS3Config.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/s3/StorageAccessServiceS3.java
  server/storage-access-layer/src/test/java/ai/starwhale/mlops/storage/env/AliyunEnvTest.java
  server/storage-access-layer/src/test/java/ai/starwhale/mlops/storage/env/S3EnvTest.java
  server/storage-access-layer/src/test/java/ai/starwhale/mlops/storage/env/StorageEnvsPropertiesConverterTest.java
  server/storage-access-layer/src/test/java/ai/starwhale/mlops/storage/env/UserStorageAccessServiceBuilderTest.java
  server/storage-access-layer/src/test/java/ai/starwhale/mlops/storage/minio/StorageAccessServiceMinioTest.java
  server/storage-access-layer/src/test/java/ai/starwhale/mlops/storage/s3/BotoS3ConfigTest.java
Labels: controller 🏘️

#1253 fix(controller): fix gpu failure
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/ResourceOverwriteSpec.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/ResourceOverwriteSpecTest.java
Labels: bug 🐛

#1252 fix(client)：remove base64 encode/decode ppl result
  client/starwhale/api/_impl/model.py
Labels: client 🌈

#1258 enhance(client): add only_standalone decorator for cli view
  client/starwhale/base/bundle.py
  client/starwhale/base/view.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/view.py
  client/starwhale/core/eval/view.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/view.py
Labels: enhancement ❤️, client 🌈

#1256 fix(controller): oss list all keys
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/aliyun/StorageAccessServiceAliyun.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/s3/StorageAccessServiceS3.java
  server/storage-access-layer/src/test/java/ai/starwhale/mlops/storage/s3/StorageAccessServiceS3Test.java
Labels: bug 🐛, controller 🏘️

#1257 enhance(controller): tune imagePullPolicy for worker container
  server/controller/src/test/resources/template/job.yaml
Labels: controller 🏘️

#1254 enhance(runtime): runtime quickstart will create workdir automatically
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/view.py
  client/tests/core/test_runtime.py
Labels: client 🌈, runtime🐌

#1259 enhance(client): tune model/dataset/model not-found info output
  client/starwhale/api/_impl/dataset/loader.py
  client/starwhale/api/_impl/model.py
  client/starwhale/base/bundle.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/view.py
Labels: enhancement ❤️, client 🌈, ban-e2e

#1260 feat(console): #1171 component with privilege
  console/src/api/ApiHeader.tsx
  console/src/api/WithAuth.tsx
  console/src/api/const.ts
  console/src/domain/dataset/sdk.ts
  console/src/domain/project/hooks/useFetchProjectRole.tsx
  console/src/domain/project/hooks/useProjectRole.ts
  console/src/domain/project/hooks/useProjectRole.tsx
  console/src/domain/project/services/project.ts
  console/src/hooks/global.ts
  console/src/i18n/locales.ts
  console/src/pages/Dataset/DatasetVersionListCard.tsx
  console/src/pages/Evaluation/EvaluationListCard.tsx
  console/src/pages/Evaluation/EvaluationOverviewLayout.tsx
  console/src/pages/Model/ModelVersionListCard.tsx
  console/src/pages/Project/Overview.tsx
  console/src/pages/Project/ProjectListCard.tsx
  console/src/pages/Project/ProjectMembers.tsx
  console/src/pages/Runtime/RuntimeVersionListCard.tsx
Labels: feature ✨, console 🎨

#1251 bug(runtime): fix dockerize tag tuple typo
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/model.py
  client/tests/core/test_runtime.py
Labels: bug 🐛, runtime🐌, ban-e2e

#1255 ci: show version in controller
  docker/Dockerfile.server
  docker/Makefile
Labels: feature ✨, ci 🕹️, ban-e2e

#1262 chore(console): multi optimizations of ui and interactive
  console/src/api/WithAuth.tsx
  console/src/api/const.ts
  console/src/components/Button/Button.tsx
  console/src/components/Input/Input.tsx
  console/src/components/Viewer/DatasetViewer.tsx
  console/src/components/Viewer/TextViewer.tsx
  console/src/components/data-table/config-manage-columns.tsx
  console/src/components/data-table/config-views.tsx
  console/src/components/data-table/filter-operate-menu.tsx
  console/src/domain/dataset/schemas/dataset.tsx
  console/src/domain/dataset/schemas/datasetVersion.tsx
  console/src/pages/Dataset/DatasetOverviewLayout.tsx
  console/src/pages/Dataset/DatasetVersionOverviewFiles.tsx
  console/src/pages/Evaluation/EvaluationResults.tsx
  console/src/pages/Project/Overview.tsx
  console/src/theme/index.ts
Labels: enhancement ❤️, console 🎨

#1264 enhance(example): update example code with device converter
  example/PennFudanPed/pfp/ppl.py
  example/cifar10/cifar/ppl.py
  example/mnist/mnist/ppl.py
  example/mnist/mnist/test.py
  example/nmt/nmt/ppl.py
  example/runtime/pytorch/runtime.yaml
  example/speech_command/sc/ppl.py
  example/text_cls_AG_NEWS/tcan/ppl.py
Labels: enhancement ❤️, example 🚕

#1271 feat(controller): add system role and project roles in the response of getting current user
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/user/UserVo.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/user/UserService.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/user/UserServiceTest.java
Labels: feature ✨, ban-e2e

#1268 fix(controller): the project description cannot be set to empty
  server/controller/src/main/resources/mapper/ProjectMapper.xml
Labels: bug 🐛, ban-e2e

#1276 bug(dataset): support link type reflect
  client/starwhale/core/dataset/type.py
  client/tests/sdk/test_dataset.py
Labels: bug 🐛, dataset🐫, ban-e2e

#1273 feat(controller): add job status to evaluation summary
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/evaluation/SummaryVo.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/evaluation/EvaluationService.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/evaluation/EvaluationServiceTest.java
Labels: feature ✨, ban-e2e

#1274 refactor(datastore): remove wrapper project and eval_version useless env
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/wrapper.py
  client/tests/sdk/test_data_store.py
  client/tests/sdk/test_wrapper.py
Labels: refactor 🐛, datastore 🐇

#1261 feat(client): support force remove for model/dataset/runtime/eval
  client/starwhale/base/bundle.py
  client/starwhale/base/store.py
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/eval/cli.py
  client/starwhale/core/eval/model.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/store.py
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/store.py
  client/tests/core/test_dataset.py
  client/tests/core/test_eval.py
  client/tests/core/test_model.py
  client/tests/core/test_runtime.py
Labels: feature ✨, client 🌈

#1270 enhance(example): tune pfp example ppl results
  example/PennFudanPed/pfp/ppl.py
  example/PennFudanPed/pfp/train.py
  example/PennFudanPed/pfp/utils/coco_eval.py
Labels: enhancement ❤️, example 🚕, ban-e2e

#1278 chore(dataset): refactor dataset process name to handler
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/type.py
  client/tests/core/test_dataset.py
  client/tests/data/dataset.yaml
  client/tests/data/dataset/dataset.yaml
  example/PennFudanPed/dataset.yaml
  example/cifar10/dataset.yaml
  example/mnist/dataset.yaml
  example/mnist/mnist/dataset.py
  example/nmt/dataset.yaml
  example/speech_command/dataset.yaml
  example/text_cls_AG_NEWS/dataset.yaml
Labels: chore 🛎️, dataset🐫

#1282 chore(example): upgrade pytorch runtime starwhale version
  example/runtime/pytorch/requirements-sw-lock.txt
Labels: chore 🛎️, example 🚕, ban-e2e

#1279 chore(model): refactor model ppl to handler
  client/starwhale/core/model/default_handler.py
  client/starwhale/core/model/model.py
  client/tests/data/model.yaml
  client/tests/data/model/model.yaml
  example/PennFudanPed/model.yaml
  example/PennFudanPed/pfp/evaluator.py
  example/cifar10/cifar/evaluator.py
  example/cifar10/model.yaml
  example/mnist/mnist/evaluator.py
  example/mnist/model.yaml
  example/nmt/model.yaml
  example/nmt/nmt/evaluator.py
  example/speech_command/model.yaml
  example/speech_command/sc/evaluator.py
  example/text_cls_AG_NEWS/model.yaml
  example/text_cls_AG_NEWS/tcan/evaluator.py
Labels: chore 🛎️, model🐇

#1272 fix(controller): add unique index on project name
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/mapper/ProjectMapper.java
  server/controller/src/main/resources/db/migration/V00019__Modify_project_index.sql
  server/controller/src/main/resources/mapper/ProjectMapper.xml
  server/controller/src/test/java/ai/starwhale/mlops/domain/project/ProjectManagerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/project/ProjectServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/project/mapper/ProjectMapperTest.java
Labels: bug 🐛

#1285 fix(controller): delay deletion of failed job now works
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/WatchableTask.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/watchers/TaskWatcherForSchedule.java
Labels: bug 🐛, controller 🏘️

#1269 enhance(sdk): export starwhale package functions, classes and consts directly
  client/starwhale/__init__.py
  client/starwhale/api/_impl/model.py
  client/starwhale/base/bundle.py
  client/starwhale/cli/__init__.py
  client/starwhale/core/runtime/model.py
  client/starwhale/utils/__init__.py
  client/starwhale/utils/venv.py
  client/starwhale/version.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_loader.py
  client/tests/sdk/test_model.py
  example/PennFudanPed/pfp/dataset.py
  example/PennFudanPed/pfp/evaluator.py
  example/PennFudanPed/pfp/model.py
  example/cifar10/cifar/dataset.py
  example/cifar10/cifar/evaluator.py
  example/mnist/mnist/dataset.py
  example/mnist/mnist/evaluator.py
  example/nmt/nmt/dataset.py
  example/nmt/nmt/evaluator.py
  example/speech_command/sc/dataset.py
  example/speech_command/sc/evaluator.py
  example/text_cls_AG_NEWS/tcan/dataset.py
  example/text_cls_AG_NEWS/tcan/evaluator.py
Labels: enhancement ❤️, example 🚕, sdk 🐶, ban-e2e

#1288 refactor(console): combine systemRole & projectRole in current user
  console/src/api/ApiHeader.tsx
  console/src/api/WithAuth.tsx
  console/src/components/Header/index.tsx
  console/src/components/data-table/data-custom-table.tsx
  console/src/components/data-table/filter-operate-selector.tsx
  console/src/components/data-table/measure-column-widths.tsx
  console/src/domain/dataset/sdk.ts
  console/src/domain/user/hooks/useUserRoles.ts
  console/src/domain/user/schemas/user.tsx
  console/src/hooks/global.ts
  console/src/hooks/useCurrentUserRoles.ts
  console/src/pages/Evaluation/EvaluationListCard.tsx
  console/src/pages/Project/ProjectListCard.tsx
Labels: enhancement ❤️, console 🎨

#1290 test(controller): unit test for swmp controller and convertor
  server/controller/src/main/java/ai/starwhale/mlops/api/SwModelPackageController.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/swmp/SwmpConvertor.java
  server/controller/src/test/java/ai/starwhale/mlops/api/SwModelPackageControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/swmp/SwmpConvertorTest.java
Labels: ban-e2e 🚫

#1287 example: speech commands dataset support remote link
  example/speech_command/dataset.yaml
  example/speech_command/sc/dataset.py
Labels: example 🚕, ban-e2e 🚫

#1292 fix(controller):split dir for swmp and swrt
  server/controller/src/main/resources/template/job.yaml
Labels: break-change 💔, ban-e2e 🚫

#1289 ci(example): add lint for example code
  client/Makefile
  client/pyproject.toml
  client/requirements-dev.txt
  client/starwhale/__init__.py
  client/starwhale/api/model.py
  example/cifar10/cifar/evaluator.py
  example/mnist/mnist/evaluator.py
  example/mnist/mnist/model.py
  example/mnist/mnist/train.py
  example/nmt/nmt/evaluator.py
  example/speech_command/sc/evaluator.py
Labels: example 🚕, ci 🕹️

#1294 fix(controller): untar error at job container
  server/controller/src/main/resources/template/job.yaml
Labels: bug 🐛, ban-e2e 🚫

#1293 enhance(job): refactor sw-docker-entrypiont with split swmp and swrt workdir
  client/scripts/sw-docker-entrypoint
  client/starwhale/base/type.py
  client/starwhale/core/eval/executor.py
  client/tests/core/test_executor.py
Labels: enhancement ❤️, break-change 💔, job 💡

#1297 fix(controller):set datastore api param 'ignoreNonExistingTable'=true
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/datastore/QueryTableRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/datastore/ScanTableRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/DataStore.java
  server/controller/src/test/java/ai/starwhale/mlops/api/DataStoreControllerTest.java
Labels: bug 🐛, ban-e2e 🚫

#1296 enhance(console): version selector with alias/duration locals
  console/src/components/Header/index.tsx
  console/src/domain/dataset/components/DatasetVersionSelector.tsx
  console/src/domain/job/components/JobForm.tsx
  console/src/domain/model/components/ModelVersionSelector.tsx
  console/src/domain/runtime/components/RuntimeVersionSelector.tsx
  console/src/domain/user/hooks/useUserRoles.ts
  console/src/i18n/locales.ts
  console/src/pages/Dataset/DatasetOverviewLayout.tsx
  console/src/pages/Evaluation/EvaluationListCard.tsx
  console/src/pages/Evaluation/EvaluationListCompare.tsx
  console/src/pages/Evaluation/EvaluationOverviewLayout.tsx
  console/src/pages/Evaluation/EvaluationResults.tsx
  console/src/pages/Job/JobListCard.tsx
  console/src/pages/Job/JobOverviewLayout.tsx
  console/yarn.lock
Labels: enhancement ❤️, console 🎨

#1299 test(controller): unit test for dataset and runtime controller
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/RuntimeController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/runtime/RuntimeVo.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeConvertor.java
  server/controller/src/test/java/ai/starwhale/mlops/api/DatasetControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/api/RuntimeControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeConvertorTest.java
Labels: ban-e2e 🚫

#1199 feat(test):add test for client cmd
  client/Makefile
  client/starwhale/core/eval/model.py
  scripts/client_test/__init__.py
  scripts/client_test/cli_test.py
  scripts/client_test/cmds/__init__.py
  scripts/client_test/cmds/artifacts_cmd.py
  scripts/client_test/cmds/base/common.py
  scripts/client_test/cmds/base/invoke.py
  scripts/client_test/cmds/eval_cmd.py
  scripts/client_test/cmds/instance_cmd.py
  scripts/client_test/cmds/project_cmd.py
  scripts/e2e_test/copy_artifacts_to_server.sh
  scripts/e2e_test/start_test.sh
  scripts/run_demo.sh
Labels: ci 🕹️, client 🌈

#1298 ci: set fixed python3.10 version to workaround mypy error
  .github/workflows/client.yaml
Labels: chore 🛎️, ci 🕹️

#1303 optimize: dag/eva layout/table render
  console/package.json
  console/pnpm-lock.yaml
  console/src/api/WithAuth.tsx
  console/src/assets/fonts/iconfont.css
  console/src/assets/fonts/iconfont.js
  console/src/assets/fonts/iconfont.ttf
  console/src/assets/fonts/iconfont.woff
  console/src/assets/fonts/iconfont.woff2
  console/src/components/DAG/DAG.tsx
  console/src/components/Form/form.tsx
  console/src/components/data-table/data-custom-table.tsx
  console/src/components/data-table/data-table.tsx
  console/src/components/data-table/header-cell.tsx
  console/src/components/data-table/measure-column-widths.tsx
  console/src/components/data-table/stateful-container.tsx
  console/src/pages/Admin/AdminSidebar.tsx
  console/src/pages/BaseSubLayout.tsx
  console/src/pages/Evaluation/EvaluationListCard.tsx
  console/src/pages/Evaluation/EvaluationListCompare.tsx
  console/src/pages/Evaluation/EvaluationOverviewLayout.tsx
  console/src/pages/Evaluation/EvaluationResults.tsx
  console/src/pages/Job/JobDAG.tsx
  console/src/pages/Project/ProjectListCard.tsx
  console/src/styles/_global.scss
Labels: enhancement ❤️, console 🎨

#1305 chore(ci): force config python3.10 micro version for client ci
  .github/workflows/client.yaml
Labels: chore 🛎️, ci 🕹️, ban-e2e 🚫

#1306 chore(controller): make host path for pip cache optional
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sJobTemplate.java
  server/controller/src/main/resources/application.yaml
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sJobTemplateTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sTaskSchedulerTest.java
Labels: chore 🛎️, controller 🏘️

#1286 ci: add auto publish script
  docker/Makefile
  docker/external/config-e2e-pypi-repo.sh
  scripts/publish/pub.sh
Labels: ci 🕹️

#1307 chore(controller): add dev info to pod label
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/watchers/log/TaskLogK8sCollector.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sJobTemplate.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sJobTemplateTest.java
Labels: chore 🛎️, controller 🏘️

#1310 feat(console): job run with multi task config & yaml editor
  console/src/__generated__/MySuperbApi.ts
  console/src/components/Divider.tsx
  console/src/domain/job/components/JobForm.tsx
  console/src/domain/job/schemas/job.tsx
  console/src/domain/model/components/ModelVersionSelector.tsx
  console/src/domain/model/schemas/modelVersion.tsx
  console/src/domain/setting/components/DeviceSelector.tsx
  console/src/i18n/locales.ts
  console/src/pages/Evaluation/EvaluationListCard.tsx
  console/src/pages/Evaluation/EvaluationOverviewLayout.tsx
  console/src/pages/Job/JobOverviewLayout.tsx
  console/swagger.json
Labels: feature ✨, console 🎨

#1314 update(console): logo
  console/src/assets/logo_normal_en_blue.png
  console/src/components/Header/Logo.tsx
  console/src/domain/user/components/ThirdPartyLoginButton.tsx
Labels: enhancement ❤️, console 🎨

#1319 feat(console): show version / update setting page
  console/src/components/Header/index.tsx
  console/src/pages/Settings/SettingsOverviewLayout.tsx
  console/src/pages/Settings/SettingsSidebar.tsx
Labels: enhancement ❤️, console 🎨

#1324 fix(console): update runtime info after selection changes
  console/src/domain/runtime/hooks/useRuntimeVersion.ts
  console/src/domain/runtime/services/runtime.ts
  console/src/hooks/global.ts
  console/src/pages/Runtime/RuntimeOverviewLayout.tsx
  console/src/pages/Runtime/RuntimeVersionOverview.tsx
  console/src/pages/Runtime/RuntimeVersionOverviewFiles.tsx
  console/src/pages/Runtime/RuntimeVersionOverviewMeta.tsx
Labels: bug 🐛, console 🎨

#1326 enhance(console): make dag layout fitable
  console/src/components/DAG/DAG.tsx
Labels: enhancement ❤️, console 🎨
