Repository star-whale/starwhale, pull requests merged in 2022-11, with the labels that each got.

#1437 doc: add serviceaccount doc in helm install
  docker/charts/templates/controller-deployment.yaml
  docker/charts/templates/rolebinding.yaml
  docker/charts/values.yaml
  docs/docs/guides/install/helm-charts.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/install/helm-charts.md
Labels: doc 📄

#1444 example: add emnist dataset
  client/Makefile
  example/datasets/emnist/Makefile
  example/datasets/emnist/README.md
  example/datasets/emnist/dataset.py
  example/datasets/emnist/example.py
  example/datasets/emnist/requirements.txt
Labels: dataset🐫, ban-e2e 🚫

#1424 feat(dataset): support dataset string id
  client/starwhale/__init__.py
  client/starwhale/api/_impl/dataset/__init__.py
  client/starwhale/api/_impl/dataset/builder.py
  client/starwhale/api/_impl/dataset/loader.py
  client/starwhale/api/_impl/job.py
  client/starwhale/api/_impl/model.py
  client/starwhale/api/_impl/wrapper.py
  client/starwhale/api/dataset.py
  client/starwhale/consts/__init__.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/tabular.py
  client/starwhale/core/eval/cli.py
  client/starwhale/core/eval/executor.py
  client/starwhale/core/eval/model.py
  client/starwhale/core/job/model.py
  client/starwhale/core/job/scheduler.py
  client/starwhale/core/model/default_handler.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_loader.py
  client/tests/sdk/test_model.py
  client/tests/sdk/test_wrapper.py
  example/mnist/mnist/custom_evaluator.py
  example/speech_command/sc/dataset.py
Labels: feature ✨, dataset🐫

#1445 enhance(runtime): refactor runtime dependencies with user original sequence
  client/starwhale/base/type.py
  client/starwhale/core/runtime/model.py
  client/starwhale/utils/fs.py
  client/starwhale/utils/venv.py
  client/tests/core/test_runtime.py
  client/tests/utils/test_fs.py
  example/runtime/pytorch/runtime.yaml
Labels: enhancement ❤️, client 🌈, runtime🐌

#1446 example: add FGVC-Aircraft dataset
  client/starwhale/api/_impl/data_store.py
  client/starwhale/base/bundle_copy.py
  client/tests/sdk/test_data_store.py
  example/datasets/fgvc-aircraft/Makefile
  example/datasets/fgvc-aircraft/README.md
  example/datasets/fgvc-aircraft/dataset.py
  example/datasets/fgvc-aircraft/example.py
  example/datasets/fgvc-aircraft/requirements.txt
  server/controller/src/main/java/ai/starwhale/mlops/datastore/ColumnTypeScalar.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/objectstore/DsFileGetter.java
  server/controller/src/main/resources/db/migration/V00025__enlarge_dataset_meta.sql
  server/controller/src/test/java/ai/starwhale/mlops/api/DataStoreControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/ColumnTypeListTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/ColumnTypeObjectTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/ColumnTypeScalarTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/DataStoreTest.java
Labels: example 🚕, dataset🐫, ban-e2e 🚫

#1457 fix(server): dataset range api timeout error
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/dataset/dataloader/DataConsumptionRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/DataReadManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/DataReadRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/dao/DataReadLogDao.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/dataloader/MultiConsumerTest.java
Labels: bug 🐛

#1443 feat: use signed url instead of auth propagation
  client/starwhale/api/_impl/dataset/loader.py
  client/starwhale/consts/__init__.py
  client/starwhale/core/dataset/store.py
  client/tests/core/test_dataset_store.py
  client/tests/sdk/test_loader.py
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ObjectStoreApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ObjectStoreController.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/objectstore/DsFileGetter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/objectstore/StorageAccessParser.java
  server/controller/src/main/java/ai/starwhale/mlops/exception/SwValidationException.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/main/resources/application.yaml
  server/controller/src/main/resources/template/job.yaml
  server/controller/src/test/java/ai/starwhale/mlops/api/DatasetControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/api/ObjectStoreControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/DataStoreTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/WalManagerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/impl/MemoryTableImplTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/objectstore/DsFileGetterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/objectstore/UserStorageAuthEnvTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sJobTemplateTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sTaskSchedulerTest.java
  server/controller/src/test/resources/template/job.yaml
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/StorageAccessService.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/aliyun/StorageAccessServiceAliyun.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/env/UserStorageAuthEnv.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/fs/StorageAccessServiceFile.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/minio/StorageAccessServiceMinio.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/s3/StorageAccessServiceS3.java
  server/storage-access-layer/src/test/java/ai/starwhale/mlops/storage/aliyun/StorageAccessServiceAliyunTest.java
  server/storage-access-layer/src/test/java/ai/starwhale/mlops/storage/fs/StorageAccessServiceFileTest.java
  server/storage-access-layer/src/test/java/ai/starwhale/mlops/storage/minio/StorageAccessServiceMinioTest.java
  server/storage-access-layer/src/test/java/ai/starwhale/mlops/storage/s3/StorageAccessServiceS3Test.java
Labels: feature ✨

#1464 bug(client): fix python extract insecure bug(cve-2007-4559)
  client/starwhale/utils/fs.py
  client/starwhale/utils/venv.py
  client/tests/core/test_runtime.py
  client/tests/utils/test_fs.py
Labels: bug 🐛, client 🌈, ban-e2e 🚫

#1456 feat(controller): add tag validation
  server/controller/src/main/java/ai/starwhale/mlops/common/util/TagUtil.java
  server/controller/src/test/java/ai/starwhale/mlops/common/util/TagUtilTest.java
Labels: feature ✨

#1450 enhance(runtime): starwhale runtime standardization(runtime build = lock + package)
  client/setup.py
  client/starwhale/consts/__init__.py
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/view.py
  client/starwhale/utils/__init__.py
  client/starwhale/utils/venv.py
  client/tests/core/test_runtime.py
  docs/docs/img/runtime-lock.gif
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/cli/runtime.md
  scripts/client_test/cli_test.py
Labels: enhancement ❤️, client 🌈, runtime🐌

#1461 fix(server): lock ut error & transactional use bug
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/DataLoader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/DataReadManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/dao/DataReadLogDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/mapper/DataReadLogMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/mapper/SessionMapper.java
  server/controller/src/main/resources/db/migration/V00026__Add_dataset_reader.sql
  server/controller/src/test/java/ai/starwhale/mlops/common/KeyLockTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/dataloader/MultiConsumerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/dataloader/ReadRangeTest.java
Labels: bug 🐛

#1468 feat(controller): add temporary token for task
  server/controller/src/main/java/ai/starwhale/mlops/common/util/JwtTokenUtil.java
  server/controller/src/main/java/ai/starwhale/mlops/configuration/security/JobTokenConfig.java
  server/controller/src/main/java/ai/starwhale/mlops/configuration/security/JwtClaimValidator.java
  server/controller/src/main/java/ai/starwhale/mlops/configuration/security/JwtTokenFilter.java
  server/controller/src/main/java/ai/starwhale/mlops/configuration/security/SecurityConfiguration.java
  server/controller/src/main/java/ai/starwhale/mlops/configuration/security/TaskTokenValidator.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/bo/Job.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/converter/JobBoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/main/resources/application.yaml
  server/controller/src/test/java/ai/starwhale/mlops/api/config/TaskTokenValidatorTest.java
  server/controller/src/test/java/ai/starwhale/mlops/common/util/JwtTokenUtilTest.java
  server/controller/src/test/java/ai/starwhale/mlops/configuration/security/JwtTokenFilterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobBoConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sTaskSchedulerTest.java
Labels: controller 🏘️

#1487 fix(example): fix missing images2dict
  example/datasets/coco/dataset.py
Labels: example 🚕, ci 🕹️

#1474 enhance(dataset): refactor dataset annotations with SwObj
  client/starwhale/__init__.py
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/wrapper.py
  client/starwhale/base/bundle_copy.py
  client/starwhale/consts/__init__.py
  client/starwhale/core/dataset/copy.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/tabular.py
  client/starwhale/core/dataset/type.py
  client/tests/base/test_copy.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_loader.py
  example/PennFudanPed/pfp/dataset.py
  example/datasets/test_annotations/dataset.py
Labels: enhancement ❤️, dataset🐫

#1489 feat(console): add simple video viewer
  console/src/components/Viewer/AudioViewer.tsx
  console/src/components/Viewer/DatasetViewer.tsx
  console/src/components/Viewer/ImageViewer.tsx
  console/src/components/Viewer/TextViewer.tsx
  console/src/components/Viewer/VideoViewer.tsx
  console/src/domain/dataset/sdk.ts
  console/src/pages/Dataset/DatasetVersionOverviewFiles.tsx
  console/src/pages/Dataset/DatasetVersionOverviewMeta.tsx
Labels: feature ✨, console 🎨

#1491 bug(console): remove encode for offset/size
  console/src/domain/dataset/sdk.ts
  console/src/domain/datastore/utils.ts
Labels: ban-e2e 🚫

#1493 hotfix(console): layout not work when build
  console/src/pages/Dataset/DatasetVersionOverviewFiles.tsx
Labels: hotfix 🔥

#1495 chore(e2e):remove useless mnist dataset train data for e2e test
  scripts/client_test/cmds/base/common.py
  scripts/client_test/cmds/base/invoke.py
Labels: client 🌈

#1503 fix(docker): yq in entrypoint can not find after global py version changes
  client/scripts/sw-docker-entrypoint
Labels: chore 🛎️, docker 🗃️

#1490 feat(dataset): support link type in dataset annotations
  client/starwhale/__init__.py
  client/starwhale/api/_impl/dataset/__init__.py
  client/starwhale/api/_impl/dataset/builder.py
  client/starwhale/api/_impl/dataset/loader.py
  client/starwhale/api/dataset.py
  client/starwhale/core/dataset/store.py
  client/starwhale/core/dataset/type.py
  client/tests/core/test_dataset_store.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_loader.py
  example/PennFudanPed/pfp/dataset.py
  example/datasets/test_annotations/dataset.py
Labels: feature ✨, dataset🐫

#1505 chore(ci): tag latest image
  scripts/publish/image_sync.sh
Labels: chore 🛎️, ban-e2e 🚫

#1482 refactor(client): uri refactor
  client/starwhale/base/bundle_copy.py
  client/starwhale/base/uricomponents/__init__.py
  client/starwhale/base/uricomponents/exceptions.py
  client/starwhale/base/uricomponents/instance.py
  client/starwhale/base/uricomponents/project.py
  client/starwhale/base/uricomponents/resource.py
  client/tests/base/uricomponents/__init__.py
  client/tests/base/uricomponents/test_instance.py
  client/tests/base/uricomponents/test_project.py
  client/tests/base/uricomponents/test_resource.py
  client/tests/sdk/test_dataset.py
Labels: refactor 🐛, client 🌈, ban-e2e 🚫

#1515 fix(docker): broken python module yq in entrypoint
  client/scripts/sw-docker-entrypoint
Labels: bug 🐛, chore 🛎️, docker 🗃️

#1517 fix(test): subprocess use bug in test
  scripts/client_test/cli_test.py
  scripts/client_test/cmds/artifacts_cmd.py
  scripts/client_test/cmds/base/common.py
  scripts/client_test/cmds/base/invoke.py
  scripts/client_test/cmds/eval_cmd.py
  scripts/client_test/cmds/instance_cmd.py
  scripts/client_test/cmds/project_cmd.py
Labels: bug 🐛, chore 🛎️

#1518 feat(controller): support plugin assets serving
  server/controller/src/main/java/ai/starwhale/mlops/common/TarFileUtil.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/panel/PluginService.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/panel/PluginServiceTest.java
Labels: feature ✨, controller 🏘️, ban-e2e 🚫

#1522 fix(example): opencv missing libGL bug
  example/ucf101/requirements-sw-lock.txt
Labels: bug 🐛, example 🚕

#1504 fix(console): fetch enough users to select
  console/src/domain/project/components/UserSelector.tsx
  console/src/pages/Admin/UserManagement.tsx
Labels: chore 🛎️, console 🎨

#1507 example: update pfp example dataset for data_store type
  client/starwhale/core/dataset/type.py
  client/tests/sdk/test_dataset.py
  example/PennFudanPed/pfp/dataset.py
  example/PennFudanPed/pfp/evaluator.py
Labels: enhancement ❤️, example 🚕, ban-e2e 🚫

#1523 feat(controller): version urls support latest
  server/controller/src/main/java/ai/starwhale/mlops/common/VersionAliasConvertor.java
  server/controller/src/main/java/ai/starwhale/mlops/common/util/TagUtil.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/BundleManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/BundleVersionAccessor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/tag/TagManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/upload/DatasetUploader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/test/java/ai/starwhale/mlops/common/VersionAliasConvertorTest.java
  server/controller/src/test/java/ai/starwhale/mlops/common/util/TagUtilTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/bundle/BundleManagerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetManagerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetUploaderTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelManagerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeManagerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeServiceTest.java
Labels: feature ✨

#1525 feat(client): support console URL from the browser when parsing URI
  client/starwhale/base/uricomponents/resource.py
  client/tests/base/uricomponents/test_resource.py
Labels: client 🌈, ban-e2e 🚫

#1526 fix(controller): resuming job sometimes fails
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
Labels: bug 🐛

#1527 feat(console): support copy resource url for cli usage in version list page
  console/src/components/CopyToClipBoard/CopyToClipBoard.tsx
  console/src/components/CopyToClipboard/CopyToClipboard.tsx
  console/src/i18n/locales.ts
  console/src/pages/Dataset/DatasetVersionListCard.tsx
  console/src/pages/Model/ModelVersionListCard.tsx
  console/src/pages/Runtime/RuntimeVersionListCard.tsx
Labels: console 🎨

#1531 fix(client): support version only copy
  client/starwhale/base/uricomponents/resource.py
  client/tests/base/uricomponents/test_resource.py
Labels: chore 🛎️, client 🌈

#1533 chore(example):support multiple dataset for custom example
  example/mnist/mnist/custom_evaluator.py
Labels: chore 🛎️

#1528 doc: add heterogeneous devices part
  docs/docs/guides/heterogeneous/node-able.md
  docs/docs/guides/heterogeneous/virtual-node.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current.json
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/heterogeneous/node-able.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/heterogeneous/virtual-node.md
  docs/sidebars.js
Labels: doc 📄

#1516 feat(dataset): sign data uris in batch
  client/starwhale/api/_impl/dataset/builder.py
  client/starwhale/api/_impl/dataset/loader.py
  client/starwhale/core/dataset/store.py
  client/starwhale/core/dataset/tabular.py
  client/starwhale/core/dataset/type.py
  client/starwhale/core/dataset/view.py
  client/tests/core/test_dataset_store.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_loader.py
  client/tests/sdk/test_model.py
  console/src/domain/dataset/sdk.ts
  example/datasets/coco/dataset.py
  example/datasets/coco/example.py
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetController.java
  server/controller/src/main/java/ai/starwhale/mlops/configuration/RequestLoggingConfig.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetService.java
  server/controller/src/main/resources/application.yaml
  server/controller/src/test/java/ai/starwhale/mlops/api/DatasetControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/objectstore/DsFileGetterTest.java
Labels: feature ✨

#1535 refactor(client): refactor resource version without common string parts
  client/starwhale/base/bundle.py
  client/starwhale/core/eval/executor.py
  client/starwhale/utils/__init__.py
  client/tests/core/test_runtime.py
  client/tests/utils/test_common.py
Labels: refactor 🐛, client 🌈

#1534 chore(client): rich print null when table have too many cols
  client/starwhale/consts/__init__.py
  client/starwhale/core/eval/cli.py
  client/starwhale/core/eval/model.py
  client/starwhale/core/eval/view.py
  client/tests/core/test_eval.py
Labels: chore 🛎️

#1536 enhance(ci): make client test to run in parallel mode
  client/Makefile
  client/tests/base/test_cloud.py
  client/tests/sdk/test_metric.py
Labels: enhancement ❤️, ci 🕹️, client 🌈

#1532 enhance(sdk): tune get http file performance with buffer
  client/starwhale/api/_impl/dataset/loader.py
  client/starwhale/core/dataset/store.py
  client/starwhale/core/dataset/type.py
  client/tests/core/test_dataset_store.py
  client/tests/sdk/test_loader.py
  example/datasets/test_annotations/dataset.py
Labels: enhancement ❤️, sdk 🐶, client 🌈

#1538 feat(dataset): add `swcli dataset head` command
  client/starwhale/api/_impl/dataset/loader.py
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/view.py
  client/tests/core/test_dataset.py
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/cli/dataset.md
  example/datasets/test_annotations/dataset.py
Labels: client 🌈

#1542 bug: fix job should fail but ready error
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobService.java
Labels: bug 🐛, controller 🏘️

#1541 chore(ci): replace docker.io with ghcr.io
  scripts/publish/image_sync.sh
Labels: ci 🕹️

#1551 chore(example): fix pfp example workarount for 0.3.2 sdk id changed issue
  example/PennFudanPed/pfp/evaluator.py
Labels: chore 🛎️, example 🚕

#1547 feat(controller): merge migration sql files
  server/controller/src/main/resources/application.yaml
  server/controller/src/main/resources/db/migration/V00001__Create_schema.sql
  server/controller/src/main/resources/db/migration/V00002__Add_data.sql
  server/controller/src/main/resources/db/migration/V00003__Add_view_config.sql
  server/controller/src/main/resources/db/migration/V00004__Add_project.sql
  server/controller/src/main/resources/db/migration/V00005__Add_project_role.sql
  server/controller/src/main/resources/db/migration/V00006__Drop_oldrole.sql
  server/controller/src/main/resources/db/migration/V00007__Add_project_des.sql
  server/controller/src/main/resources/db/migration/V00008__Add_job_dag_field.sql
  server/controller/src/main/resources/db/migration/V00009__Add_dataset_field.sql
  server/controller/src/main/resources/db/migration/V00010__Add_project_privacy.sql
  server/controller/src/main/resources/db/migration/V00011__Add_resource_pool.sql
  server/controller/src/main/resources/db/migration/V00012__Delete_task_field.sql
  server/controller/src/main/resources/db/migration/V00013__Add_dataset_field.sql
  server/controller/src/main/resources/db/migration/V00014__Update_dataset_field.sql
  server/controller/src/main/resources/db/migration/V00015__Restore_task_result_path.sql
  server/controller/src/main/resources/db/migration/V00016__alter_manifest_2_image.sql
  server/controller/src/main/resources/db/migration/V00017__Add_version_field.sql
  server/controller/src/main/resources/db/migration/V00018__job_defaults.sql
  server/controller/src/main/resources/db/migration/V00019__Modify_project_index.sql
  server/controller/src/main/resources/db/migration/V00020__Add_job_step_spec.sql
  server/controller/src/main/resources/db/migration/V00021__Add_system_setting.sql
  server/controller/src/main/resources/db/migration/V00022__Add_test_role.sql
  server/controller/src/main/resources/db/migration/V00023__Refactor_resource_pool.sql
  server/controller/src/main/resources/db/migration/V00024__Refactor_rename.sql
  server/controller/src/main/resources/db/migration/V00025__enlarge_dataset_meta.sql
  server/controller/src/main/resources/db/migration/V00026__Add_dataset_reader.sql
  server/controller/src/main/resources/db/migration/V00027__Add_trash.sql
  server/controller/src/main/resources/db/migration/V00028__Add_panel_plugin.sql
  server/controller/src/main/resources/db/migration/V00029__Mod_project_unique.sql
  server/controller/src/main/resources/db/migration/V00030__Remove_dataset_auth.sql
  server/controller/src/main/resources/db/migration/V00031__Mod_dataset_reader.sql
  server/controller/src/main/resources/db/migration/v0_3_2/V0_3_2_000__clear_mirgration.sql
  server/controller/src/main/resources/db/migration/v0_3_2/V0_3_2_001__create_schema.sql
  server/controller/src/main/resources/db/migration/v0_3_2/V0_3_2_002__init_data.sql
Labels: controller 🏘️

#1539 feat(controller):extract model tar file&remove dataProvider Container
  client/scripts/sw-docker-entrypoint
  client/starwhale/consts/env.py
  client/starwhale/core/eval/cli.py
  client/starwhale/core/eval/executor.py
  client/starwhale/core/eval/model.py
  client/starwhale/core/eval/view.py
  client/tests/core/test_executor.py
  docker/Dockerfile.starwhale
  scripts/client_test/cli_test.py
  scripts/client_test/cmds/artifacts_cmd.py
  scripts/client_test/cmds/base/invoke.py
  scripts/client_test/cmds/instance_cmd.py
  scripts/e2e_test/check_job.sh
  scripts/example/runtime.yaml
  server/controller/src/main/java/ai/starwhale/mlops/common/ArchiveFileConsumer.java
  server/controller/src/main/java/ai/starwhale/mlops/common/TarFileUtil.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sJobTemplate.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/main/resources/template/job.yaml
  server/controller/src/test/java/ai/starwhale/mlops/common/util/TarUtilTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sTaskSchedulerTest.java
Labels: enhancement ❤️, e2e

#1557 fix(controller): temporarily remove e2e test for the modified api
  scripts/apitest/pytest/test_dataset.py
  scripts/apitest/pytest/test_model.py
  scripts/apitest/pytest/test_runtime.py
Labels: bug 🐛

#1560 chore: fix e2e not fail
  scripts/e2e_test/start_test.sh
Labels: chore 🛎️, e2e

#1561 chore: rename exit hook function
  scripts/e2e_test/start_test.sh
Labels: e2e

#1562 feat(console): support dynamic vars & form columns field
  console/packages/starwhale-core/package.json
  console/packages/starwhale-core/src/context/EditorContextProvider.tsx
  console/packages/starwhale-core/src/datastore/hooks/useDatastoreTables.tsx
  console/packages/starwhale-core/src/datastore/hooks/useFetchDatastore.ts
  console/packages/starwhale-core/src/datastore/utils.ts
  console/packages/starwhale-core/src/form/WidgetForm.tsx
  console/packages/starwhale-core/src/form/WidgetFormModal.tsx
  console/packages/starwhale-core/src/form/WidgetFormModel.ts
  console/packages/starwhale-core/src/form/components/DataColumnSelectWidget.tsx
  console/packages/starwhale-core/src/form/index.tsx
  console/packages/starwhale-core/src/form/schemas/fields.ts
  console/packages/starwhale-core/src/types/index.ts
  console/packages/starwhale-core/src/utils/index.tsx
  console/packages/starwhale-core/src/utils/replacer.ts
  console/packages/starwhale-core/src/utils/useForceUpdate.tsx
  console/packages/starwhale-core/src/widget/BaseWidget.tsx
  console/packages/starwhale-core/src/widget/WidgetFactoryRegister.tsx
  console/packages/starwhale-core/src/widget/WidgetModel.ts
  console/packages/starwhale-core/src/widget/WidgetPlugin.tsx
  console/packages/starwhale-core/src/widget/WidgetRenderTree.tsx
  console/packages/starwhale-core/src/widget/withWidgetDynamicProps.tsx
  console/packages/starwhale-ui/package.json
  console/packages/starwhale-ui/src/form/widgets/SelectWidget/index.tsx
  console/packages/starwhale-widgets/package.json
  console/packages/starwhale-widgets/src/DNDListWidget/index.tsx
  console/packages/starwhale-widgets/src/PanelConfusionMatrixWidget/index.tsx
  console/packages/starwhale-widgets/src/PanelRocAucWidget/index.tsx
  console/packages/starwhale-widgets/src/PanelTableWidget/index.tsx
  console/packages/starwhale-widgets/src/SectionWidget/index.tsx
  console/src/components/Editor/index.tsx
  console/src/domain/datastore/hooks/useParseDatastore.ts
  console/yarn.lock
Labels: feature ✨, console 🎨

#1564 fix(sdk): metric roc_aoc log error
  client/starwhale/api/_impl/metric.py
  client/tests/sdk/test_metric.py
Labels: bug 🐛

#1563 fix(controller): refactor and fix bugs for job-dataset version
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetController.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/bo/DatasetObject.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/bo/DatasetVersion.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/converter/DatasetBoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/mapper/DatasetVersionMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/po/DatasetVersionEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/upload/DatasetUploader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/upload/DatasetVersionWithMetaConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/upload/HotDatasetHolder.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/upload/HotDatasetLoader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/upload/bo/DatasetVersionWithMeta.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/converter/JobBoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/converter/JobConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/mapper/JobDatasetVersionMapper.java
  server/controller/src/main/resources/mapper/JobDatasetVersionMapper.xml
  server/controller/src/test/java/ai/starwhale/mlops/api/DatasetControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetDaoTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetUploaderTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/HotDatasetHolderTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobBoConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/converter/JobConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/mapper/JobDatasetVersionMapperTest.java
Labels: bug 🐛, controller 🏘️, e2e

#1552 ci: e2e support all examples
  .github/workflows/client.yaml
  .github/workflows/e2e-test.yml
  client/starwhale/api/_impl/job.py
  client/starwhale/base/view.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/view.py
  client/starwhale/core/eval/view.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/view.py
  client/tests/core/test_runtime.py
  docker/Dockerfile.base_e2e
  example/PennFudanPed/Makefile
  example/PennFudanPed/model.yaml
  example/PennFudanPed/requirements.txt
  example/cifar10/Makefile
  example/cifar10/dataset.yaml
  example/cifar10/model.yaml
  example/cifar10/requirements.txt
  example/mnist/Makefile
  example/mnist/mnist/dataset.py
  example/mnist/models/mnist_cnn.pt
  example/nmt/Makefile
  example/nmt/dataset.yaml
  example/nmt/requirements.txt
  example/runtime/pytorch-e2e/requirements-sw-lock.txt
  example/runtime/pytorch-e2e/runtime.yaml
  example/speech_command/Makefile
  example/speech_command/dataset.yaml
  example/speech_command/model.yaml
  example/speech_command/sc/dataset.py
  example/text_cls_AG_NEWS/Makefile
  example/text_cls_AG_NEWS/dataset.yaml
  example/text_cls_AG_NEWS/model.yaml
  example/ucf101/Makefile
  example/ucf101/requirements-sw-lock.txt
  example/ucf101/requirements.txt
  example/ucf101/runtime.yaml
  scripts/client_test/cli_test.py
  scripts/client_test/cli_test.sh
  scripts/client_test/cmds/artifacts_cmd.py
  scripts/client_test/cmds/eval_cmd.py
  scripts/client_test/cmds/instance_cmd.py
  scripts/client_test/step_specs/step_spec_cpu_full.yaml
  scripts/client_test/step_specs/step_spec_cpu_mini.yaml
  scripts/client_test/step_specs/step_spec_gpu_full.yaml
  scripts/client_test/update_controller_setting.sh
  scripts/e2e_test/docker/Dockerfile.e2e
  scripts/e2e_test/start_test.sh
  scripts/example/runtime.yaml
  scripts/publish/pub.sh
Labels: e2e

#1568 optimize(console): support dnd list, panel chart responsive etc
  console/package.json
  console/packages/starwhale-core/package.json
  console/packages/starwhale-core/src/events/common.ts
  console/packages/starwhale-core/src/store/store.ts
  console/packages/starwhale-core/src/types/index.ts
  console/packages/starwhale-core/src/utils/replacer.ts
  console/packages/starwhale-core/src/widget/WidgetRenderTree.tsx
  console/packages/starwhale-core/src/widget/withWidgetDynamicProps.tsx
  console/packages/starwhale-ui/package.json
  console/packages/starwhale-ui/src/IconFont/empty-chart.svg
  console/packages/starwhale-ui/src/IconFont/index.tsx
  console/packages/starwhale-widgets/package.json
  console/packages/starwhale-widgets/src/DNDListWidget/index.tsx
  console/packages/starwhale-widgets/src/PanelRocAucWidget/index.tsx
  console/packages/starwhale-widgets/src/SectionWidget/component/SectionAccordionPanel.tsx
  console/packages/starwhale-widgets/src/SectionWidget/component/SectionPopover.tsx
  console/packages/starwhale-widgets/src/SectionWidget/index.tsx
  console/src/assets/empty-chart.svg
  console/src/components/BusyLoaderWrapper/BusyPlaceholder.tsx
  console/src/components/IconFont/index.tsx
  console/src/components/Indicator/PlotlyVisualizer.tsx
  console/src/components/Indicator/utils.ts
  console/src/domain/datastore/hooks/useParseDatastore.ts
  console/src/pages/Dataset/DatasetVersionOverviewFilePreview.tsx
  console/yarn.lock
Labels: enhancement ❤️, console 🎨
