Repository star-whale/starwhale, pull requests merged in 2022-12, with the labels that each got.

#1571 fix(controller): e2e test for remove/recover trash and fix bug
  scripts/apitest/pytest/test_trash.py
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/mapper/DatasetMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/po/DatasetEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/mapper/ModelMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/po/ModelEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/mapper/RuntimeMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/po/RuntimeEntity.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetDaoTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/mapper/DatasetMapperTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelDaoTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/mapper/ModelMapperTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeDaoTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/mapper/RuntimeMapperTest.java
Labels: bug 🐛, controller 🏘️, e2e

#1574 chore(ci): upgrade mypy, prevent numpy lint error in python ver 3.10.7+
  .github/workflows/client.yaml
  client/requirements-dev.txt
Labels: chore 🛎️, ci 🕹️

#1569 feat(sdk): allow json like dict passed as dataset annotation
  client/starwhale/core/dataset/tabular.py
  client/starwhale/core/dataset/type.py
  client/tests/core/test_dataset.py
  client/tests/sdk/test_dataset.py
  console/src/components/Viewer/ImageViewer.tsx
  console/src/components/Viewer/utils.ts
  console/src/domain/dataset/sdk.ts
  example/datasets/coco/dataset.py
  example/datasets/coco/example.py
  scripts/client_test/cli_test.py
  scripts/client_test/cmds/eval_cmd.py
Labels: enhancement ❤️, dataset🐫, e2e

#1572 fix(client): prevent module cache and confliction
  client/starwhale/core/model/model.py
  scripts/example/dataset.yaml
  scripts/example/model.yaml
  scripts/example/src/__init__.py
  scripts/example/src/dataset.py
  scripts/example/src/evaluator.py
Labels: chore 🛎️

#1579 fix(server): lock ut error
  server/controller/src/test/java/ai/starwhale/mlops/common/KeyLockTest.java
Labels: bug 🐛

#1556 chore: multiple logs for task
  console/src/pages/Job/JobTasks.tsx
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/watchers/TaskWatcherForLogging.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/watchers/log/TaskLogK8sCollector.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sClient.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/PodEventHandler.java
  server/controller/src/main/resources/template/job.yaml
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TaskWatcherForLoggingTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/log/TaskLogK8sCollectorTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sTaskSchedulerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/PodEventHandlerTest.java
Labels: chore 🛎️

#1554 feat(sdk): support pythonic dataset sdk
  client/starwhale/__init__.py
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/dataset/__init__.py
  client/starwhale/api/_impl/dataset/builder.py
  client/starwhale/api/_impl/dataset/loader.py
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/api/_impl/model.py
  client/starwhale/api/_impl/wrapper.py
  client/starwhale/api/dataset.py
  client/starwhale/base/bundle.py
  client/starwhale/base/cloud.py
  client/starwhale/base/tag.py
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/store.py
  client/starwhale/core/dataset/tabular.py
  client/starwhale/core/dataset/type.py
  client/starwhale/core/dataset/view.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/view.py
  client/starwhale/utils/load.py
  client/tests/base/test_tag.py
  client/tests/core/test_dataset.py
  client/tests/core/test_model.py
  client/tests/core/test_runtime.py
  client/tests/sdk/test_data_store.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
  client/tests/sdk/test_loader.py
  client/tests/sdk/test_metric.py
  scripts/client_test/cmds/artifacts_cmd.py
Labels: feature ✨, sdk 🐶, e2e

#1565 feat(sdk): support online serving
  client/setup.py
  client/starwhale/api/_impl/model.py
  client/starwhale/api/_impl/service.py
  client/starwhale/api/service.py
  client/starwhale/consts/__init__.py
  client/starwhale/core/dataset/type.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/tests/core/test_model.py
  client/tests/data/sdk/service/custom_class.py
  client/tests/data/sdk/service/custom_service.py
  client/tests/data/sdk/service/default_class.py
  client/tests/sdk/test_service.py
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/model.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/sdk/evaluation.md
  example/mnist/mnist/custom_evaluator.py
  example/mnist/mnist/evaluator.py
Labels: feature ✨, sdk 🐶

#1580 chore(sdk): fix dataset sdk test more stable
  client/starwhale/api/_impl/dataset/builder.py
  client/tests/sdk/test_dataset_sdk.py
Labels: ci 🕹️, dataset🐫

#1582 chore(ci): disable useless git lfs config
  .github/workflows/client.yaml
  .gitignore
Labels: chore 🛎️, ci 🕹️

#1576 feat: add export api to datastore query api
  server/controller/pom.xml
  server/controller/src/main/java/ai/starwhale/mlops/api/DataStoreApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/DataStoreController.java
  server/controller/src/main/java/ai/starwhale/mlops/configuration/security/ProjectNameExtractorDataStoreMixed.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/exporter/RecordsExporter.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/exporter/RecordsExporterCsv.java
  server/controller/src/test/java/ai/starwhale/mlops/api/DataStoreControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/exporter/RecordsExporterCsvTest.java
  server/pom.xml
Labels: feature ✨

#1573 feat(model): split model file from tar to dir
  client/starwhale/base/bundle_copy.py
  client/starwhale/base/cloud.py
  client/starwhale/consts/__init__.py
  client/starwhale/core/dataset/copy.py
  client/starwhale/core/eval/executor.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/copy.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/store.py
  client/starwhale/core/model/view.py
  client/tests/base/test_copy.py
  client/tests/core/test_executor.py
  client/tests/core/test_model.py
  docs/docs/reference/cli/basic.md
  docs/docs/reference/cli/model.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/model.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/cli/model.md
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ModelApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ModelController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/dataset/upload/DatasetUploadRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/model/FileType.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/model/ModelUploadRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/model/ModelUploadResult.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/upload/UploadHeader.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/upload/UploadPhase.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/upload/UploadRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/upload/UploadResult.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/upload/DatasetUploader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/bo/MetaInfo.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/mapper/ModelVersionMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/po/ModelVersionEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/storage/StoragePathCoordinator.java
  server/controller/src/main/resources/db/migration/v0_3_2/V0_3_2_005__add_model_status.sql
  server/controller/src/test/java/ai/starwhale/mlops/api/DatasetControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/api/ModelControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetUploaderTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelServiceTest.java
Labels: feature ✨, break-change 💔, e2e

#1570 feat(sdk): support convert starwhale dataset to pytorch dataset
  client/Makefile
  client/requirements-dev.txt
  client/setup.py
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/core/dataset/type.py
  client/starwhale/integrations/__init__.py
  client/starwhale/integrations/pytorch/__init__.py
  client/starwhale/integrations/pytorch/common.py
  client/starwhale/integrations/pytorch/dataset.py
  client/starwhale/utils/error.py
  client/tests/data/simple.wav
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
  docker/Dockerfile.base
  docker/Makefile
Labels: feature ✨, sdk 🐶, dataset🐫

#1586 chore(ci): remove useless lfs for ci
  .github/workflows/console.yml
  .github/workflows/e2e-test.yml
  client/starwhale/core/dataset/store.py
  console/src/api/ApiHeader.tsx
Labels: chore 🛎️, ci 🕹️, e2e

#1585 optimize(console): dataset layout & fullscreen
  console/packages/starwhale-core/src/form/WidgetPreviewModal.tsx
  console/src/components/Viewer/ImageGrayscaleViewer.tsx
  console/src/components/Viewer/ZoomWrapper.tsx
  console/src/pages/Dataset/DatasetVersionOverviewFilePreview.tsx
  console/src/pages/Dataset/DatasetVersionOverviewFiles.tsx
  console/tsconfig.base.json
Labels: enhancement ❤️, console 🎨

#1588 chore(docker): upgrade docker base image for python3.11
  docker/Dockerfile.base
  docker/Makefile
Labels: dependencies 🎢, ci 🕹️, docker 🗃️

#1589 chore(ci): fix python3.10-3.11 pip install issue
  docker/Dockerfile.base
Labels: chore 🛎️, ci 🕹️, docker 🗃️

#1587 chore: add remove e2e test script
  scripts/e2e_test/remove_test_env.sh
Labels: chore 🛎️

#1593 bug: fix E2E fail occasionally with s3 client creation error
  client/starwhale/api/_impl/dataset/loader.py
  client/starwhale/core/dataset/store.py
Labels: bug 🐛, e2e

#1595 bug(sdk): fix dataset create cache issue from existed dataset
  client/Makefile
  client/starwhale/core/dataset/tabular.py
  client/tests/sdk/test_dataset_sdk.py
Labels: bug 🐛, sdk 🐶, dataset🐫

#1592 fix(ci): make test of dataset stable
  client/starwhale/utils/fs.py
  client/tests/sdk/test_base.py
Labels: chore 🛎️, ci 🕹️

#1590 feat(sdk): support generating openAPI spec
  client/requirements-dev.txt
  client/setup.py
  client/starwhale/api/_impl/model.py
  client/starwhale/api/_impl/service.py
  client/starwhale/api/service.py
  client/starwhale/base/spec/__init__.py
  client/starwhale/base/spec/openapi/__init__.py
  client/starwhale/base/spec/openapi/components.py
  client/starwhale/core/dataset/type.py
  client/starwhale/core/model/model.py
  client/tests/core/test_model.py
  client/tests/data/sdk/service/custom_class.py
  client/tests/data/sdk/service/custom_service.py
  client/tests/data/sdk/service/default_class.py
  client/tests/sdk/test_service.py
  example/mnist/mnist/custom_evaluator.py
  example/mnist/mnist/evaluator.py
Labels: feature ✨, sdk 🐶

#1604 chore(client): detect starwhale version when build runtime
  client/starwhale/core/runtime/model.py
  client/tests/core/test_runtime.py
Labels: chore 🛎️, client 🌈

#1584 deps(client): client/sdk supports python3.11
  .github/workflows/client.yaml
  .github/workflows/e2e-test.yml
  client/setup.py
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/dataset/builder.py
  client/starwhale/core/runtime/model.py
  client/tests/sdk/test_dataset.py
Labels: chore 🛎️, dependencies 🎢, sdk 🐶, client 🌈, e2e

#1607 chore(docker): install the correct starwhale version when startup
  client/scripts/sw-docker-entrypoint
  client/starwhale/cli/__init__.py
Labels: chore 🛎️, docker 🗃️

#1617 bug(docker): fix sw-docker-entrypoint typo for python3.11
  client/scripts/sw-docker-entrypoint
Labels: bug 🐛, docker 🗃️

#1605 feat(client): add model diff for client
  client/starwhale/consts/__init__.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/starwhale/utils/fs.py
  client/tests/core/test_model.py
  client/tests/data/model/base_manifest.yaml
  client/tests/data/model/compare_manifest.yaml
  client/tests/utils/test_fs.py
  docs/docs/img/model-diff.png
  docs/docs/reference/cli/model.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/model.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/cli/model.md
Labels: feature ✨

#1620 chore(client): update python require for client
  client/setup.py
Labels: chore 🛎️, client 🌈

#1591 feat(model): add model diff api for server
  client/starwhale/core/model/model.py
  server/controller/src/main/java/ai/starwhale/mlops/api/ModelApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ModelController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/dataset/DatasetInfoVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/model/ModelInfoVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/runtime/RuntimeInfoVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/storage/FileDesc.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/storage/FileNode.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/storage/FlattenFileVo.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/storage/MetaInfo.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/storage/StorageService.java
  server/controller/src/test/java/ai/starwhale/mlops/api/ModelControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/storage/FileNodeTest.java
Labels: feature ✨, break-change 💔, e2e

#1612 feat(sdk): expand first level of annotations
  client/starwhale/core/dataset/tabular.py
  client/tests/sdk/test_dataset.py
  console/src/domain/dataset/sdk.ts
Labels: client 🌈, e2e

#1606 feat(sdk): support cloud remote dataset build by dataset sdk
  client/starwhale/api/_impl/dataset/builder.py
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/api/_impl/wrapper.py
  client/starwhale/base/bundle_copy.py
  client/starwhale/core/dataset/copy.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/tabular.py
  client/starwhale/core/model/copy.py
  client/tests/sdk/test_dataset_sdk.py
Labels: feature ✨, sdk 🐶, dataset🐫

#1618 feat(client): support owner:project instead of project name in uri
  client/starwhale/base/uri.py
  client/starwhale/cli/board/project_tree.py
  client/starwhale/core/project/view.py
  client/tests/base/test_uri.py
Labels: client 🌈

#1594 feat(sdk): support to conver starwhale dataset to tensorflow dataset
  client/requirements-dev.txt
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/core/dataset/tabular.py
  client/starwhale/core/dataset/type.py
  client/starwhale/integrations/tensorflow/__init__.py
  client/starwhale/integrations/tensorflow/dataset.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
Labels: feature ✨, dataset🐫

#1613 feat(runtime): support render runtime.yaml in the build runtime progress
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/view.py
  client/tests/core/test_runtime.py
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/cli/runtime.md
Labels: feature ✨, runtime🐌

#1623 fix(model): file desc typo
  client/starwhale/base/bundle_copy.py
  client/starwhale/consts/__init__.py
  client/starwhale/core/dataset/copy.py
  client/starwhale/core/model/copy.py
  client/starwhale/core/model/model.py
  client/tests/base/test_copy.py
  client/tests/core/test_model.py
  client/tests/data/model/base_manifest.yaml
  client/tests/data/model/compare_manifest.yaml
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/storage/FileDesc.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/storage/FileNode.java
Labels: bug 🐛, e2e

#1610 feat(cli): model eval command support use-docker flag
  client/scripts/sw-docker-entrypoint
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/view.py
  client/starwhale/utils/docker.py
  client/tests/core/test_model.py
  client/tests/utils/test_docker.py
  docs/docs/reference/cli/model.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/cli/model.md
Labels: feature ✨, client 🌈

#1630 chore(test): fix tensoflow ut for numpy 1.24.0 version upgration
  client/tests/sdk/test_dataset_sdk.py
Labels: chore 🛎️

#1629 fix(controller):tune consumption default value to false for param 'isSerial'
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/dataset/dataloader/DataConsumptionRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/DataReadManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/DataReadRequest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/dataloader/ReadRangeTest.java
Labels: dataset🐫, e2e

#1632 feat(console): support model diff
  console/src/domain/model/hooks/useFetchModelVersionDiff.ts
  console/src/domain/model/hooks/useModelVersion.ts
  console/src/domain/model/services/modelVersion.ts
  console/src/i18n/locales.ts
  console/src/pages/Model/ModelOverviewLayout.tsx
  console/src/pages/Model/ModelVersionOverview.tsx
  console/src/pages/Model/ModelVersionOverviewFiles.tsx
Labels: feature ✨, console 🎨

#1621 fix(controller): return 404 when the resource is not found for all of api
  server/controller/src/main/java/ai/starwhale/mlops/api/RuntimeApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/RuntimeController.java
  server/controller/src/main/java/ai/starwhale/mlops/configuration/CommonExceptionHandler.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/BundleManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/java/ai/starwhale/mlops/exception/SwNotFoundException.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/project/ProjectManagerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/project/ProjectServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeServiceTest.java
Labels: controller 🏘️

#1634 chore(test): make dataset sdk test stable for the parallel setitem case
  client/tests/sdk/test_dataset_sdk.py
Labels: chore 🛎️, client 🌈

#1626 example(dataset): add culane dataset
  example/datasets/culane/README.md
  example/datasets/culane/dataset.py
  example/datasets/culane/example.py
Labels: dataset🐫

#1631 example(dataset): add caltech-101 dataset
  example/datasets/caltech_101/README.md
  example/datasets/caltech_101/dataset.py
  example/datasets/caltech_101/example.py
Labels: example 🚕

#1635 chore(sdk): add swagger ui for model serving apis
  client/starwhale/api/_impl/service.py
Labels: chore 🛎️, sdk 🐶

#1625 example(dataset): add image net dataset
  example/datasets/image_net/README.md
  example/datasets/image_net/dataset.py
  example/datasets/image_net/example.py
  example/datasets/image_net/requirements.txt
Labels: example 🚕

#1640 chore(client): runtime building support no-cache option
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/view.py
  client/tests/core/test_runtime.py
Labels: chore 🛎️, client 🌈

#1633 enhance(sdk): tune dataloader performance with data prefetch
  client/starwhale/api/_impl/dataset/loader.py
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/core/dataset/model.py
  client/tests/sdk/test_dataset_sdk.py
  client/tests/sdk/test_loader.py
  client/tests/sdk/test_service.py
Labels: enhancement ❤️, sdk 🐶

#1639 example(dataset): add celeba-align example & tune summary.rows when building with icode
  client/starwhale/__init__.py
  client/starwhale/api/_impl/dataset/__init__.py
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/api/dataset.py
  client/starwhale/core/dataset/type.py
  client/tests/core/test_dataset.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
  example/datasets/celeba/README.md
  example/datasets/celeba/dataset.py
  example/datasets/celeba/example.py
Labels: example 🚕

#1644 example(dataset): add fer2013 dataset
  example/datasets/fer2013/README.md
  example/datasets/fer2013/dataset.py
  example/datasets/fer2013/example.py
Labels: example 🚕

#1643 example(dataset): add eurosat dataset
  example/datasets/eurosat/README.md
  example/datasets/eurosat/dataset.py
  example/datasets/eurosat/example.py
Labels: example 🚕

#1642 example(dataset): add dtd dataset
  example/datasets/dtd/README.md
  example/datasets/dtd/dataset.py
  example/datasets/dtd/example.py
Labels: example 🚕

#1641 example(dataset): add country211 dataset
  example/datasets/country211/README.md
  example/datasets/country211/dataset.py
  example/datasets/country211/example.py
Labels: example 🚕

#1653 feat: add support for controller to get http uri content
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/objectstore/DsFileGetter.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/objectstore/DsFileGetterTest.java
Labels: feature ✨

#1655 fix(controller): internal exception when the project does not exist
  scripts/apitest/pytest/test_project.py
  server/controller/src/main/java/ai/starwhale/mlops/configuration/security/JwtTokenFilter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/mapper/ProjectMapper.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/project/ProjectManagerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/project/ProjectServiceTest.java
Labels: e2e

#1648 example(dataset): add flickr8k dataset
  example/datasets/flickr8k/README.md
  example/datasets/flickr8k/dataset.py
  example/datasets/flickr8k/example.py
Labels: example 🚕

#1649 example(dataset): add GTSRB dataset
  client/starwhale/core/dataset/type.py
  example/datasets/gtsrb/README.md
  example/datasets/gtsrb/dataset.py
  example/datasets/gtsrb/example.py
Labels: example 🚕

#1651 example(dataset): add LFW dataset
  example/datasets/lfw/README.md
  example/datasets/lfw/dataset.py
  example/datasets/lfw/example.py
Labels: example 🚕

#1647 feat(controller): support proxying to the serving model workload
  server/controller/src/main/java/ai/starwhale/mlops/common/ProxyServlet.java
  server/controller/src/main/java/ai/starwhale/mlops/configuration/ProxyServletConfiguration.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/ModelServingService.java
  server/controller/src/test/java/ai/starwhale/mlops/common/ProxyServletTest.java
Labels: feature ✨, controller 🏘️

#1654 example(dataset): add iNaturalist dataset
  example/datasets/iNaturalist/README.md
  example/datasets/iNaturalist/dataset.py
  example/datasets/iNaturalist/example.py
Labels: example 🚕

#1659 chore(sdk): support base uri for serving behind controller gateway
  client/starwhale/api/_impl/service.py
  server/controller/src/main/java/ai/starwhale/mlops/common/ProxyServlet.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/ModelServingService.java
  server/controller/src/test/java/ai/starwhale/mlops/common/ProxyServletTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/ModelServingServiceTest.java
Labels: chore 🛎️, sdk 🐶, controller 🏘️

#1664 example(dataset): add oxfordIIITPet dataset
  example/datasets/oxfordIIITPet/README.md
  example/datasets/oxfordIIITPet/dataset.py
  example/datasets/oxfordIIITPet/example.py
Labels: example 🚕

#1660 example(dataset): add stanford_cars dataset
  example/datasets/stanford_cars/README.md
  example/datasets/stanford_cars/dataset.py
  example/datasets/stanford_cars/example.py
Labels: example 🚕

#1663 fix(datastore): add limit for datastore query api
  server/controller/src/main/java/ai/starwhale/mlops/datastore/DataStore.java
Labels: bug 🐛

#1652 example(dataset): add viewer support for coco dataset
  example/datasets/coco/dataset.py
Labels: example 🚕

#1658 example(dataset): add SVHN dataset
  example/datasets/svhn/README.md
  example/datasets/svhn/dataset.py
  example/datasets/svhn/example.py
  example/datasets/svhn/requirements.txt
Labels: example 🚕

#1665 example(dataset): add wider face dataset
  example/datasets/wider_face/README.md
  example/datasets/wider_face/dataset.py
  example/datasets/wider_face/example.py
Labels: example 🚕

#1669 example(dataset): add cityscapes_person dataset
  example/datasets/citycapes/person_bbox/README.md
  example/datasets/citycapes/person_bbox/dataset.py
  example/datasets/citycapes/person_bbox/example.py
  example/datasets/iNaturalist/dataset.py
Labels: example 🚕

#1666 example(dataset): add sbd dataset
  example/datasets/sbd/README.md
  example/datasets/sbd/dataset.py
  example/datasets/sbd/example.py
Labels: example 🚕

#1673 chore(ut): fix dataset flush test unstable issue
  client/.coveragerc
  client/tests/sdk/test_dataset.py
Labels: chore 🛎️, client 🌈

#1676 refactor(console): evalution list/compare/results by only datastore api
  console/packages/starwhale-ui/src/GridTable/GridTable.tsx
  console/packages/starwhale-ui/src/GridTable/StoreContext.tsx
  console/packages/starwhale-ui/src/GridTable/hooks/useDatastoreColumns.tsx
  console/packages/starwhale-ui/src/GridTable/types.ts
  console/packages/starwhale-ui/src/base/data-table/config-manage-columns.tsx
  console/packages/starwhale-widgets/src/SectionWidget/index.tsx
  console/src/components/AutoResizer/GridResizer.tsx
  console/src/components/Indicator/SummaryIndicator.tsx
  console/src/components/Modal/confirm.tsx
  console/src/pages/Evaluation/EvaluationListCard.tsx
  console/src/pages/Evaluation/EvaluationListCompare.tsx
  console/src/pages/Evaluation/EvaluationOverviewLayout.tsx
  console/src/pages/Evaluation/EvaluationWidgetResults.tsx
  console/src/utils/datetime.ts
Labels: refactor 🐛, console 🎨

#1678 fix(example): speech example dim bug
  example/speech_command/sc/evaluator.py
Labels: bug 🐛, example 🚕

#1674 chore: add starwhale.Line type; use starwhale.Line in culane dataset
  client/starwhale/__init__.py
  client/starwhale/api/_impl/dataset/__init__.py
  client/starwhale/api/dataset.py
  client/starwhale/core/dataset/type.py
  client/tests/core/test_dataset.py
  example/datasets/culane/README.md
  example/datasets/culane/dataset.py
  example/datasets/culane/example.py
Labels: chore 🛎️, dataset🐫

#1675 fix: typo in storage path(citycapes -> cityscapes)
  example/datasets/citycapes/person_bbox/dataset.py
Labels: chore 🛎️

#1679 fix(example): speech error
  example/speech_command/sc/evaluator.py
Labels: bug 🐛

#1680 chore(test): fix dataset loader test unstable issue
  client/tests/sdk/test_dataset_sdk.py
Labels: chore 🛎️, client 🌈

#1681 chore(controller): return 502 instead of 500 when online eval service is unavailable
  server/controller/src/main/java/ai/starwhale/mlops/common/ProxyServlet.java
Labels: chore 🛎️, controller 🏘️

#1677 feat(sdk): use gradio as server
  client/setup.py
  client/starwhale/api/_impl/service.py
  client/starwhale/api/service.py
  client/starwhale/base/spec/__init__.py
  client/starwhale/base/spec/openapi/__init__.py
  client/starwhale/base/spec/openapi/components.py
  client/starwhale/core/dataset/type.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/tests/core/test_model.py
  client/tests/data/sdk/service/custom_class.py
  client/tests/data/sdk/service/custom_service.py
  client/tests/data/sdk/service/default_class.py
  client/tests/sdk/test_service.py
  example/mnist/mnist/custom_evaluator.py
  example/mnist/mnist/evaluator.py
Labels: chore 🛎️, sdk 🐶

#1683 feat(controller): add filter params to controller list apis
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ModelApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ModelController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/RuntimeApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/RuntimeController.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/bo/DatasetQuery.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/mapper/DatasetMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/bo/ModelQuery.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/mapper/ModelMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/bo/RuntimeQuery.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/mapper/RuntimeMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/user/UserService.java
  server/controller/src/test/java/ai/starwhale/mlops/api/DatasetControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/api/ModelControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/api/RuntimeControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/mapper/DatasetMapperTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/mapper/ModelMapperTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/mapper/RuntimeMapperTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/user/UserServiceTest.java
Labels: controller 🏘️

#1670 example(dataset): add cityscapes_fine dataset
  client/starwhale/__init__.py
  client/starwhale/api/_impl/dataset/__init__.py
  client/starwhale/api/dataset.py
  client/starwhale/core/dataset/type.py
  client/tests/core/test_dataset.py
  example/datasets/cityscapes/fine/README.md
  example/datasets/cityscapes/fine/dataset.py
  example/datasets/cityscapes/fine/example.py
  example/datasets/cityscapes/person_bbox/README.md
  example/datasets/cityscapes/person_bbox/dataset.py
  example/datasets/cityscapes/person_bbox/example.py
Labels: example 🚕

#1684 chore(example): model serving demo for pfp
  client/starwhale/api/_impl/service.py
  example/PennFudanPed/pfp/evaluator.py
Labels: chore 🛎️, example 🚕

#1685 chore(client): rename svc.yaml to svc.json for console usage
  client/starwhale/consts/__init__.py
  client/starwhale/core/model/model.py
Labels: chore 🛎️, client 🌈
