Repository star-whale/starwhale, pull requests merged in 2023-09, with the labels that each got.

#2694 fix(controller): resume can not work if delay deletion is configured
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobServiceForWeb.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/cache/JobLoader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/bo/Task.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/docker/ContainerTaskMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/docker/SwTaskSchedulerDocker.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/docker/reporting/DockerTaskReporter.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/JobEventHandler.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/K8sJobTemplate.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/K8sSwTaskScheduler.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/Util.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/reporting/PodEventHandler.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/reporting/ReportedTask.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/reporting/SimpleTaskReportReceiver.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobLoaderTest.java
  server/controller/src/test/java/ai/starwhale/mlops/reporting/TaskReportReceiverImpTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/impl/k8s/K8sSwTaskSchedulerTest.java
Labels: bug 🐛, controller 🏘️

#2696 fix(console): cache selected record in case of data missing when pagination
  console/packages/starwhale-ui/src/GridTable/GridCombineTable.tsx
  console/packages/starwhale-ui/src/GridTable/GridTable.tsx
  console/packages/starwhale-ui/src/GridTable/hooks/useGridSelection.ts
  console/packages/starwhale-ui/src/GridTable/store/StoreUpdater/index.tsx
  console/packages/starwhale-ui/src/GridTable/store/store.ts
  console/packages/starwhale-ui/src/GridTable/types.ts
Labels: hotfix 🔥, console 🎨

#2697 chore(controller): show the exception of cmdline runner
  server/controller/src/main/java/ai/starwhale/mlops/StarwhaleControllerApplication.java
Labels: chore 🛎️, controller 🏘️

#2653 feat(SDK): add Job SDK
  client/starwhale/__init__.py
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/evaluation.py
  client/starwhale/api/_impl/job/__init__.py
  client/starwhale/api/_impl/job/handler.py
  client/starwhale/api/_impl/job/model.py
  client/starwhale/api/_impl/wrapper.py
  client/starwhale/api/job.py
  client/starwhale/base/cloud.py
  client/starwhale/base/scheduler/step.py
  client/starwhale/base/uri/resource.py
  client/starwhale/consts/__init__.py
  client/starwhale/core/job/model.py
  client/starwhale/core/job/view.py
  client/starwhale/core/model/model.py
  client/starwhale/web/data_store.py
  client/tests/core/test_eval.py
  client/tests/core/test_model.py
  client/tests/sdk/test_data_store.py
  client/tests/sdk/test_evaluation.py
  client/tests/sdk/test_job_handler.py
  client/tests/sdk/test_job_sdk.py
  client/tests/sdk/test_metric.py
  client/tests/sdk/test_wrapper.py
  client/tests/web/test_server.py
  example/nmt/nmt/evaluator.py
Labels: feature ✨, sdk 🐶, e2e

#2698 fix(client): flush of dataset may stuck after putting failed
  client/starwhale/api/_impl/dataset/builder/mapping_builder.py
Labels: bug 🐛, ci 🕹️, client 🌈

#2700 update(console): decrease page size, min width for ploty chart
  console/packages/starwhale-core/src/form/WidgetFormModal.tsx
  console/packages/starwhale-core/src/widget/withWidgetDynamicProps.tsx
  console/packages/starwhale-ui/src/Plotly/PlotlyViewer.tsx
  console/src/hooks/usePage.ts
  console/src/pages/Evaluation/EvaluationListResult.tsx
  console/src/pages/Model/ModelListCard.tsx
Labels: console 🎨

#2702 chore(ci): workaround for lfs quote issue to move dummy example lib to other repo
  client/pyproject.toml
  example/runtime/pytorch/dummy/Makefile
  example/runtime/pytorch/dummy/dummy/__init__.py
  example/runtime/pytorch/dummy/setup.py
  scripts/example/runtime_conda.yaml
Labels: chore 🛎️

#2706 update(console): new pagination ui & fix export without schema & grid table with tuple schema
  console/packages/starwhale-core/src/datastore/__tests__/model.test.ts
  console/packages/starwhale-core/src/datastore/model.ts
  console/packages/starwhale-core/src/widget/withWidgetDynamicProps.tsx
  console/packages/starwhale-ui/src/GridTable/Pagination.tsx
  console/packages/starwhale-ui/src/GridTable/components/Pagination/AutoPagination.tsx
  console/packages/starwhale-ui/src/Pagination/Pagination.tsx
  console/packages/starwhale-ui/src/Pagination/index.tsx
  console/packages/starwhale-ui/src/TiptapEditor/extensions/EvalSelectPanelExtension.tsx
  console/src/components/Table/index.tsx
  console/src/i18n/locales.ts
Labels: chore 🛎️, console 🎨

#2708 update(console): report readonly mode remove edit actions
  console/packages/starwhale-core/src/types/index.ts
  console/packages/starwhale-core/src/widget/withWidgetDynamicProps.tsx
  console/packages/starwhale-ui/src/GridTable/store/StoreUpdater/index.tsx
  console/packages/starwhale-ui/src/GridTable/types.ts
  console/packages/starwhale-ui/src/base/data-table/headers/header-bar.tsx
  console/packages/starwhale-ui/src/base/data-table/headers/header-cell.tsx
  console/packages/starwhale-widgets/src/PanelTableWidget/index.tsx
  console/packages/starwhale-widgets/src/SectionWidget/component/SectionAccordionPanel.tsx
  console/packages/starwhale-widgets/src/SectionWidget/index.tsx
  console/src/components/Editor/EvalSelectList.tsx
  console/src/pages/Evaluation/EvaluationWidgetResults.tsx
  console/src/pages/Job/JobWidgetResults.tsx
Labels: hotfix 🔥, console 🎨

#2659 refactor(client): add job manifest model
  client/starwhale/api/_impl/job/model.py
  client/starwhale/base/models/__init__.py
  client/starwhale/base/models/job.py
  client/starwhale/base/scheduler/step.py
  client/starwhale/base/store.py
  client/starwhale/base/view.py
  client/starwhale/core/job/model.py
  client/starwhale/core/job/view.py
  client/starwhale/core/model/model.py
  client/starwhale/utils/__init__.py
  client/tests/core/test_eval.py
  client/tests/core/test_job.py
  client/tests/data/job/job_manifest.yaml
Labels: refactor 🐛, client 🌈, e2e

#2705 example(LLM): add llm leaderboard analysis
  example/llm-leaderboard/runtime-analysis.yaml
  example/llm-leaderboard/src/analysis.py
Labels: example 🚕

#2699 chore(controller): enable compression for web server
  server/controller/src/main/resources/application.yaml
Labels: enhancement ❤️, chore 🛎️

#2703 chore: restore files to git from lfs
  .gitattributes
  .github/workflows/release.yml
  console/index.html
  console/packages/starwhale-ui/src/IconFont/fonts/SourceSansPro-Regular.ttf
  console/packages/starwhale-ui/src/IconFont/fonts/iconfont.css
  console/packages/starwhale-ui/src/IconFont/fonts/iconfont.js
  console/packages/starwhale-ui/src/IconFont/fonts/iconfont.json
  console/packages/starwhale-ui/src/IconFont/fonts/iconfont.ttf
  console/packages/starwhale-ui/src/IconFont/fonts/iconfont.woff
  console/packages/starwhale-ui/src/IconFont/fonts/iconfont.woff2
  console/packages/starwhale-ui/src/IconFont/index.tsx
  console/playwright/example.png
  console/playwright/image-grayscale.png
  console/playwright/tests/user.spec.ts-snapshots/Datasets-Files-should-canvas-render-at-least-one-dataset-1-chromium-linux.png
  console/src/assets/fonts/RobotoMono-Regular.ttf
  console/src/assets/fonts/SourceSansPro-Regular.ttf
  console/src/assets/fonts/iconfont.css
  console/src/assets/fonts/iconfont.js
  console/src/assets/fonts/iconfont.json
  console/src/assets/fonts/iconfont.ttf
  console/src/assets/fonts/iconfont.woff
  console/src/assets/fonts/iconfont.woff2
  console/src/assets/test.jpg
  console/src/styles/_global.scss
  example/PennFudanPed/FudanPed00001.png
Labels: chore 🛎️, e2e

#2701 feat(SDK): PipelineHandler supports replicas and resources spec
  client/starwhale/api/_impl/evaluation.py
  client/starwhale/api/_impl/job/handler.py
  client/tests/sdk/test_job_handler.py
  example/mnist/mnist/evaluator.py
Labels: feature ✨, sdk 🐶, e2e

#2709 chroe: remove lfs files
  example/cifar10/kitty.jpeg
  example/ucf101/taichi.webm
Labels: chore 🛎️

#2712 example: fix mnist memory limit typo
  client/starwhale/api/_impl/evaluation.py
  example/mnist/mnist/evaluator.py
  example/mnist/mnist/plain_evaluator.py
Labels: example 🚕

#2713 example: update mnist memory limit value
  example/mnist/mnist/evaluator.py
  example/mnist/mnist/plain_evaluator.py
Labels: example 🚕

#2714 chore(console): tiptap editor default role caused the internal selector disabled, report preview error, etc
  console/packages/starwhale-core/src/datastore/hooks/useDatastorePage.tsx
  console/packages/starwhale-core/src/store/store.ts
  console/packages/starwhale-ui/src/AutoResizer/GridResizerVertical.tsx
  console/packages/starwhale-ui/src/Pagination/Pagination.tsx
  console/packages/starwhale-ui/src/TiptapEditor/index.tsx
  console/packages/starwhale-widgets/src/SectionWidget/component/ChartConfigGroup.tsx
  console/packages/starwhale-widgets/src/SectionWidget/component/ChartConfigPopover.tsx
  console/packages/starwhale-widgets/src/SectionWidget/index.tsx
  console/src/App.tsx
  console/src/api/Auth.tsx
  console/src/api/index.ts
  console/src/i18n/locales.ts
  console/src/main.tsx
  console/src/pages/Evaluation/EvaluationListCard.tsx
Labels: chore 🛎️, console 🎨

#2715 bug(ci): fix dockerfile name typo
  docker/Makefile
Labels: bug 🐛, ci 🕹️

#2717 example(LLM): support baichuan2 llm models
  example/llm-leaderboard/src/llm/baichuan.py
Labels: example 🚕

#2718 update(console): job overview with actions / disable markdown dark theme
  console/packages/starwhale-ui/src/Markdown/markdown.css
  console/packages/starwhale-ui/src/Text/Text.tsx
  console/src/domain/job/components/JobForm.tsx
  console/src/pages/Evaluation/EvaluationWidgetResults.tsx
  console/src/pages/Job/JobOverview.tsx
Labels: enhancement ❤️, console 🎨

#2723 update(console): mobile experience notice
  console/src/i18n/locales.ts
  console/src/pages/Report/ReportPreview.tsx
Labels: console 🎨

#2719 feat(controller): support set data range in artifact list-view-tree api
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ModelApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ModelController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/RuntimeApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/RuntimeController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/bundle/DataScope.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/test/java/ai/starwhale/mlops/api/DatasetControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/api/ModelControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/api/RuntimeControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeServiceTest.java
Labels: feature ✨, e2e

#2711 feat(client): support custom starwhale version in runtime yaml
  client/starwhale/core/runtime/model.py
  client/starwhale/utils/venv.py
  client/tests/core/test_runtime.py
Labels: bug 🐛, e2e

#2727 refactor(client): parse respone when init
  client/starwhale/api/_impl/job/model.py
  client/starwhale/base/bundle_copy.py
  client/starwhale/base/client/client.py
  client/starwhale/base/cloud.py
  client/starwhale/core/job/model.py
  client/starwhale/core/model/model.py
  client/starwhale/core/project/model.py
Labels: refactor 🐛, client 🌈

#2726 fix(controller): remove not null constraint for job creation
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/job/JobRequest.java
  server/controller/src/test/java/ai/starwhale/mlops/api/protocol/job/JobRequestTest.java
Labels: bug 🐛, controller 🏘️

#2731 chore(SDK): fix job doc typo
  client/starwhale/api/_impl/job/model.py
Labels: doc 📄, sdk 🐶

#2730 enhance(client): optimzie the predict count logging for greater accuracy
  client/starwhale/api/_impl/evaluation.py
Labels: enhancement ❤️, client 🌈

#2729 chore(datastore): remove schema checking when query or scan
  server/controller/src/main/java/ai/starwhale/mlops/datastore/DataStore.java
  server/controller/src/test/java/ai/starwhale/mlops/api/DataStoreControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/DataStoreTest.java
Labels: chore 🛎️, controller 🏘️, datastore 🐇

#2733 fix(controller): restore SQL syntax error with multiQueries is true
  server/controller/src/main/java/ai/starwhale/mlops/backup/db/MysqlBackupService.java
  server/controller/src/test/java/ai/starwhale/mlops/backup/db/MysqlBackupServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/MySqlContainerHolder.java
Labels: bug 🐛

#2738 chore(client): config resource type for runtime uri
  client/starwhale/core/runtime/process.py
Labels: chore 🛎️, client 🌈

#2734 refactor(client): use pydantic model in runtime context
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/base/bundle.py
  client/starwhale/base/client/api/model.py
  client/starwhale/base/client/api/runtime.py
  client/starwhale/base/client/models/models.py
  client/starwhale/base/cloud.py
  client/starwhale/base/models/base.py
  client/starwhale/base/models/dataset.py
  client/starwhale/base/models/job.py
  client/starwhale/base/models/model.py
  client/starwhale/base/models/runtime.py
  client/starwhale/base/uri/instance.py
  client/starwhale/base/uri/project.py
  client/starwhale/base/uri/resource.py
  client/starwhale/base/view.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/view.py
  client/starwhale/core/job/model.py
  client/starwhale/core/job/view.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/view.py
  client/tests/base/test_bundle.py
  client/tests/core/test_dataset.py
  client/tests/core/test_model.py
  client/tests/core/test_runtime.py
  client/tests/sdk/test_dataset_sdk.py
  client/tests/sdk/test_evaluation.py
Labels: refactor 🐛, break-change 💔, client 🌈, e2e

#2744 fix(controller): dataset load with wrong key type
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/DataStoreIndexProvider.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/dataloader/ReadRangeTest.java
Labels: bug 🐛

#2742 fix(console): auto hidden rows when resort with searching
  console/packages/starwhale-ui/src/GridDatastoreTable/components/Preview.tsx
  console/packages/starwhale-ui/src/RJSFForm/widgets/SelectWidget/index.tsx
  console/packages/starwhale-ui/src/Transfer/Transfer.tsx
  console/packages/starwhale-ui/src/Transfer/TransferList.tsx
  console/packages/starwhale-ui/src/utils/useUnsortedSelection.ts
  console/src/pages/Dataset/DatasetOverviewLayout.tsx
  console/src/pages/Model/ModelOverviewLayout.tsx
  console/src/pages/Runtime/RuntimeOverviewLayout.tsx
Labels: hotfix 🔥, console 🎨

#2749 chore(client): support filter with the server api
  client/starwhale/base/client/api/job.py
  client/starwhale/base/client/api/model.py
  client/starwhale/base/client/api/runtime.py
  client/starwhale/base/client/client.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/starwhale/core/runtime/model.py
Labels: chore 🛎️, client 🌈

#2740 example: add huge tasks example
  example/huge-tasks/README.md
  example/huge-tasks/dataset.py
  example/huge-tasks/evaluation.py
  example/huge-tasks/runtime.yaml
  example/huge-tasks/utils.py
Labels: example 🚕

#2746 fix(controller): reset unprocessed data when job is failed
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/dataset/dataloader/DataConsumptionRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/DataLoader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/DataReadManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/DataReadRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/ReadMode.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/dao/DataReadLogDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/dao/SessionDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/mapper/DataReadLogMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/mapper/SessionMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/watchers/TaskWatcherForDataConsumption.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/dataloader/MultiConsumerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/dataloader/ReadRangeTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobUpdateHelperTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TaskWatcherForDataConsumptionTest.java
Labels: bug 🐛, e2e

#2739 refactor(controller): remove interface for api
  server/controller/src/main/java/ai/starwhale/mlops/api/DataStoreApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/DataStoreController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/EnvApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/EnvController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/EvaluationApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/EvaluationController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/FileStorageApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/FileStorageController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/JobApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/JobController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/LogApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/LogController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ModelApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ModelController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ObjectStoreApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ObjectStoreController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/PanelApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/PanelController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ProjectApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ProjectController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ReportApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ReportController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/RuntimeApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/RuntimeController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/SystemApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/SystemController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/TrashApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/TrashController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/UserApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/UserController.java
  server/controller/src/test/java/ai/starwhale/mlops/api/ObjectStoreControllerTest.java
Labels: refactor 🐛, controller 🏘️, e2e

#2751 chore(ci): add open api model test in e2e test
  .github/file-filter.yml
  .github/workflows/e2e-test.yml
  client/starwhale/base/client/models/models.py
  scripts/e2e_test/start_test.sh
Labels: ci 🕹️, e2e

#2756 feat(controller): support event api for job
  client/starwhale/base/client/models/models.py
  server/controller/src/main/java/ai/starwhale/mlops/api/JobController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/event/Event.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/event/EventRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/event/EventVo.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/event/EventConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/event/EventService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/event/mapper/EventMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/event/po/EventEntity.java
  server/controller/src/main/resources/db/migration/v0_4_0/V0_4_0_019__add_event_table.sql
  server/controller/src/test/java/ai/starwhale/mlops/api/JobControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/event/EventServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/event/mapper/EventMapperTest.java
Labels: feature ✨, controller 🏘️

#2757 chore(dataset): fix dataset types default init value issue
  client/starwhale/core/dataset/type.py
  client/tests/sdk/test_dataset.py
Labels: bug 🐛, chore 🛎️, sdk 🐶, dataset🐫

#2763 ci(e2e): add huge-tasks example into e2e
  example/huge-tasks/README.md
  example/huge-tasks/dataset.py
  example/huge-tasks/dataset.yaml
  scripts/client_test/cli_test.py
Labels: ci 🕹️

#2759 chore(client): tune dataset copy progress ui
  client/starwhale/api/_impl/data_store.py
  client/starwhale/base/cloud.py
  client/starwhale/core/dataset/copy.py
Labels: chore 🛎️, client 🌈

#2762 fix(controller): tune data read log table constrain
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/dataset/dataloader/DataConsumptionRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/DataLoader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/DataReadManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/DataReadRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/dao/SessionDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/mapper/DataReadLogMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/mapper/SessionMapper.java
  server/controller/src/main/resources/db/migration/v0_4_0/V0_4_0_020__alter_constraint_for_dataset_read_session.sql
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/dataloader/MultiConsumerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/dataloader/ReadRangeTest.java
Labels: bug 🐛, break-change 💔, e2e

#2754 feat(dataset): support mixed types in the list or tuple for dataset features
  client/starwhale/api/_impl/data_store.py
  client/starwhale/core/dataset/copy.py
  client/starwhale/core/dataset/tabular.py
  client/starwhale/core/dataset/type.py
  client/tests/core/test_dataset.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
Labels: feature ✨, dataset🐫, e2e

#2767 fix(ci): ignore call to untyped function "show" in typed context
  example/mnist/mnist/dataset_read.py
Labels: ci 🕹️

#2768 refactor(controller): make shared boolean
  client/starwhale/base/client/models/models.py
  client/tests/core/test_dataset.py
  console/src/components/Shared.tsx
  console/src/domain/dataset/components/DatasetForm.tsx
  console/src/domain/dataset/schemas/dataset.tsx
  console/src/domain/dataset/schemas/datasetVersion.tsx
  console/src/domain/model/schemas/model.tsx
  console/src/domain/model/schemas/modelVersion.tsx
  console/src/domain/runtime/schemas/runtime.tsx
  console/src/domain/runtime/schemas/runtimeVersion.tsx
  console/src/pages/Dataset/DatasetVersionOverview.tsx
  console/src/pages/Model/ModelVersionOverview.tsx
  console/src/pages/Runtime/RuntimeVersionOverview.tsx
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/dataset/DatasetVersionVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/dataset/DatasetViewVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/model/ModelVersionVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/model/ModelViewVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/runtime/RuntimeVersionVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/runtime/RuntimeViewVo.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/converter/DatasetVersionVoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/converter/ModelVersionVoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/converter/RuntimeVersionConverter.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/converter/DatasetVersionVoConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelVersionConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeVersionConverterTest.java
Labels: refactor 🐛, controller 🏘️

#2769 chore(SDK): remove concurrency in sdk/client side
  client/starwhale/api/_impl/evaluation.py
  client/starwhale/api/_impl/experiment.py
  client/starwhale/api/_impl/job/handler.py
  client/starwhale/base/client/models/models.py
  client/starwhale/base/models/model.py
  client/starwhale/base/scheduler/__init__.py
  client/starwhale/base/scheduler/step.py
  client/starwhale/base/scheduler/task.py
  client/starwhale/core/model/model.py
  client/tests/core/test_job.py
  client/tests/core/test_model.py
  client/tests/sdk/test_job_handler.py
  client/tests/sdk/test_model.py
  example/mnist/mnist/custom_evaluator.py
  example/mnist/mnist/plain_evaluator.py
  example/ucf101/ucf101/custom_evaluator.py
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/spec/StepSpec.java
Labels: chore 🛎️, sdk 🐶, client 🌈, e2e

#2764 fix(controller): remove backoff limit
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/K8sJobTemplate.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/K8sSwTaskScheduler.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/SwSchedulerFactoryK8S.java
  server/controller/src/main/resources/application.yaml
  server/controller/src/test/java/ai/starwhale/mlops/schedule/impl/k8s/K8sJobTemplateTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/impl/k8s/K8sSwTaskSchedulerTest.java
Labels: bug 🐛

#2772 bug(sdk): resolve the 'evaluate phase cannot read tables in standalone' issue
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/evaluation.py
  client/starwhale/api/_impl/wrapper.py
  client/tests/sdk/test_data_store.py
Labels: sdk 🐶, e2e

#2771 bug(ci): fix no Makefile example for e2e
  scripts/client_test/cli_test.py
Labels: bug 🐛

#2775 chore(helm): update pypi index url for minikube cn
  docker/charts/values.minikube.cn.yaml
Labels: chore 🛎️

#2779 chore(ci): add huge-tasks model.yaml for e2e case
  example/huge-tasks/model.yaml
Labels: ci 🕹️

#2776 enhance(client): add datastore log(evaluation, dataset) id type validation
  client/starwhale/api/_impl/wrapper.py
  client/tests/sdk/test_wrapper.py
Labels: enhancement ❤️, sdk 🐶, client 🌈, datastore 🐇, e2e

#2780 chore(ci): tune examples for e2e
  example/mnist/mnist/evaluator.py
  example/mnist/mnist/plain_evaluator.py
  scripts/client_test/cli_test.py
Labels: example 🚕

#2787 chore(e2e): rsync huge-tasks for e2e env prepare
  scripts/client_test/cli_test.py
Labels: ci 🕹️

#2781 enhance(dataset): optimze dataset copy performance to minimize redundant full table scans
  client/starwhale/core/dataset/copy.py
Labels: enhancement ❤️, client 🌈, e2e

#2789 chore(e2e): tune random runtime for examples
  scripts/client_test/cli_test.py
Labels: chore 🛎️, ci 🕹️

#2774 optimize(datastore): speed up opening datastore
  client/setup.py
  client/starwhale/api/_impl/data_store.py
  client/tests/sdk/test_data_store.py
  client/tests/sdk/test_track.py
Labels: refactor 🐛, datastore 🐇

#2790 fix(e2e): can not find pytest after open api test
  scripts/e2e_test/start_test.sh
Labels: ci 🕹️

#2791 fix(controller): fix job load blocked by write operation
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobServiceForWeb.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/cache/JobLoader.java
Labels: bug 🐛, hotfix 🔥

#2794 enhance(datastore): auto dump memory table and reduce memory usage when building dataset
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/dataset/builder/mapping_builder.py
Labels: enhancement ❤️, datastore 🐇, e2e

#2796 enhance(dataset): fix dataset flush block when meets the unsupport types in the features
  client/starwhale/api/_impl/dataset/builder/mapping_builder.py
  client/starwhale/core/dataset/model.py
  client/tests/core/test_dataset.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
Labels: dataset🐫, e2e

#2798 chore(ci): speedup e2e with disable huge-task in standalone
  example/huge-tasks/evaluation.py
  scripts/client_test/cli_test.py
Labels: chore 🛎️, ci 🕹️

#2800 chore(chart): add wal log cache support
  docker/charts/templates/controller-deployment.yaml
  docker/charts/values.yaml
Labels: chore 🛎️, charts

#2799 chore(datastore): add tombstone and checkpoint to manifest
  client/starwhale/api/_impl/data_store.py
  client/starwhale/base/models/base.py
Labels: chore 🛎️, client 🌈, datastore 🐇

#2802 refactor(client): refactor evaluation, dataset type and mapping builder
  client/starwhale/__init__.py
  client/starwhale/api/_impl/dataset/__init__.py
  client/starwhale/api/_impl/dataset/builder/mapping_builder.py
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/api/_impl/evaluation/__init__.py
  client/starwhale/api/_impl/evaluation/log.py
  client/starwhale/api/_impl/evaluation/pipeline.py
  client/starwhale/api/_impl/track/base.py
  client/starwhale/api/_impl/track/handler.py
  client/starwhale/api/_impl/track/tracker.py
  client/starwhale/api/dataset.py
  client/starwhale/base/artifact/__init__.py
  client/starwhale/base/artifact/base.py
  client/starwhale/base/artifact/rotated_bin.py
  client/starwhale/base/data_type.py
  client/starwhale/consts/__init__.py
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/store.py
  client/starwhale/core/dataset/tabular.py
  client/starwhale/core/dataset/type.py
  client/starwhale/core/dataset/view.py
  client/starwhale/integrations/huggingface/dataset.py
  client/starwhale/integrations/pytorch/dataset.py
  client/starwhale/integrations/tensorflow/dataset.py
  client/tests/base/artifact/__init__.py
  client/tests/base/artifact/test_rotated_bin.py
  client/tests/base/test_data_type.py
  client/tests/core/test_dataset.py
  client/tests/core/test_dataset_store.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
  client/tests/sdk/test_evaluation.py
  client/tests/sdk/test_loader.py
  client/tests/sdk/test_track.py
  client/tests/web/test_server.py
  example/speech_command/sc/dataset.py
Labels: refactor 🐛, client 🌈, e2e

#2788 chore(SDK): support memory resource for human
  client/starwhale/api/_impl/evaluation/__init__.py
  client/starwhale/api/_impl/job/handler.py
  client/starwhale/core/model/copy.py
  client/starwhale/utils/__init__.py
  client/tests/sdk/test_job_handler.py
  example/mnist/mnist/evaluator.py
  example/mnist/mnist/plain_evaluator.py
Labels: chore 🛎️, sdk 🐶

#2803 enhance(dataset): tune the length of dataset
  client/starwhale/api/_impl/dataset/model.py
  client/tests/sdk/test_dataset_sdk.py
Labels: enhancement ❤️, sdk 🐶, dataset🐫

#2792 feat(cli): support dataset head rows for the prediction phase of model run command
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/evaluation/pipeline.py
  client/starwhale/base/context.py
  client/starwhale/base/scheduler/__init__.py
  client/starwhale/base/scheduler/step.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/tests/sdk/test_evaluation.py
Labels: feature ✨, standalone 💻, client 🌈, model🐇

#2806 chore(client): add double quotes to variables
  client/Makefile
Labels: chore 🛎️
