Repository star-whale/starwhale, pull requests merged in 2023-08, with the labels that each got.

#2577 update(console): remove modify check when rerun
  console/src/domain/job/components/JobForm.tsx
Labels: hotfix 🔥, console 🎨

#2569 enhance(controller): support custom tags for the resources
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ModelApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ModelController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/RuntimeApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/RuntimeController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/dataset/DatasetTagRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/model/ModelTagRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/runtime/RuntimeTagRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/common/util/TagUtil.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/BundleAccessor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/BundleManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/revert/RevertManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/tag/BundleVersionTagDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/tag/TagManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/tag/mapper/BundleVersionTagMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/tag/po/BundleVersionTagEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/converter/DatasetVersionVoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/po/DatasetVersionEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/upload/DatasetUploader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/converter/ModelVersionVoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/converter/RuntimeVersionConverter.java
  server/controller/src/main/resources/db/migration/v0_4_0/V0_4_0_012__add_bundle_version_tag.sql
  server/controller/src/test/java/ai/starwhale/mlops/api/DatasetControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/api/ModelControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/api/RuntimeControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/common/util/TagUtilTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/bundle/BundleManagerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/bundle/tag/BundleVersionTagDaoTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/bundle/tag/mapper/BundleVersionTagMapperTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetUploaderTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/converter/DatasetVersionVoConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelDaoTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelVersionConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeVersionConverterTest.java
Labels: enhancement ❤️, controller 🏘️, e2e

#2576 chore(console): show web handler links in task list view
  console/src/domain/job/schemas/task.tsx
  console/src/pages/Job/TaskListCard.tsx
Labels: chore 🛎️, console 🎨

#2582 chore(client): update conda log verbose mapping to reduce the useless output
  client/starwhale/utils/venv.py
  client/tests/core/test_runtime.py
Labels: chore 🛎️, client 🌈

#2585 example(LLM): disable save checkpoint for llama finetune
  example/LLM/llama/finetune.py
Labels: example 🚕

#2583 update(console): control render rate avoid user interactive blocking, cached component
  console/src/components/LogViewer/LogViewer.tsx
Labels: console 🎨

#2561 chore(script): record sync version to file
  scripts/publish/image_sync.sh
Labels: chore 🛎️

#2586 chore(client): Support `Resourse.refine` for the user's tags in the standalone instance
  client/starwhale/base/uri/resource.py
  client/tests/base/uri/test_resource.py
Labels: chore 🛎️, client 🌈, e2e

#2587 example(LLM): fix llama finetune build model modules typo
  example/LLM/llama/finetune.py
Labels: example 🚕

#2579 feat(sdk): add `login` and `logout` sdk
  client/starwhale/__init__.py
  client/starwhale/api/_impl/instance.py
  client/starwhale/api/instance.py
  client/starwhale/core/instance/view.py
  client/starwhale/utils/config.py
  client/tests/sdk/test_instance.py
Labels: feature ✨, sdk 🐶, e2e

#2578 chore(console): link to the latest version in model list
  console/src/pages/Model/ModelListCard.tsx
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/model/ModelVo.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
Labels: chore 🛎️, console 🎨, controller 🏘️

#2568 fix(controller): add constraint(UK) for resource entity
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/mapper/DatasetMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/mapper/DatasetVersionMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/mapper/ModelMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/mapper/ModelVersionMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/mapper/RuntimeMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/mapper/RuntimeVersionMapper.java
  server/controller/src/main/resources/db/migration/v0_4_0/V0_4_0_014__add_constraint_for_resource.sql
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/mapper/DatasetMapperTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/mapper/ModelMapperTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/mapper/RuntimeMapperTest.java
Labels: bug 🐛, e2e

#2588 enhance(console): support custom tag
  console/src/api/ApiHeader.tsx
  console/src/components/Alias.tsx
  console/src/domain/base/schemas/resource.tsx
  console/src/domain/base/utils/alias.ts
  console/src/domain/dataset/components/DatasetLabel.tsx
  console/src/domain/dataset/components/DatasetTreeSelector.tsx
  console/src/domain/dataset/services/datasetVersion.ts
  console/src/domain/model/services/modelVersion.ts
  console/src/domain/runtime/services/runtimeVersion.ts
  console/src/i18n/locales.ts
  console/src/pages/Dataset/DatasetListCard.tsx
  console/src/pages/Dataset/DatasetVersionListCard.tsx
  console/src/pages/Model/ModelVersionListCard.tsx
  console/src/pages/Runtime/RuntimeListCard.tsx
  console/src/pages/Runtime/RuntimeVersionListCard.tsx
Labels: enhancement ❤️, console 🎨

#2580 feat(client): support `--tag` argument for model/runtime/dataset build
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/api/_impl/model.py
  client/starwhale/base/bundle.py
  client/starwhale/base/tag.py
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/view.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/view.py
  client/tests/base/test_tag.py
  client/tests/core/test_dataset.py
  client/tests/core/test_model.py
  client/tests/core/test_runtime.py
  client/tests/sdk/test_dataset_sdk.py
  scripts/client_test/cli_test.py
  scripts/client_test/cmds/artifacts_cmd.py
  scripts/example/runtime.yaml
Labels: feature ✨, client 🌈

#2590 feat(client): support `swcli model/dataset/runtime tag` for the server instance
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/base/bundle.py
  client/starwhale/base/cloud.py
  client/starwhale/base/tag.py
  client/starwhale/base/view.py
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/view.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/view.py
  client/tests/core/test_model.py
Labels: feature ✨, client 🌈

#2581 chore(controller): validate tag name and add api for getting version id by tag
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ModelApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ModelController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/RuntimeApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/RuntimeController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/dataset/DatasetTagRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/dataset/DatasetVersionVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/model/ModelTagRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/model/ModelVersionViewVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/model/ModelVersionVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/runtime/RuntimeTagRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/runtime/RuntimeVersionVo.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/BundleManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/tag/BundleVersionTagDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/tag/HasTag.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/tag/HasTagWrapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/tag/TagAccessor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/bo/DatasetVersionQuery.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/converter/DatasetVersionVoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/mapper/DatasetVersionMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/bo/ModelVersionQuery.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/converter/ModelVersionVoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/mapper/ModelVersionMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/bo/RuntimeVersionQuery.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/converter/RuntimeVersionConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/mapper/RuntimeVersionMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/exception/SwValidationException.java
  server/controller/src/test/java/ai/starwhale/mlops/api/DatasetControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/api/ModelControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/api/RuntimeControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/bundle/BundleManagerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/bundle/tag/BundleVersionTagDaoTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetDaoTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/converter/DatasetVersionVoConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelDaoTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelVersionConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeDaoTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeVersionConverterTest.java
Labels: chore 🛎️, controller 🏘️

#2584 feat: add support for setting up a server instance in the manner of docker compose
  docker/compose/Dockerfile.minikube_starter
  docker/compose/README.md
  docker/compose/compose.override.yaml
  docker/compose/compose.yaml
  docker/compose/start.sh
  docker/compose/stop.sh
  server/controller/src/main/java/ai/starwhale/mlops/StarwhaleControllerApplication.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sClient.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sClientTest.java
Labels: controller 🏘️, docker 🗃️, deploy 🚀, install

#2593 fix(controller): fix the missing function call
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
Labels: hotfix 🔥, controller 🏘️

#2595 bug(charts): fix minio svc name typo
  docker/charts/templates/minio.yaml
Labels: bug 🐛, charts

#2589 feat(client): support copy with tags for model/runtime/dataset
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/base/bundle_copy.py
  client/starwhale/base/cloud.py
  client/starwhale/base/tag.py
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/copy.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/view.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/view.py
  client/tests/base/test_copy.py
  client/tests/base/test_tag.py
  client/tests/core/test_model.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
Labels: feature ✨, client 🌈, e2e

#2594 bug(ci): fix server api test typo for tag api
  scripts/apitest/pytest/test_dataset.py
  scripts/apitest/pytest/test_model.py
  scripts/apitest/pytest/test_runtime.py
  scripts/e2e_test/start_test.sh
Labels: bug 🐛, ci 🕹️, e2e

#2596 bug(ci): fix tag check in the api test
  scripts/apitest/pytest/test_dataset.py
  scripts/apitest/pytest/test_model.py
  scripts/apitest/pytest/test_runtime.py
Labels: bug 🐛, ci 🕹️

#2601 chore(client): runtime build does not dump pip and conda configs by default
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/view.py
  client/starwhale/utils/venv.py
  client/tests/core/test_runtime.py
Labels: chore 🛎️, client 🌈

#2598 chore(controller): refine resource info vo
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/dataset/DatasetInfoVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/dataset/DatasetVersionVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/model/ModelInfoVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/runtime/RuntimeInfoVo.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/converter/DatasetVersionVoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/test/java/ai/starwhale/mlops/api/DatasetControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeServiceTest.java
Labels: chore 🛎️, controller 🏘️, e2e

#2599 chore(console): refine tag related pages
  console/src/components/Alias.tsx
  console/src/domain/dataset/schemas/datasetVersion.tsx
  console/src/domain/model/schemas/modelVersion.tsx
  console/src/domain/model/services/modelVersion.ts
  console/src/domain/runtime/schemas/runtime.tsx
  console/src/domain/runtime/schemas/runtimeVersion.tsx
  console/src/domain/runtime/services/runtime.ts
  console/src/pages/Dataset/DatasetOverviewLayout.tsx
  console/src/pages/Dataset/DatasetVersionOverview.tsx
  console/src/pages/Dataset/DatasetVersionOverviewFiles.tsx
  console/src/pages/Dataset/DatasetVersionOverviewMeta.tsx
  console/src/pages/Model/ModelListCard.tsx
  console/src/pages/Model/ModelVersionOverview.tsx
  console/src/pages/Model/ModelVersionOverviewFiles.tsx
  console/src/pages/Project/OnlineEval.tsx
  console/src/pages/Runtime/RuntimeLayout.tsx
  console/src/pages/Runtime/RuntimeOverviewLayout.tsx
  console/src/pages/Runtime/RuntimeVersionLayout.tsx
  console/src/pages/Runtime/RuntimeVersionListCard.tsx
  console/src/pages/Runtime/RuntimeVersionOverview.tsx
  console/src/pages/Runtime/RuntimeVersionOverviewMeta.tsx
Labels: chore 🛎️, console 🎨

#2607 fix(console): make runtime in rerun works
  console/src/domain/job/components/FormFieldDevMode.tsx
  console/src/domain/job/components/FormFieldModel.tsx
  console/src/domain/job/components/FormFieldRuntime.tsx
  console/src/domain/job/components/JobForm.tsx
Labels: bug 🐛, console 🎨

#2608 enhance(client): enhance dataset build from huggingface for subsets
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/view.py
  client/starwhale/integrations/huggingface/dataset.py
  client/tests/core/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
Labels: enhancement ❤️, sdk 🐶, client 🌈, dataset🐫

#2533 example(LLM): build llama2 other base models
  example/LLM/llama2/README.md
  example/LLM/llama2/build.py
  example/LLM/llama2/evaluation.py
  example/LLM/llama2/utils.py
Labels: example 🚕

#2600 feat(console): report list card
  console/packages/starwhale-ui/src/IconFont/index.tsx
  console/packages/starwhale-ui/src/Input/QueryInput.tsx
  console/src/domain/report/hooks/useReport.ts
  console/src/domain/report/schemas/report.ts
  console/src/domain/report/services/report.ts
  console/src/i18n/locales.ts
  console/src/pages/Project/ProjectSidebar.tsx
  console/src/pages/Report/ReportEdit.tsx
  console/src/pages/Report/ReportListCard.tsx
  console/src/pages/Report/ReportOverviewLayout.tsx
  console/src/routes.tsx
Labels: feature ✨, console 🎨

#2606 feat(client): support dataset build from jsonl files
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/view.py
  client/starwhale/utils/fs.py
  client/tests/core/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
  example/datasets/LLM/ComplexWebQuestions/dataset.py
  example/datasets/LLM/GrailQA_v1.0/dataset.py
  example/datasets/LLM/GraphQuestions/dataset.py
  example/datasets/LLM/KQApro/dataset.py
  example/datasets/LLM/QALD-9/dataset.py
  example/datasets/LLM/webQSP/dataset.py
Labels: feature ✨, sdk 🐶, client 🌈, dataset🐫

#2609 fix(console): tag edit role access control
  console/src/api/WithAuth.tsx
  console/src/api/const.ts
  console/src/components/Alias.tsx
  console/src/pages/Dataset/DatasetVersionListCard.tsx
  console/src/pages/Model/ModelVersionListCard.tsx
  console/src/pages/Runtime/RuntimeVersionListCard.tsx
Labels: chore 🛎️, console 🎨

#2615 fix(controller): report revert error
  server/controller/src/main/java/ai/starwhale/mlops/domain/report/mapper/ReportMapper.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/report/ReportMapperTest.java
Labels: bug 🐛

#2613 chore(controller): add flatten properties for artifact vo
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/dataset/DatasetInfoVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/model/ModelInfoVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/runtime/RuntimeInfoVo.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
Labels: chore 🛎️, e2e

#2616 chore(controller): add editorconfig for server
  server/.editorconfig
Labels: chore 🛎️

#2622 chore(e2e): add white list for e2e clean script
  scripts/e2e_test/remove_test_env.sh
Labels: chore 🛎️

#2625 enhance(client): refactor model/dataset/runtime list for server and cloud instance
  client/starwhale/base/cloud.py
  client/starwhale/base/view.py
  client/starwhale/core/dataset/view.py
  client/tests/base/test_cloud.py
Labels: refactor 🐛, sdk 🐶, client 🌈, e2e

#2614 feat: support model run handler with args
  client/scripts/sw-docker-entrypoint
  client/starwhale/__init__.py
  client/starwhale/api/_impl/evaluation.py
  client/starwhale/api/_impl/experiment.py
  client/starwhale/api/_impl/job.py
  client/starwhale/api/job.py
  client/starwhale/base/scheduler/__init__.py
  client/starwhale/base/scheduler/step.py
  client/starwhale/base/scheduler/task.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/tests/core/test_model.py
  client/tests/sdk/test_job.py
  client/tests/sdk/test_model.py
  scripts/client_test/cli_test.py
  scripts/client_test/cmds/artifacts_cmd.py
  scripts/example/src/evaluator.py
  server/controller/pom.xml
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/spec/StepSpec.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/TaskRunningEnvBuilder.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/spec/JobSpecTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/spec/StepSpecTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/TaskRunningEnvBuilderTest.java
  server/pom.xml
Labels: feature ✨, e2e

#2627 fix(chart): add default pypi configs in chart
  docker/charts/templates/_helpers.tpl
  scripts/e2e_test/start_test.sh
Labels: bug 🐛, e2e

#2630 chore(controller):tune dump period and add more logs
  server/controller/src/main/java/ai/starwhale/mlops/datastore/DataStore.java
  server/controller/src/main/resources/application.yaml
Labels: chore 🛎️

#2633 bug(client): fix runtime quickstart unit test
  client/tests/core/test_runtime.py
Labels: bug 🐛, ci 🕹️, client 🌈

#2635 fix(controller): tune report content datatype from text to mediumtext
  server/controller/src/main/resources/db/migration/v0_4_0/V0_4_0_016__alter_report_content_length.sql
Labels: bug 🐛, e2e

#2629 fix(client): fix handler class error
  client/starwhale/base/scheduler/task.py
  client/tests/sdk/test_job.py
Labels: hotfix 🔥, e2e

#2638 chore(workflow):add dataset builder to release action
  .github/workflows/release.yml
  scripts/publish/image_sync.sh
  server/controller/src/main/resources/application.yaml
Labels: chore 🛎️

#2642 update(console): panel report optimize rerender/chart edit save/sort etc
  console/packages/starwhale-core/src/context/PanelContextProvider.tsx
  console/packages/starwhale-core/src/datastore/hooks/useDatastorePage.tsx
  console/packages/starwhale-core/src/datastore/hooks/useDatastoreQueryParams.tsx
  console/packages/starwhale-core/src/form/WidgetFormModal.tsx
  console/packages/starwhale-core/src/form/WidgetPreviewModal.tsx
  console/packages/starwhale-core/src/store/StoreUpdater/index.tsx
  console/packages/starwhale-core/src/store/store.ts
  console/packages/starwhale-core/src/types/index.ts
  console/packages/starwhale-core/src/widget/WidgetRenderTree.tsx
  console/packages/starwhale-core/src/widget/WidgetRenderer.tsx
  console/packages/starwhale-core/src/widget/hooks/useRestoreState.tsx
  console/packages/starwhale-core/src/widget/withWidgetDynamicProps.tsx
  console/packages/starwhale-ui/src/GridDatastoreTable/hooks/useDatastoreColumns.tsx
  console/packages/starwhale-ui/src/GridTable/components/ConfigColumns/ConfigColumns.tsx
  console/packages/starwhale-ui/src/GridTable/components/ConfigViews/ConfigViews.tsx
  console/packages/starwhale-ui/src/GridTable/store/StoreUpdater/index.tsx
  console/packages/starwhale-ui/src/GridTable/types.ts
  console/packages/starwhale-ui/src/TiptapEditor/extensions/EvalSelectPanelExtension.tsx
  console/packages/starwhale-ui/src/TiptapEditor/props.tsx
  console/packages/starwhale-ui/src/Transfer/TransferList.tsx
  console/packages/starwhale-ui/src/base/data-table/cells/cell-placement.tsx
  console/packages/starwhale-widgets/src/PanelTableWidget/index.tsx
  console/packages/starwhale-widgets/src/SectionWidget/component/ChartConfigGroup.tsx
  console/packages/starwhale-widgets/src/SectionWidget/component/ChartConfigPopover.tsx
  console/packages/starwhale-widgets/src/SectionWidget/index.tsx
  console/src/App.tsx
  console/src/components/Editor/Editor.tsx
  console/src/components/Editor/EvalSelectEditor.tsx
  console/src/components/Editor/FullTablesEditor.tsx
  console/src/components/Header/LanguageSelector.tsx
  console/src/hooks/global.ts
  console/src/pages/Evaluation/EvaluationWidgetResults.tsx
Labels: enhancement ❤️, console 🎨

#2610 example(LLM): add llm leaderboard examples
  client/starwhale/utils/fs.py
  example/llm-leaderboard/.gitignore
  example/llm-leaderboard/README.md
  example/llm-leaderboard/requirements.txt
  example/llm-leaderboard/runtime.yaml
  example/llm-leaderboard/src/__init__.py
  example/llm-leaderboard/src/benchmark/__init__.py
  example/llm-leaderboard/src/benchmark/base.py
  example/llm-leaderboard/src/benchmark/cmmlu.py
  example/llm-leaderboard/src/benchmark/consts.py
  example/llm-leaderboard/src/chat.py
  example/llm-leaderboard/src/cli/__init__.py
  example/llm-leaderboard/src/cli/build.py
  example/llm-leaderboard/src/cli/leaderboard.py
  example/llm-leaderboard/src/cli/submit.py
  example/llm-leaderboard/src/evaluation.py
  example/llm-leaderboard/src/llm/__init__.py
  example/llm-leaderboard/src/llm/aquila.py
  example/llm-leaderboard/src/llm/baichuan.py
  example/llm-leaderboard/src/llm/base.py
  example/llm-leaderboard/src/llm/chatglm.py
  example/llm-leaderboard/src/llm/llama.py
  example/llm-leaderboard/src/llm/qwen.py
  example/llm-leaderboard/src/main.py
  example/llm-leaderboard/src/utils/__init__.py
Labels: example 🚕

#2643 fix(console): make resource pool and step spec works in rerun
  console/src/domain/job/components/FormFieldModel.tsx
  console/src/domain/job/components/JobForm.tsx
  console/src/domain/job/schemas/job.tsx
  console/src/domain/setting/components/ResourcePoolSelector.tsx
Labels: console 🎨

#2636 fix(controller): use lower case name in image build
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
Labels: bug 🐛

#2650 update(console): config sync、reset status between chart and config modal , optimize ui
  console/packages/starwhale-core/src/datastore/hooks/useDatastorePage.tsx
  console/packages/starwhale-core/src/datastore/hooks/useDatastoreQueryParams.tsx
  console/packages/starwhale-core/src/form/WidgetFormModal.tsx
  console/packages/starwhale-ui/src/Button/Button.tsx
  console/packages/starwhale-ui/src/GridTable/components/ConfigViews/ConfigViewList.tsx
  console/packages/starwhale-ui/src/GridTable/components/ConfigViews/ConfigViews.tsx
  console/packages/starwhale-ui/src/GridTable/hooks/useGridCurrentView.tsx
  console/packages/starwhale-ui/src/GridTable/hooks/useGridQuery.tsx
  console/packages/starwhale-ui/src/GridTable/store/StoreUpdater/index.tsx
  console/packages/starwhale-ui/src/GridTable/store/store.ts
  console/packages/starwhale-ui/src/RJSFForm/widgets/SelectWidget/index.tsx
  console/packages/starwhale-ui/src/Search/Search.tsx
  console/packages/starwhale-ui/src/Select/Select.tsx
  console/packages/starwhale-ui/src/base/data-table/cells/cell-placement.tsx
  console/packages/starwhale-ui/src/base/data-table/headers/header-cell.tsx
  console/packages/starwhale-widgets/src/PanelTableWidget/index.tsx
  console/packages/starwhale-widgets/src/SectionWidget/component/ChartConfigPopover.tsx
  console/packages/starwhale-widgets/src/SectionWidget/index.tsx
  console/src/components/Editor/EvalSelectList.tsx
  console/src/i18n/locales.ts
  console/src/pages/Evaluation/EvaluationListCard.tsx
  console/src/styles/_global.scss
Labels: enhancement ❤️, chore 🛎️, console 🎨

#2652 fix(controller): prevent readLine quit before read all log lines
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/docker/log/TaskLogStreamingCollectorDocker.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/impl/docker/log/TaskLogStreamingCollectorDockerTest.java
Labels: bug 🐛, controller 🏘️

#2651 refactor(controller): make runtime dockerizing be a job
  .github/workflows/release.yml
  docker/Dockerfile.runtime_dockerizing
  docker/Makefile
  scripts/publish/image_sync.sh
  server/controller/src/main/java/ai/starwhale/mlops/api/RuntimeApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/RuntimeController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/runtime/BuildImageResult.java
  server/controller/src/main/java/ai/starwhale/mlops/configuration/security/RuntimeTokenValidator.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobCreator.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/spec/RunEnvs.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeRegistryListener.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/container/impl/DatasetBuildContainerSpecification.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/container/impl/RuntimeDockerizedContainerSpecification.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/container/impl/RuntimeDockerizedTaskSpecificationFactory.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/docker/SwTaskSchedulerDocker.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/JobEventHandler.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/K8sJobTemplate.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/K8sSwTaskScheduler.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/log/CancellableJobLogK8sCollectorFactory.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/log/TaskLogK8sCollectorFactory.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/reporting/PodEventHandler.java
  server/controller/src/main/resources/template/image-build.yaml
  server/controller/src/main/resources/virtual/model/runtime_dockerizing.yaml
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobCreatorTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeRegistryListenerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/impl/contianer/RuntimeDockerizedContainerSpecificationTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/impl/k8s/JobEventHandlerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/impl/k8s/K8sJobTemplateTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/impl/k8s/K8sSwTaskSchedulerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/impl/k8s/log/CancellableJobLogK8sCollectorFactoryTest.java
  server/controller/src/test/resources/virtual/model/runtime_dockerizing.yaml
Labels: refactor 🐛

#2654 fix(controller): use current user when create project
  server/controller/src/main/java/ai/starwhale/mlops/api/ProjectController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/project/CreateProjectRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/project/UpdateProjectRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectService.java
  server/controller/src/test/java/ai/starwhale/mlops/api/ProjectControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/project/ProjectServiceTest.java
Labels: bug 🐛, controller 🏘️

#2657 fix(console): support job form auto fill disable
  console/src/domain/job/components/FormFieldModel.tsx
  console/src/domain/job/components/JobForm.tsx
  console/src/pages/Project/JobNewCard.tsx
Labels: hotfix 🔥, console 🎨

#2656 optimize(console): report interactive and support new chart config, title/sort/pagination/filterable etc
  console/packages/starwhale-core/src/datastore/hooks/useDatastoreMixedSchema.tsx
  console/packages/starwhale-core/src/datastore/hooks/useDatastorePage.tsx
  console/packages/starwhale-core/src/datastore/hooks/useDatastoreQueryParams.tsx
  console/packages/starwhale-core/src/datastore/hooks/useFetchDatastoreByTable.tsx
  console/packages/starwhale-core/src/datastore/types.ts
  console/packages/starwhale-core/src/form/WidgetFormModal.tsx
  console/packages/starwhale-core/src/store/store.ts
  console/packages/starwhale-core/src/widget/WidgetFactory.tsx
  console/packages/starwhale-core/src/widget/withWidgetDynamicProps.tsx
  console/packages/starwhale-ui/src/GridDatastoreTable/components/Preview.tsx
  console/packages/starwhale-ui/src/GridDatastoreTable/hooks/useDatastoreColumns.tsx
  console/packages/starwhale-ui/src/GridTable/components/ConfigViews/ConfigViews.tsx
  console/packages/starwhale-ui/src/GridTable/components/Query/ConfigQuery.tsx
  console/packages/starwhale-ui/src/GridTable/contexts/GridStoreContext.ts
  console/packages/starwhale-ui/src/GridTable/hooks/useGridSave.ts
  console/packages/starwhale-ui/src/GridTable/store/store.ts
  console/packages/starwhale-ui/src/GridTable/types.ts
  console/packages/starwhale-ui/src/RJSFForm/widgets/TextWidget/index.tsx
  console/packages/starwhale-ui/src/Search/Search.tsx
  console/packages/starwhale-ui/src/TiptapEditor/components/EditorBubbleMenu.tsx
  console/packages/starwhale-ui/src/TiptapEditor/components/node-selector.tsx
  console/packages/starwhale-ui/src/TiptapEditor/components/types.ts
  console/packages/starwhale-ui/src/base/data-table/headers/header-bar.tsx
  console/packages/starwhale-ui/src/base/data-table/headers/header-cell.tsx
  console/packages/starwhale-ui/src/base/data-table/headers/headers.tsx
  console/packages/starwhale-widgets/src/PanelBarChartWidget/index.tsx
  console/packages/starwhale-widgets/src/PanelTableWidget/index.tsx
  console/packages/starwhale-widgets/src/ReportBarChartWidget/index.tsx
  console/packages/starwhale-widgets/src/SectionWidget/GridWidget.tsx
  console/packages/starwhale-widgets/src/SectionWidget/component/ChartConfigGroup.tsx
  console/packages/starwhale-widgets/src/SectionWidget/component/SectionAccordionPanel.tsx
  console/packages/starwhale-widgets/src/SectionWidget/index.tsx
  console/src/pages/Report/ReportEdit.tsx
  console/yarn.lock
Labels: enhancement ❤️, chore 🛎️, console 🎨

#2658 bug(client): fix job list show error for server instance
  client/starwhale/base/view.py
  client/starwhale/core/dataset/view.py
  client/starwhale/core/job/cli.py
  client/starwhale/core/job/model.py
  client/starwhale/core/job/view.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/starwhale/core/project/view.py
  client/starwhale/core/runtime/view.py
  client/tests/core/test_job.py
Labels: bug 🐛, client 🌈, e2e

#2648 example(LLM): support llama2 chinese models
  example/llm-leaderboard/README.md
  example/llm-leaderboard/src/cli/__init__.py
  example/llm-leaderboard/src/cli/leaderboard.py
  example/llm-leaderboard/src/llm/base.py
  example/llm-leaderboard/src/llm/llama.py
  example/llm-leaderboard/src/llm/qwen.py
Labels: example 🚕

#2663 update(console): monaco editor disable remote load from cdn
  console/package.json
  console/packages/starwhale-ui/src/MonacoEditor/index.tsx
  console/src/domain/job/components/ExecutorForm.tsx
  console/src/domain/job/components/FormFieldModel.tsx
  console/src/pages/Admin/SystemSettings.tsx
  console/src/pages/Model/ModelVersionOverviewFiles.tsx
  console/yarn.lock
Labels: enhancement ❤️, console 🎨

#2664 chore(ci): upgrade mypy related libs version
  client/Makefile
  client/requirements-dev.txt
Labels: chore 🛎️, ci 🕹️, client 🌈

#2662 bug(client): fix job info for server instances
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/wrapper.py
  client/starwhale/core/job/cli.py
  client/starwhale/core/job/model.py
  client/starwhale/core/job/view.py
  client/tests/core/test_eval.py
  client/tests/data/job/task_list.json
  client/tests/sdk/test_data_store.py
Labels: bug 🐛, client 🌈

#2665 fix(controller): model related api support model id
  server/controller/src/main/java/ai/starwhale/mlops/api/ModelApi.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectDao.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/project/ProjectDaoTest.java
Labels: bug 🐛, controller 🏘️

#2668 update(console): show share button when shared / all list page actions to icons
  console/packages/starwhale-ui/src/Button/Button.tsx
  console/packages/starwhale-ui/src/Button/ButtonGroup.tsx
  console/packages/starwhale-ui/src/Button/index.tsx
  console/packages/starwhale-ui/src/DynamicSelector/SelectorItemRender.tsx
  console/packages/starwhale-ui/src/IconFont/fonts/iconfont.css
  console/packages/starwhale-ui/src/IconFont/fonts/iconfont.js
  console/packages/starwhale-ui/src/IconFont/fonts/iconfont.json
  console/packages/starwhale-ui/src/IconFont/fonts/iconfont.ttf
  console/packages/starwhale-ui/src/IconFont/fonts/iconfont.woff
  console/packages/starwhale-ui/src/IconFont/fonts/iconfont.woff2
  console/packages/starwhale-ui/src/IconFont/index.tsx
  console/packages/starwhale-ui/src/Modal/confirm.tsx
  console/src/components/Alias.tsx
  console/src/components/CopyToClipboard/CopyToClipboard.tsx
  console/src/components/Link/Link.tsx
  console/src/components/Table/index.tsx
  console/src/domain/job/components/ExposedLink.tsx
  console/src/domain/job/components/FormFieldRuntime.tsx
  console/src/domain/job/components/JobStatus.tsx
  console/src/domain/job/schemas/job.tsx
  console/src/domain/user/components/PasswordForm.tsx
  console/src/i18n/locales.ts
  console/src/pages/Admin/UserManagement.tsx
  console/src/pages/CenterLayout.tsx
  console/src/pages/Dataset/DatasetListCard.tsx
  console/src/pages/Dataset/DatasetVersionListCard.tsx
  console/src/pages/Job/JobListCard.tsx
  console/src/pages/Job/TaskListCard.tsx
  console/src/pages/Model/ModelListCard.tsx
  console/src/pages/Project/ProjectMembers.tsx
  console/src/pages/Report/ReportListCard.tsx
  console/src/pages/Runtime/RuntimeListCard.tsx
  console/src/pages/Trash/TrashListCard.tsx
  console/src/routes.tsx
Labels: chore 🛎️, console 🎨

#2669 fix(controller): model path uri do not work
  server/controller/src/main/java/ai/starwhale/mlops/api/ModelController.java
Labels: bug 🐛, controller 🏘️

#2666 fix(console): error occurs when list model by project name
  console/src/domain/model/hooks/useModelFiles.ts
  console/src/pages/Model/ModelVersionOverviewFiles.tsx
Labels: hotfix 🔥, console 🎨

#2671 fix(client): prevent modification of built-in tags
  client/starwhale/base/view.py
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/runtime/cli.py
  client/tests/core/test_runtime.py
Labels: chore 🛎️, client 🌈

#2646 feat(controller): add dataset/model/runtime base info in job
  console/src/pages/Evaluation/EvaluationWidgetResults.tsx
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobCreator.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobSchema.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/po/JobFlattenEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/storage/JobRepo.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobCreatorTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/storage/JobRepoTest.java
Labels: e2e

#2673 fix(controller): save to db failed on the stage of create job
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/watchers/TaskWatcherForSchedule.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TaskWatcherForScheduleTest.java
Labels: bug 🐛

#2676 hotfix(console): use state machine refactor multi job async auto fill state
  console/package.json
  console/packages/starwhale-ui/src/Button/Button.tsx
  console/src/domain/job/components/FormFieldModel.tsx
  console/src/domain/job/components/FormFieldRuntime.tsx
  console/src/domain/job/components/JobForm.tsx
  console/src/domain/job/createJobMachine.ts
  console/src/domain/runtime/components/RuntimeTreeSelector.tsx
  console/yarn.lock
Labels: enhancement ❤️, hotfix 🔥, console 🎨

#2675 fix(controller): prevent overflow when setting the default memory request
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/ResourceOverwriteSpec.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/impl/k8s/ResourceOverwriteSpecTest.java
Labels: bug 🐛, controller 🏘️

#2670 example(LLM): tune llm leaderboard for explanaion and readme
  example/llm-leaderboard/.gitignore
  example/llm-leaderboard/leaderboard.md
  example/llm-leaderboard/src/benchmark/base.py
  example/llm-leaderboard/src/benchmark/cmmlu.py
  example/llm-leaderboard/src/cli/__init__.py
  example/llm-leaderboard/src/cli/build.py
  example/llm-leaderboard/src/evaluation.py
  example/llm-leaderboard/src/llm/aquila.py
  example/llm-leaderboard/src/llm/baichuan.py
  example/llm-leaderboard/src/llm/base.py
  example/llm-leaderboard/src/llm/chatglm.py
  example/llm-leaderboard/src/llm/llama.py
  example/llm-leaderboard/src/llm/qwen.py
Labels: enhancement ❤️, example 🚕

#2679 fix(console): e2e text button to icon button
  console/playwright/tests/admin-project.spec.ts
  console/playwright/tests/admin-setting.spec.ts
Labels: chore 🛎️, console 🎨

#2686 update(console): support local sort / delete from list / job overview etc
  console/packages/starwhale-ui/src/Button/Button.tsx
  console/packages/starwhale-ui/src/GridTable/store/StoreUpdater/index.tsx
  console/packages/starwhale-ui/src/Text/Text.tsx
  console/packages/starwhale-ui/src/base/data-table/column.tsx
  console/packages/starwhale-ui/src/base/data-table/data-custom-table.tsx
  console/packages/starwhale-ui/src/base/data-table/headers/header-cell.tsx
  console/src/api/const.ts
  console/src/assets/bg-1920x1080.jpg
  console/src/assets/bg-2560x1440.jpg
  console/src/assets/bg-3840x2160.jpg
  console/src/assets/bg.jpg
  console/src/assets/left-shadow.png
  console/src/assets/logo_normal_en_blue.png
  console/src/assets/right-shadow.png
  console/src/components/Editor/EvalSelectList.tsx
  console/src/domain/job/createJobMachine.ts
  console/src/i18n/locales.ts
  console/src/pages/Dataset/DatasetListCard.tsx
  console/src/pages/Dataset/DatasetOverviewLayout.tsx
  console/src/pages/Dataset/DatasetVersionListCard.tsx
  console/src/pages/Dataset/DatasetVersionOverview.tsx
  console/src/pages/Evaluation/EvaluationListCard.tsx
  console/src/pages/Evaluation/EvaluationListResult.tsx
  console/src/pages/Job/JobListCard.tsx
  console/src/pages/Job/JobOverview.tsx
  console/src/pages/Job/JobOverviewLayout.tsx
  console/src/pages/Job/TaskListCard.tsx
  console/src/pages/Model/ModelListCard.tsx
  console/src/pages/Model/ModelOverviewLayout.tsx
  console/src/pages/Model/ModelVersionListCard.tsx
  console/src/pages/Model/ModelVersionOverview.tsx
  console/src/pages/Project/ProjectListCard.tsx
  console/src/pages/Report/ReportEdit.tsx
  console/src/pages/Report/ReportListCard.tsx
  console/src/pages/Runtime/RuntimeListCard.tsx
  console/src/pages/Runtime/RuntimeOverviewLayout.tsx
  console/src/pages/Runtime/RuntimeVersionListCard.tsx
  console/src/pages/Runtime/RuntimeVersionOverview.tsx
  console/src/routes.tsx
  console/src/styles/_global.scss
Labels: chore 🛎️, console 🎨

#2687 feat(console): support eval table model multi select
  console/packages/starwhale-core/src/form/WidgetFormModal.tsx
  console/packages/starwhale-ui/src/RJSFForm/widgets/SelectWidget/index.tsx
  console/packages/starwhale-ui/src/Select/Select.tsx
  console/src/domain/job/components/JobStatusSelector.tsx
  console/src/domain/model/components/ModelMultiSelector.tsx
  console/src/pages/Evaluation/EvaluationListCard.tsx
Labels: enhancement ❤️, console 🎨

#2678 example(LLM): support tigerbot models
  example/llm-leaderboard/src/llm/__init__.py
  example/llm-leaderboard/src/llm/tiger.py
Labels: example 🚕

#2684 example(LLM): support xverse llm models
  example/llm-leaderboard/src/llm/__init__.py
  example/llm-leaderboard/src/llm/xverse.py
Labels: example 🚕

#2693 fix(console): async load content will be string, if direct save will cause double stringify occasionally
  console/packages/starwhale-ui/src/TiptapEditor/extensions/EvalSelectPanelExtension.tsx
  console/src/components/Editor/EvalSelectList.tsx
  console/src/pages/BaseLayout.tsx
  console/src/pages/Dataset/DatasetVersionListCard.tsx
  console/src/pages/Model/ModelVersionListCard.tsx
  console/src/pages/Report/ReportEdit.tsx
  console/src/pages/Runtime/RuntimeVersionListCard.tsx
Labels: hotfix 🔥, console 🎨

#2692 fix(controller): report desc can't update to empty
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/report/CreateReportRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/report/mapper/ReportMapper.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/report/ReportMapperTest.java
Labels: bug 🐛
