Repository star-whale/starwhale, pull requests merged in 2023-01, with the labels that each got.

#1689 chore(client): optimize model build when no model serving api
  client/starwhale/api/_impl/service.py
  client/tests/data/sdk/service/no_api.py
  client/tests/sdk/test_service.py
Labels: chore 🛎️, client 🌈

#1688 fix(client): runtime restore use enable_pre=false by default
  client/starwhale/utils/venv.py
  client/tests/core/test_runtime.py
Labels: e2e

#1690 chore(sdk): hijack submit on premises
  client/starwhale/api/_impl/service.py
  client/starwhale/core/model/model.py
  client/tests/sdk/test_service.py
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/ModelServingService.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/ModelServingServiceTest.java
Labels: chore 🛎️, sdk 🐶

#1694 chore(controller): reuse model serving entries and workloads
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/ModelServingService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/mapper/ModelServingMapper.java
  server/controller/src/main/resources/db/migration/v0_3_2/V0_3_2_007__update_model_serving_info.sql
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/ModelServingServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/mapper/ModelServingMapperTest.java
Labels: chore 🛎️, controller 🏘️

#1662 fix(controller): tune job to use datastore
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/user/UserVo.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/OrderByDesc.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dag/DagQuerier.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/evaluation/EvaluationService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobSchema.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/ModelServingService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/bo/Job.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/bo/JobRuntime.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/cache/HotJobsLoader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/converter/JobBoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/converter/JobConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/mapper/JobDatasetVersionMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/po/JobFlattenEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/split/JobSpliterator.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/split/JobSpliteratorEvaluation.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/status/JobUpdateHelper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/storage/JobRepo.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/TaskService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/trash/TrashService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/user/bo/User.java
  server/controller/src/main/java/ai/starwhale/mlops/resulting/ResultQuerier.java
  server/controller/src/test/java/ai/starwhale/mlops/ObjectMockHolder.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dag/DagQuerierTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/evaluation/EvaluationServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobBoConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobDaoTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobSpliteratorEvaluationTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobUpdateHelperTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/ModelServingServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/cache/HotJobsLoaderTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/converter/JobConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/mapper/JobDatasetVersionMapperTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/mapper/JobMapperTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/storage/JobRepoTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TaskServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/trash/TrashServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/resulting/ResultQuerierTest.java
Labels: controller 🏘️, job 💡, e2e

#1682 feat: replace link auth file to link auth config
  client/starwhale/api/_impl/dataset/builder.py
  client/starwhale/api/_impl/dataset/loader.py
  client/starwhale/cli/__init__.py
  client/starwhale/cli/cli.py
  client/starwhale/consts/__init__.py
  client/starwhale/core/dataset/store.py
  client/starwhale/core/dataset/tabular.py
  client/starwhale/core/dataset/type.py
  client/starwhale/utils/config.py
  client/tests/core/test_dataset.py
  client/tests/core/test_dataset_store.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_loader.py
  client/tests/sdk/test_model.py
  docs/docs/guides/config/standalone_config.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/config/standalone_config.md
  example/datasets/coco/dataset.py
  example/mnist/mnist/dataset.py
  example/speech_command/sc/dataset.py
  scripts/client_test/cli_test.py
Labels: client 🌈

#1672 feat(client): add filter params for model/dataset/runtime list command
  client/starwhale/base/bundle.py
  client/starwhale/base/cloud.py
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/view.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/view.py
  client/tests/base/test_bundle.py
  client/tests/base/test_cloud.py
  client/tests/core/test_dataset.py
  client/tests/core/test_model.py
  client/tests/core/test_runtime.py
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/cli/dataset.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/cli/model.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/cli/project.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/cli/runtime.md
Labels: controller 🏘️, client 🌈

#1698 chore(sdk): refine hijacked js when using gradio
  client/starwhale/api/_impl/service.py
Labels: chore 🛎️, sdk 🐶

#1691 example(dataset): add jupyter notebook for dataset sdk
  .gitignore
  README.md
  client/requirements-dev.txt
  example/datasets/sdk/dataset-sdk.ipynb
Labels: doc 📄, example 🚕, dataset🐫

#1697 chore(controller): application configuration use snake case
  server/controller/pom.xml
  server/controller/src/main/java/ai/starwhale/mlops/api/DataStoreController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/EnvController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/EvaluationController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/JobController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/LogController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ModelController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/PanelController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ProjectController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/RuntimeController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/SystemController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/TrashController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/UserController.java
  server/controller/src/main/java/ai/starwhale/mlops/configuration/security/ContentCachingFilter.java
  server/controller/src/main/java/ai/starwhale/mlops/configuration/security/ProjectNameExtractorDataStoreMixed.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/DataStore.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/watchers/TaskWatcherForSchedule.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sJobTemplate.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/main/resources/application.yaml
  server/storage-access-layer/pom.xml
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/configuration/StorageProperties.java
Labels: chore 🛎️, controller 🏘️, e2e

#1695 feat(controller): online eval support gc
  server/controller/src/main/java/ai/starwhale/mlops/common/ProxyServlet.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/ModelServingService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/mapper/ModelServingMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/po/ModelServingEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/ContainerOverwriteSpec.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sClient.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sJobTemplate.java
  server/controller/src/main/resources/application.yaml
  server/controller/src/main/resources/db/migration/v0_3_2/V0_3_2_008__add_last_visit.sql
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/ModelServingServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/mapper/ModelServingMapperTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sClientTest.java
Labels: feature ✨, controller 🏘️

#1703 chore(client): make sure model.yaml exists when use custom config file
  client/starwhale/base/bundle.py
  client/starwhale/core/model/model.py
  client/tests/core/test_model.py
Labels: chore 🛎️, client 🌈, model🐇

#1707 fix(e2e): fix console building issue
  .github/workflows/console.yml
  console/Makefile
  scripts/client_test/cli_test.py
  scripts/e2e_test/start_test.sh
  scripts/publish/pub.sh
Labels: console 🎨, e2e

#1710 chore(ci): add UnusedImports rule for controller
  server/checkstyle.xml
  server/controller/src/main/java/ai/starwhale/mlops/api/JobController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/datastore/RecordValueDesc.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/model/ModelInfoVo.java
  server/controller/src/main/java/ai/starwhale/mlops/configuration/security/ModelServingTokenValidator.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/MemoryTable.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/parquet/SwParquetReaderBuilder.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/DataReadManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/DataStoreIndexProvider.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/split/JobSpliterator.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/step/bo/Step.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/TaskService.java
  server/controller/src/main/java/ai/starwhale/mlops/resulting/ResultQuerier.java
  server/controller/src/test/java/ai/starwhale/mlops/api/config/ModelServingTokenValidatorTest.java
  server/controller/src/test/java/ai/starwhale/mlops/common/util/TarUtilTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/ModelServingServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/converter/JobConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TaskWatcherForJobStatusTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TaskWatcherForPersistTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TaskWatcherForScheduleTest.java
  server/storage-access-layer/src/test/java/ai/starwhale/mlops/storage/fs/StorageAccessServiceFileTest.java
Labels: ci 🕹️, controller 🏘️

#1709 feat(controller): online eval support resource params
  server/controller/src/main/java/ai/starwhale/mlops/api/JobController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/job/ModelServingRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/ModelServingService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/mapper/ModelServingMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/po/ModelServingEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/spec/ModelServingSpec.java
  server/controller/src/main/java/ai/starwhale/mlops/exception/SwValidationException.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sJobTemplate.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/ResourceOverwriteSpec.java
  server/controller/src/main/resources/db/migration/v0_3_2/V0_3_2_009__add_spec.sql
  server/controller/src/test/java/ai/starwhale/mlops/api/JobControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/ModelServingServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/mapper/ModelServingMapperTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/spec/ModelServingSpecTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sJobTemplateTest.java
Labels: feature ✨, controller 🏘️

#1712 fix(datastore): fix end_inclusive error when only one row in parquet file
  client/starwhale/api/_impl/data_store.py
  client/tests/sdk/test_data_store.py
Labels: dataset🐫, datastore 🐇

#1708 fix(client): datastore loss data on multithread
  client/starwhale/api/_impl/data_store.py
  client/tests/sdk/test_data_store.py
Labels: bug 🐛, e2e

#1715 fix(ci): remove useless import
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sJobTemplateTest.java
Labels: ci 🕹️, controller 🏘️

#1713 feat(console): support resource request in online eval page
  console/src/domain/model/components/CreateOnlineEvalForm.tsx
  console/src/domain/model/schemas/model.tsx
  console/src/domain/setting/components/FlatResourceSelector.tsx
  console/src/domain/setting/components/ResourceSelector.tsx
  console/src/i18n/locales.ts
  console/src/pages/Project/OnlineEval.tsx
Labels: feature ✨, console 🎨

#1717 chore(console): support model switching in online eval
  console/package.json
  console/src/domain/model/components/CreateOnlineEvalForm.tsx
  console/src/pages/Project/OnlineEval.tsx
Labels: chore 🛎️, console 🎨

#1720 doc(example): fix wrong link addr in nmt
  docs/i18n/zh/docusaurus-plugin-content-docs/current/tutorials/nmt.md
Labels: doc 📄, example 🚕

#1718 chore(example): add serve handler for speech command
  example/speech_command/sc/evaluator.py
Labels: chore 🛎️, example 🚕

#1719 chore(example): serving handler for cifar10
  example/cifar10/cifar/evaluator.py
Labels: chore 🛎️, example 🚕

#1721 chore(example): serving handler for nmt
  example/nmt/nmt/evaluator.py
Labels: chore 🛎️, example 🚕

#1723 chore(example): serving handler for ucf101
  example/ucf101/Makefile
  example/ucf101/ucf101/custom_evaluator.py
  example/ucf101/ucf101/evaluator.py
  example/ucf101/ucf101/sampler.py
Labels: chore 🛎️, example 🚕

#1722 chore(example): serving handler for ag news
  example/text_cls_AG_NEWS/tcan/evaluator.py
Labels: chore 🛎️, example 🚕

#1728 fix(client): fix js compatible with multi args in online eval
  client/starwhale/api/_impl/service.py
Labels: bug 🐛, client 🌈

#1727 fix(client): fix pip cache dir
  client/scripts/sw-docker-entrypoint
Labels: bug 🐛, client 🌈, e2e

#1730 chore(doc): add example doc for ucf101
  docs/docs/img/examples/ucf101-eval.png
  docs/docs/tutorials/ucf101.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/tutorials/ucf101.md
  docs/sidebars.js
Labels: doc 📄

#1733 fix(console): search bar be smoother, and bugs when sync config
  console/.eslintignore
  console/packages/starwhale-core/src/datastore/filter.ts
  console/packages/starwhale-core/src/datastore/hooks/useFetchDatastore.ts
  console/packages/starwhale-ui/src/GridTable/GridTable.tsx
  console/packages/starwhale-ui/src/GridTable/hooks/useDatastoreColumns.tsx
  console/packages/starwhale-ui/src/Search/FilterRenderer.tsx
  console/packages/starwhale-ui/src/Search/Search.tsx
  console/packages/starwhale-ui/src/Transfer/Transfer.tsx
  console/packages/starwhale-ui/src/base/data-table/config-query.tsx
  console/packages/starwhale-ui/src/base/data-table/data-custom-table.tsx
  console/packages/starwhale-ui/src/base/data-table/stateful-data-table.tsx
  console/src/domain/project/components/ProjectForm.tsx
  console/src/pages/Dataset/DatasetOverviewLayout.tsx
  console/src/pages/Dataset/DatasetVersionOverviewFiles.tsx
  console/src/pages/Evaluation/EvaluationListCard.tsx
  console/src/pages/Evaluation/EvaluationWidgetResults.tsx
  console/vite.config.ts
Labels: enhancement ❤️, hotfix 🔥, console 🎨

#1754 fix(console): dataset missing records
  console/src/pages/Dataset/DatasetVersionOverviewFiles.tsx
Labels: hotfix 🔥, console 🎨

#1755 chore(example): use the latest starwhale version in pytorch runtime
  example/runtime/pytorch-cn-mirror/requirements.txt
  example/runtime/pytorch-cn-mirror/runtime.yaml
  example/runtime/pytorch/requirements-sw-lock.txt
  example/runtime/pytorch/requirements.txt
  example/runtime/pytorch/runtime.yaml
Labels: chore 🛎️, example 🚕, e2e

#1759 chore(client): tune gradio import to slove slow import issue
  client/starwhale/api/_impl/service.py
  scripts/client_test/cli_test.py
Labels: chore 🛎️, sdk 🐶, client 🌈

#1758 refactor(controller): move mapper xml to annotation
  server/controller/src/main/java/ai/starwhale/mlops/domain/evaluation/mapper/ViewConfigMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/evaluation/po/ViewConfigEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/step/mapper/StepMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/step/po/StepEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/mapper/TaskMapper.java
  server/controller/src/main/resources/mapper/StepMapper.xml
  server/controller/src/main/resources/mapper/TaskMapper.xml
  server/controller/src/main/resources/mapper/ViewConfigMapper.xml
  server/controller/src/test/java/ai/starwhale/mlops/domain/evaluation/mapper/ViewConfigMapperTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/step/mapper/StepMapperTest.java
Labels: controller 🏘️, e2e
