Repository star-whale/starwhale, pull requests merged in 2023-07, with the labels that each got.

#2441 bug(client): fix trio typing plugin not found error
  client/Makefile
  client/requirements-dev.txt
  client/setup.py
Labels: bug 🐛, ci 🕹️, client 🌈

#2433 feat(client): support retries and timeout for pypi settings
  client/scripts/sw-docker-entrypoint
  client/starwhale/utils/docker.py
  client/starwhale/utils/venv.py
  client/tests/core/test_runtime.py
  client/tests/utils/test_venv.py
  server/controller/src/main/java/ai/starwhale/mlops/configuration/RunTimeProperties.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/ModelServingService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/ModelServingServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/system/SystemSettingServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sTaskSchedulerTest.java
Labels: controller 🏘️, client 🌈, e2e

#2446 fix(controller): task status changed canceled when success
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/JobEventHandler.java
Labels: e2e

#2443 fix(controller): can not stop the workload after cancelling
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/watchers/TaskWatcherForSchedule.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TaskWatcherForScheduleTest.java
Labels: bug 🐛, controller 🏘️

#2444 chore(client): show trackback locals in the trace mode
  client/scripts/sw-docker-entrypoint
  client/starwhale/utils/debug.py
  client/tests/utils/test_common.py
  scripts/client_test/cmds/artifacts_cmd.py
Labels: chore 🛎️, client 🌈, e2e

#2449 chore(client): remove useless httpx verbose log
  client/starwhale/core/model/copy.py
Labels: chore 🛎️

#2451 fix(controller): allow guest accessing the runtime
  server/controller/src/main/java/ai/starwhale/mlops/api/RuntimeApi.java
Labels: bug 🐛, controller 🏘️

#2453 chore(docker): add base os dependencies for stable diffusion environment
  docker/Dockerfile.base
  docker/Makefile
Labels: docker 🗃️

#2447 chore(controller): resource in private project can not be shared
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeServiceTest.java
Labels: chore 🛎️, controller 🏘️

#2448 fix(console): route to the original project of the shared resource
  console/src/domain/dataset/components/DatasetTreeSelector.tsx
  console/src/domain/model/components/ModelTreeSelector.tsx
  console/src/domain/runtime/components/RuntimeTreeSelector.tsx
Labels: hotfix 🔥, console 🎨

#2461 hotfix(client): fix model run override task num does not work issue
  client/starwhale/base/scheduler/__init__.py
  client/tests/sdk/test_job.py
Labels: hotfix 🔥, client 🌈, e2e

#2463 feat(console): support job step with need_dataset, system setting full height
  console/src/domain/job/components/JobForm.tsx
  console/src/domain/model/schemas/modelVersion.tsx
  console/src/pages/Admin/SystemSettings.tsx
Labels: enhancement ❤️, feature ✨, console 🎨

#2464 chore(client): add duration_seconds for ppl result
  client/starwhale/api/_impl/evaluation.py
  client/tests/sdk/test_evaluation.py
Labels: chore 🛎️, client 🌈, e2e

#2459 feat(client): add 'require_dataset' for job handler
  client/starwhale/api/_impl/evaluation.py
  client/starwhale/api/_impl/experiment.py
  client/starwhale/api/_impl/job.py
  client/starwhale/base/scheduler/step.py
  client/starwhale/base/scheduler/task.py
  client/tests/core/test_model.py
  client/tests/sdk/test_job.py
  client/tests/sdk/test_model.py
  console/src/domain/job/components/JobForm.tsx
  console/src/domain/model/schemas/modelVersion.tsx
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/job/JobRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/spec/StepSpec.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/spec/JobSpecTest.java
Labels: feature ✨

#2458 chore(console): add cancelling in job status
  console/src/domain/job/components/JobStatus.tsx
  console/src/domain/job/schemas/job.tsx
  console/src/i18n/locales.ts
Labels: chore 🛎️, console 🎨

#2470 enhance(ci): support more invoke funtions to simply e2e output
  scripts/client_test/cli_test.py
  scripts/client_test/cmds/artifacts_cmd.py
  scripts/client_test/cmds/base/common.py
  scripts/client_test/cmds/base/invoke.py
  scripts/client_test/cmds/instance_cmd.py
  scripts/client_test/cmds/job_cmd.py
  scripts/client_test/cmds/project_cmd.py
Labels: enhancement ❤️, ci 🕹️, e2e

#2468 fix(controller): fix running tasks under failed job is not cancled
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/status/JobUpdateHelper.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobUpdateHelperTest.java
Labels: bug 🐛

#2471 fix(image): use the same logic with client when resolve image's repo
  server/controller/src/main/java/ai/starwhale/mlops/common/DockerImage.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/test/java/ai/starwhale/mlops/common/DockerImageTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeVersionConverterTest.java
Labels: bug 🐛

#2455 chore(controller): make all the shared resource unshared when project change to private
  server/controller/src/main/java/ai/starwhale/mlops/api/ProjectController.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/mapper/DatasetVersionMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/po/DatasetVersionEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/mapper/ModelVersionMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/po/ModelVersionEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/bo/Project.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/mapper/RuntimeVersionMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/po/RuntimeVersionEntity.java
  server/controller/src/test/java/ai/starwhale/mlops/api/ProjectControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/mapper/DatasetVersionMapperTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/mapper/ModelVersionMapperTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/project/ProjectServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/mapper/RuntimeVersionMapperTest.java
Labels: chore 🛎️, controller 🏘️

#2454 feat(runtime): support run commands in the runtime.yaml
  client/starwhale/base/type.py
  client/starwhale/core/runtime/model.py
  client/tests/core/test_runtime.py
  example/runtime/pytorch-e2e/runtime-3-10.yaml
  example/runtime/pytorch-e2e/runtime-3-7.yaml
  example/runtime/pytorch-e2e/runtime-3-8.yaml
  example/runtime/pytorch-e2e/runtime-3-9.yaml
  example/runtime/pytorch-e2e/runtime.yaml
  scripts/example/runtime.yaml
  scripts/example/runtime_conda.yaml
  scripts/example/src/evaluator.py
Labels: feature ✨, client 🌈, e2e

#2462 bug(client): fix builtin runtime run error
  client/starwhale/core/runtime/process.py
  client/tests/core/test_runtime_process.py
  scripts/client_test/cli_test.py
  scripts/e2e_test/start_test.sh
Labels: bug 🐛, client 🌈, runtime🐌, e2e

#2457 chore(controller): prefer using pod failed reason
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/watchers/log/TaskLogK8sCollector.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/JobEventHandler.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sClient.java
  server/controller/src/main/resources/db/migration/v0_4_0/V0_4_0_009__task_fail_reason_type.sql
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/JobEventHandlerTest.java
Labels: chore 🛎️, controller 🏘️

#2484 chore(client): force to limit pydantic version < 2.0.0
  client/setup.py
Labels: chore 🛎️, client 🌈

#2487 fix(controller): search built-in runtime by model project id
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobService.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobServiceTest.java
Labels: bug 🐛

#2489 fix(console): unstable e2e when check checkbox
  console/playwright/tests/admin-project.spec.ts
Labels: console 🎨

#2491 fix(controller): set project id for model BO
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/Model.java
Labels: bug 🐛

#2490 fix(controller): task may be running after cancelled
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/PodEventHandler.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/PodEventHandlerTest.java
Labels: bug 🐛, controller 🏘️

#2476 feat(dataset): support dataset build from huggingface dataset
  client/requirements-dev.txt
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/view.py
  client/starwhale/integrations/huggingface/__init__.py
  client/starwhale/integrations/huggingface/dataset.py
  client/tests/core/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
Labels: feature ✨, sdk 🐶, client 🌈, dataset🐫

#2495 chore(console): add confirm when cancelling or pausing tasks
  console/src/api/const.ts
  console/src/i18n/locales.ts
  console/src/pages/Job/JobListCard.tsx
Labels: chore 🛎️, console 🎨

#2493 fix(client): check if exists when upload built-in runtime in the progress of model copy
  client/starwhale/base/bundle_copy.py
  client/tests/base/test_copy.py
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
Labels: bug 🐛

#2465 e2e: add artifacts download case to e2e & make local e2e easier
  scripts/client_test/cli_test.py
  scripts/client_test/cli_test.sh
  scripts/client_test/cmds/artifacts_cmd.py
  scripts/client_test/requirements.txt
  scripts/example/runtime.yaml
  scripts/example/runtime_conda_init.sh
Labels: e2e

#2498 chore(client): update huggingface dataset string/binary convert logical
  client/starwhale/core/dataset/view.py
  client/starwhale/integrations/huggingface/dataset.py
  client/starwhale/utils/fs.py
  client/tests/sdk/test_dataset_sdk.py
  example/text_cls_AG_NEWS/dataset.yaml
  example/text_cls_AG_NEWS/tcan/dataset.py
Labels: chore 🛎️, example 🚕, client 🌈

#2492 chore(controller): make view config in eval project scope
  server/controller/src/main/java/ai/starwhale/mlops/api/EvaluationApi.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/evaluation/EvaluationService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/evaluation/mapper/ViewConfigMapper.java
  server/controller/src/main/resources/db/migration/v0_4_0/V0_4_0_010__update_view_config.sql
  server/controller/src/test/java/ai/starwhale/mlops/domain/evaluation/EvaluationServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/evaluation/mapper/ViewConfigMapperTest.java
Labels: chore 🛎️, controller 🏘️

#2496 chore(client): add max_batch_size for update_table in tablewriter
  client/starwhale/api/_impl/data_store.py
  client/tests/sdk/test_data_store.py
Labels: chore 🛎️, client 🌈, e2e

#2500 bug(dataset): clear Text._content for datastore
  client/starwhale/api/_impl/dataset/builder/mapping_builder.py
  client/starwhale/core/dataset/type.py
Labels: bug 🐛, sdk 🐶, dataset🐫

#2499 chore(console): disable sharing resource in private project
  console/src/pages/Dataset/DatasetVersionOverview.tsx
  console/src/pages/Model/ModelVersionOverview.tsx
  console/src/pages/Runtime/RuntimeVersionOverview.tsx
Labels: chore 🛎️, console 🎨

#2503 chore(controller): refine docker image building
  docker/Dockerfile.server
  docker/Makefile
Labels: chore 🛎️, controller 🏘️

#2502 controller: add conda config to system setting
  client/scripts/sw-docker-entrypoint
  server/controller/src/main/java/ai/starwhale/mlops/configuration/RunTimeProperties.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/SystemSetting.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/SystemSettingService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/listener/RunTimePropertiesListener.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/main/resources/application.yaml
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/system/SystemSettingServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sTaskSchedulerTest.java
Labels: e2e

#2504 chore(controller): refine the exposed links
  console/src/domain/job/components/ExposedLink.tsx
  console/src/domain/job/schemas/job.tsx
  console/src/pages/Job/JobListCard.tsx
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/job/ExposedLinkVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/job/JobVo.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/converter/JobConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/step/ExposedType.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/converter/JobConverterTest.java
Labels: chore 🛎️, console 🎨, controller 🏘️

#2505 hotfix(example): fix ag_news example evaluation typo
  example/text_cls_AG_NEWS/tcan/evaluator.py
  example/transformer/ag_news/code/evaluator.py
Labels: hotfix 🔥, example 🚕

#2508 feat(runtime): auto ingest some known libs pip setup_requires for preparing
  client/starwhale/core/runtime/model.py
  client/tests/core/test_runtime.py
Labels: feature ✨, client 🌈, e2e

#2516 enhance(controller): support tencent oss offical sdk
  server/controller/src/main/java/ai/starwhale/mlops/domain/blob/CachedBlobService.java
  server/pom.xml
  server/storage-access-layer/pom.xml
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/autofit/CompatibleStorageAccessService.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/autofit/qcloud/CompatibleStorageAccessServiceBuilderQcloud.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/autofit/s3/CompatibleStorageAccessServiceS3Like.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/configuration/StorageAccessConfig.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/qcloud/StorageAccessServiceQcloud.java
  server/storage-access-layer/src/test/java/ai/starwhale/mlops/storage/qcloud/StorageAccessServiceQcloudTest.java
Labels: enhancement ❤️, controller 🏘️

#2506 enhance(controller): support exporting prometheus metrics
  docker/charts/templates/controller-deployment.yaml
  docker/charts/values.yaml
  server/controller/pom.xml
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/cache/HotJobHolderImpl.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/spec/JobSpecParser.java
  server/controller/src/main/resources/application.yaml
  server/controller/src/test/java/ai/starwhale/mlops/ObjectMockHolder.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetUploaderTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/HotJobHolderImplTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelServiceTest.java
  server/pom.xml
Labels: enhancement ❤️, controller 🏘️

#2511 enhance(sdk): the localstore data will be auto dumpped when close the tablewriter
  client/starwhale/api/_impl/data_store.py
  client/tests/core/test_dataset.py
Labels: dataset🐫, datastore 🐇, e2e

#2525 fix(console): prevent 403 when file upload to oss
  console/packages/starwhale-ui/src/Upload/DraggerUpload.tsx
Labels: bug 🐛, console 🎨, dataset🐫

#2526 fix(sdk): set require_ds to true when use pipeline handler
  client/starwhale/api/_impl/job.py
  client/tests/sdk/test_job.py
Labels: bug 🐛

#2528 example(LLM): support llama2 model evaluation
  client/.flake8
  client/pyproject.toml
  example/LLM/llama2/.gitignore
  example/LLM/llama2/README.md
  example/LLM/llama2/evaluation.py
  example/LLM/llama2/llama/__init__.py
  example/LLM/llama2/llama/generation.py
  example/LLM/llama2/llama/model.py
  example/LLM/llama2/llama/tokenizer.py
  example/LLM/llama2/runtime.yaml
Labels: example 🚕

#2534 chore(example): add docker image field in sd demo
  example/stable-diffusion/txt2img/runtime.yaml
Labels: chore 🛎️, example 🚕

#2527 chore(controller): use the same oss schema with server
  server/controller/src/main/java/ai/starwhale/mlops/domain/filestorage/FileStorageService.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/filestorage/FileStorageServiceTest.java
Labels: chore 🛎️, controller 🏘️

#2537 fix(controller): merge annotations with the original in template
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sJobTemplate.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sJobTemplateTest.java
Labels: bug 🐛, controller 🏘️

#2536 fix(controller): the job is deleted even if exception occurs when collecting logs
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sTaskSchedulerTest.java
Labels: bug 🐛, controller 🏘️

#2539 chore(doc): refresh doc links
  README.md
  console/src/consts/index.ts
Labels: doc 📄, chore 🛎️

#2538 fix(controller): datasetName compare use equals function
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetService.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetServiceTest.java
Labels: bug 🐛

#2542 hotfix(example): fix the readme and quickstart examples outdated issue
  README.md
  docker/charts/templates/NOTES.txt
  example/mnist/dataset.yaml
  example/notebooks/quickstart-standalone.ipynb
  example/runtime/pytorch-cn-mirror/requirements.txt
  example/runtime/pytorch/requirements.txt
Labels: doc 📄, hotfix 🔥, example 🚕

#2544 bug(example): fix quickstart notebook path bug
  example/notebooks/quickstart-standalone.ipynb
Labels: bug 🐛, example 🚕

#2546 chore(doc): add doc for minikube share access
  README.md
Labels: doc 📄, chore 🛎️

#2548 chore(example): upgrade pytorch version for examples
  example/runtime/pytorch-cn-mirror/requirements.txt
  example/runtime/pytorch-e2e/requirements.txt
  example/runtime/pytorch/requirements.txt
Labels: example 🚕

#2482 enhance(entrypoint): separate stable entrypoint from sw client entry
  .github/workflows/e2e-test.yml
  .github/workflows/release.yml
  client/scripts/sw-docker-entrypoint
  client/starwhale/consts/__init__.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/template/Dockerfile.tmpl
  client/tests/core/test_runtime.py
  docker/Dockerfile.base
  docker/Dockerfile.starwhale
  docker/Makefile
  docker/charts/templates/_helpers.tpl
  docker/external/base-entrypoint.sh
  scripts/client_test/update_controller_setting.sh
  scripts/e2e_test/start_test.sh
  scripts/publish/image_sync.sh
  scripts/publish/pub.sh
  server/controller/src/main/java/ai/starwhale/mlops/configuration/RunTimeProperties.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/ModelServingService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/bo/JobRuntime.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/converter/JobBoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/po/RuntimeVersionEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/SystemSetting.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/SystemSettingService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/listener/RunTimePropertiesListener.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/main/resources/application.yaml
  server/controller/src/main/resources/template/image-build.yaml
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/ModelServingServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeTestConstants.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeVersionConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/system/SystemSettingServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sTaskSchedulerTest.java
Labels: enhancement ❤️, infra 🏖️, e2e

#2545 chore(controller): show the latest alias
  console/src/domain/base/schemas/resource.tsx
  console/src/domain/base/utils/alias.ts
  console/src/domain/dataset/components/DatasetLabel.tsx
  console/src/domain/dataset/schemas/datasetVersion.tsx
  console/src/domain/model/components/ModelLabel.tsx
  console/src/domain/model/schemas/modelVersion.tsx
  console/src/domain/runtime/components/RuntimeLabel.tsx
  console/src/domain/runtime/schemas/runtimeVersion.tsx
  console/src/pages/Dataset/DatasetVersionListCard.tsx
  console/src/pages/Model/ModelVersionListCard.tsx
  console/src/pages/Runtime/RuntimeVersionListCard.tsx
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/dataset/DatasetVersionViewVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/dataset/DatasetVersionVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/model/ModelVersionViewVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/model/ModelVersionVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/runtime/RuntimeVersionViewVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/runtime/RuntimeVersionVo.java
  server/controller/src/main/java/ai/starwhale/mlops/common/VersionAliasConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/converter/DatasetVersionVoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/converter/ModelVersionVoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/converter/RuntimeVersionConverter.java
  server/controller/src/test/java/ai/starwhale/mlops/common/VersionAliasConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/converter/DatasetVersionVoConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelVersionConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeVersionConverterTest.java
Labels: chore 🛎️, console 🎨, controller 🏘️

#2550 bug(example): fix dataset ipynb typo
  example/notebooks/dataset-sdk.ipynb
Labels: example 🚕

#2551 feat(console): support model readme preview
  console/package.json
  console/packages/starwhale-ui/src/Markdown/Markdown.tsx
  console/packages/starwhale-ui/src/Markdown/index.tsx
  console/packages/starwhale-ui/src/Markdown/markdown.css
  console/src/domain/model/hooks/useCurrentModelFile.ts
  console/src/pages/Model/ModelOverviewLayout.tsx
  console/src/pages/Model/ModelReadmeOverview.tsx
  console/src/routes.tsx
  console/yarn.lock
Labels: feature ✨, console 🎨

#2540 fix(controller): page not working
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/evaluation/EvaluationService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/step/mapper/StepMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/TaskService.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/PageTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/evaluation/EvaluationServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TaskServiceTest.java
Labels: bug 🐛

#2553 chore(e2e): install the correct version in e2e when run job
  docker/external/base-entrypoint.sh
  example/runtime/pytorch-e2e/requirements.txt
  scripts/client_test/update_controller_setting.sh
Labels: e2e

#2555 fix(controller): oss path typo
  server/controller/src/main/java/ai/starwhale/mlops/domain/filestorage/FileStorageService.java
  server/controller/src/main/resources/application.yaml
  server/controller/src/test/java/ai/starwhale/mlops/domain/filestorage/FileStorageServiceTest.java
Labels: bug 🐛

#2556 fix(controller): fix charset bug for export csv
  server/controller/src/main/java/ai/starwhale/mlops/datastore/exporter/RecordsExporterCsv.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/exporter/RecordsExporterCsvTest.java
Labels: bug 🐛

#2558 bug(ci): fix release.yaml needs typo
  .github/workflows/release.yml
Labels: bug 🐛, ci 🕹️

#2559 update(console): widget full reload to module reload in vite hmr 、 baidu analytics
  console/index.html
  console/packages/starwhale-core/src/widget/WidgetFactory.tsx
  console/packages/starwhale-core/src/widget/WidgetRenderTree.tsx
  console/vite.config.ts
Labels: chore 🛎️, console 🎨

#2554 chore(chart):update chart desc and server image tag in e2e
  docker/charts/templates/NOTES.txt
  docker/charts/templates/controller-deployment.yaml
  docker/charts/values.yaml
  scripts/e2e_test/start_test.sh
  scripts/publish/pub.sh
Labels: chore 🛎️, e2e

#2564 feat(controller): add header for exported csv
  server/controller/src/main/java/ai/starwhale/mlops/datastore/exporter/RecordsExporterCsv.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/exporter/RecordsExporterCsvTest.java
Labels: controller 🏘️

#2563 fix(controller): do not validate the resource with name in filter
  server/controller/src/main/java/ai/starwhale/mlops/configuration/security/ProjectNameExtractorDataStoreMixed.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/BundleAccessor.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/mapper/DatasetMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/mapper/ModelMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/mapper/RuntimeMapper.java
  server/controller/src/test/java/ai/starwhale/mlops/api/config/ProjectNameExtractorDataStoreMixedTest.java
Labels: bug 🐛, controller 🏘️

#2567 bug(client): fix commands help typo
  client/starwhale/core/job/cli.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/runtime/cli.py
Labels: bug 🐛, client 🌈

#2565 fix(controller): online log with the correct pod
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/log/CancellableJobLogK8sCollector.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/log/CancellableJobLogK8sCollectorFactoryTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/log/CancellableJobLogK8sCollectorTest.java
Labels: bug 🐛, controller 🏘️

#2570 chore(SDK): update sdk help docs and fix `fine_tune` needs typo
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/api/_impl/evaluation.py
  client/starwhale/api/_impl/experiment.py
  client/starwhale/api/_impl/job.py
  client/starwhale/api/_impl/model.py
  client/tests/sdk/test_evaluation.py
  client/tests/sdk/test_job.py
  example/mnist/mnist/plain_evaluator.py
Labels: doc 📄, sdk 🐶

#2575 bug(client): fix base/cuda image typo
  client/starwhale/consts/__init__.py
  client/starwhale/core/runtime/model.py
  client/tests/core/test_runtime.py
  docker/Makefile
Labels: bug 🐛, client 🌈, e2e

#2573 fix(controller): make model size works
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/mapper/ModelVersionMapper.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/mapper/ModelVersionMapperTest.java
Labels: bug 🐛, controller 🏘️
