Repository star-whale/starwhale, pull requests merged in 2023-05, with the labels that each got.

#2164 enhance(runtime): make conda export for URL for pip packages installed from git
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/model.py
  client/starwhale/utils/venv.py
  client/tests/core/test_runtime.py
  example/mnist/model2.yaml
  scripts/example/runtime_conda.yaml
Labels: enhancement ❤️, client 🌈, runtime🐌, e2e

#2158 enhance(client): tune client logger/console.print
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/dataset/builder/mapping_builder.py
  client/starwhale/api/_impl/dataset/loader.py
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/api/_impl/evaluation.py
  client/starwhale/api/_impl/job.py
  client/starwhale/api/_impl/track/collector.py
  client/starwhale/api/_impl/track/tracker.py
  client/starwhale/api/_impl/wrapper.py
  client/starwhale/base/bundle.py
  client/starwhale/base/bundle_copy.py
  client/starwhale/base/context.py
  client/starwhale/base/scheduler/__init__.py
  client/starwhale/base/scheduler/step.py
  client/starwhale/base/scheduler/task.py
  client/starwhale/cli/__init__.py
  client/starwhale/cli/assistance/broker.py
  client/starwhale/cli/assistance/cli.py
  client/starwhale/cli/assistance/common.py
  client/starwhale/cli/assistance/host.py
  client/starwhale/consts/__init__.py
  client/starwhale/core/dataset/copy.py
  client/starwhale/core/dataset/store.py
  client/starwhale/core/dataset/tabular.py
  client/starwhale/core/job/view.py
  client/starwhale/core/model/model.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/process.py
  client/starwhale/utils/__init__.py
  client/starwhale/utils/console.py
  client/starwhale/utils/debug.py
  client/starwhale/utils/http.py
  client/starwhale/utils/load.py
  client/starwhale/utils/process.py
  client/starwhale/utils/progress.py
  client/starwhale/utils/venv.py
  client/tests/sdk/test_track.py
  client/tests/utils/test_common.py
  example/mnist/mnist/custom_evaluator.py
  example/ucf101/ucf101/custom_evaluator.py
  scripts/client_test/cmds/base/invoke.py
Labels: enhancement ❤️, client 🌈, e2e

#2178 chore(ci): disable release image build on push event
  .github/workflows/release-base.yml
Labels: chore 🛎️, ci 🕹️

#2182 enhance(sdk): enhance model build sdk for searching modules
  .github/workflows/client.yaml
  client/starwhale/api/_impl/job.py
  client/starwhale/api/_impl/model.py
  client/starwhale/base/bundle.py
  client/starwhale/core/model/model.py
  client/starwhale/utils/__init__.py
  client/tests/sdk/test_job.py
  client/tests/sdk/test_model.py
  example/mnist/mnist/plain_evaluator.py
  example/mnist/model2.yaml
  scripts/client_test/cli_test.py
  scripts/client_test/cli_test.sh
  scripts/client_test/cmds/base/invoke.py
  scripts/example/src/sdk_model_build.py
Labels: enhancement ❤️, sdk 🐶, e2e

#2175 enhance(model): provide snapshot for model run
  client/scripts/sw-docker-entrypoint
  client/starwhale/base/type.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/starwhale/utils/fs.py
  client/tests/core/test_model.py
Labels: enhancement ❤️, client 🌈, model🐇, e2e

#2124 refactor(client): use uri components instead of URI
  client/starwhale/api/_impl/dataset/builder/mapping_builder.py
  client/starwhale/api/_impl/dataset/loader.py
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/api/_impl/evaluation.py
  client/starwhale/base/bundle.py
  client/starwhale/base/bundle_copy.py
  client/starwhale/base/cloud.py
  client/starwhale/base/store.py
  client/starwhale/base/tag.py
  client/starwhale/base/type.py
  client/starwhale/base/uricomponents/instance.py
  client/starwhale/base/uricomponents/project.py
  client/starwhale/base/uricomponents/resource.py
  client/starwhale/base/view.py
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/copy.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/store.py
  client/starwhale/core/dataset/tabular.py
  client/starwhale/core/dataset/type.py
  client/starwhale/core/dataset/view.py
  client/starwhale/core/instance/model.py
  client/starwhale/core/job/model.py
  client/starwhale/core/job/store.py
  client/starwhale/core/job/view.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/store.py
  client/starwhale/core/model/view.py
  client/starwhale/core/project/model.py
  client/starwhale/core/project/view.py
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/process.py
  client/starwhale/core/runtime/store.py
  client/starwhale/core/runtime/view.py
  client/tests/base/test_cloud.py
  client/tests/base/test_copy.py
  client/tests/base/test_tag.py
  client/tests/base/uricomponents/test_resource.py
  client/tests/core/test_dataset.py
  client/tests/core/test_dataset_store.py
  client/tests/core/test_eval.py
  client/tests/core/test_model.py
  client/tests/core/test_project.py
  client/tests/core/test_runtime.py
  client/tests/core/test_runtime_process.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
  client/tests/sdk/test_evaluation.py
  client/tests/sdk/test_loader.py
  example/mnist/mnist/custom_evaluator.py
  scripts/client_test/cli_test.py
  scripts/client_test/cmds/artifacts_cmd.py
Labels: refactor 🐛, size/l 🐘, client 🌈, e2e

#2186 chore(e2e): fix conda runtime e2e test
  .github/workflows/client.yaml
  .github/workflows/e2e-test.yml
  client/starwhale/core/runtime/model.py
  client/starwhale/utils/progress.py
  client/starwhale/utils/venv.py
  client/tests/core/test_runtime.py
  scripts/client_test/cli_test.py
  scripts/client_test/cli_test.sh
  scripts/example/runtime_conda.yaml
Labels: enhancement ❤️, chore 🛎️, e2e

#2183 chore(sdk): PipelineHandler support `predict` and `evaluate` function interface
  client/starwhale/api/_impl/evaluation.py
  client/starwhale/api/_impl/job.py
  client/starwhale/base/scheduler/task.py
  client/starwhale/core/job/view.py
  client/tests/sdk/test_evaluation.py
  client/tests/sdk/test_job.py
  example/cifar10/cifar/evaluator.py
  example/mnist/mnist/evaluator.py
  example/ucf101/ucf101/evaluator.py
Labels: chore 🛎️, sdk 🐶, e2e

#2184 bug(client): fix the expired jobs.yaml for workdir mode in the swcli model run command
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/tests/core/test_model.py
Labels: bug 🐛, client 🌈

#2187 enhance(model): change current workdir to snapshot dir for model run command
  client/starwhale/core/model/model.py
  client/tests/core/test_model.py
  scripts/example/src/evaluator.py
  scripts/example/templates/data.json
Labels: enhancement ❤️, model🐇, e2e

#2177 feat(mode): add `model extract` command
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/starwhale/utils/fs.py
  client/tests/core/test_model.py
Labels: feature ✨, client 🌈

#2180 chore(client): add test case for needs on normal function
  client/tests/sdk/test_job.py
Labels: chore 🛎️, client 🌈

#2173 chore(controller): make status as running when pod condition contains PodScheduled
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/PodEventHandler.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/PodEventHandlerTest.java
Labels: chore 🛎️, controller 🏘️

#2149 Project.md
  docs/docs/instances/server/project.md
Labels: doc 📄

#2191 hotfix(ci): fix handler name typo for examples
  scripts/client_test/cli_test.py
Labels: hotfix 🔥, ci 🕹️

#2188 fix(datastore): fix NPE when updating type of list element
  server/controller/src/main/java/ai/starwhale/mlops/datastore/ColumnSchema.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/TableSchemaTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/impl/MemoryTableImplTest.java
Labels: bug 🐛, controller 🏘️, datastore 🐇

#2194 chore(SDK): add kwargs for PipelineHandler init
  client/starwhale/api/_impl/evaluation.py
Labels: chore 🛎️, sdk 🐶

#2193 enhance(client): model build ignore venv and python cache files by default
  client/starwhale/api/_impl/model.py
  client/starwhale/base/blob/store.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/tests/base/test_store.py
  client/tests/core/test_model.py
Labels: enhancement ❤️, client 🌈, model🐇

#2199 fix(console): column wrong width when grid resize, job form wrong step when trigger raw type, etc
  console/Makefile
  console/packages/starwhale-ui/src/GridTable/GridCombineTable.tsx
  console/packages/starwhale-ui/src/GridTable/GridCompareTable.tsx
  console/packages/starwhale-ui/src/GridTable/GridTable.tsx
  console/packages/starwhale-ui/src/GridTable/components/ConfigViews/ConfigViews.tsx
  console/packages/starwhale-ui/src/GridTable/components/ToolBar/index.tsx
  console/packages/starwhale-ui/src/GridTable/const.ts
  console/packages/starwhale-ui/src/GridTable/hooks/useGridSave.ts
  console/packages/starwhale-ui/src/base/data-table/column.tsx
  console/packages/starwhale-ui/src/base/data-table/data-custom-table.tsx
  console/packages/starwhale-ui/src/base/data-table/headers/header-cell.tsx
  console/packages/starwhale-ui/src/base/data-table/headers/header.tsx
  console/packages/starwhale-ui/src/base/data-table/headers/headers.tsx
  console/packages/starwhale-ui/src/base/data-table/inner-table-element.tsx
  console/packages/starwhale-ui/src/base/tree-view/styled-components.ts
  console/packages/starwhale-ui/src/i18n/en.ts
  console/packages/starwhale-ui/src/i18n/index.ts
  console/src/api/ApiHeader.tsx
  console/src/components/Alias.tsx
  console/src/domain/job/components/JobForm.tsx
  console/tsconfig.base.json
  console/tsconfig.json
Labels: hotfix 🔥, console 🎨

#2192 enhance(sdk): predict function accepts the multi input argument modes
  client/starwhale/api/_impl/evaluation.py
  client/tests/sdk/test_evaluation.py
  client/tests/sdk/test_job.py
  example/LLM/bard/chat/code/evaluator.py
  example/LLM/bard/text_cls/code/evaluator.py
  example/LLM/chat-gpt/chat/code/evaluator.py
  example/LLM/chat-gpt/text_cls/code/evaluator.py
  example/LLM/chatglm6b/evaluator.py
  example/PennFudanPed/pfp/evaluator.py
  example/cifar10/cifar/evaluator.py
  example/imageNet-ft/imagenet/pipeline.py
  example/mnist/mnist/evaluator.py
  example/mnist/mnist/plain_evaluator.py
  example/nmt/nmt/evaluator.py
  example/speech_command/sc/evaluator.py
  example/stable-diffusion/txt2img/run.py
  example/text_cls_AG_NEWS/tcan/evaluator.py
  example/transformer/ag_news/code/evaluator.py
  example/transformer/cifar100/code/evaluator.py
  example/ucf101/ucf101/evaluator.py
  scripts/example/src/evaluator.py
Labels: enhancement ❤️, sdk 🐶, e2e

#2200 chore(datastore): encodeWithType set to true by default
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/dataset/model.py
  client/tests/sdk/test_data_store.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/datastore/ScanTableRequest.java
  server/controller/src/test/java/ai/starwhale/mlops/api/DataStoreControllerTest.java
Labels: controller 🏘️, client 🌈, datastore 🐇

#2196 enhance(sdk): support multi modes for predict result logging
  README.md
  client/starwhale/api/_impl/evaluation.py
  client/starwhale/api/_impl/wrapper.py
  client/starwhale/base/type.py
  client/tests/sdk/test_evaluation.py
  client/tests/sdk/test_job.py
  client/tests/sdk/test_wrapper.py
  docs/docs/examples/ucf101.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/evaluation/api/sdk.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/examples/pfp.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/examples/speech.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/examples/ucf101.md
  example/LLM/bard/text_cls/code/evaluator.py
  example/LLM/chat-gpt/text_cls/code/evaluator.py
  example/PennFudanPed/pfp/evaluator.py
  example/cifar10/cifar/evaluator.py
  example/imageNet-ft/imagenet/pipeline.py
  example/mnist/mnist/evaluator.py
  example/mnist/mnist/plain_evaluator.py
  example/nmt/nmt/evaluator.py
  example/speech_command/sc/evaluator.py
  example/text_cls_AG_NEWS/tcan/evaluator.py
  example/transformer/ag_news/code/evaluator.py
  example/transformer/cifar100/code/evaluator.py
  example/ucf101/ucf101/evaluator.py
  scripts/example/src/evaluator.py
Labels: enhancement ❤️, e2e

#2212 chore(datastore): change map resp layout and add type for null value
  client/starwhale/api/_impl/data_store.py
  client/tests/sdk/test_data_store.py
  console/packages/starwhale-core/src/datastore/__tests__/model.test.ts
  console/packages/starwhale-core/src/datastore/model.ts
  server/controller/src/main/java/ai/starwhale/mlops/datastore/type/BaseValue.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/type/MapValue.java
  server/controller/src/test/java/ai/starwhale/mlops/api/DataStoreControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/DataStoreTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/type/BaseValueTest.java
Labels: console 🎨, controller 🏘️, client 🌈, datastore 🐇, e2e

#2211 enhance(client): tune model run output for runnable handlers
  client/starwhale/base/scheduler/step.py
  client/starwhale/core/model/model.py
  client/starwhale/utils/debug.py
  example/mnist/mnist/plain_evaluator.py
  example/nmt/nmt/evaluator.py
Labels: enhancement ❤️, client 🌈

#2198 chore(sdk): set predict replicas default to 1
  client/starwhale/api/_impl/evaluation.py
  client/starwhale/api/_impl/job.py
  client/tests/sdk/test_job.py
  example/LLM/bard/text_cls/code/evaluator.py
  example/LLM/chat-gpt/chat/code/evaluator.py
  example/LLM/chat-gpt/text_cls/code/evaluator.py
  example/PennFudanPed/pfp/evaluator.py
  example/speech_command/sc/evaluator.py
Labels: chore 🛎️, sdk 🐶, e2e

#2215 enhance(client): detect shell conda bin path at first
  client/starwhale/utils/venv.py
  client/tests/core/test_runtime.py
Labels: enhancement ❤️, client 🌈

#2210 chore(datastore): batch put records with unknown type
  client/starwhale/api/_impl/data_store.py
  client/starwhale/base/bundle_copy.py
Labels: client 🌈, datastore 🐇, e2e

#2209 enhance(sdk): add more info into external for predict function
  client/starwhale/api/_impl/evaluation.py
  client/tests/sdk/test_evaluation.py
  scripts/example/src/evaluator.py
Labels: enhancement ❤️, sdk 🐶, e2e

#2216 enhance(client): tune runtime activate for the broken restore
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/process.py
  client/tests/core/test_model.py
  client/tests/core/test_runtime.py
  client/tests/core/test_runtime_process.py
Labels: enhancement ❤️, client 🌈, runtime🐌

#2219 chore(runtime): add pip compatible dependencies check for runtime build from existed env
  client/starwhale/core/runtime/model.py
  client/starwhale/utils/venv.py
  client/tests/core/test_runtime.py
Labels: chore 🛎️, client 🌈

#2224 bug(sdk): fix predict log plain mode error
  client/starwhale/api/_impl/evaluation.py
  scripts/example/src/dataset.py
  scripts/example/src/evaluator.py
Labels: bug 🐛, sdk 🐶, e2e

#2225 fix(client): web for job info works
  client/starwhale/api/_impl/data_store.py
  client/starwhale/base/bundle_copy.py
  client/starwhale/core/job/view.py
  client/starwhale/web/data_store.py
  client/starwhale/web/project.py
  client/tests/web/test_server.py
  console/src/components/BaseNavTabs.tsx
  console/src/hooks/useRouterActivePath.ts
  console/src/pages/Evaluation/EvaluationWidgetResults.tsx
Labels: chore 🛎️, client 🌈

#2226 fix(client): parse full uri with type hint failed
  client/starwhale/base/uri/resource.py
  client/tests/base/test_copy.py
  client/tests/base/uri/test_resource.py
Labels: bug 🐛, client 🌈

#2228 fix(client): wrong column hints response in local data store web api
  client/starwhale/api/_impl/data_store.py
  client/starwhale/web/data_store.py
  client/tests/web/test_server.py
Labels: bug 🐛, client 🌈

#2221 bug(sdk): fix predict inspect with decorators issue
  client/starwhale/api/_impl/evaluation.py
  client/tests/sdk/test_evaluation.py
  scripts/example/src/evaluator.py
Labels: hotfix 🔥, sdk 🐶, e2e

#2217 chore(client): do not refine by default when parse uri str
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/base/bundle_copy.py
  client/starwhale/base/uri/exceptions.py
  client/starwhale/base/uri/resource.py
  client/starwhale/base/view.py
  client/starwhale/core/model/view.py
  client/tests/base/test_copy.py
  client/tests/base/test_tag.py
  client/tests/base/uri/test_resource.py
  client/tests/core/test_dataset.py
  client/tests/core/test_dataset_store.py
  client/tests/core/test_eval.py
  client/tests/core/test_model.py
  client/tests/core/test_runtime.py
  client/tests/core/test_runtime_process.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
  client/tests/sdk/test_evaluation.py
  client/tests/sdk/test_loader.py
  scripts/client_test/cmds/artifacts_cmd.py
Labels: chore 🛎️, client 🌈, e2e

#2229 chore(e2e): simplfy e2e test cases
  client/starwhale/api/_impl/evaluation.py
  docker/Dockerfile.starwhale
  example/runtime/pytorch-e2e/runtime-3-10.yaml
  example/runtime/pytorch-e2e/runtime-3-7.yaml
  example/runtime/pytorch-e2e/runtime-3-8.yaml
  example/runtime/pytorch-e2e/runtime-3-9.yaml
  scripts/client_test/cli_test.py
Labels: chore 🛎️, ci 🕹️, e2e

#2230 hotfix(example): workaround pfp bbox type issue
  example/PennFudanPed/pfp/evaluator.py
Labels: hotfix 🔥

#2231 fix(datastore): fix parsing type list to tuple
  client/starwhale/api/_impl/data_store.py
  client/tests/sdk/test_data_store.py
  example/PennFudanPed/pfp/evaluator.py
Labels: bug 🐛, datastore 🐇, e2e

#2232 chore(client): ignore conda env by default when building model
  client/starwhale/base/blob/store.py
  client/starwhale/core/model/model.py
  client/starwhale/utils/venv.py
  client/tests/base/test_store.py
  client/tests/core/test_runtime_process.py
Labels: chore 🛎️, client 🌈, model🐇, e2e

#2233 fix(datastore): fix faking object response of encoded type value
  client/starwhale/api/_impl/data_store.py
  client/tests/web/test_server.py
Labels: client 🌈, datastore 🐇, e2e

#2235 enhance(client): tune copy dir performance without recording ignored files
  client/starwhale/base/blob/store.py
  client/starwhale/core/model/model.py
  client/tests/base/test_store.py
  client/tests/core/test_model.py
Labels: enhancement ❤️, client 🌈, e2e

#2234 enhance(sdk): tune predict log results for user-friendly viewer
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/api/_impl/evaluation.py
  client/starwhale/api/_impl/wrapper.py
  client/starwhale/base/uri/resource.py
  client/starwhale/core/dataset/type.py
  client/tests/core/test_dataset.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_evaluation.py
  client/tests/sdk/test_job.py
  client/tests/sdk/test_wrapper.py
  scripts/client_test/step_specs/step_spec_cpu_full.yaml
  scripts/client_test/step_specs/step_spec_cpu_mini.yaml
  scripts/client_test/step_specs/step_spec_gpu_full.yaml
  scripts/example/src/dataset.py
  scripts/example/src/evaluator.py
Labels: enhancement ❤️, sdk 🐶, e2e

#2237 chore(ci):fix ut typo for useless owner
  client/tests/web/test_server.py
Labels: chore 🛎️, ci 🕹️

#2236 fix(client): model run with --runtime error when model has packaged rt
  client/starwhale/core/model/cli.py
Labels: bug 🐛, e2e

#2238 fix(client): fix project param when copy to remote
  client/starwhale/base/bundle_copy.py
  client/starwhale/base/cloud.py
  client/starwhale/core/dataset/copy.py
Labels: bug 🐛, client 🌈

#2240 fix(e2e): can't find runtime when test all
  scripts/client_test/cli_test.py
Labels: bug 🐛, e2e

#2239 chore(client): simplify entrypoint logic
  client/scripts/sw-docker-entrypoint
Labels: chore 🛎️, e2e

#2242 example: Fix chatglm6b
  example/LLM/chatglm6b/.swignore
  example/LLM/chatglm6b/evaluator.py
Labels: example 🚕

#2244 chore(ci): fix chatglm6b code format
  example/LLM/chatglm6b/evaluator.py
Labels: ci 🕹️

#2241 chore(client): use resource name when resolving version
  client/starwhale/base/uri/exceptions.py
  client/starwhale/base/uri/resource.py
  client/tests/base/uri/test_resource.py
Labels: chore 🛎️, client 🌈, e2e

#2245 enhance(console): intergrate dataset viewer to grid table, support simple query, result support show artifact
  console/packages/starwhale-core/src/dataset/hooks/useDatasetTableAnnotations.ts
  console/packages/starwhale-core/src/dataset/hooks/useDatasets.tsx
  console/packages/starwhale-core/src/dataset/index.ts
  console/packages/starwhale-core/src/dataset/types.ts
  console/packages/starwhale-core/src/dataset/utils.ts
  console/packages/starwhale-core/src/datastore/hooks/useDatastoreQueryParams.tsx
  console/packages/starwhale-core/src/datastore/hooks/useFetchDatastoreByTable.tsx
  console/packages/starwhale-core/src/form/WidgetForm.tsx
  console/packages/starwhale-ui/src/DynamicSelector/SelectorPopover.tsx
  console/packages/starwhale-ui/src/Form/forms.tsx
  console/packages/starwhale-ui/src/Form/index.module.scss
  console/packages/starwhale-ui/src/Form/index.ts
  console/packages/starwhale-ui/src/Form/item.tsx
  console/packages/starwhale-ui/src/Form/typings.ts
  console/packages/starwhale-ui/src/Form/validators.ts
  console/packages/starwhale-ui/src/GridDatastoreTable/components/Preview.tsx
  console/packages/starwhale-ui/src/GridDatastoreTable/hooks/useDatastoreColumns.tsx
  console/packages/starwhale-ui/src/GridDatastoreTable/recordAttrModel.ts
  console/packages/starwhale-ui/src/GridTable/GridCombineTable.tsx
  console/packages/starwhale-ui/src/GridTable/GridTable.tsx
  console/packages/starwhale-ui/src/GridTable/components/Query/ConfigSimpleQuery.tsx
  console/packages/starwhale-ui/src/GridTable/components/ToolBar/index.tsx
  console/packages/starwhale-ui/src/GridTable/hooks/useGrid.ts
  console/packages/starwhale-ui/src/GridTable/hooks/useGridData.ts
  console/packages/starwhale-ui/src/GridTable/hooks/useGridQuery.tsx
  console/packages/starwhale-ui/src/GridTable/types.ts
  console/packages/starwhale-ui/src/RJSFForm/index.ts
  console/packages/starwhale-ui/src/RJSFForm/templates/index.ts
  console/packages/starwhale-ui/src/RJSFForm/widgets/SelectWidget/index.tsx
  console/packages/starwhale-ui/src/RJSFForm/widgets/TextWidget/index.tsx
  console/packages/starwhale-ui/src/RJSFForm/widgets/index.ts
  console/packages/starwhale-ui/src/Viewer/DataViewer.tsx
  console/packages/starwhale-ui/src/base/data-table/cells/cell-placement.tsx
  console/packages/starwhale-ui/src/base/data-table/column-custom.tsx
  console/packages/starwhale-ui/src/base/data-table/column-row-index.tsx
  console/packages/starwhale-ui/src/base/data-table/data-custom-table.tsx
  console/packages/starwhale-ui/src/base/data-table/headers/header.tsx
  console/packages/starwhale-ui/src/base/data-table/index.tsx
  console/packages/starwhale-ui/src/base/data-table/types.tsx
  console/packages/starwhale-ui/src/index.ts
  console/packages/starwhale-widgets/src/PanelTableWidget/index.tsx
  console/src/domain/job/components/JobForm.tsx
  console/src/domain/model/components/ModelSelector.tsx
  console/src/i18n/locales.ts
  console/src/pages/Dataset/DatasetVersionOverviewFiles.tsx
  console/src/pages/Evaluation/EvaluationListCard.tsx
  console/src/pages/Evaluation/EvaluationListResult.tsx
  console/src/stories/DatasetViewer.stories.tsx
  console/vite.config.ts
Labels: enhancement ❤️, console 🎨

#2246 fix(artifacts): Artifacts unique problem with versionName
  client/starwhale/base/uri/resource.py
  client/starwhale/core/model/model.py
  client/tests/base/uri/test_resource.py
  client/tests/core/test_model.py
  console/src/domain/job/components/JobForm.tsx
  scripts/client_test/cli_test.py
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/dataset/DatasetInfoVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/model/ModelInfoVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/runtime/RuntimeInfoVo.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
Labels: bug 🐛, e2e

#2254 update(console): simple query with job_status/model version, new resize bar
  console/packages/starwhale-ui/src/AutoResizer/GridResizerVertical.tsx
  console/packages/starwhale-ui/src/DynamicSelector/Selector.tsx
  console/packages/starwhale-ui/src/DynamicSelector/SelectorItemRender.tsx
  console/packages/starwhale-ui/src/DynamicSelector/types.tsx
  console/packages/starwhale-ui/src/GridTable/components/Query/ConfigSimpleQuery.tsx
  console/packages/starwhale-ui/src/GridTable/store/store.ts
  console/packages/starwhale-ui/src/IconFont/fonts/iconfont.css
  console/packages/starwhale-ui/src/IconFont/fonts/iconfont.js
  console/packages/starwhale-ui/src/IconFont/fonts/iconfont.json
  console/packages/starwhale-ui/src/IconFont/fonts/iconfont.ttf
  console/packages/starwhale-ui/src/IconFont/fonts/iconfont.woff
  console/packages/starwhale-ui/src/IconFont/fonts/iconfont.woff2
  console/packages/starwhale-ui/src/IconFont/index.tsx
  console/src/domain/job/components/JobForm.tsx
  console/src/domain/job/components/JobStatusSelector.tsx
  console/src/domain/model/components/ModelTreeSelector.tsx
  console/src/i18n/locales.ts
  console/src/pages/Evaluation/EvaluationListCard.tsx
  console/src/pages/Evaluation/EvaluationWidgetResults.tsx
  console/vite.config.ts
Labels: enhancement ❤️, console 🎨

#2255 fix: canceled job is not deleted
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/TaskStatusMachine.java
Labels: bug 🐛

#2247 chore: update gitattributes for removing lfs
  .gitattributes
  example/PennFudanPed/.gitattributes
  example/cifar10/.gitattributes
  example/ucf101/.gitattributes
Labels: chore 🛎️

#2256 fix(client): tune resource numberic limitation when refine
  client/starwhale/base/uri/resource.py
  client/starwhale/core/model/copy.py
  client/tests/base/test_copy.py
  client/tests/core/test_model.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
Labels: bug 🐛, e2e

#2253 fix(sdk): change the default id format for predict result
  client/starwhale/api/_impl/evaluation.py
  client/tests/sdk/test_evaluation.py
Labels: chore 🛎️, e2e

#2259 refactor(console): grid table support pagination, auto increase and cached max page
  console/packages/starwhale-core/src/datastore/hooks/useDatastorePage.tsx
  console/packages/starwhale-core/src/datastore/hooks/useDatastoreQueryParams.tsx
  console/packages/starwhale-core/src/datastore/hooks/useFetchDatastoreByTable.tsx
  console/packages/starwhale-core/src/datastore/hooks/useFetchDatastoreByTables.tsx
  console/packages/starwhale-core/src/datastore/types.ts
  console/packages/starwhale-core/src/datastore/utils.ts
  console/packages/starwhale-core/src/form/WidgetFormModal.tsx
  console/packages/starwhale-core/src/form/WidgetPreviewModal.tsx
  console/packages/starwhale-core/src/widget/withWidgetDynamicProps.tsx
  console/packages/starwhale-ui/src/GridDatastoreTable/hooks/useDatastoreColumns.tsx
  console/packages/starwhale-ui/src/GridTable/GridCombineTable.tsx
  console/packages/starwhale-ui/src/GridTable/GridTable.tsx
  console/packages/starwhale-ui/src/GridTable/components/Pagination/AutoPagination.tsx
  console/packages/starwhale-ui/src/GridTable/components/Pagination/index.tsx
  console/packages/starwhale-ui/src/GridTable/components/Query/ConfigQuery.tsx
  console/packages/starwhale-ui/src/GridTable/store/StoreUpdater/index.tsx
  console/packages/starwhale-ui/src/GridTable/store/store.ts
  console/packages/starwhale-ui/src/GridTable/types.ts
  console/packages/starwhale-ui/tsconfig.json
  console/src/domain/job/components/JobForm.tsx
  console/src/domain/model/components/ModelTreeSelector.tsx
  console/src/pages/Dataset/DatasetOverviewLayout.tsx
  console/src/pages/Dataset/DatasetVersionOverviewFiles.tsx
  console/src/pages/Evaluation/EvaluationListCard.tsx
  console/src/pages/Evaluation/EvaluationListResult.tsx
Labels: enhancement ❤️, refactor 🐛, console 🎨

#2258 fix(datastore): parse parquet file on aliyun oss fail
  server/controller/src/main/java/ai/starwhale/mlops/datastore/parquet/SwInputFile.java
Labels: bug 🐛, datastore 🐇

#2257 example(LLM): add belle-bloom evaluation llm example
  client/.flake8
  client/pyproject.toml
  example/LLM/belle-bloom/.gitignore
  example/LLM/belle-bloom/.swignore
  example/LLM/belle-bloom/README.md
  example/LLM/belle-bloom/quant_cuda-0.0.0-cp39-cp39-linux_x86_64.whl
  example/LLM/belle-bloom/runtime.yaml
  example/LLM/belle-bloom/sw.py
Labels: example 🚕

#2265 chore(controller): add guest for model file get api
  server/controller/src/main/java/ai/starwhale/mlops/api/ModelApi.java
Labels: chore 🛎️

#2261 chore(client): tune conda log options for the pretty log output
  client/starwhale/utils/venv.py
  client/tests/core/test_runtime.py
Labels: chore 🛎️, client 🌈, e2e

#2262 fix(controller): pull model package error when file name too long in src
  scripts/example/others/ThisIsTestForLongNameThisIsTestForLongNameThisIsTestForLongName1234567890abcdefghigklmnopqrstuvwxyz.md
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/bo/DatasetVersion.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/mapper/DatasetVersionMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/mapper/ModelVersionMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/po/ModelVersionEntity.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelServiceTest.java
Labels: bug 🐛, e2e

#2264 refactor (console): e2e case, fix grid error / optimiz ui , etc
  console/.eslintrc.js
  console/index.html
  console/jest.config.ts
  console/package.json
  console/packages/starwhale-core/src/datastore/hooks/useDatastoreQueryParams.tsx
  console/packages/starwhale-ui/src/DynamicSelector/SelectorPopover.tsx
  console/packages/starwhale-ui/src/GridTable/components/Query/ConfigQuery.tsx
  console/packages/starwhale-ui/src/GridTable/hooks/useGridQuery.tsx
  console/playwright/.env
  console/playwright/package.json
  console/playwright/playwright.config.ts
  console/playwright/setup/auth-fixtures.ts
  console/playwright/setup/index.ts
  console/playwright/tests/admin.spec.ts
  console/playwright/tests/auth.setup.ts
  console/playwright/tests/config.ts
  console/playwright/tests/screenshot.spec.ts
  console/playwright/tests/user.spec.ts
  console/playwright/tests/utils.ts
  console/playwright/yarn.lock
  console/src/components/DAG/DAG.tsx
  console/src/components/DAG/index.scss
  console/src/components/Shared.tsx
  console/src/main.tsx
  console/src/pages/Job/JobListCard.tsx
  console/src/pages/Model/ModelVersionListCard.tsx
  console/vite.config.ts
  console/yarn.lock
  docker/Makefile
  scripts/e2e_test/start_test.sh
Labels: refactor 🐛, hotfix 🔥, e2e

#2266 chore(controller): config the base image for the job of image build
  server/controller/src/main/java/ai/starwhale/mlops/configuration/RunTimeProperties.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/resources/application.yaml
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/system/SystemSettingServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sTaskSchedulerTest.java
Labels: chore 🛎️

#2263 fix(controller): dataset consume error when process occur exception
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/dataset/dataloader/DataConsumptionRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/DataLoader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/DataReadManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/DataReadRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/ReadMode.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/dao/DataReadLogDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/mapper/DataReadLogMapper.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/dataloader/MultiConsumerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/dataloader/ReadRangeTest.java
Labels: bug 🐛, e2e

#2270 fix(controller): jobs can not use gpu even if the default is set in pool
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sTaskSchedulerTest.java
Labels: bug 🐛, controller 🏘️

#2269 e2e(console): add ui test to daily e2e sh
  console/playwright/.env
  console/playwright/playwright.config.ts
  console/playwright/setup/index.ts
  console/playwright/tests/admin.spec.ts
  console/playwright/tests/auth.setup.ts
  console/playwright/tests/config.ts
  console/playwright/tests/guest.spec.ts
  console/playwright/tests/screenshot.spec.ts
  console/playwright/tests/utils.ts
  console/src/domain/job/components/JobForm.tsx
  scripts/e2e_test/start_test.sh
Labels: console 🎨, e2e

#2271 example: make chatglm6b model small
  example/LLM/chatglm6b/download_model.py
  example/LLM/chatglm6b/evaluator.py
Labels: example 🚕

#2272 fix(controlller): throw ioexception when get unexist object in oss
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/aliyun/StorageAccessServiceAliyun.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/s3/StorageAccessServiceS3.java
  server/storage-access-layer/src/test/java/ai/starwhale/mlops/storage/StorageAccessServiceTest.java
Labels: bug 🐛, e2e

#2274 update(console): run e2e by docker for ci
  console/Makefile
  console/packages/starwhale-ui/src/AutoResizer/GridResizer.tsx
  console/packages/starwhale-ui/src/GridTable/components/Query/ConfigSimpleQuery.tsx
  console/playwright/package.json
  console/playwright/yarn.lock
  console/src/pages/Evaluation/EvaluationListCard.tsx
  scripts/e2e_test/start_test.sh
Labels: console 🎨, e2e

#2275 fix(e2e): resolve mount path when run docker in docker
  console/Makefile
  scripts/e2e_test/start_test.sh
Labels: console 🎨, e2e

#2282 fix(console): e2e wrong console proxy
  scripts/e2e_test/start_test.sh
Labels: console 🎨, e2e

#2283 update(console): e2e test order, handler auto select
  console/playwright/.env
  console/playwright/playwright.config.ts
  console/playwright/tests/auth.setup.ts
  console/src/domain/job/components/JobForm.tsx
  scripts/e2e_test/start_test.sh
Labels: console 🎨

#2279 bug(client): fix runtime lock for local wheel pattern
  client/starwhale/utils/venv.py
  client/tests/core/test_runtime.py
Labels: client 🌈, e2e

#2284 update(console): disable multi worker for e2e tests should have certain order
  console/playwright/playwright.config.ts
Labels: console 🎨

#2285 refactor(console): split the e2e test case according to different scenarios
  console/playwright/playwright.config.ts
  console/playwright/tests/admin-project.spec.ts
  console/playwright/tests/admin-setting.spec.ts
  console/playwright/tests/guest-project.spec.ts
Labels: console 🎨

#2286 enhance(client): model download support progress and speed
  client/starwhale/base/cloud.py
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelServiceTest.java
Labels: enhancement ❤️, controller 🏘️, client 🌈

#2287 feat(controller): support private resource pool
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/ModelServingService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/SystemSettingService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/resourcepool/bo/ResourcePool.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/system/SystemSettingServiceTest.java
Labels: feature ✨, controller 🏘️

#2288 fix(client): copy remote rc without version fail
  client/starwhale/base/uri/resource.py
  client/tests/base/uri/test_resource.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_loader.py
Labels: bug 🐛, e2e

#2293 optimize(e2e): remove test dep / wait for auth token
  console/playwright/tests/admin-setting.spec.ts
  console/playwright/tests/auth.setup.ts
  console/playwright/tests/config.ts
  example/mnist/Makefile
Labels: console 🎨

#2297 update(e2e): dynamic create user for admin, disable fullyParallel for tests in single file
  console/playwright/playwright.config.ts
  console/playwright/tests/admin-setting.spec.ts
  console/playwright/tests/auth.setup.ts
  console/playwright/tests/config.ts
Labels: console 🎨
