Repository star-whale/starwhale, pull requests merged in 2023-11, with the labels that each got.

#2928 enhance(console): support embedded online eval page
  console/src/domain/job/services/job.ts
  console/src/i18n/locales.ts
  console/src/pages/Job/JobOverviewLayout.tsx
  console/src/pages/Job/JobServings.tsx
  console/src/routes.tsx
Labels: enhancement ❤️, console 🎨

#2932 chore(client): remove redunancy atexit for data_store
  client/starwhale/api/_impl/data_store.py
  client/starwhale/base/artifact/base.py
  client/tests/__init__.py
  client/tests/core/test_eval.py
Labels: chore 🛎️, client 🌈, e2e

#2931 chore(client): list tables without switch instance in datastore debug cli
  client/starwhale/cli/deubg/datastore.py
Labels: chore 🛎️, client 🌈

#2923 feat(controller): add overview for project
  client/starwhale/base/client/models/models.py
  server/controller/src/main/java/ai/starwhale/mlops/api/ProjectController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/project/UpdateProjectRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/mapper/ProjectMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/po/ProjectEntity.java
  server/controller/src/main/resources/db/migration/v0_4_0/V0_4_0_028__add_readme_for_project.sql
  server/controller/src/test/java/ai/starwhale/mlops/api/ProjectControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/project/ProjectServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/project/mapper/ProjectMapperTest.java
Labels: feature ✨, e2e

#2930 fix(datastore): prevent npe while deal with map diff
  server/controller/src/main/java/ai/starwhale/mlops/datastore/ColumnSchema.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/ColumnSchemaTest.java
Labels: bug 🐛, controller 🏘️, datastore 🐇

#2935 feat(console): support job event with filter/download/fullscreen etc
  console/package.json
  console/packages/starwhale-core/src/datastore/constants.ts
  console/packages/starwhale-core/src/datastore/schemas/TableQueryFilter.ts
  console/packages/starwhale-ui/src/Button/Button.tsx
  console/packages/starwhale-ui/src/GridDatastoreTable/hooks/useDatastoreSummaryColumns.tsx
  console/packages/starwhale-ui/src/IconFont/index.tsx
  console/packages/starwhale-ui/src/Search/components/FieldDatetime.tsx
  console/packages/starwhale-ui/src/Search/schema/FilterBuilder.tsx
  console/packages/starwhale-ui/src/Search/types.ts
  console/src/components/LogViewer/LogViewer.tsx
  console/src/domain/job/components/JobActionGroup.tsx
  console/src/domain/job/components/JobStatusSelector.tsx
  console/src/domain/job/schemas/job.tsx
  console/src/domain/job/services/job.ts
  console/src/domain/job/services/task.ts
  console/src/i18n/locales.ts
  console/src/pages/Job/JobTasks.tsx
  console/src/pages/Job/TaskEventListCard.tsx
  console/src/pages/Job/TaskListCard.tsx
  console/yarn.lock
Labels: feature ✨, console 🎨

#2937 chore(controller): enable scheduler event log by default
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/reporting/RunEventListener.java
  server/controller/src/main/resources/application.yaml
Labels: chore 🛎️, controller 🏘️

#2929 example: support segment anything model
  .gitignore
  example/image-segmentation/README.md
  example/image-segmentation/models/segment-anything/.gitignore
  example/image-segmentation/models/segment-anything/.swignore
  example/image-segmentation/models/segment-anything/Makefile
  example/image-segmentation/models/segment-anything/README.md
  example/image-segmentation/models/segment-anything/sam.py
  example/image-segmentation/runtime/requirements.txt
  example/image-segmentation/runtime/runtime.yaml
Labels: example 🚕

#2938 example: add evaluate phase for segment anything model
  example/image-segmentation/README.md
  example/image-segmentation/models/segment-anything/sam.py
Labels: example 🚕

#2940 chore(datastore): shorten first item response time
  client/starwhale/api/_impl/data_store.py
Labels: chore 🛎️, datastore 🐇, e2e

#2941 example: add image classification example
  example/cifar10/Makefile
  example/cifar10/cifar/__init__.py
  example/cifar10/cifar/dataset.py
  example/cifar10/cifar/dataset_read.py
  example/cifar10/dataset.yaml
  example/cifar10/model.yaml
  example/cifar10/requirements.txt
  example/code-generation/code-llama/README.md
  example/datasets/cifar100/README.md
  example/datasets/cifar100/dataset.py
  example/datasets/cifar100/example.py
  example/image-classification/README.md
  example/image-classification/datasets/.gitignore
  example/image-classification/datasets/Makefile
  example/image-classification/datasets/README.md
  example/image-classification/datasets/cifar100.py
  example/image-classification/models/cnn/.gitignore
  example/image-classification/models/cnn/.swignore
  example/image-classification/models/cnn/Makefile
  example/image-classification/models/cnn/README.md
  example/image-classification/models/cnn/evaluator.py
  example/image-classification/models/cnn/kitty.jpeg
  example/image-classification/models/cnn/model.py
  example/image-classification/models/cnn/model.yaml
  example/image-classification/models/cnn/train.py
  example/image-classification/runtime/requirements.txt
  example/image-classification/runtime/runtime.yaml
  example/image-segmentation/README.md
  scripts/client_test/cli_test.py
Labels: example 🚕

#2943 fix(controller): project update to private when pass null by api
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectService.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/project/ProjectServiceTest.java
Labels: bug 🐛

#2942 enhance(console): show running serving pages of current model version
  console/src/domain/job/hooks/useFetchJobs.ts
  console/src/domain/job/services/job.ts
  console/src/pages/Model/ModelOverviewLayout.tsx
  console/src/pages/Model/ModelVersionServings.tsx
  console/src/routes.tsx
Labels: enhancement ❤️, console 🎨

#2945 enhance(SDK): enhance hf datasets to handle abnormal dataset without config class
  client/starwhale/integrations/huggingface/dataset.py
  client/tests/sdk/test_dataset_sdk.py
Labels: sdk 🐶, client 🌈

#2641 chore(example): add finetune example for stable diffusion
  example/stable-diffusion/txt2img-ft/.swignore
  example/stable-diffusion/txt2img-ft/README.md
  example/stable-diffusion/txt2img-ft/build_dataset_for_eval.py
  example/stable-diffusion/txt2img-ft/build_model.py
  example/stable-diffusion/txt2img-ft/eval.txt
  example/stable-diffusion/txt2img-ft/evaluate_text_to_image.py
  example/stable-diffusion/txt2img-ft/finetune_text_to_image_lora.py
  example/stable-diffusion/txt2img-ft/model.yaml
  example/stable-diffusion/txt2img-ft/requirements.txt
  example/stable-diffusion/txt2img-ft/runtime.yaml
  example/stable-diffusion/txt2img-ft/utils.py
Labels: example 🚕

#2947 chore(sdk): revert "enhance(SDK): enhance hf datasets to handle abnormal dataset without config class"
  client/starwhale/integrations/huggingface/dataset.py
  client/tests/sdk/test_dataset_sdk.py
Labels: client 🌈

#2934 chore(controller): validate the resource version owner
  server/controller/src/main/java/ai/starwhale/mlops/configuration/security/ProjectNameExtractorDataStoreMixed.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetDao.java
  server/controller/src/test/java/ai/starwhale/mlops/api/config/ProjectNameExtractorDataStoreMixedTest.java
Labels: chore 🛎️, controller 🏘️, e2e

#2944 example: add vit example for image classification
  example/code-generation/code-llama/README.md
  example/image-classification/models/vit/.gitignore
  example/image-classification/models/vit/README.md
  example/image-classification/models/vit/build.py
  example/image-classification/models/vit/inference.py
  example/image-classification/models/vit/kitty.jpeg
  example/image-classification/runtime/requirements.txt
Labels: example 🚕

#2956 fix(controller): npe in ds build job
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobDao.java
Labels: bug 🐛

#2955 update(console): use swagger template api and schema as default api
  console/package.json
  console/src/__generated__/MySuperbApi.ts
  console/src/api/index.ts
  console/src/api/server/Api.ts
  console/src/api/server/data-contracts.ts
  console/src/api/server/http-client.ts
  console/src/api/template/api.ejs
  console/src/api/template/data-contract-jsdoc.ejs
  console/src/api/template/data-contracts.ejs
  console/src/api/template/enum-data-contract.ejs
  console/src/api/template/http-client.ejs
  console/src/api/template/interface-data-contract.ejs
  console/src/api/template/object-field-jsdoc.ejs
  console/src/api/template/procedure-call.ejs
  console/src/api/template/route-docs.ejs
  console/src/api/template/route-name.ejs
  console/src/api/template/route-type.ejs
  console/src/api/template/route-types.ejs
  console/src/api/template/type-data-contract.ejs
  console/swagger.js
  console/yarn.lock
Labels: console 🎨

#2954 chore(controller): prevent collecting duplicate scheduler events after controller restart
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/event/EventVo.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/event/EventService.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/event/EventServiceTest.java
Labels: chore 🛎️, controller 🏘️

#2957 feat(controller): support more file type for dataset build
  client/scripts/sw-docker-entrypoint
  client/starwhale/base/client/models/models.py
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetController.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/build/BuildType.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/build/bo/CreateBuildRecordRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/build/mapper/BuildRecordMapper.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetServiceTest.java
Labels: feature ✨

#2963 chore(ci): reduce ut log output of controller
  .github/workflows/server-ut-report.yml
  server/Makefile
  server/controller/src/test/java/ai/starwhale/mlops/schedule/impl/k8s/reporting/ResourceEventHolderTest.java
  server/pom.xml
Labels: ci 🕹️, controller 🏘️

#2967 feat(client): support finetune model source field for model copy
  client/starwhale/core/model/copy.py
  client/tests/base/test_copy.py
Labels: feature ✨, client 🌈

#2962 feat(sdk): finetune decorator supports auto build and validation datasets
  client/starwhale/__init__.py
  client/starwhale/api/_impl/experiment.py
  client/starwhale/api/experiment.py
  client/starwhale/base/context.py
  client/starwhale/base/models/job.py
  client/starwhale/base/scheduler/__init__.py
  client/starwhale/base/scheduler/step.py
  client/starwhale/base/scheduler/task.py
  client/starwhale/consts/env.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/tests/sdk/test_job_handler.py
  example/LLM/bloom/bloom/bloom.py
  example/LLM/bloom/mt0.py
  example/LLM/llama/finetune.py
  scripts/example/src/sdk_model_build.py
Labels: feature ✨, sdk 🐶, client 🌈, e2e

#2951 refactor(controller): remove unreachable code
  client/starwhale/base/client/models/models.py
  scripts/apitest/pytest/test_evaluation.py
  server/controller/src/main/java/ai/starwhale/mlops/api/EvaluationController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/JobController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/job/JobRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/job/JobTemplateVo.java
  server/controller/src/main/java/ai/starwhale/mlops/common/IdConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/evaluation/EvaluationService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/ft/FineTuneAppService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/converter/JobConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/converter/UserJobConverter.java
  server/controller/src/test/java/ai/starwhale/mlops/api/EvaluationControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/api/JobControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/api/TaskLogWsServerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/common/IdConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/evaluation/EvaluationServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/ft/FineTuneAppServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/converter/JobConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/converter/UserJobConverterTest.java
Labels: refactor 🐛, controller 🏘️, e2e

#2972 chore(controller): add dataset info for step spec
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/spec/StepSpec.java
Labels: chore 🛎️

#2974 fix(datastore): fix NPE when list diff without sparse element type inited
  server/controller/src/main/java/ai/starwhale/mlops/datastore/ColumnSchema.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/ColumnSchemaTest.java
Labels: bug 🐛, controller 🏘️, dataset🐫

#2975 chore(controller): support disabling the fine tuning feature
  server/controller/src/main/java/ai/starwhale/mlops/configuration/FeaturesProperties.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/ft/FineTuneAppService.java
  server/controller/src/main/java/ai/starwhale/mlops/exception/SwValidationException.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/ft/FineTuneAppServiceTest.java
Labels: chore 🛎️, controller 🏘️

#2977 chore: image sync loss star-whale
  scripts/publish/image_sync.sh
Labels: chore 🛎️

#2969 fix(client): fix broken resource ls cmd
  client/starwhale/base/uri/project.py
  client/starwhale/base/view.py
  client/starwhale/core/dataset/view.py
  client/starwhale/core/model/view.py
  client/starwhale/core/runtime/view.py
  scripts/client_test/cli_exec.sh
  scripts/client_test/cli_test.sh
  scripts/client_test/update_controller_setting.sh
  scripts/e2e_test/start_test.sh
Labels: bug 🐛, client 🌈, e2e

#2984 example(runtime): update pytorch example runtime
  example/runtime/pytorch-cn-mirror/requirements.txt
  example/runtime/pytorch/requirements.txt
Labels: example 🚕

#2971 feat(controller): add ft eval create job api
  client/starwhale/api/_impl/wrapper.py
  client/starwhale/base/client/models/models.py
  server/controller/src/main/java/ai/starwhale/mlops/api/FineTuneController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/JobController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/ft/FineTuneEvalCreateRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/job/JobRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/evaluation/EvaluationUpdateWatcher.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/evaluation/storage/EvaluationRepo.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/evaluation/storage/JobSchema.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/ft/FineTuneAppService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/ft/FineTuneEvaluationUpdateWatcher.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/BizType.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobCreator.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobServiceForWeb.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobUpdateWatcher.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/bo/Job.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/bo/UserJobCreateRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/cache/HotJobsLoader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/converter/JobBoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/converter/UserJobConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/po/JobEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/po/JobFlattenEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/split/JobSpliteratorImpl.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/status/JobUpdateHelper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/storage/JobRepo.java
  server/controller/src/main/resources/db/migration/v0_4_0/V0_4_0_032__add_biz_info_for_job.sql
  server/controller/src/main/resources/mapper/JobMapper.xml
  server/controller/src/test/java/ai/starwhale/mlops/api/JobControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/ft/FineTuneAppServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobDaoTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobServiceForWebTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobUpdateHelperTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/storage/EvaluationRepoTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/storage/JobRepoTest.java
Labels: feature ✨, e2e

#2989 fix(controller): train and eval dataset wrong
  server/controller/src/main/java/ai/starwhale/mlops/domain/ft/FineTuneAppService.java
Labels: chore 🛎️

#2978 enhance(client): new impl of model serving
  client/Makefile
  client/setup.py
  client/starwhale/api/_impl/evaluation/pipeline.py
  client/starwhale/api/_impl/service.py
  client/starwhale/api/_impl/service/__init__.py
  client/starwhale/api/_impl/service/service.py
  client/starwhale/api/_impl/service/types.py
  client/starwhale/api/service.py
  client/starwhale/core/model/model.py
  client/tests/core/test_model.py
  client/tests/data/sdk/service/default_class.py
  client/tests/sdk/test_service.py
  console/.eslintrc.js
  console/client/App.tsx
  console/client/QuestionAnswering.tsx
  console/client/ServingPage.tsx
  console/client/index.html
  console/client/main.tsx
  console/client/schemas.ts
  console/client/vite.config.ts
  console/package.json
  console/tsconfig.base.json
  console/vite.config.ts
  example/mnist/mnist/custom_evaluator.py
  example/mnist/mnist/evaluator.py
  example/mnist/mnist/plain_evaluator.py
  example/web-handler/main.py
  example/web-handler/model.yaml
Labels: refactor 🐛, client 🌈

#2992 fix(controller): add step spec extra param
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/spec/StepSpec.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobParserTest.java
Labels: chore 🛎️

#2994 fix(controller): run log save doesn't break status report
  server/controller/src/main/java/ai/starwhale/mlops/schedule/reporting/listener/impl/RunUpdateListenerForGc.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/reporting/listener/impl/RunUpdateListenerForGcTest.java
Labels: controller 🏘️

#2991 enhance(client): support gradio components in api decorator
  client/setup.py
  client/starwhale/api/_impl/service/service.py
  client/starwhale/api/_impl/service/types.py
  client/starwhale/web/server.py
  client/tests/data/sdk/service/default_class.py
  client/tests/sdk/test_types.py
  example/PennFudanPed/pfp/evaluator.py
  example/image-classification/models/cnn/evaluator.py
  example/image-classification/models/vit/inference.py
  example/image-segmentation/models/segment-anything/sam.py
  example/mnist/mnist/custom_evaluator.py
  example/mnist/mnist/evaluator.py
  example/mnist/mnist/plain_evaluator.py
  example/nmt/nmt/evaluator.py
  example/stable-diffusion/txt2img/run.py
  example/text_cls_AG_NEWS/tcan/evaluator.py
  example/ucf101/ucf101/evaluator.py
Labels: enhancement ❤️, client 🌈

#2996 chore(controller): add env for gradio root when web service uses proxy
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/container/impl/SwCliModelHandlerContainerSpecification.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/impl/contianer/SwCliModelHandlerContainerSpecificationTest.java
Labels: chore 🛎️, controller 🏘️

#2995 chore(controller): rename for finetune info
  client/starwhale/api/_impl/experiment.py
  client/starwhale/api/_impl/job/handler.py
  client/starwhale/base/client/models/models.py
  client/tests/sdk/test_job_handler.py
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/job/JobVo.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/converter/JobConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/spec/StepSpec.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobParserTest.java
Labels: chore 🛎️

#3003 feat(datastore): add table migration
  server/controller/src/main/java/ai/starwhale/mlops/datastore/DataStore.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/DataStoreMigrationRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/MemoryTable.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/impl/MemoryTableImpl.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/DataStoreTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/impl/MemoryTableImplTest.java
Labels: feature ✨

#3005 chore(ci): make e2e stable
  scripts/e2e_test/start_test.sh
Labels: ci 🕹️, e2e

#3009 example(LLM): update baichuan2 example for including lora finetune module
  example/llm-finetune/models/baichuan2/finetune.py
Labels: example 🚕

#3008 enhance(SDK): add finetune tag automatically when the model building is triggered by the finetune decorator
  client/starwhale/api/_impl/experiment.py
Labels: enhancement ❤️, sdk 🐶

#3007 enhance(SDK): tune finetune decorator for Dataset type arguments
  client/starwhale/api/_impl/experiment.py
  client/tests/sdk/test_job_handler.py
  client/tests/utils/test_venv.py
  example/LLM/bloom/bloom/bloom.py
  example/LLM/bloom/mt0.py
  example/LLM/llama/finetune.py
  example/llm-finetune/models/baichuan2/finetune.py
Labels: enhancement ❤️, sdk 🐶

#2997 enhance(client): question answering infer type support multiple args
  client/starwhale/api/_impl/service/service.py
  client/starwhale/api/_impl/service/types.py
  client/starwhale/api/_impl/service/types/__init__.py
  client/starwhale/api/_impl/service/types/llm.py
  client/starwhale/api/_impl/service/types/types.py
  client/starwhale/api/service.py
  client/tests/core/test_model.py
  client/tests/data/sdk/service/default_class.py
  client/tests/sdk/test_service.py
  example/web-handler/main.py
Labels: enhancement ❤️, client 🌈

#3010 feat(SDK): support image mode convert for `Image` type
  client/starwhale/base/data_type.py
  client/tests/base/test_data_type.py
  example/image-segmentation/models/segment-anything/sam.py
  example/stable-diffusion/txt2img-ft/finetune_text_to_image_lora.py
Labels: feature ✨, sdk 🐶, dataset🐫

#3012 bug(SDK): fix the ingestion process for list in huggingface datasets
  client/starwhale/integrations/huggingface/dataset.py
Labels: bug 🐛, dataset🐫

#3004 enhance(client): update model list output
  client/starwhale/core/model/view.py
Labels: enhancement ❤️, client 🌈, e2e

#3013 feat(controller): add more filter for model tree
  client/starwhale/base/client/models/models.py
  server/controller/src/main/java/ai/starwhale/mlops/api/FineTuneController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/model/ModelVersionViewVo.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/ft/FineTuneAppService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/mapper/ModelVersionMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/po/ModelVersionViewEntity.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelServiceTest.java
Labels: feature ✨

#3019 chore(client): use pydantic v2
  client/Makefile
  client/setup.py
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/job/handler.py
  client/starwhale/api/_impl/service/service.py
  client/starwhale/base/client/client.py
  client/starwhale/base/client/models/base.py
  client/starwhale/base/client/models/models.py
  client/starwhale/base/models/base.py
  client/starwhale/base/models/dataset.py
  client/starwhale/base/models/job.py
  client/starwhale/base/models/model.py
  client/starwhale/cli/assistance/broker.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/store.py
  client/starwhale/web/data_store.py
  client/tests/base/models/test_base.py
  client/tests/core/test_model.py
  client/tests/data/job/job_manifest.yaml
  client/tests/sdk/test_job_handler.py
  client/tests/sdk/test_model.py
Labels: client 🌈, e2e

#3022 fix(example): make mnist mp build works
  client/starwhale/api/_impl/service/service.py
  client/starwhale/core/model/model.py
  client/tests/sdk/test_service.py
  example/mnist/mnist/custom_evaluator.py
  example/mnist/mnist/evaluator.py
  example/mnist/requirements.txt
Labels: bug 🐛, client 🌈

#3021 refactor(controller): move handler to user job request
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobCreator.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/ModelServingService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/bo/JobCreateRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/bo/UserJobCreateRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/converter/UserJobConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobCreatorTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/ModelServingServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/converter/UserJobConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeServiceTest.java
Labels: e2e

#3018 fix(controller): add validation for eval import/export
  client/starwhale/base/client/models/models.py
  server/controller/src/main/java/ai/starwhale/mlops/api/FineTuneController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/ft/FineTuneMigrationRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/ft/FineTuneAppService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/ft/bo/MigrationResult.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/mapper/JobMapper.java
  server/controller/src/main/resources/mapper/JobMapper.xml
  server/controller/src/test/java/ai/starwhale/mlops/domain/ft/FineTuneAppServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/mapper/JobMapperTest.java
Labels: hotfix 🔥

#3027 fix(client): make llm chat service works with pydantic v2
  client/starwhale/api/_impl/service/service.py
  client/starwhale/api/_impl/service/types/llm.py
Labels: bug 🐛, client 🌈

#3016 enhance(console): support llm chat page
  console/client/QuestionAnswering.tsx
  console/client/ServingPage.tsx
  console/client/components/ChatHistory.tsx
  console/client/components/ChatInput.tsx
  console/client/components/MaxNewTokens.tsx
  console/client/components/Slider.tsx
  console/client/components/Temperature.tsx
  console/client/components/TopK.tsx
  console/client/components/TopP.tsx
  console/client/main.tsx
  console/client/pages/llm/LLMChat.tsx
  console/client/schemas/api.ts
  console/client/schemas/chat.ts
  example/web-handler/main.py
Labels: enhancement ❤️, console 🎨

#3032 enhance(client): embed model serving spec into job spec
  client/starwhale/api/_impl/job/handler.py
  client/starwhale/api/_impl/service/service.py
  client/starwhale/api/_impl/service/types/llm.py
  client/starwhale/api/_impl/service/types/types.py
  client/starwhale/base/client/models/models.py
  client/starwhale/consts/__init__.py
  client/starwhale/core/model/model.py
  client/tests/core/test_model.py
  client/tests/sdk/test_service.py
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/spec/StepSpec.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/spec/svc/ApiSpec.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/spec/svc/ComponentSpec.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/spec/svc/ServiceSpec.java
Labels: enhancement ❤️, controller 🏘️, client 🌈

#3025 example(finetune): add chatglm3 evaluation and finetune example
  example/llm-finetune/models/baichuan2/README.md
  example/llm-finetune/models/chatglm3/.gitignore
  example/llm-finetune/models/chatglm3/.swignore
  example/llm-finetune/models/chatglm3/README.md
  example/llm-finetune/models/chatglm3/consts.py
  example/llm-finetune/models/chatglm3/download.py
  example/llm-finetune/models/chatglm3/evaluation.py
  example/llm-finetune/models/chatglm3/finetune.py
  example/llm-finetune/models/chatglm3/model.yaml
  example/llm-finetune/runtime/requirements.txt
  example/llm-finetune/runtime/runtime.yaml
Labels: example 🚕

#3030 enhance(client): support pydantic v1 and v2
  .github/workflows/client.yaml
  client/Makefile
  client/model_gen_templates/pydantic/BaseModel.jinja2
  client/setup.py
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/service/types/llm.py
  client/starwhale/base/client/client.py
  client/starwhale/base/client/models/base.py
  client/starwhale/base/client/models/models.py
  client/starwhale/base/models/base.py
  client/starwhale/base/models/model.py
  client/starwhale/base/view.py
  client/starwhale/cli/assistance/broker.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/store.py
  client/starwhale/utils/json.py
  client/starwhale/utils/pydantic.py
  client/starwhale/web/data_store.py
  client/tests/core/test_model.py
  client/tests/sdk/test_job_handler.py
  client/tests/sdk/test_model.py
  scripts/client_test/cli_test.py
Labels: enhancement ❤️, client 🌈, e2e

#3035 feat(client): add local server start/stop/status command
  client/.coveragerc
  client/setup.py
  client/starwhale/cli/__init__.py
  client/starwhale/cli/debug/__init__.py
  client/starwhale/cli/debug/datastore.py
  client/starwhale/cli/server/__init__.py
  client/starwhale/cli/server/compose.tmpl
  client/starwhale/mngt/__init__.py
  client/starwhale/utils/config.py
  client/tests/cli/test_server.py
Labels: feature ✨, client 🌈

#3043 chore(ci): reduce client unit test for pydantic versions
  .github/file-filter.yml
  .github/workflows/client.yaml
Labels: chore 🛎️, ci 🕹️

#3040 fix(client): online serving failed when run in pod
  client/starwhale/base/scheduler/step.py
Labels: bug 🐛, client 🌈

#3037 enhance(client): online service spec support component value spec
  client/starwhale/api/_impl/service/types/llm.py
  client/starwhale/api/_impl/service/types/types.py
  client/starwhale/base/client/models/models.py
  client/tests/data/sdk/service/default_class.py
  client/tests/sdk/test_service.py
  example/web-handler/main.py
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/spec/svc/ComponentSpec.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/spec/svc/ComponentValueSpec.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/spec/svc/ComponentValueSpecBool.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/spec/svc/ComponentValueSpecFloat.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/spec/svc/ComponentValueSpecInt.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/spec/svc/ComponentValueSpecString.java
Labels: enhancement ❤️, client 🌈

#3044 enhance(client): support text to img infer type
  client/starwhale/api/_impl/service/service.py
  client/starwhale/api/_impl/service/types/llm.py
  client/starwhale/api/_impl/service/types/text_to_img.py
  client/starwhale/api/_impl/service/types/types.py
  client/tests/data/sdk/service/default_class.py
  client/tests/sdk/test_service.py
  client/tests/sdk/test_types.py
  example/web-handler/main.py
Labels: enhancement ❤️, client 🌈

#3042 chore(ci): enable github e2e test using the `swcli server start` command
  .github/workflows/e2e-test.yml
  client/starwhale/cli/server/compose.tmpl
  example/object-detection/README.md
  scripts/e2e_test/start_test.sh
Labels: ci 🕹️, e2e

#3046 chore(client): add scale for text-to-image
  client/starwhale/api/_impl/service/types/text_to_img.py
  client/starwhale/api/service.py
  client/tests/sdk/test_types.py
Labels: chore 🛎️
