Repository star-whale/starwhale, pull requests merged in 2023-12, with the labels that each got.

#3052 fix(client): make job info --web works
  client/starwhale/web/data_store.py
  client/starwhale/web/server.py
  client/tests/web/test_server.py
Labels: bug 🐛, client 🌈

#3053 fix(console): prevent dead loop when list datastore tables
  console/packages/starwhale-core/src/datastore/hooks/useFetchDatastoreAllTables.tsx
Labels: bug 🐛, console 🎨

#3056 chore(ci): add console model generation checking
  .github/workflows/e2e-test.yml
  console/package.json
  console/src/api/server/data-contracts.ts
  scripts/e2e_test/start_test.sh
Labels: chore 🛎️, ci 🕹️, e2e

#3049 example: add object detection example
  example/object-detection/README.md
  example/object-detection/datasets/.gitignore
  example/object-detection/datasets/coco128.py
  example/object-detection/datasets/coco_val2017.py
  example/object-detection/datasets/utils.py
  example/object-detection/models/yolo/.gitignore
  example/object-detection/models/yolo/.swignore
  example/object-detection/models/yolo/README.md
  example/object-detection/models/yolo/build.py
  example/object-detection/models/yolo/consts.py
  example/object-detection/models/yolo/evaluation.py
  example/object-detection/runtime/requirements.txt
  example/object-detection/runtime/runtime.yaml
Labels: example 🚕

#3059 chore(example): update example for sd-ft
  example/stable-diffusion/txt2img-ft/README.md
  example/stable-diffusion/txt2img-ft/build_model.py
  example/stable-diffusion/txt2img-ft/evaluation.py
  example/stable-diffusion/txt2img-ft/finetune.py
  example/stable-diffusion/txt2img-ft/model.yaml
  example/stable-diffusion/txt2img-ft/requirements.txt
Labels: example 🚕

#3061 example: update llm finetune runtime deps
  example/llm-finetune/runtime/requirements.txt
  example/llm-finetune/runtime/runtime.yaml
Labels: chore 🛎️, example 🚕

#3060 bugfix(controller): create table if not exist when sync eval table
  server/controller/src/main/java/ai/starwhale/mlops/datastore/DataStoreMigrationRequest.java
Labels: bug 🐛

#3062 example: update chatglm3 api decorator definition
  example/llm-finetune/models/chatglm3/evaluation.py
Labels: chore 🛎️, example 🚕

#3063 feat(sdk): support Image type to accept numpy and pillow image types
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/base/data_type.py
  client/starwhale/integrations/huggingface/dataset.py
  client/tests/base/test_data_type.py
  client/tests/core/test_dataset.py
  client/tests/sdk/test_loader.py
  scripts/example/src/util.py
Labels: feature ✨, sdk 🐶, dataset🐫

#3069 chore(ci): prevent changing yarn.lock in e2e
  scripts/e2e_test/start_test.sh
Labels: chore 🛎️, ci 🕹️, e2e

#3072 enhance(client): support excludes for model build and finetune decorator
  client/starwhale/api/_impl/experiment.py
  client/starwhale/api/_impl/model.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/tests/core/test_model.py
  client/tests/sdk/test_job_handler.py
  client/tests/sdk/test_model.py
Labels: enhancement ❤️, sdk 🐶, client 🌈, e2e

#3074 chore(doc): update github readme for framework
  README.md
  README_ZH.md
Labels: doc 📄, chore 🛎️

#3077 enhance(sdk): format Image shape with pillow.Image and numpy.ndarray shape
  client/starwhale/base/data_type.py
  client/tests/base/test_data_type.py
Labels: enhancement ❤️, dataset🐫

#3079 chore(doc): fix cloud broken link
  README.md
Labels: doc 📄, chore 🛎️

#3078 bug(client): fix dataset copy block forever when update table meets exception
  client/starwhale/api/_impl/data_store.py
  client/starwhale/core/dataset/copy.py
  client/tests/sdk/test_data_store.py
  client/tests/sdk/test_wrapper.py
Labels: bug 🐛, client 🌈

#3080 chore(doc): update readme
  README.md
Labels: doc 📄

#3085 enhance(SDK): support package runtime for model build sdk
  client/starwhale/api/_impl/model.py
  client/starwhale/core/model/view.py
Labels: enhancement ❤️, sdk 🐶

#3083 fix(client): the online evaluation is accessible behind the proxy sub-path
  client/starwhale/api/_impl/service/service.py
  console/client/ServingPage.tsx
  console/client/index.html
Labels: bug 🐛, client 🌈

#3087 chore(console): use current web host in quickstart for model
  console/package.json
  console/src/assets/docs/QuickStartNewModelEN.md.ejs
  console/src/assets/docs/QuickStartNewModelZH.md.ejs
  console/src/consts/index.ts
  console/src/utils/index.ts
  console/yarn.lock
Labels: chore 🛎️, console 🎨

#3082 feat(client): support `swcli runtime run` command
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/process.py
  client/starwhale/utils/process.py
  client/tests/core/test_runtime.py
  client/tests/core/test_runtime_process.py
  client/tests/utils/test_process.py
Labels: feature ✨, client 🌈, e2e

#3086 enhance(client): support to detect shell activated runtime uri for model build
  client/starwhale/consts/__init__.py
  client/starwhale/core/model/view.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/process.py
  client/starwhale/utils/venv.py
  client/tests/core/test_runtime.py
  client/tests/core/test_runtime_process.py
Labels: enhancement ❤️, client 🌈, e2e

#3089 refactor(client): use auto generated arg_types
  client/starwhale/api/_impl/service/types/llm.py
  client/starwhale/api/_impl/service/types/text_to_img.py
  client/starwhale/api/_impl/service/types/types.py
  client/tests/sdk/test_types.py
Labels: refactor 🐛, client 🌈

#3090 feat(client): add `--push` argument for model/runtime/dataset build
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/view.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/view.py
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/view.py
Labels: feature ✨, client 🌈

#3057 refactor(controller): remove column schemas dependency
  server/controller/src/main/java/ai/starwhale/mlops/datastore/ColumnSchema.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/DataStore.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/TableSchema.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/impl/MemoryTableImpl.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/impl/WalRecordDecoder.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/impl/WalRecordEncoder.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/parquet/SwReadSupport.java
  server/controller/src/test/java/ai/starwhale/mlops/api/DataStoreControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/DataStoreTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/TableSchemaTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/impl/MemoryTableImplTest.java
Labels: refactor 🐛, controller 🏘️, e2e

#3091 fix(controller): the event request could not be deserialized
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/event/EventRequest.java
  server/controller/src/test/java/ai/starwhale/mlops/api/protocol/event/EventRequestTest.java
Labels: bug 🐛, controller 🏘️

#3088 enhance(client): add env file for restored runtime
  client/scripts/sw-docker-entrypoint
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/process.py
  client/starwhale/core/runtime/view.py
  client/starwhale/utils/venv.py
  client/tests/core/test_model.py
  client/tests/core/test_runtime.py
Labels: enhancement ❤️, client 🌈

#3092 chore(controller): add run info to pod env
  server/controller/src/main/java/ai/starwhale/mlops/schedule/SwTaskSchedulerImpl.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/SwTaskSchedulerImplTest.java
Labels: chore 🛎️, e2e

#3094 feat(client): support for reporting client events to server/cloud instance
  client/starwhale/api/_impl/evaluation/pipeline.py
  client/starwhale/api/_impl/experiment.py
  client/starwhale/api/_impl/model.py
  client/starwhale/base/client/api/event.py
  client/starwhale/base/uri/instance.py
  client/starwhale/consts/env.py
  client/starwhale/core/model/model.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/process.py
  client/starwhale/utils/event.py
  client/tests/utils/test_event.py
Labels: enhancement ❤️, client 🌈, e2e

#3096 fix(console): prevent dirty git workspace after yarn install
  .github/file-filter.yml
  .github/workflows/client.yml
  .github/workflows/console.yml
  .github/workflows/helm-charts.yml
  console/yarn.lock
Labels: bug 🐛, ci 🕹️

#3097 chore(client): fix mypy lint
  client/starwhale/web/server.py
Labels: chore 🛎️, ci 🕹️, client 🌈

#3095 feat(SDK): support argument for model run
  client/starwhale/__init__.py
  client/starwhale/api/_impl/argument.py
  client/starwhale/api/_impl/evaluation/pipeline.py
  client/starwhale/api/_impl/experiment.py
  client/starwhale/api/argument.py
  client/starwhale/core/model/cli.py
  client/tests/sdk/test_argument.py
  client/tests/sdk/test_job_handler.py
  example/helloworld/evaluation.py
  scripts/example/src/evaluator.py
Labels: feature ✨, sdk 🐶, e2e
