Repository star-whale/starwhale, pull requests merged in 2023-04, with the labels that each got.

#2052 feat(datastore): support merging local file with memory table
  client/setup.py
  client/starwhale/api/_impl/data_store.py
  client/tests/sdk/test_data_store.py
Labels: feature ✨, datastore 🐇

#2058 chore(client): compress data store table file
  client/starwhale/api/_impl/data_store.py
  client/tests/sdk/test_data_store.py
  client/tests/sdk/test_track.py
Labels: chore 🛎️, client 🌈, datastore 🐇

#2059 example(LLM): chat-gpt/bard model example
  example/LLM/bard/chat/code/__init__.py
  example/LLM/bard/chat/code/evaluator.py
  example/LLM/bard/chat/model.yaml
  example/LLM/bard/requirements.txt
  example/LLM/bard/text_cls/code/__init__.py
  example/LLM/bard/text_cls/code/evaluator.py
  example/LLM/bard/text_cls/model.yaml
  example/LLM/chat-gpt/chat/code/__init__.py
  example/LLM/chat-gpt/chat/code/evaluator.py
  example/LLM/chat-gpt/chat/model.yaml
  example/LLM/chat-gpt/requirements.txt
  example/LLM/chat-gpt/text_cls/code/__init__.py
  example/LLM/chat-gpt/text_cls/code/evaluator.py
  example/LLM/chat-gpt/text_cls/model.yaml
Labels: example 🚕

#2062 chore(client): store diff only in the data store
  client/starwhale/api/_impl/data_store.py
  client/tests/sdk/test_data_store.py
Labels: chore 🛎️, client 🌈, datastore 🐇

#2064 fix(e2e): fix e2e script error
  scripts/client_test/cli_test.py
Labels: e2e

#2063 chore(client): data store support deep copy when scan and insert
  client/starwhale/api/_impl/data_store.py
  client/tests/sdk/test_data_store.py
Labels: chore 🛎️, client 🌈, datastore 🐇

#2057 feat(runtime): enable runtime activate command restore automatically
  README.md
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/process.py
  client/starwhale/core/runtime/view.py
  client/tests/core/test_runtime.py
  docs/docs/examples/ucf101.md
  docs/docs/getting-started/runtime.md
  docs/docs/instances/standalone/getting_started.md
  docs/docs/reference/swcli/runtime.md
  docs/docs/runtime/api/cli.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/examples/ag_news.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/examples/cifar10.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/examples/mnist.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/examples/nmt.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/examples/pfp.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/examples/speech.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/examples/ucf101.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/getting-started/runtime.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/instances/standalone/getting_started.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/swcli/runtime.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/runtime/api/cli.md
  example/notebooks/quickstart-standalone.ipynb
Labels: feature ✨, client 🌈, runtime🐌

#2065 feat(runtime): support output filter for runtime info
  client/starwhale/base/cloud.py
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/view.py
  client/tests/core/test_runtime.py
  docs/docs/reference/swcli/runtime.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/swcli/runtime.md
Labels: feature ✨, client 🌈, runtime🐌

#2070 example(dataset): ds z bench
  example/datasets/LLM/z_bench/README.md
  example/datasets/LLM/z_bench/dataset.py
  example/datasets/LLM/z_bench/example.py
Labels: example 🚕

#2068 example(model): chatglm6b
  example/LLM/chatglm6b/README.md
  example/LLM/chatglm6b/code/__init__.py
  example/LLM/chatglm6b/code/evaluator.py
  example/LLM/chatglm6b/download_model.py
  example/LLM/chatglm6b/model.yaml
  example/LLM/chatglm6b/requirements.txt
Labels: example 🚕

#2072 refactor(console): support mixed type column
  .github/workflows/console.yml
  console/.eslintrc.js
  console/Makefile
  console/jest.config.ts
  console/package.json
  console/packages/starwhale-core/src/dataset/hooks/useDatasets.tsx
  console/packages/starwhale-core/src/datastore/__tests__/model.test.ts
  console/packages/starwhale-core/src/datastore/constants.ts
  console/packages/starwhale-core/src/datastore/filter.ts
  console/packages/starwhale-core/src/datastore/filter.tsx
  console/packages/starwhale-core/src/datastore/hooks/useDatastore.tsx
  console/packages/starwhale-core/src/datastore/hooks/useFetchDatastore.ts
  console/packages/starwhale-core/src/datastore/index.ts
  console/packages/starwhale-core/src/datastore/model.ts
  console/packages/starwhale-core/src/datastore/schemas/datastore.tsx
  console/packages/starwhale-core/src/datastore/types.ts
  console/packages/starwhale-core/src/datastore/utils.ts
  console/packages/starwhale-core/src/widget/withWidgetDynamicProps.tsx
  console/packages/starwhale-ui/src/GridTable/hooks/useDatastoreColumns.tsx
  console/packages/starwhale-ui/src/Search/Filter.tsx
  console/packages/starwhale-ui/src/Search/FilterBoolean.tsx
  console/packages/starwhale-ui/src/Search/FilterNumberical.tsx
  console/packages/starwhale-ui/src/Search/FilterRenderer.tsx
  console/packages/starwhale-ui/src/Search/FilterString.tsx
  console/packages/starwhale-ui/src/Search/Search.tsx
  console/packages/starwhale-ui/src/Search/types.ts
  console/packages/starwhale-ui/src/Search/utils.ts
  console/packages/starwhale-ui/src/base/data-table/column-string.tsx
  console/packages/starwhale-ui/src/base/data-table/config-query.tsx
  console/packages/starwhale-ui/src/base/data-table/types.tsx
  console/packages/starwhale-widgets/src/PanelTableWidget/index.tsx
  console/src/i18n/locales.ts
  console/src/pages/Admin/SystemSettings.test.tsx
  console/src/pages/Admin/__snapshots__/SystemSettings.test.tsx.snap
  console/src/pages/Dataset/DatasetOverviewLayout.tsx
  console/src/pages/Dataset/DatasetVersionOverviewFiles.tsx
  console/src/pages/Evaluation/EvaluationListCard.tsx
  console/src/pages/Evaluation/EvaluationListCompare.tsx
  console/tsconfig.base.json
Labels: break-change 💔, console 🎨

#2032 chore(controller): add build runtime image result for api
  server/controller/src/main/java/ai/starwhale/mlops/api/RuntimeApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/RuntimeController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/runtime/BuildImageResult.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeServiceTest.java
Labels: chore 🛎️, controller 🏘️

#2077 fix(client): extract python version when use runtime info
  client/scripts/sw-docker-entrypoint
Labels: bug 🐛

#2076 fix(controller): optimize upgrade/cancel upgrading api and fix some bugs
  server/controller/src/main/java/ai/starwhale/mlops/api/SystemApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/SystemController.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/SystemService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/upgrade/UpgradeService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/upgrade/step/BackupDatabase.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/upgrade/step/StepTask.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/upgrade/step/UpdateK8sImage.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/upgrade/step/UpgradeStep.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/upgrade/step/UpgradeStepManager.java
Labels: bug 🐛, controller 🏘️

#2075 example(GraphQuestions): add graph_questions_testing dataset
  client/starwhale/api/_impl/dataset/model.py
  client/tests/core/test_dataset.py
  example/datasets/LLM/GraphQuestions/README.md
  example/datasets/LLM/GraphQuestions/dataset.py
  example/datasets/LLM/GraphQuestions/example.py
  example/datasets/LLM/z_bench/dataset.py
  example/datasets/LLM/z_bench/example.py
Labels: chore 🛎️, example 🚕

#2061 feat(runtime): support `swcli runtime build` from multi sources
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/view.py
  client/tests/core/test_runtime.py
  scripts/client_test/cmds/artifacts_cmd.py
Labels: feature ✨, client 🌈, runtime🐌

#2082 fix(datastore): fix rename issue after table file compress
  client/starwhale/api/_impl/data_store.py
Labels: bug 🐛, client 🌈, datastore 🐇

#2081 bug(runtime): fix non-default runtime.yaml name build and info issue
  client/starwhale/core/runtime/model.py
  client/tests/core/test_runtime.py
Labels: bug 🐛, client 🌈, runtime🐌

#2085 fix(e2e): fix e2e won't fail
  scripts/e2e_test/start_test.sh
Labels: bug 🐛

#2092 bug(dataset): fix drop fp in the dataset build processing
  client/starwhale/core/dataset/type.py
  client/tests/sdk/test_dataset.py
Labels: bug 🐛, dataset🐫

#2091 feat(console): support model handler when job create & used Mono Font for version labels
  console/.eslintrc.js
  console/packages/starwhale-core/src/datastore/hooks/useFetchDatastore.ts
  console/packages/starwhale-core/src/datastore/utils.ts
  console/packages/starwhale-ui/src/DynamicSelector/SelectorPopover.tsx
  console/packages/starwhale-ui/src/GridTable/hooks/useDatastoreColumns.tsx
  console/packages/starwhale-ui/src/Search/Search.tsx
  console/packages/starwhale-ui/src/Select/Select.tsx
  console/packages/starwhale-widgets/src/PanelTableWidget/index.tsx
  console/src/assets/fonts/RobotoMono-Regular.ttf
  console/src/components/BaseSidebar.tsx
  console/src/components/Text.tsx
  console/src/domain/dataset/components/DatasetLabel.tsx
  console/src/domain/job/components/JobForm.tsx
  console/src/domain/job/schemas/job.tsx
  console/src/domain/model/components/ModelLabel.tsx
  console/src/domain/model/components/ModelTreeSelector.tsx
  console/src/domain/model/hooks/useFetchModelTree.ts
  console/src/domain/model/schemas/model.tsx
  console/src/domain/model/schemas/modelVersion.tsx
  console/src/domain/model/services/model.ts
  console/src/domain/runtime/components/RuntimeLabel.tsx
  console/src/i18n/locales.ts
  console/src/pages/Dataset/DatasetListCard.tsx
  console/src/pages/Dataset/DatasetOverviewLayout.tsx
  console/src/pages/Dataset/DatasetVersionOverview.tsx
  console/src/pages/Evaluation/EvaluationListCard.tsx
  console/src/pages/Evaluation/EvaluationListCompare.tsx
  console/src/pages/Model/ModelOverviewLayout.tsx
  console/src/pages/Model/ModelVersionListCard.tsx
  console/src/pages/Model/ModelVersionOverview.tsx
  console/src/pages/Runtime/RuntimeListCard.tsx
  console/src/pages/Runtime/RuntimeOverviewLayout.tsx
  console/src/pages/Runtime/RuntimeVersionListCard.tsx
  console/src/pages/Runtime/RuntimeVersionOverview.tsx
  console/src/styles/_global.scss
Labels: enhancement ❤️, console 🎨

#2086 example(dataset): add KQApro Dataset
  example/datasets/LLM/KQApro/README.md
  example/datasets/LLM/KQApro/dataset.py
  example/datasets/LLM/KQApro/example.py
Labels: example 🚕

#2087 example(dataset): add GrailQA_v1.0 Dataset
  example/datasets/LLM/GrailQA_v1.0/README.md
  example/datasets/LLM/GrailQA_v1.0/dataset.py
  example/datasets/LLM/GrailQA_v1.0/example.py
Labels: example 🚕, dataset🐫

#2084 example(dataset): add WebQuestions Semantic Parses Dataset
  example/datasets/LLM/webQSP/README.md
  example/datasets/LLM/webQSP/dataset.py
  example/datasets/LLM/webQSP/example.py
Labels: example 🚕

#2088 example(dataset): add ComplexWebQuestions Dataset
  example/datasets/LLM/ComplexWebQuestions/README.md
  example/datasets/LLM/ComplexWebQuestions/dataset.py
  example/datasets/LLM/ComplexWebQuestions/example.py
Labels: example 🚕, dataset🐫

#2089 example(dataset): add QALD-9 Dataset
  example/datasets/LLM/QALD-9/README.md
  example/datasets/LLM/QALD-9/dataset.py
  example/datasets/LLM/QALD-9/example.py
Labels: example 🚕, dataset🐫

#2090 example(dataset): add MKQA Dataset
  example/datasets/LLM/MKQA/README.md
  example/datasets/LLM/MKQA/dataset.py
  example/datasets/LLM/MKQA/example.py
  example/datasets/LLM/MKQA/requirements.txt
Labels: example 🚕, dataset🐫

#2094 fix(console): handler editable status not sync
  console/src/domain/dataset/components/DatasetLabel.tsx
  console/src/domain/job/components/JobForm.tsx
  console/src/domain/model/components/ModelLabel.tsx
  console/src/domain/runtime/components/RuntimeLabel.tsx
Labels: hotfix 🔥, console 🎨

#2096 fix(console): missing time format & popover ui
  console/packages/starwhale-ui/src/DynamicSelector/SelectorPopover.tsx
  console/src/pages/Evaluation/EvaluationListCard.tsx
Labels: enhancement ❤️, console 🎨

#2095 fix(controller): the token may be treated as invalid if the pod is pending in eval
  server/controller/src/main/java/ai/starwhale/mlops/configuration/security/TaskTokenValidator.java
Labels: bug 🐛, controller 🏘️

#2101 bug(model): fix generate dag bug for more than one out degree case
  client/starwhale/api/_impl/job.py
  client/starwhale/core/job/dag.py
  client/starwhale/core/job/step.py
  client/tests/core/test_job.py
  client/tests/sdk/test_job.py
Labels: bug 🐛, client 🌈, model🐇

#2100 chore(e2e): keep mysql and minio when e2e success
  scripts/e2e_test/remove_test_env.sh
  scripts/e2e_test/start_test.sh
Labels: example 🚕

#2107 hotfix(console): use columnHints for type, use ignoreNonExistingTable as default
  console/packages/starwhale-core/src/dataset/hooks/useDatasets.tsx
  console/packages/starwhale-core/src/dataset/types.ts
  console/packages/starwhale-core/src/datastore/hooks/useDatastore.tsx
  console/packages/starwhale-core/src/datastore/hooks/useDatastoreTables.tsx
  console/packages/starwhale-core/src/datastore/hooks/useFetchDatastore.ts
  console/packages/starwhale-core/src/datastore/hooks/useParseDatastore.ts
  console/packages/starwhale-core/src/datastore/schemas/datastore.tsx
  console/packages/starwhale-core/src/datastore/services/datastore.ts
  console/packages/starwhale-core/src/datastore/types.ts
  console/packages/starwhale-core/src/widget/withWidgetDynamicProps.tsx
  console/packages/starwhale-ui/src/GridTable/hooks/useDatastoreColumns.tsx
  console/packages/starwhale-ui/src/Search/Search.tsx
  console/packages/starwhale-ui/src/base/data-table/types.tsx
  console/packages/starwhale-widgets/src/PanelConfusionMatrixWidget/index.tsx
  console/packages/starwhale-widgets/src/PanelTableWidget/index.tsx
  console/src/__generated__/MySuperbApi.ts
  console/src/pages/Dataset/DatasetOverviewLayout.tsx
  console/src/pages/Evaluation/EvaluationListCard.tsx
  console/src/pages/Evaluation/EvaluationListCompare.tsx
  console/src/pages/Evaluation/EvaluationWidgetResults.tsx
  console/src/utils/datetime.ts
  console/swagger.json
Labels: hotfix 🔥, console 🎨

#2079 feat(controller): resource pool support tolerations
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/resourcepool/bo/ResourcePool.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/resourcepool/bo/Toleration.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sJobTemplate.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sJobTemplateTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sTaskSchedulerTest.java
Labels: feature ✨, controller 🏘️

#2110 chore(client): always retry when updating remote data store
  client/starwhale/api/_impl/data_store.py
  client/starwhale/utils/retry.py
  client/tests/utils/test_common.py
Labels: chore 🛎️, client 🌈, datastore 🐇

#2109 enhance(e2e): tune e2e speed
  .github/workflows/e2e-test.yml
  client/Makefile
  client/starwhale/core/project/cli.py
  scripts/client_test/cli_test.py
  scripts/client_test/cli_test.sh
  scripts/client_test/step_specs/step_spec_cpu_mini.yaml
  scripts/e2e_test/start_test.sh
  scripts/example/model.yaml
  scripts/example/src/dataset.py
  scripts/example/src/evaluator.py
Labels: chore 🛎️, e2e

#2112 enhance(sdk): remove predict/evaluate decorator use limits
  client/starwhale/api/_impl/evaluation.py
  client/tests/sdk/test_job.py
Labels: enhancement ❤️, sdk 🐶

#2114 feat(controller): add handler parameter for job create api
  server/controller/src/main/java/ai/starwhale/mlops/api/JobController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/job/JobRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/spec/JobSpecParser.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/bo/ModelVersion.java
  server/controller/src/test/java/ai/starwhale/mlops/api/JobControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobServiceTest.java
Labels: controller 🏘️, e2e

#2115 chore(controller): limit parameters for job create api
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobService.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobServiceTest.java
Labels: chore 🛎️

#2111 chore(controller): add metadata for annotation in resource pool
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/resourcepool/bo/ResourcePool.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sJobTemplate.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sJobTemplateTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sTaskSchedulerTest.java
Labels: chore 🛎️, controller 🏘️

#2104 feat(client): support `swcli job` command
  client/starwhale/__init__.py
  client/starwhale/api/_impl/evaluation.py
  client/starwhale/api/_impl/job.py
  client/starwhale/api/job.py
  client/starwhale/base/context.py
  client/starwhale/base/scheduler/__init__.py
  client/starwhale/base/scheduler/dag.py
  client/starwhale/base/scheduler/step.py
  client/starwhale/base/scheduler/task.py
  client/starwhale/base/type.py
  client/starwhale/base/uri.py
  client/starwhale/cli/__init__.py
  client/starwhale/cli/board/widgets.py
  client/starwhale/core/eval/__init__.py
  client/starwhale/core/eval/cli.py
  client/starwhale/core/eval/executor.py
  client/starwhale/core/job/cli.py
  client/starwhale/core/job/model.py
  client/starwhale/core/job/store.py
  client/starwhale/core/job/view.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/starwhale/mngt/__init__.py
  client/tests/core/test_dag.py
  client/tests/core/test_eval.py
  client/tests/core/test_executor.py
  client/tests/core/test_job.py
  client/tests/core/test_mngt.py
  client/tests/core/test_model.py
  client/tests/sdk/test_evaluation.py
  client/tests/sdk/test_job.py
  client/tests/sdk/test_metric.py
  docs/docs/reference/swcli/job.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/swcli/job.md
  example/PennFudanPed/model.yaml
  example/PennFudanPed/pfp/evaluator.py
  example/speech_command/model.yaml
  example/speech_command/sc/evaluator.py
  scripts/client_test/cli_test.py
  scripts/client_test/cmds/artifacts_cmd.py
  scripts/client_test/cmds/eval_cmd.py
  scripts/client_test/cmds/job_cmd.py
  scripts/e2e_test/start_test.sh
Labels: feature ✨, refactor 🐛, client 🌈, e2e

#2118 feat(dataset): add field transformer for dataset loader
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/dataset/loader.py
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/api/_impl/metric.py
  client/starwhale/api/_impl/track/collector.py
  client/starwhale/api/_impl/track/tracker.py
  client/starwhale/utils/dict.py
  client/starwhale/utils/dict_util.py
  client/tests/sdk/test_dataset_sdk.py
  client/tests/sdk/test_loader.py
  client/tests/utils/test_dict.py
Labels: feature ✨, dataset🐫

#2120 fix(client): model run error when load modules with gradio
  client/starwhale/base/scheduler/task.py
  example/imageNet-ft/imagenet/pipeline.py
  example/imageNet-ft/model.yaml
Labels: bug 🐛, e2e

#2121 feat(client): support swcli model info command for output filter
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/model.py
  client/tests/core/test_model.py
  docs/docs/reference/swcli/model.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/swcli/model.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/swcli/runtime.md
Labels: feature ✨, model🐇, e2e

#2123 chore(controller): set default resource pool in e2e
  scripts/client_test/update_controller_setting.sh
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/SystemSettingService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/resourcepool/bo/Resource.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/resourcepool/bo/ResourcePool.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/ModelServingServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/system/SystemSettingServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/system/resourcepool/bo/ResourcePoolTest.java
Labels: chore 🛎️, e2e

#2099 feat(console): add image build button
  console/src/domain/runtime/schemas/runtimeVersion.tsx
  console/src/domain/runtime/services/runtimeVersion.ts
  console/src/i18n/locales.ts
  console/src/pages/Runtime/RuntimeListCard.tsx
  console/src/pages/Runtime/RuntimeVersionListCard.tsx
  server/controller/src/main/java/ai/starwhale/mlops/domain/bundle/BundleManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/resources/template/image-build.yaml
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeServiceTest.java
Labels: console 🎨

#2125 enhance(e2e): tune github e2e run logs
  .github/workflows/e2e-test.yml
  scripts/client_test/cli_test.py
  scripts/e2e_test/start_test.sh
Labels: enhancement ❤️, e2e

#2130 bug(example): fix speech command example to device typo
  example/speech_command/sc/evaluator.py
Labels: bug 🐛, example 🚕

#2128 feat(console): add job page
  console/packages/starwhale-core/src/editor/index.tsx
  console/src/components/Editor/index.tsx
  console/src/components/Table/index.tsx
  console/src/domain/job/components/JobStatus.tsx
  console/src/domain/job/schemas/job.tsx
  console/src/i18n/locales.ts
  console/src/pages/BaseLayout.tsx
  console/src/pages/Job/JobListCard.tsx
  console/src/pages/Job/JobOverviewLayout.tsx
  console/src/pages/Project/ProjectSidebar.tsx
Labels: feature ✨, console 🎨

#2122 feat(client): support starwhale model package to embed starwhale runtime
  client/scripts/sw-docker-entrypoint
  client/starwhale/base/store.py
  client/starwhale/base/uri.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/store.py
  client/starwhale/core/model/view.py
  client/starwhale/core/runtime/process.py
  client/starwhale/core/runtime/store.py
  client/tests/core/test_model.py
  scripts/client_test/cli_test.py
  scripts/client_test/cmds/artifacts_cmd.py
Labels: feature ✨, client 🌈, model🐇, e2e

#2117 example(finetune): chatglm finetune
  example/LLM/chatglm6b/.swignore
  example/LLM/chatglm6b/code/evaluator.py
  example/LLM/chatglm6b/evaluator.py
  example/LLM/chatglm6b/model.yaml
  example/LLM/chatglm6b/requirements.txt
Labels: example 🚕

#2126 chore(controller): ignore not found code when delete secret
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeRegistryListener.java
Labels: chore 🛎️, controller 🏘️

#2133 enhance(runtime): support `--runtime` run in the sys.argv subprocess mode
  client/scripts/sw-docker-entrypoint
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/base/view.py
  client/starwhale/consts/__init__.py
  client/starwhale/core/dataset/view.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/starwhale/core/runtime/process.py
  client/tests/core/test_model.py
  client/tests/core/test_runtime.py
  client/tests/core/test_runtime_process.py
  client/tests/sdk/test_dataset_sdk.py
  scripts/client_test/cli_test.py
  scripts/client_test/cmds/artifacts_cmd.py
  scripts/client_test/cmds/base/invoke.py
Labels: enhancement ❤️, client 🌈, e2e

#2135 bug(client): fix model serve default yaml issue
  client/starwhale/core/model/cli.py
Labels: bug 🐛, client 🌈

#2138 bug(e2e): fix runtime build for e2e with no cache config
  scripts/client_test/cli_test.py
  scripts/client_test/cmds/artifacts_cmd.py
Labels: bug 🐛, e2e

#2129 bug(client): fix model list too slow and unexpected model size issues
  client/starwhale/base/bundle.py
  client/starwhale/consts/__init__.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/copy.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/store.py
  client/starwhale/core/model/view.py
  client/tests/base/test_copy.py
  client/tests/core/test_model.py
  client/tests/data/model/base_manifest.yaml
  client/tests/data/model/compare_manifest.yaml
Labels: bug 🐛, enhancement ❤️, client 🌈, model🐇, e2e

#2140 chore(e2e): use model run command for e2e test
  scripts/client_test/cli_test.py
  scripts/client_test/cmds/artifacts_cmd.py
Labels: chore 🛎️, e2e

#2139 chore(controller): add job info in pod annotations
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
Labels: chore 🛎️, controller 🏘️

#2136 example(model): add tloen/alpaca-lora example
  example/LLM/alpaca-lora-7b/README.md
Labels: example 🚕

#2147 bug(server): fix dataset update sql error
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/mapper/DatasetVersionMapper.java
Labels: bug 🐛

#2151 chore(controller): add resource pool update api
  server/controller/src/main/java/ai/starwhale/mlops/api/SystemApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/SystemController.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/SystemService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/SystemSettingService.java
  server/controller/src/test/java/ai/starwhale/mlops/api/SystemControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/system/SystemSettingServiceTest.java
Labels: chore 🛎️, controller 🏘️

#2154 chore(controller): add project id into meta
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sTaskSchedulerTest.java
Labels: chore 🛎️, controller 🏘️

#2152 hotfix(console): disable decode cache, for records with uncertain unique key
  console/packages/starwhale-core/src/datastore/hooks/useDatastoreMixedSchema.tsx
  console/src/pages/Dataset/DatasetVersionOverviewFiles.tsx
Labels: hotfix 🔥, console 🎨

#2148 fix(datastore): error when update table schema
  server/controller/src/main/java/ai/starwhale/mlops/datastore/ColumnSchema.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/TableSchemaTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/impl/MemoryTableImplTest.java
Labels: bug 🐛, datastore 🐇

#2159 hotfix(runtime): fix runtime conda activate typo
  client/starwhale/core/runtime/process.py
  client/tests/core/test_runtime_process.py
  scripts/client_test/cli_test.py
  scripts/example/runtime_conda.yaml
Labels: hotfix 🔥, runtime🐌, e2e

#2141 feat(dataset): support `--patch`/`--overwrite` options for dataset copy command
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/base/bundle_copy.py
  client/starwhale/base/type.py
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/copy.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/view.py
  client/tests/base/test_copy.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
  scripts/client_test/cli_test.py
  scripts/client_test/cmds/artifacts_cmd.py
Labels: feature ✨, dataset🐫, e2e

#2161 chore(client): remove warning log when use event loop in thread pool
  client/starwhale/base/scheduler/task.py
Labels: chore 🛎️

#2160 fix(controller): the startup hangs when loading lots of wal files
  server/controller/src/main/java/ai/starwhale/mlops/datastore/WalManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/aliyun/StorageAccessServiceAliyun.java
Labels: bug 🐛, controller 🏘️

#2163 chore(client): fix urllib3 version
  client/requirements-install.txt
Labels: chore 🛎️, e2e

#2150 enhance(client): simpify dataset info command with auto complete latest version
  client/starwhale/base/bundle.py
  client/starwhale/base/view.py
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/view.py
  client/tests/core/test_dataset.py
  client/tests/core/test_eval.py
  client/tests/sdk/test_dataset_sdk.py
  docs/docs/reference/swcli/dataset.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/swcli/dataset.md
Labels: enhancement ❤️, client 🌈, dataset🐫

#2165 feat(console): extends route
  console/package.json
  console/packages/starwhale-ui/src/BusyLoaderWrapper/BusyPlaceholder.tsx
  console/packages/starwhale-ui/src/IconFont/fonts/iconfont.css
  console/packages/starwhale-ui/src/IconFont/fonts/iconfont.js
  console/packages/starwhale-ui/src/IconFont/fonts/iconfont.json
  console/packages/starwhale-ui/src/IconFont/fonts/iconfont.ttf
  console/packages/starwhale-ui/src/IconFont/fonts/iconfont.woff
  console/packages/starwhale-ui/src/IconFont/fonts/iconfont.woff2
  console/packages/starwhale-ui/src/IconFont/index.tsx
  console/packages/starwhale-ui/src/IconFont/svg/account2.svg
  console/packages/starwhale-ui/src/IconFont/svg/wechat.svg
  console/src/components/Header/index.tsx
  console/src/domain/user/components/ThirdPartyLoginButton.tsx
  console/src/i18n/locales.ts
  console/src/routes.tsx
  console/src/routesUtils.tsx
  console/types/route-views.d.ts
  console/vite.config.ts
  console/yarn.lock
Labels: feature ✨, console 🎨

#2166 fix(controller): unexpect file stream closed
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
Labels: bug 🐛, e2e

#2168 feat(console): datepicker ui
  console/packages/starwhale-ui/src/DatePicker/DatePicker.tsx
  console/packages/starwhale-ui/src/DatePicker/index.tsx
  console/packages/starwhale-ui/src/theme/index.ts
  console/src/utils/datetime.ts
Labels: enhancement ❤️, console 🎨

#2167 chore(runtime): runtime process live stream output for conda mode
  client/starwhale/core/runtime/process.py
  client/tests/core/test_runtime_process.py
Labels: chore 🛎️, runtime🐌, e2e

#2170 bug(client): fix workdir path name resolve issue
  client/starwhale/core/model/cli.py
  client/tests/core/test_model.py
Labels: client 🌈

#2171 fix(console): columns transfer invisible not showing, parse bytes in panel
  console/packages/starwhale-core/src/widget/withWidgetDynamicProps.tsx
  console/packages/starwhale-ui/src/GridTable/GridCombineTable.tsx
  console/packages/starwhale-ui/src/GridTable/components/ToolBar/index.tsx
  console/packages/starwhale-ui/src/GridTable/hooks/useGrid.ts
  console/packages/starwhale-ui/src/GridTable/hooks/useGridData.ts
  console/packages/starwhale-ui/src/GridTable/hooks/useGridQuery.tsx
  console/packages/starwhale-ui/src/GridTable/store/store.ts
  console/packages/starwhale-ui/src/base/data-table/headers/headers.tsx
  console/src/pages/Dataset/DatasetVersionOverviewFiles.tsx
Labels: hotfix 🔥, console 🎨

#2172 hotfix(e2e): tune e2e for the useless check
  scripts/client_test/cli_test.py
  scripts/client_test/cmds/job_cmd.py
  scripts/e2e_test/start_test.sh
Labels: hotfix 🔥, e2e
