Repository star-whale/starwhale, pull requests merged in 2023-02, with the labels that each got.

#1762 chore(deploy): remove image pull policy config
  docker/charts/templates/controller-deployment.yaml
  docker/charts/values.yaml
  server/controller/src/main/resources/template/job.yaml
  server/controller/src/main/resources/template/model-serving.yaml
  server/controller/src/test/resources/template/job.yaml
Labels: chore 🛎️, deploy 🚀

#1761 chore(controller): online eval resource pool implementation
  console/src/pages/Project/OnlineEval.tsx
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/ModelServingService.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sJobTemplate.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/ModelServingServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sJobTemplateTest.java
Labels: chore 🛎️, console 🎨, controller 🏘️

#1764 fix(controller): file pull support using project id
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelServiceTest.java
Labels: bug 🐛, controller 🏘️

#1732 chore(server):remove redundant module and files
  server/controller-sdk/bin/.project
  server/controller-sdk/bin/.settings/org.eclipse.core.resources.prefs
  server/controller-sdk/bin/.settings/org.eclipse.m2e.core.prefs
  server/controller-sdk/bin/pom.xml
  server/controller-sdk/pom.xml
  server/controller-sdk/src/main/java/ai/starwhale/mlops/api/protocol/TaskStatusInterface.java
  server/controller-sdk/src/main/java/ai/starwhale/mlops/api/protocol/report/resp/LogReader.java
  server/controller-sdk/src/main/java/ai/starwhale/mlops/api/protocol/report/resp/ResultPath.java
  server/controller-sdk/src/main/java/ai/starwhale/mlops/api/protocol/report/resp/SwRunTime.java
  server/controller-sdk/src/main/java/ai/starwhale/mlops/api/protocol/report/resp/SwdsBlockVo.java
  server/controller-sdk/src/main/java/ai/starwhale/mlops/domain/swds/index/SwdsDataLocation.java
  server/controller/pom.xml
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/ResponseMessage.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/bo/DatasetIndex.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/agent/bo/Device.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/agent/bo/Node.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/agent/bo/NodeInfo.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/TaskService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/bo/ResultPath.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/bo/Task.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/converter/TaskBoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/WatchableTask.java
  server/controller/src/main/java/ai/starwhale/mlops/resulting/ResultQuerier.java
  server/controller/src/test/java/ai/starwhale/mlops/JobMockHolder.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/SimpleStepTriggerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/WatchableTaskTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/log/TaskLogK8sCollectorTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sTaskSchedulerTest.java
  server/controller/t1
  server/controller/t2
  server/pom.xml
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/autofit/aliyun/CompatibleStorageAccessServiceBuilderAliyun.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/autofit/fs/CompatibleStorageAccessServiceBuilderFs.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/autofit/minio/CompatibleStorageAccessServiceBuilderMinio.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/autofit/s3/CompatibleStorageAccessServiceBuilderS3.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/configuration/StorageAccessConfig.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/configuration/StorageProperties.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/fs/FsConfig.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/fs/StorageAccessServiceFile.java
  server/storage-access-layer/src/test/java/ai/starwhale/mlops/storage/StorageAccessServiceTest.java
  server/storage-access-layer/src/test/java/ai/starwhale/mlops/storage/fs/StorageAccessServiceFileTest.java
Labels: chore 🛎️, e2e

#1768 chore(controller): optimize swagger annotations of api
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/EnvApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/EvaluationApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/JobApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/LogApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ModelApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ObjectStoreApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/PanelApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ProjectApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/RuntimeApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/SystemApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/TrashApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/UserApi.java
Labels: chore 🛎️, controller 🏘️, e2e

#1771 chore(doc):update tutorials' doc
  docs/docs/tutorials/ag_news.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/tutorials/ag_news.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/tutorials/cifar10.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/tutorials/mnist.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/tutorials/nmt.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/tutorials/pfp.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/tutorials/speech.md
Labels: doc 📄

#1773 doc(helm): update cloud install docs for docker registry
  README.md
  docs/docs/guides/install/helm-charts.md
  docs/docs/quickstart/on-premises.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/install/helm-charts.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/quickstart/on-premises.md
Labels: doc 📄, chore 🛎️

#1763 chore(controller): online eval rtt optimization
  console/src/pages/Project/OnlineEval.tsx
  server/controller/src/main/java/ai/starwhale/mlops/common/ProxyServlet.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/ModelServingService.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sClient.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sJobTemplate.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/ModelServingServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sClientTest.java
Labels: chore 🛎️, controller 🏘️

#1787 fix(controller):step entity without name
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/step/mapper/StepMapper.java
Labels: bug 🐛

#1793 fix(dataset): fix user local fs data can't be fetched by server instance
  client/starwhale/api/_impl/dataset/builder.py
  client/tests/sdk/test_dataset.py
Labels: bug 🐛

#1772 fix(client):unified the dataset table name when copy
  client/starwhale/base/bundle_copy.py
  client/starwhale/core/dataset/copy.py
  client/tests/base/test_copy.py
  client/tests/sdk/test_dataset.py
Labels: bug 🐛, e2e

#1769 chore(client): tune import with TYPE_CHECKING flag
  client/.coveragerc
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/api/_impl/model.py
  client/starwhale/base/view.py
  client/starwhale/cli/board/board.py
  client/starwhale/cli/board/project_tree.py
  client/starwhale/cli/board/widgets.py
  client/starwhale/version.py
  client/tests/utils/test_common.py
Labels: chore 🛎️, client 🌈

#1791 fix(controller): prevent closing input in aliyun oss
  server/controller/src/main/java/ai/starwhale/mlops/common/TarFileUtil.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/impl/MemoryTableImpl.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/NopCloserInputStream.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/aliyun/StorageAccessServiceAliyun.java
Labels: bug 🐛, controller 🏘️

#1794 fix(console): fix import issues
  console/src/components/Editor/index.tsx
  console/src/pages/Evaluation/EvaluationWidgetResults.tsx
  console/src/pages/Model/ModelVersionOverviewFiles.tsx
  console/src/pages/Project/OnlineEval.tsx
  console/src/pages/Trash/TrashListCard.tsx
  console/src/routes.tsx
Labels: chore 🛎️, console 🎨

#1800 example(dataset): modify jupyter example
  example/datasets/sdk/dataset-sdk.ipynb
Labels: example 🚕, dataset🐫

#1797 fix(controller): remove headers from model download api
  client/starwhale/base/bundle_copy.py
  client/starwhale/core/dataset/copy.py
  client/tests/base/test_copy.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ModelApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ModelController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/upload/UploadRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/upload/UploadResult.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/upload/DatasetUploader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/upload/HotDatasetHolder.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/test/java/ai/starwhale/mlops/api/DatasetControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/api/ModelControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetUploaderTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/HotDatasetHolderTest.java
Labels: invalid, break-change 💔, e2e

#1802 example(runtime): remove example and doc for the unsupported pre/post runtime hook
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/runtime.md
  example/runtime/pytorch/runtime.yaml
Labels: doc 📄, chore 🛎️, example 🚕

#1803 chore(doc): update doc registry with the avaiable address
  docs/docs/guides/config/server_admin.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/config/server_admin.md
Labels: doc 📄

#1780 (dataset): add cityscapes_disparity dataset
  example/datasets/cityscapes/disparity/README.md
  example/datasets/cityscapes/disparity/dataset.py
  example/datasets/cityscapes/disparity/example.py
Labels: example 🚕, dataset🐫

#1801 chore(cli): add `--no-cache` flag for runtime lock command
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/view.py
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/cli/runtime.md
Labels: chore 🛎️, client 🌈, runtime🐌

#1788 chore(test): fix dataset test for unexpected .dataset_tmp dir in the code tree
  client/tests/sdk/test_dataset.py
Labels: chore 🛎️

#1804 enhance(cli): make copy command compatible with no `cloud://` prefix uri
  client/starwhale/base/bundle_copy.py
  client/starwhale/base/uricomponents/instance.py
  client/starwhale/base/uricomponents/project.py
  client/starwhale/base/uricomponents/resource.py
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/copy.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/runtime/cli.py
  client/tests/base/test_copy.py
  client/tests/base/uricomponents/test_instance.py
  client/tests/base/uricomponents/test_project.py
  client/tests/base/uricomponents/test_resource.py
Labels: doc 📄, enhancement ❤️, client 🌈

#1816 optimize(console): search bar with dynamic search keyword & evaluation support order by with api
  console/packages/starwhale-core/src/datastore/hooks/useFetchDatastore.ts
  console/packages/starwhale-ui/src/Button/Button.tsx
  console/packages/starwhale-ui/src/Checkbox/Checkbox.tsx
  console/packages/starwhale-ui/src/Input/NumberInput.tsx
  console/packages/starwhale-ui/src/Modal/confirm.tsx
  console/packages/starwhale-ui/src/Search/FilterRenderer.tsx
  console/packages/starwhale-ui/src/Search/Search.tsx
  console/packages/starwhale-ui/src/Search/StatefulFilterMenu.tsx
  console/packages/starwhale-ui/src/Search/filter.tsx
  console/packages/starwhale-ui/src/Search/filterNumberical.tsx
  console/packages/starwhale-ui/src/Search/types.ts
  console/packages/starwhale-ui/src/Select/Toggle.tsx
  console/packages/starwhale-ui/src/Transfer/Transfer.tsx
  console/packages/starwhale-ui/src/Transfer/TransferList.tsx
  console/packages/starwhale-ui/src/base/data-table/column-string.tsx
  console/packages/starwhale-ui/src/base/data-table/config-manage-columns.tsx
  console/packages/starwhale-ui/src/base/data-table/config-views-edit.tsx
  console/packages/starwhale-ui/src/base/data-table/config-views.tsx
  console/packages/starwhale-ui/src/base/data-table/data-custom-table.tsx
  console/packages/starwhale-ui/src/base/data-table/header-cell.tsx
  console/packages/starwhale-ui/src/base/data-table/stateful-data-table.tsx
  console/packages/starwhale-ui/src/base/data-table/text-search.tsx
  console/packages/starwhale-ui/src/theme/index.ts
  console/packages/starwhale-widgets/src/SectionWidget/index.tsx
  console/src/components/DAG/DAG.tsx
  console/src/pages/BaseLayout.tsx
  console/src/pages/Dataset/DatasetOverviewLayout.tsx
  console/src/pages/Evaluation/EvaluationListCard.tsx
  console/src/pages/Evaluation/EvaluationListCompare.tsx
  console/src/pages/Home/Pending.tsx
  console/src/pages/Model/ModelOverviewLayout.tsx
  console/src/pages/Model/ModelVersionOverviewFiles.tsx
  console/src/pages/Project/OnlineEval.tsx
  console/src/pages/Project/Overview.tsx
  console/src/pages/Project/ProjectListCard.tsx
  console/src/pages/Runtime/RuntimeOverviewLayout.tsx
  console/src/routes.tsx
Labels: enhancement ❤️, console 🎨

#1822 chore(test): remove proxy in E2E test before client test
  scripts/e2e_test/start_test.sh
Labels: chore 🛎️

#1813 fix(controller):datastore api return empty results when query multi times for type of bytes
  server/controller/src/main/java/ai/starwhale/mlops/datastore/ColumnTypeScalar.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/DataStoreTest.java
Labels: bug 🐛, e2e

#1829 fix(client): dataset/model upload failed
  client/starwhale/base/bundle_copy.py
  client/starwhale/base/cloud.py
Labels: bug 🐛, e2e

#1799 bug(client): fix local wheel package unexpected freezing issue
  .gitignore
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/view.py
  client/starwhale/utils/venv.py
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/cli/runtime.md
Labels: client 🌈

#1827 feat(client): support remote assistance
  client/starwhale/cli/__init__.py
  client/starwhale/cli/assistance/__init__.py
  client/starwhale/cli/assistance/broker.py
  client/starwhale/cli/assistance/cli.py
  client/starwhale/cli/assistance/common.py
  client/starwhale/cli/assistance/host.py
  client/starwhale/cli/assistance/remote.py
  client/tests/cli/__init__.py
  client/tests/cli/assistance/__init__.py
  client/tests/cli/assistance/test_broker.py
  client/tests/cli/assistance/test_common.py
  client/tests/cli/assistance/test_host.py
  client/tests/cli/assistance/test_remote.py
Labels: feature ✨, client 🌈

#1833 refactor(console): table components, change to full grid table, support row scroll cache, add inline query
  console/packages/starwhale-core/src/store/store.ts
  console/packages/starwhale-ui/src/Button/Button.tsx
  console/packages/starwhale-ui/src/GridTable/GridDataTable.tsx
  console/packages/starwhale-ui/src/GridTable/GridTable.tsx
  console/packages/starwhale-ui/src/GridTable/hooks/useDatastoreColumns.tsx
  console/packages/starwhale-ui/src/GridTable/types.ts
  console/packages/starwhale-ui/src/Modal/confirm.tsx
  console/packages/starwhale-ui/src/Search/filter.tsx
  console/packages/starwhale-ui/src/Search/filterNumberical.tsx
  console/packages/starwhale-ui/src/Select/Select.tsx
  console/packages/starwhale-ui/src/base/data-table/cells/cell-placement.tsx
  console/packages/starwhale-ui/src/base/data-table/column-string.tsx
  console/packages/starwhale-ui/src/base/data-table/column.tsx
  console/packages/starwhale-ui/src/base/data-table/config-query.tsx
  console/packages/starwhale-ui/src/base/data-table/config-views-edit.tsx
  console/packages/starwhale-ui/src/base/data-table/config-views.tsx
  console/packages/starwhale-ui/src/base/data-table/data-custom-table.tsx
  console/packages/starwhale-ui/src/base/data-table/data-table.tsx
  console/packages/starwhale-ui/src/base/data-table/headers/header-cell.tsx
  console/packages/starwhale-ui/src/base/data-table/headers/header.tsx
  console/packages/starwhale-ui/src/base/data-table/headers/headers.tsx
  console/packages/starwhale-ui/src/base/data-table/index.tsx
  console/packages/starwhale-ui/src/base/data-table/inner-table-element.tsx
  console/packages/starwhale-ui/src/base/data-table/measure-column-widths.tsx
  console/packages/starwhale-ui/src/base/data-table/rows/row-placement.tsx
  console/packages/starwhale-ui/src/base/data-table/stateful-data-table.tsx
  console/packages/starwhale-ui/src/base/data-table/store.ts
  console/packages/starwhale-ui/src/base/data-table/types.tsx
  console/packages/starwhale-ui/src/theme/index.ts
  console/packages/starwhale-widgets/src/PanelTableWidget/component/Table.tsx
  console/packages/starwhale-widgets/src/SectionWidget/component/SectionPopover.tsx
  console/src/components/Table/TableTyped.tsx
  console/src/pages/Dataset/DatasetVersionOverviewFilePreview.tsx
  console/src/pages/Dataset/DatasetVersionOverviewFiles.tsx
  console/src/pages/Evaluation/EvaluationListCard.tsx
  console/src/pages/Evaluation/EvaluationListCompare.tsx
  console/src/pages/Project/ProjectListCard.tsx
  console/vite.config.ts
Labels: enhancement ❤️, feature ✨, console 🎨

#1831 feat(controller): support collecting resource events
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sClient.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/ResourceEventHolder.java
  server/controller/src/main/resources/application.yaml
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/ResourceEventHolderTest.java
Labels: feature ✨, controller 🏘️

#1784 example(model): add hugging face transformer Ahmed9275/Vit-Cifar100 example
  example/transformer/cifar100/README.md
  example/transformer/cifar100/code/__init__.py
  example/transformer/cifar100/code/evaluator.py
  example/transformer/cifar100/download_model.py
  example/transformer/cifar100/model.yaml
  example/transformer/cifar100/requirements.txt
Labels: example 🚕, model🐇

#1783 (model): add hugging face transformer textattack/albert-base-v2-ag-news example
  example/transformer/ag_news/README.md
  example/transformer/ag_news/code/__init__.py
  example/transformer/ag_news/code/download_model.py
  example/transformer/ag_news/code/evaluator.py
  example/transformer/ag_news/model.yaml
  example/transformer/ag_news/requirements-sw-lock.txt
  example/transformer/ag_news/runtime.yaml
Labels: example 🚕, model🐇

#1779 example(dataset): add cityscapes 3dbox dataset
  client/starwhale/__init__.py
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/dataset/__init__.py
  client/starwhale/api/dataset.py
  client/starwhale/core/dataset/type.py
  client/tests/sdk/test_data_store.py
  client/tests/sdk/test_dataset.py
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/sdk/data_type.md
  example/datasets/cityscapes/3dcarbox/README.md
  example/datasets/cityscapes/3dcarbox/dataset.py
  example/datasets/cityscapes/3dcarbox/example.py
Labels: example 🚕, dataset🐫

#1778 example(dataset): add kitti lane dataset
  client/starwhale/core/dataset/store.py
  client/starwhale/core/dataset/type.py
  client/tests/sdk/test_dataset.py
  example/datasets/kitti/lane/README.md
  example/datasets/kitti/lane/dataset.py
  example/datasets/kitti/lane/example.py
  example/datasets/kitti/lane/requirements.txt
Labels: example 🚕, dataset🐫

#1781 example(dataset): add kitti-object-birds dataset example
  client/starwhale/core/dataset/type.py
  client/tests/sdk/test_dataset.py
  example/datasets/kitti/object_bird/README.md
  example/datasets/kitti/object_bird/dataset.py
  example/datasets/kitti/object_bird/example.py
  example/datasets/kitti/object_bird/requirements.txt
Labels: example 🚕, dataset🐫

#1815 fix(controller):unified paths to use project id
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/wrapper.py
  client/starwhale/core/dataset/copy.py
  client/tests/core/test_eval.py
  client/tests/sdk/test_data_store.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
  client/tests/sdk/test_loader.py
  client/tests/sdk/test_wrapper.py
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/index/datastore/DataStoreTableNameHelper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/upload/DatasetUploader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/storage/StoragePathCoordinator.java
  server/controller/src/test/java/ai/starwhale/mlops/JobMockHolder.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/storage/StoragePathCoordinatorTest.java
Labels: bug 🐛, break-change 💔, e2e

#1782 example(dataset): add sintel dataset; add NumpyBinary in sw
  client/starwhale/__init__.py
  client/starwhale/api/_impl/dataset/__init__.py
  client/starwhale/api/dataset.py
  client/starwhale/core/dataset/type.py
  client/tests/sdk/test_dataset.py
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/sdk/data_type.md
  example/datasets/sintel/README.md
  example/datasets/sintel/dataset.py
  example/datasets/sintel/example.py
  example/datasets/sintel/requirements.txt
Labels: example 🚕, dataset🐫

#1838 update(console): add panel query api, optimize in view load status
  console/packages/starwhale-core/src/datastore/hooks/useFetchDatastore.ts
  console/packages/starwhale-core/src/store/store.ts
  console/packages/starwhale-core/src/widget/withWidgetDynamicProps.tsx
  console/packages/starwhale-ui/src/GridTable/GridTable.tsx
  console/packages/starwhale-ui/src/GridTable/types.ts
  console/packages/starwhale-ui/src/Search/FilterRenderer.tsx
  console/packages/starwhale-ui/src/base/data-table/inner-table-element.tsx
  console/packages/starwhale-ui/src/base/data-table/stateful-data-table.tsx
  console/packages/starwhale-ui/src/base/data-table/store.ts
  console/packages/starwhale-ui/src/base/data-table/types.tsx
  console/packages/starwhale-ui/src/base/data-table/view/useCurrentView.tsx
  console/packages/starwhale-widgets/src/PanelTableWidget/component/Table.tsx
  console/packages/starwhale-widgets/src/PanelTableWidget/index.tsx
  console/src/pages/Evaluation/EvaluationListCard.tsx
  console/src/pages/Evaluation/EvaluationWidgetResults.tsx
Labels: enhancement ❤️, hotfix 🔥, console 🎨

#1823 enhance(install) tune helm charts for minikube mode
  README.md
  docker/README.md
  docker/charts/Chart.lock
  docker/charts/Chart.yaml
  docker/charts/README.md
  docker/charts/charts/minio-11.7.6.tgz
  docker/charts/charts/mysql-8.9.6.tgz
  docker/charts/charts/nexus-repository-manager-39.0.0.tgz
  docker/charts/templates/NOTES.txt
  docker/charts/templates/_helpers.tpl
  docker/charts/templates/controller-deployment.yaml
  docker/charts/templates/controller-ingress.yaml
  docker/charts/templates/minio.yaml
  docker/charts/templates/mysql.yaml
  docker/charts/templates/pv.yaml
  docker/charts/values.minikube.cn.yaml
  docker/charts/values.minikube.global.yaml
  docker/charts/values.yaml
  docs/docs/guides/install/helm-charts.md
  docs/docs/quickstart/on-premises.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/install/helm-charts.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/quickstart/on-premises.md
  scripts/e2e_test/check_controller_port.sh
  scripts/e2e_test/start_test.sh
  scripts/publish/pub.sh
Labels: enhancement ❤️, refactor 🐛, e2e, install

#1845 update(console): use projectId for table query
  console/packages/starwhale-core/src/datastore/hooks/useDatastoreTables.tsx
  console/src/components/Editor/index.tsx
  console/src/pages/Evaluation/EvaluationListCard.tsx
  console/src/pages/Evaluation/EvaluationResults.tsx
  console/src/pages/Evaluation/EvaluationWidgetResults.tsx
  console/src/pages/Model/ModelOverviewLayout.tsx
Labels: break-change 💔, console 🎨

#1848 fix(console): image data empty when cros error
  console/src/components/Viewer/ImageViewer.tsx
Labels: hotfix 🔥, console 🎨

#1847 chore(e2e): ignore controller service check command non-zero exit for e2e script
  scripts/e2e_test/start_test.sh
Labels: chore 🛎️

#1809 feat(console): auto fill runtime if possible in online eval page
  console/src/domain/model/components/CreateOnlineEvalForm.tsx
  console/src/domain/runtime/hooks/useFetchRuntimeVersionSuggestion.ts
  console/src/domain/runtime/schemas/runtimeVersion.tsx
  console/src/domain/runtime/services/runtimeVersion.ts
Labels: feature ✨, console 🎨

#1840 fix(datastore): lazy to init table name for eval & replace name with id
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/wrapper.py
  client/tests/sdk/test_data_store.py
  client/tests/sdk/test_wrapper.py
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/storage/JobRepo.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/storage/JobRepoTest.java
Labels: bug 🐛, e2e

#1850 fix(console): support dataset without shape attribute
  console/src/components/Viewer/ImageViewer.tsx
Labels: hotfix 🔥, console 🎨

#1851 bug(release): add cuda11.5 into the docker image sync list
  scripts/publish/image_sync.sh
Labels: bug 🐛, ci 🕹️

#1842 doc(notebook): update readme and standalone quickstart doc, notebooks
  README.md
  docs/docs/quickstart/on-premises.md
  docs/docs/quickstart/standalone.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/quickstart/on-premises.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/quickstart/standalone.md
  example/notebooks/dataset-sdk.ipynb
  example/notebooks/quickstart-standalone.ipynb
Labels: doc 📄, example 🚕

#1855 chore(example): add COLUMNS env for eval output in the jupyter notebook
  example/notebooks/quickstart-standalone.ipynb
Labels: chore 🛎️, example 🚕

#1858 update(console): set wrapper height to make sure resizer not null
  console/package.json
  console/packages/starwhale-ui/src/AutoResizer/GridResizer.tsx
  console/src/components/Card/index.module.scss
  console/src/components/Card/index.tsx
  console/src/pages/Evaluation/EvaluationListCard.tsx
  console/vite.config.ts
  console/yarn.lock
Labels: hotfix 🔥, console 🎨

#1857 chore(doc): redirect homepage to standalone quickstart doc
  docs/docusaurus.config.js
  docs/src/pages/index.js
  docs/src/pages/index.scss
  docs/src/pages/styles.module.css
Labels: doc 📄, chore 🛎️

#1861 update(docs): use default monospaced fonts
  docs/src/css/custom.scss
Labels: doc 📄, enhancement ❤️

#1863 fix(console): update runtime version fetch param name
  console/src/domain/runtime/services/runtime.ts
Labels: bug 🐛, console 🎨

#1696 feat(sdk): support track sdk for experiment
  .github/workflows/client.yaml
  client/Makefile
  client/setup.py
  client/starwhale/__init__.py
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/metric.py
  client/starwhale/api/_impl/track/__init__.py
  client/starwhale/api/_impl/track/base.py
  client/starwhale/api/_impl/track/collector.py
  client/starwhale/api/_impl/track/handler.py
  client/starwhale/api/_impl/track/hooker.py
  client/starwhale/api/_impl/track/syncer.py
  client/starwhale/api/_impl/track/tracker.py
  client/starwhale/api/track.py
  client/starwhale/cli/__init__.py
  client/starwhale/cli/config.py
  client/starwhale/core/dataset/type.py
  client/starwhale/core/track/__init__.py
  client/starwhale/utils/config.py
  client/starwhale/utils/dict.py
  client/starwhale/utils/fs.py
  client/tests/core/test_dataset.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_track.py
  client/tests/utils/test_dict.py
Labels: sdk 🐶, client 🌈, track 🔍

#1872 chore(doc): tune git clone command in the docs
  README.md
  docs/docs/quickstart/standalone.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/quickstart/standalone.md
  example/notebooks/quickstart-standalone.ipynb
Labels: doc 📄, chore 🛎️

#1870 chore(client): refine the behavior when copying resource from remote using url copied from the console
  client/starwhale/api/_impl/dataset/loader.py
  client/starwhale/base/bundle.py
  client/starwhale/base/bundle_copy.py
  client/starwhale/base/cloud.py
  client/starwhale/base/tag.py
  client/starwhale/base/uricomponents/resource.py
  client/starwhale/base/view.py
  client/starwhale/cli/board/widgets.py
  client/starwhale/consts/__init__.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/eval/model.py
  client/starwhale/core/eval/view.py
  client/starwhale/core/model/model.py
  client/starwhale/core/project/model.py
  client/starwhale/core/project/view.py
  client/starwhale/core/runtime/model.py
  client/tests/base/test_copy.py
  client/tests/base/test_tag.py
  client/tests/base/uricomponents/test_resource.py
  client/tests/sdk/test_dataset.py
Labels: chore 🛎️, client 🌈, e2e

#1873 chore(example): remove duplicate requirements in runtime
  example/runtime/pytorch-cn-mirror/runtime.yaml
  example/runtime/pytorch-e2e/runtime-3-10.yaml
  example/runtime/pytorch-e2e/runtime-3-7.yaml
  example/runtime/pytorch-e2e/runtime-3-8.yaml
  example/runtime/pytorch-e2e/runtime-3-9.yaml
  example/runtime/pytorch-e2e/runtime.yaml
  example/runtime/pytorch/runtime.yaml
Labels: example 🚕, e2e

#1874 chore(charts): remove useless taskSplitSize argument in charts
  docker/charts/README.md
  docker/charts/templates/controller-deployment.yaml
  docker/charts/values.minikube.cn.yaml
  docker/charts/values.minikube.global.yaml
  docker/charts/values.yaml
  docker/compose/compose.yaml
  docs/docs/guides/install/helm-charts.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/install/helm-charts.md
  scripts/e2e_test/start_test.sh
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/split/JobSpliteratorEvaluation.java
  server/controller/src/main/resources/application.yaml
Labels: chore 🛎️, charts

#1877 fix(controller): fix bug with getting current user roles & e2e
  server/controller/src/main/java/ai/starwhale/mlops/api/UserApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/UserController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/user/RoleVo.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/ProjectService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/user/UserService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/user/bo/Role.java
  server/controller/src/test/java/ai/starwhale/mlops/api/UserControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/project/ProjectServiceTest.java
Labels: bug 🐛, controller 🏘️, e2e

#1879 chore(e2e): enlarge pip timeout in e2e runtime
  docker/external/config-e2e-pypi-repo.sh
  scripts/publish/pub.sh
Labels: e2e

#1887 chore(controller): add remove permission to project maintainer
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/JobApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ModelApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/RuntimeApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/TrashApi.java
Labels: chore 🛎️, controller 🏘️

#1869 chore(doc): add a temp flag to keep the first archived versions dir
  .github/workflows/docs.yaml
Labels: doc 📄, chore 🛎️

#1886 fix(client):dockerize cmd can not found tmpl and tmp file error
  client/setup.py
  client/starwhale/core/runtime/model.py
  client/tests/core/test_runtime.py
  client/tests/data/runtime/pytorch.swrt
Labels: bug 🐛

#1888 chore(charts): refactor helm values for the hostpath pv
  docker/charts/templates/controller-deployment.yaml
  docker/charts/values.yaml
Labels: chore 🛎️, e2e, charts

#1889 chore(client): add a submit button for online eval
  client/starwhale/api/_impl/service.py
Labels: chore 🛎️, client 🌈

#1865 chore(controller): controller chart main storage supports local fs
  docker/Dockerfile.server
  docker/charts/README.md
  docker/charts/templates/controller-deployment.yaml
  docker/charts/templates/minio.yaml
  docker/charts/templates/pv.yaml
  docker/charts/values.minikube.cn.yaml
  docker/charts/values.minikube.global.yaml
  docker/charts/values.yaml
  docs/docs/guides/install/helm-charts.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/install/helm-charts.md
  server/controller/src/main/java/ai/starwhale/mlops/api/ObjectStoreApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/ObjectStoreController.java
  server/controller/src/test/java/ai/starwhale/mlops/api/ObjectStoreControllerTest.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/fs/StorageAccessServiceFile.java
Labels: e2e

#1890 fix(controller): update job status accord with k8s spec
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/TaskStatus.java
  server/controller/src/main/java/ai/starwhale/mlops/reporting/ReportedTask.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/JobEventHandler.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/PodEventHandler.java
  server/controller/src/test/java/ai/starwhale/mlops/reporting/TaskStatusReceiverImpTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/JobEventHandlerTest.java
Labels: bug 🐛

#1884 fix(controller): job status is still fail after resuming job
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/cache/JobLoader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/watchers/TaskWatcherForJobStatus.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobLoaderTest.java
Labels: e2e

#1878 enhance(runtime): refactor runtime build with the shadow requirements-sw-lock.txt file
  .gitignore
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/view.py
  client/tests/core/test_runtime.py
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/runtime.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/cli/runtime.md
Labels: enhancement ❤️, client 🌈, runtime🐌

#1896 fix(controller): tune controller jvm max heap size
  docker/Dockerfile.server
Labels: e2e
