Repository star-whale/starwhale, pull requests merged in 2023-10, with the labels that each got.

#2807 enhance(datastore): support tombstone in local
  client/starwhale/api/_impl/data_store.py
  client/tests/sdk/test_data_store.py
Labels: enhancement ❤️, client 🌈, datastore 🐇

#2819 enhance(client): make building environment python version as the runtime default python version
  client/starwhale/core/runtime/model.py
  client/tests/core/test_runtime.py
Labels: enhancement ❤️, client 🌈, e2e

#2816 chore(controller): unify artifact's creation conflict code
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/upload/DatasetUploader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetUploaderTest.java
Labels: chore 🛎️, e2e

#2809 refactor(datastore): use flat structure to avoid too many sub directories
  client/starwhale/api/_impl/data_store.py
  client/tests/core/test_dataset.py
  client/tests/sdk/test_data_store.py
  client/tests/sdk/test_track.py
Labels: refactor 🐛, break-change 💔, datastore 🐇, e2e

#2818 chore(client): rm lock when dumping table
  client/starwhale/api/_impl/data_store.py
  client/tests/sdk/test_data_store.py
Labels: chore 🛎️, client 🌈, datastore 🐇

#2814 fix(client): model build with example failed with the latest gradio version
  client/starwhale/api/_impl/service.py
  client/tests/data/sdk/service/default_class.py
  client/tests/sdk/test_service.py
Labels: bug 🐛, client 🌈

#2822 fix(datastore): query limit without deleted rows
  server/controller/src/main/java/ai/starwhale/mlops/datastore/DataStore.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/DataStoreTest.java
Labels: chore 🛎️, controller 🏘️, datastore 🐇

#2824 fix(datastore): remove dup entry in data store manifest
  client/starwhale/api/_impl/data_store.py
  client/tests/sdk/test_data_store.py
Labels: bug 🐛, client 🌈, datastore 🐇

#2695 feat(controller): add eval upload api for file
  client/starwhale/base/client/models/models.py
  console/packages/starwhale-core/src/dataset/types.ts
  console/packages/starwhale-core/src/dataset/utils.ts
  console/packages/starwhale-core/src/datastore/utils.ts
  console/packages/starwhale-ui/src/GridDatastoreTable/hooks/useDatastoreColumns.tsx
  console/packages/starwhale-ui/src/GridDatastoreTable/recordAttrModel.ts
  console/src/pages/Dataset/DatasetVersionOverviewFiles.tsx
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/EvaluationController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/FileStorageController.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/evaluation/EvaluationFileStorage.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/storage/StoragePathCoordinator.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/storage/UriAccessor.java
  server/controller/src/test/java/ai/starwhale/mlops/api/DatasetControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/api/EvaluationControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/evaluation/EvaluationFileStorageTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/storage/StoragePathCoordinatorTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/storage/UriAccessorTest.java
Labels: feature ✨, e2e

#2820 feat(datastore): datastore in standalone support checkpoint
  client/starwhale/api/_impl/data_store.py
  client/tests/sdk/test_data_store.py
Labels: feature ✨, client 🌈, datastore 🐇

#2826 chore(ci): disable e2e and codeql cron
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-test.yml
Labels: chore 🛎️, ci 🕹️

#2831 chore(client): update TableWriter default limits of run exceptions for fast fail
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/wrapper.py
Labels: chore 🛎️, sdk 🐶, client 🌈

#2829 enhance(dataset): expose exceptions from dataset copy threads
  client/starwhale/core/dataset/copy.py
  client/starwhale/core/runtime/model.py
  client/starwhale/utils/http.py
  client/tests/core/test_runtime.py
  client/tests/sdk/test_dataset_sdk.py
Labels: sdk 🐶, client 🌈, dataset🐫

#2832 chore(controller): modify k8s job name to a legal one
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/RunExecutorK8s.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/log/RunLogK8sCollectorFactory.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/log/RunLogK8sStreamingCollector.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/log/RunLogOfflineCollectorK8S.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/reporting/JobEventHandler.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/reporting/PodEventHandler.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/impl/k8s/JobEventHandlerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/impl/k8s/PodEventHandlerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/impl/k8s/RunExecutorK8sTest.java
Labels: e2e

#2834 enhance(client): add debug cli for data store
  client/starwhale/cli/__init__.py
  client/starwhale/cli/deubg/__init__.py
  client/starwhale/cli/deubg/datastore.py
Labels: enhancement ❤️, client 🌈

#2830 fix(ut): make testing table of data store stable
  client/tests/sdk/test_track.py
Labels: chore 🛎️, ci 🕹️, client 🌈

#2828 fix(datastore): prevent loading manifest in every insert
  client/starwhale/api/_impl/data_store.py
Labels: bug 🐛, client 🌈, datastore 🐇

#2823 feat(client): support auto copy artifact when run or serve
  client/scripts/sw-docker-entrypoint
  client/starwhale/base/bundle_copy.py
  client/starwhale/core/dataset/tabular.py
  client/starwhale/core/model/cli.py
  client/tests/core/test_model.py
  client/tests/sdk/test_dataset.py
  scripts/client_test/cli_test.py
Labels: enhancement ❤️, e2e

#2808 feat(sdk): support evaluation log artifacts
  .gitignore
  client/starwhale/__init__.py
  client/starwhale/api/_impl/dataset/loader.py
  client/starwhale/api/_impl/evaluation/__init__.py
  client/starwhale/api/_impl/evaluation/log.py
  client/starwhale/api/_impl/evaluation/pipeline.py
  client/starwhale/api/_impl/job/model.py
  client/starwhale/api/_impl/wrapper.py
  client/starwhale/api/evaluation.py
  client/starwhale/base/data_type.py
  client/starwhale/base/uri/resource.py
  client/starwhale/core/dataset/store.py
  client/starwhale/core/dataset/tabular.py
  client/starwhale/core/job/model.py
  client/starwhale/utils/dict_util.py
  client/starwhale/web/data_store.py
  client/tests/core/test_dataset_store.py
  client/tests/sdk/test_evaluation_log.py
  client/tests/sdk/test_evaluation_pipeline.py
  client/tests/sdk/test_job_sdk.py
  client/tests/sdk/test_loader.py
  client/tests/sdk/test_metric.py
  client/tests/sdk/test_wrapper.py
  client/tests/utils/test_dict.py
  example/huge-tasks/evaluation.py
  scripts/example/runtime.yaml
  scripts/example/runtime_conda.yaml
  scripts/example/src/dataset.py
  scripts/example/src/evaluator.py
  scripts/example/src/util.py
Labels: feature ✨, sdk 🐶, e2e, evaluation

#2837 bug(sdk): fix list/tuple types check for converting sequence
  client/starwhale/core/dataset/tabular.py
  client/starwhale/utils/__init__.py
  client/tests/sdk/test_dataset_sdk.py
Labels: bug 🐛, sdk 🐶

#2842 bug(example): fix nmt example typo
  example/nmt/nmt/evaluator.py
Labels: bug 🐛, example 🚕

#2844 chore(client): fix mypy lint issue
  client/starwhale/base/uri/instance.py
  client/starwhale/core/instance/view.py
  client/starwhale/core/model/store.py
  client/starwhale/mngt/__init__.py
  client/starwhale/utils/config.py
  client/tests/utils/test_config.py
Labels: chore 🛎️, ci 🕹️, client 🌈

#2835 fix(controller): fix current run is null for a running task after controller restart
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/converter/TaskBoConverter.java
  server/controller/src/test/java/ai/starwhale/mlops/ObjectMockHolder.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TaskBoConverterTest.java
Labels: bug 🐛, e2e

#2851 chore(test): auto copy test use local dataset
  scripts/client_test/cli_test.py
Labels: chore 🛎️, e2e

#2849 bug(SDK): fix loader consumption missing upload issue
  client/starwhale/api/_impl/dataset/loader.py
  client/tests/sdk/test_loader.py
Labels: bug 🐛, sdk 🐶, e2e

#2852 fix(controller): cache unassigned range data to memory for optimise dataset consumption
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/DataReadManager.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/dao/DataReadLogDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/mapper/DataReadLogMapper.java
  server/controller/src/main/resources/application.yaml
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/dataloader/MultiConsumerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/dataloader/ReadRangeTest.java
Labels: e2e

#2854 chore(ci): fix e2e no disk space and TableWriter close issue
  .github/workflows/e2e-test.yml
  client/starwhale/api/_impl/data_store.py
Labels: sdk 🐶, e2e

#2859 chore(client): add retry condition and count limit for api requests
  client/starwhale/base/client/client.py
  client/tests/base/client/test_client.py
Labels: chore 🛎️, client 🌈

#2839 feat(SDK): add job create sdk
  client/starwhale/api/_impl/evaluation/pipeline.py
  client/starwhale/api/_impl/job/model.py
  client/starwhale/base/bundle_copy.py
  client/starwhale/consts/__init__.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/model.py
  client/tests/core/test_model.py
  client/tests/sdk/test_job_sdk.py
  scripts/client_test/cmds/project_cmd.py
Labels: feature ✨, sdk 🐶, job 💡, e2e

#2858 chore(ci): enhance session consume test stability
  client/tests/sdk/test_loader.py
Labels: enhancement ❤️, ci 🕹️

#2860 fix(controller): add max wait time for load request
  server/controller/src/main/java/ai/starwhale/mlops/configuration/CommonExceptionHandler.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/DataLoader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/dataloader/DataReadManager.java
  server/controller/src/main/java/ai/starwhale/mlops/exception/SwRequestFrequentException.java
  server/controller/src/main/resources/application.yaml
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/dataloader/MultiConsumerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/dataloader/ReadRangeTest.java
Labels: bug 🐛, e2e

#2863 chore(example): update huge-tasks example evaluate validation
  example/huge-tasks/evaluation.py
Labels: chore 🛎️, example 🚕

#2866 fix(datastore): normalize the revision in snapshot for backward compatibility
  server/controller/src/main/java/ai/starwhale/mlops/datastore/impl/MemoryTableImpl.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/impl/MemoryTableImplTest.java
Labels: bug 🐛, controller 🏘️, datastore 🐇

#2864 fix(controller): fix jobs that run on k8s are always cancelling when cancel operation is commited
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/reporting/PodEventHandler.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/impl/k8s/PodEventHandlerTest.java
Labels: bug 🐛

#2871 chore(client): prevent showing the :id: emoji in console
  client/starwhale/base/scheduler/task.py
Labels: chore 🛎️, client 🌈

#2867 chore(client): support project opt when listing table in debug cli
  client/starwhale/api/_impl/data_store.py
  client/starwhale/cli/deubg/datastore.py
  client/tests/sdk/test_data_store.py
Labels: chore 🛎️, client 🌈

#2861 ci(e2e): add comparision between local and remote dataset
  scripts/client_test/cli_test.py
  scripts/client_test/cmds/base/invoke.py
Labels: chore 🛎️, ci 🕹️, e2e

#2874 chore: update docs for sdk and example
  client/starwhale/api/_impl/evaluation/log.py
  client/starwhale/api/_impl/job/model.py
  example/cifar10/READMD.md
  example/cifar10/README-zh.md
  example/imageNet-ft/README-zh.md
  example/mnist/README-zh.md
  example/mnist/README.md
Labels: chore 🛎️, example 🚕, sdk 🐶

#2876 chore(ci): improve tracker run test stability in the slow machine
  client/tests/sdk/test_track.py
Labels: chore 🛎️, ci 🕹️

#2870 refine(client): dataset head always fetch raw
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/view.py
  client/tests/core/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
Labels: chore 🛎️, client 🌈

#2838 enhance(datastore): support multiple type of list
  client/starwhale/api/_impl/data_store.py
  client/starwhale/base/client/models/models.py
  client/tests/sdk/test_data_store.py
  client/tests/sdk/test_dataset.py
  server/controller/src/main/java/ai/starwhale/mlops/datastore/ColumnSchema.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/ColumnSchemaDesc.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/impl/RecordDecoder.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/impl/WalRecordDecoder.java
  server/controller/src/main/protobuf/wal.proto
  server/controller/src/test/java/ai/starwhale/mlops/datastore/DataStoreTest.java
Labels: enhancement ❤️, datastore 🐇, e2e

#2881 chore(client): make unit test works after fastapi upgrade
  .github/workflows/client.yaml
Labels: chore 🛎️, client 🌈

#2875 fix(client): make sure evaluation log flushed to storage
  client/starwhale/api/_impl/data_store.py
  client/starwhale/base/artifact/base.py
  scripts/client_test/cmds/artifacts_cmd.py
  scripts/client_test/cmds/job_cmd.py
Labels: bug 🐛, client 🌈

#2880 enhance(client): clear cache for link _signed_uri
  client/starwhale/base/data_type.py
Labels: enhancement ❤️, client 🌈, e2e

#2882 enhance(SDK): avoid obtaining all artifact content in advance
  client/starwhale/api/_impl/evaluation/log.py
  client/starwhale/base/data_type.py
  client/tests/sdk/test_evaluation_log.py
Labels: enhancement ❤️, sdk 🐶, client 🌈

#2888 enhance(client): remove `clear_cache` operation for data types
  client/starwhale/api/_impl/dataset/builder/mapping_builder.py
  client/starwhale/api/_impl/evaluation/log.py
  client/starwhale/api/_impl/evaluation/pipeline.py
  client/starwhale/base/data_type.py
  client/tests/base/test_data_type.py
  client/tests/sdk/test_dataset.py
  client/tests/web/test_server.py
Labels: enhancement ❤️, client 🌈, e2e

#2891 enhance(SDK): retrieve the content of Text using the fetch_data function
  client/starwhale/base/data_type.py
Labels: enhancement ❤️, sdk 🐶, e2e

#2892 chore(client): workaround email-validator lib version in python3.7
  client/setup.py
Labels: chore 🛎️

#2893 chore(controller): use try-resource to recode pagehelper
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/evaluation/EvaluationService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobServiceForWeb.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/report/ReportService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/TaskService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/trash/TrashService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/user/UserService.java
Labels: chore 🛎️

#2886 enhance(client): remove artifacts owner setter
  client/starwhale/api/_impl/dataset/loader.py
  client/starwhale/api/_impl/evaluation/log.py
  client/starwhale/base/data_type.py
  client/starwhale/core/dataset/store.py
  client/tests/base/test_data_type.py
  client/tests/core/test_dataset_store.py
  client/tests/sdk/test_loader.py
  scripts/example/src/evaluator.py
Labels: enhancement ❤️, client 🌈, e2e

#2894 bug(client): enqueue None to the abs queue after artifact close operation
  client/starwhale/base/artifact/base.py
Labels: bug 🐛, client 🌈

#2896 chore(client): replace flake8 with ruff, an extremely fast Python linter
  client/.flake8
  client/Makefile
  client/pyproject.toml
  client/requirements-dev.txt
  example/PennFudanPed/pfp/utils/coco_eval.py
  example/ucf101/ucf101/metric.py
  example/ucf101/ucf101/sampler.py
Labels: chore 🛎️, ci 🕹️, client 🌈

#2895 chore(controller): datastore use read-write lock
  server/controller/src/main/java/ai/starwhale/mlops/datastore/DataStore.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/MemoryTable.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/impl/MemoryTableImpl.java
Labels: enhancement ❤️, datastore 🐇, e2e

#2897 chore(client): enable flake8 bugbear for python code
  client/pyproject.toml
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/api/_impl/job/handler.py
  client/starwhale/api/_impl/track/tracker.py
  client/starwhale/base/blob/store.py
  client/starwhale/base/context.py
  client/starwhale/base/data_type.py
  client/starwhale/base/scheduler/task.py
  client/starwhale/cli/assistance/broker.py
  client/starwhale/cli/assistance/common.py
  client/starwhale/cli/board/widgets.py
  client/starwhale/core/dataset/store.py
  client/starwhale/core/model/copy.py
  client/starwhale/integrations/huggingface/dataset.py
  client/starwhale/utils/http.py
  client/tests/base/test_copy.py
  client/tests/base/uri/test_instance.py
  client/tests/base/uri/test_project.py
  client/tests/base/uri/test_resource.py
  client/tests/cli/assistance/test_broker.py
  client/tests/core/test_dataset.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_job_handler.py
  client/tests/utils/test_common.py
  client/tests/utils/test_fs.py
  example/LLM/llama/finetune.py
  example/PennFudanPed/pfp/dataset.py
  example/datasets/LLM/openassistant-guanaco/dataset.py
  example/datasets/celeba/dataset.py
  example/imageNet-ft/imagenet/dataset.py
  example/llm-leaderboard/src/evaluation.py
  example/text_cls_AG_NEWS/tcan/train.py
  example/ucf101/ucf101/train.py
  example/ucf101/ucf101/transform.py
  scripts/client_test/cli_test.py
Labels: ci 🕹️, client 🌈, e2e

#2902 chore(e2e): compare datastore table instead of dataset
  client/Makefile
  scripts/client_test/cli_test.py
Labels: chore 🛎️, ci 🕹️, e2e

#2900 enhance(controller): add job event in server side
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/event/EventRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/event/EventService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobServiceForWeb.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/event/EventServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobServiceForWebTest.java
Labels: enhancement ❤️, controller 🏘️

#2872 enhance(controller): modify datasource param and add index for slowsql
  server/controller/src/main/java/ai/starwhale/mlops/configuration/SlowSqlLogInterceptor.java
  server/controller/src/main/resources/application.yaml
  server/controller/src/main/resources/db/migration/v0_4_0/V0_4_0_026__add_index_for_dataset_read_log.sql
  server/controller/src/test/java/ai/starwhale/mlops/configuration/sql/SlowSqlTest.java
  server/controller/src/test/java/ai/starwhale/mlops/configuration/sql/SqlMapper.java
Labels: enhancement ❤️, e2e

#2899 example: add musicgen example
  example/LLM/musicgen/README.md
  example/LLM/musicgen/runtime.yaml
  example/text-to-music/README.md
  example/text-to-music/datasets/README.md
  example/text-to-music/datasets/musicgen-mini.py
  example/text-to-music/musicgen/.gitignore
  example/text-to-music/musicgen/README.md
  example/text-to-music/musicgen/build.py
  example/text-to-music/musicgen/evaluation.py
  example/text-to-music/musicgen/requirements.txt
  example/text-to-music/musicgen/runtime.yaml
  example/text-to-music/musicgen/utils.py
Labels: example 🚕

#2906 enhance(ci): auto cancel the previous run
  .github/file-filter.yml
  .github/workflows/client.yaml
  .github/workflows/console.yml
  .github/workflows/e2e-test.yml
  .github/workflows/server-ut-report.yml
Labels: enhancement ❤️, ci 🕹️

#2904 enhance(controller): support logging scheduler event to run of job
  client/starwhale/base/client/models/models.py
  server/controller/src/main/java/ai/starwhale/mlops/api/JobController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/event/Event.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/EventWatcher.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/K8sClient.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/Util.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/reporting/JobEventHandler.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/reporting/K8sEventListener.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/reporting/PodEventHandler.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/reporting/ResourceEventHolder.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/reporting/RunEventListener.java
  server/controller/src/main/resources/application.yaml
  server/controller/src/test/java/ai/starwhale/mlops/api/JobControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/PageTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/impl/k8s/reporting/ResourceEventHolderTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/impl/k8s/reporting/RunEventListenerTest.java
Labels: enhancement ❤️, controller 🏘️

#2910 chore(client): auto generated model uses custom base model
  client/Makefile
  client/starwhale/base/client/models/models.py
  client/starwhale/base/models/base.py
  client/tests/base/models/test_base.py
Labels: chore 🛎️, client 🌈, e2e

#2912 chore(controller): ignore k8s job fail reason and refine task finish time
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/reporting/JobEventHandler.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/reporting/listener/impl/RunUpdateListenerForStatus.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/impl/k8s/JobEventHandlerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/reporting/listener/impl/RunUpdateListenerForStatusTest.java
Labels: chore 🛎️, controller 🏘️

#2914 fix(controller): make online eval runable
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/container/ContainerSpecification.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/container/impl/OnlineEvaluationContainerSpecification.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/container/impl/SwCliModelHandlerContainerSpecification.java
Labels: bug 🐛, controller 🏘️

#2913 chore(client): prefer using builtin list when building dataset
  client/starwhale/api/_impl/data_store.py
  client/starwhale/core/dataset/tabular.py
  client/tests/sdk/test_dataset.py
Labels: chore 🛎️, client 🌈, e2e

#2915 chore(controller): list event support task-scoped aggregation
  server/controller/src/main/java/ai/starwhale/mlops/domain/event/EventService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/event/mapper/EventMapper.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/event/EventServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/event/mapper/EventMapperTest.java
Labels: chore 🛎️, controller 🏘️

#2917 bug(runtime): fix runtime.yaml arch field empty issue
  client/starwhale/core/runtime/model.py
  client/tests/core/test_runtime.py
  example/runtime/pytorch-e2e/runtime-3-10.yaml
  example/runtime/pytorch-e2e/runtime-3-7.yaml
  example/runtime/pytorch-e2e/runtime-3-9.yaml
  scripts/example/runtime.yaml
  scripts/example/runtime_conda.yaml
Labels: bug 🐛, runtime🐌, e2e

#2911 example: add code-llama example
  example/code-generation/code-llama/.gitignore
  example/code-generation/code-llama/README.md
  example/code-generation/code-llama/download.py
  example/code-generation/code-llama/inference.py
  example/code-generation/code-llama/requirements.txt
  example/code-generation/code-llama/runtime.yaml
Labels: example 🚕

#2920 chore(db): change desc column's character set to utf8mb4
  server/controller/src/main/resources/db/migration/v0_4_0/V0_4_0_027__update_character_set_for_desc_column.sql
Labels: chore 🛎️

#2919 fix(client): model serving handler can not run
  client/starwhale/base/scheduler/task.py
Labels: bug 🐛, client 🌈

#2921 fix(controller): make proxy works after serving handler run
  server/controller/src/main/java/ai/starwhale/mlops/schedule/reporting/listener/impl/RunUpdateListenerForStatus.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/reporting/listener/impl/RunUpdateListenerForStatusTest.java
Labels: bug 🐛, controller 🏘️

#2916 enhance(client): support login with browser
  client/starwhale/core/instance/cli.py
  client/starwhale/core/instance/view.py
  console/src/i18n/locales.ts
  console/src/pages/Auth/ClientLogin.tsx
  console/src/routes.tsx
Labels: enhancement ❤️, client 🌈

#2873 enhance(datastore): map support multiple key value schemas
  client/pyproject.toml
  client/starwhale/api/_impl/data_store.py
  client/starwhale/base/client/models/models.py
  client/starwhale/base/view.py
  client/starwhale/core/dataset/tabular.py
  client/starwhale/utils/json.py
  client/starwhale/web/data_store.py
  client/tests/sdk/test_data_store.py
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/datastore/RecordValueDesc.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/ColumnSchema.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/ColumnSchemaDesc.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/impl/RecordDecoder.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/impl/WalRecordDecoder.java
  server/controller/src/main/protobuf/wal.proto
  server/controller/src/test/java/ai/starwhale/mlops/datastore/DataStoreTest.java
Labels: enhancement ❤️, datastore 🐇

#2922 chore(controller): add missing related resource field in job event
  client/starwhale/base/client/models/models.py
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/event/Event.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/event/EventRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/event/EventConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/event/EventService.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/k8s/reporting/RunEventListener.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/event/EventServiceTest.java
Labels: chore 🛎️, controller 🏘️

#2924 enhance(client): online serving handler support the latest gradio
  client/starwhale/api/_impl/service.py
  server/controller/src/main/java/ai/starwhale/mlops/common/proxy/WebServerInTask.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/container/impl/SwCliModelHandlerContainerSpecification.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/container/impl/SwCliModelHandlerSpecificationFactory.java
  server/controller/src/test/java/ai/starwhale/mlops/common/proxy/WebServerInTaskTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/impl/contianer/SwCliModelHandlerContainerSpecificationTest.java
Labels: enhancement ❤️, controller 🏘️, client 🌈

#2926 fix(controller): add missing owner for dataset and model
  console/src/pages/Model/ModelVersionListCard.tsx
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelServiceTest.java
Labels: bug 🐛, console 🎨, controller 🏘️

#2925 example: datasets for image segmentation
  example/image-segmentation/README.md
  example/image-segmentation/datasets/.gitignore
  example/image-segmentation/datasets/coco_stuff.py
  example/image-segmentation/datasets/pascal_voc.py
  example/image-segmentation/datasets/utils.py
  example/image-segmentation/runtime/requirements.txt
  example/image-segmentation/runtime/runtime.yaml
Labels: example 🚕, dataset🐫

#2927 enhance(client): prefer using the built-in map when building dataset
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/evaluation/pipeline.py
  client/starwhale/core/dataset/tabular.py
  client/tests/core/test_dataset.py
  client/tests/sdk/test_data_store.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
Labels: enhancement ❤️, dataset🐫, e2e
