Repository star-whale/starwhale, pull requests merged in 2023-03, with the labels that each got.

#1862 enhance(doc): support doc versioning
  .github/workflows/docs.yaml
  .github/workflows/release.yml
  .gitignore
  docs/Makefile
  docs/docusaurus.config.js
  docs/i18n/zh/docusaurus-plugin-content-docs/current.json
Labels: doc 📄, chore 🛎️

#1832 feat(console): show starting events in online eval loading page
  console/packages/starwhale-ui/src/theme/index.ts
  console/src/api/ApiHeader.tsx
  console/src/domain/project/components/OnlineEvalLoading.tsx
  console/src/domain/project/schemas/OnlineEval.ts
  console/src/domain/project/services/OnlineEval.ts
  console/src/pages/Project/OnlineEval.tsx
  server/controller/src/main/java/ai/starwhale/mlops/api/JobApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/JobController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/job/ModelServingStatusVo.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/ModelServingService.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/ResourceEventHolder.java
  server/controller/src/test/java/ai/starwhale/mlops/api/JobControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/ModelServingServiceTest.java
Labels: feature ✨, console 🎨, controller 🏘️

#1903 fix(console): coco with _show control
  console/packages/starwhale-ui/src/Viewer/ImageViewer.tsx
Labels: hotfix 🔥, console 🎨

#1907 update(console): ui optimize for process modal
  console/src/domain/project/components/OnlineEvalLoading.tsx
  console/src/pages/Project/OnlineEval.tsx
  console/src/styles/_global.scss
Labels: console 🎨

#1904 update(console): remove accordin panel
  console/src/pages/Runtime/RuntimeOverviewLayout.tsx
Labels: enhancement ❤️, console 🎨

#1901 feat(console): add virtual plugin to extend routes of out path
  console/package.json
  console/src/routes.tsx
  console/src/routesUtils.tsx
  console/types/route-views.d.ts
  console/vite-plugin-react-routes.ts
  console/vite.config.ts
  console/yarn.lock
Labels: enhancement ❤️, console 🎨

#1912 hotfix(console): extend folder should exsit for vite route plugin
  console/extend/.gitignore
Labels: console 🎨

#1911 chore(sdk): remove useless single `__exit__` function in the evalution module
  client/starwhale/api/_impl/evaluation.py
Labels: chore 🛎️, sdk 🐶

#1913 chore(example): add stable diffusion example
  example/stable-diffusion/txt2img/Dockerfile
  example/stable-diffusion/txt2img/entrypoint
  example/stable-diffusion/txt2img/model.yaml
  example/stable-diffusion/txt2img/requirements.txt
  example/stable-diffusion/txt2img/run.py
  example/stable-diffusion/txt2img/runtime.yaml
Labels: chore 🛎️, example 🚕

#1905 fix(controller): realtime log gibberish
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/watchers/log/CancellableTaskLogK8sCollector.java
Labels: bug 🐛

#1898 chore(controller): use version name of resource instead of using version id
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/ModelServingService.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/ModelServingServiceTest.java
Labels: chore 🛎️, controller 🏘️

#1918 chore(controller): validate and patch runtime resource when eval
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/ModelServingService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeResource.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/resourcepool/bo/Resource.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/resourcepool/bo/ResourcePool.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/WatchableTask.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/ResourceOverwriteSpec.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/ModelServingServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/system/resourcepool/bo/ResourcePoolTest.java
Labels: chore 🛎️, controller 🏘️

#1923 chore(client): show console url of the remote bundle after copy done
  client/starwhale/base/bundle_copy.py
  client/starwhale/base/uricomponents/resource.py
Labels: chore 🛎️, client 🌈

#1922 chore(docker): controller support multi-arch and refine Makefile
  .github/workflows/release.yml
  docker/Dockerfile.server
  docker/Makefile
Labels: docker 🗃️

#1926 fix(docker): restore the missing build-release-base-server target
  docker/Makefile
Labels: bug 🐛, docker 🗃️

#1925 feat(console): add name confirm before project remove
  console/packages/starwhale-ui/src/Button/Button.tsx
  console/src/i18n/locales.ts
  console/src/pages/Project/ProjectListCard.tsx
Labels: enhancement ❤️, console 🎨

#1927 fix(e2e): fix server build issue in e2e
  docker/Makefile
  scripts/publish/pub.sh
Labels: chore 🛎️, docker 🗃️, e2e-test-case

#1930 fix(console): show content directly in TextViewer
  console/packages/starwhale-ui/src/Viewer/TextViewer.tsx
Labels: bug 🐛, console 🎨

#1929 fix(docker): fix wrong base image of the server
  docker/Makefile
Labels: bug 🐛, docker 🗃️

#1906 feat(client): auto reuse files of model
  README.md
  client/starwhale/base/blob/__init__.py
  client/starwhale/base/blob/file.py
  client/starwhale/base/blob/store.py
  client/starwhale/base/bundle_copy.py
  client/starwhale/consts/__init__.py
  client/starwhale/core/model/model.py
  client/tests/base/test_store.py
  client/tests/core/test_model.py
  client/tests/data/model.yaml
  client/tests/data/model/model.yaml
  docs/docs/guides/model.md
  docs/docs/tutorials/ag_news.md
  docs/docs/tutorials/cifar10.md
  docs/docs/tutorials/mnist.md
  docs/docs/tutorials/nmt.md
  docs/docs/tutorials/ucf101.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/model.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/tutorials/speech.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/tutorials/ucf101.md
  example/PennFudanPed/model.yaml
  example/cifar10/model.yaml
  example/mnist/custom_model.yaml
  example/mnist/model.yaml
  example/nmt/model.yaml
  example/speech_command/model.yaml
  example/stable-diffusion/txt2img/model.yaml
  example/text_cls_AG_NEWS/model.yaml
  example/transformer/ag_news/model.yaml
  example/transformer/cifar100/model.yaml
  example/ucf101/custom_model.yaml
  example/ucf101/model.yaml
  scripts/client_test/cmds/eval_cmd.py
Labels: feature ✨, client 🌈, e2e

#1931 chore(test): make dataset loader test stable on the unordered rows
  client/tests/sdk/test_loader.py
Labels: chore 🛎️, client 🌈

#1936 chore(client): move auto-generated file to the .starwhale dir
  client/starwhale/api/_impl/job.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/store.py
  client/starwhale/utils/fs.py
  client/tests/core/test_model.py
  console/src/pages/Project/OnlineEval.tsx
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
Labels: break-change 💔, client 🌈, e2e

#1939 chore(client): remove useless pkg_data/exclude_pkg_data field in the model.yaml
  client/starwhale/core/model/model.py
  client/tests/data/model.yaml
  client/tests/data/model/model.yaml
  docs/docs/guides/model.md
  docs/docs/tutorials/ag_news.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/guides/model.md
Labels: chore 🛎️, client 🌈

#1897 feat(sdk): support model build sdk
  client/starwhale/__init__.py
  client/starwhale/api/_impl/model.py
  client/starwhale/api/model.py
  client/starwhale/consts/__init__.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/default_handler.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/starwhale/utils/__init__.py
  client/starwhale/utils/progress.py
  client/tests/core/test_model.py
  client/tests/sdk/test_model.py
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/cli/model.md
  example/mnist/mnist/evaluator.py
  scripts/client_test/cmds/artifacts_cmd.py
Labels: feature ✨, sdk 🐶, model🐇

#1941 chore(controller): store manifest with oss instead of using db
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/converter/ModelVersionVoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/mapper/ModelVersionMapper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/po/ModelVersionEntity.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelVersionConverterTest.java
Labels: chore 🛎️, controller 🏘️

#1938 fix(datastore): data lost when save table with error
  client/tests/sdk/test_data_store.py
  client/tests/sdk/test_wrapper.py
  server/controller/src/main/java/ai/starwhale/mlops/datastore/ColumnType.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/DataStore.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/MemoryTable.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/impl/MemoryTableImpl.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/parquet/SwParquetWriterBuilder.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/parquet/SwReadSupport.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/parquet/SwWriteSupport.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/parquet/SwWriter.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/impl/MemoryTableImplTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/parquet/ParquetReadWriteTest.java
Labels: bug 🐛, e2e

#1951 hotfix(doc): add tag for doc versioning
  .github/workflows/release.yml
Labels: doc 📄, hotfix 🔥

#1953 hotfix(doc): fix docs copy path typo
  .github/workflows/release.yml
Labels: doc 📄, hotfix 🔥

#1954 chore(doc): update doc release action for github pages publish
  .github/workflows/release.yml
Labels: doc 📄

#1956 fix(docker): buildx can not work without init in release workflow
  .github/workflows/release.yml
Labels: bug 🐛, docker 🗃️

#1957 fix(controller): agent save error when report empty node
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/agent/AgentCache.java
Labels: chore 🛎️

#1958 refactor(console): support init state from editor props
  console/packages/starwhale-core/src/datastore/hooks/useDatastoreTables.tsx
  console/packages/starwhale-core/src/types/index.ts
  console/packages/starwhale-core/src/widget/WidgetModel.ts
  console/packages/starwhale-core/src/widget/WidgetRenderTree.tsx
  console/packages/starwhale-core/src/widget/hooks/useRestoreState.tsx
  console/packages/starwhale-core/src/widget/utils/index.ts
  console/packages/starwhale-core/src/widget/utils/replacer.ts
  console/packages/starwhale-core/src/widget/withWidgetDynamicProps.tsx
  console/src/components/Editor/index.tsx
  console/src/domain/panel/hooks/useSettings.ts
  console/src/pages/Evaluation/EvaluationWidgetResults.tsx
Labels: refactor 🐛, console 🎨

#1944 chore(controller): rename cmd's tag in the image build job yaml
  server/controller/src/main/resources/template/image-build.yaml
Labels: chore 🛎️

#1960 chore(console): refine code editor language detection
  console/src/pages/Model/ModelVersionOverviewFiles.tsx
Labels: chore 🛎️, console 🎨

#1959 chore(docker): build nodejs image automatically and add make cmd in the image
  .github/workflows/release-base.yml
  docker/Dockerfile.nodejs
  docker/Makefile
Labels: chore 🛎️, docker 🗃️

#1961 fix(docker): do not use mirror when building nodejs multi-arch images
  docker/Dockerfile.nodejs
Labels: bug 🐛, docker 🗃️

#1943 refactor(dataset): use `features` word to explain data and annotations in the dataset row
  client/starwhale/api/_impl/dataset/builder.py
  client/starwhale/api/_impl/dataset/loader.py
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/api/_impl/evaluation.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/view.py
  client/starwhale/integrations/pytorch/dataset.py
  client/starwhale/integrations/tensorflow/dataset.py
  client/tests/core/test_dataset.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
  client/tests/sdk/test_loader.py
  example/PennFudanPed/pfp/dataset_read.py
  example/cifar10/cifar/dataset_read.py
  example/datasets/caltech_101/example.py
  example/datasets/celeba/example.py
  example/datasets/cityscapes/3dcarbox/example.py
  example/datasets/cityscapes/disparity/example.py
  example/datasets/cityscapes/fine/example.py
  example/datasets/cityscapes/person_bbox/example.py
  example/datasets/country211/example.py
  example/datasets/culane/example.py
  example/datasets/dtd/example.py
  example/datasets/eurosat/example.py
  example/datasets/fer2013/example.py
  example/datasets/flickr8k/example.py
  example/datasets/gtsrb/example.py
  example/datasets/iNaturalist/example.py
  example/datasets/image_net/example.py
  example/datasets/kitti/lane/example.py
  example/datasets/kitti/object_bird/example.py
  example/datasets/lfw/example.py
  example/datasets/oxfordIIITPet/example.py
  example/datasets/sbd/example.py
  example/datasets/sintel/example.py
  example/datasets/stanford_cars/example.py
  example/datasets/svhn/example.py
  example/datasets/wider_face/example.py
  example/mnist/mnist/dataset_read.py
  example/nmt/nmt/dataset_read.py
  example/speech_command/sc/dataset_read.py
  example/text_cls_AG_NEWS/tcan/dataset_read.py
  example/ucf101/ucf101/dataset_read.py
Labels: refactor 🐛, break-change 💔, dataset🐫

#1949 feat(client): cli supports displaying eval on locally served web pages
  .gitignore
  client/.gitignore
  client/setup.py
  client/starwhale/api/_impl/data_store.py
  client/starwhale/core/eval/cli.py
  client/starwhale/core/eval/view.py
  client/starwhale/web/__init__.py
  client/starwhale/web/data_store.py
  client/starwhale/web/panel.py
  client/starwhale/web/project.py
  client/starwhale/web/response.py
  client/starwhale/web/server.py
  client/starwhale/web/system.py
  client/starwhale/web/ui
  client/starwhale/web/user.py
  client/tests/web/__init__.py
  client/tests/web/test_server.py
  console/build/.gitignore
  console/src/api/Auth.tsx
  console/src/consts/index.ts
  console/src/pages/BaseSubLayout.tsx
  console/src/pages/Evaluation/EvaluationOverviewLayout.tsx
  console/src/routes.tsx
Labels: feature ✨, console 🎨, client 🌈

#1909 chore(log): add admin server and client for monitor
  server/controller/pom.xml
  server/controller/src/main/java/ai/starwhale/mlops/StarwhaleControllerApplication.java
  server/controller/src/main/java/ai/starwhale/mlops/common/Constants.java
  server/controller/src/main/java/ai/starwhale/mlops/configuration/security/SecurityConfiguration.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/upload/DatasetUploader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/upload/DatasetVersionWithMetaConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/spec/JobSpecParser.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/panel/PluginService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/SystemSettingService.java
  server/controller/src/main/resources/application.yaml
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetUploaderTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/HotDatasetHolderTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobParserTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/spec/JobSpecTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelVersionConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/panel/PluginServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/system/SystemSettingServiceTest.java
  server/pom.xml
Labels: chore 🛎️, e2e

#1946 chore(dataset): refactor TabularRow `data` to `features` field
  client/starwhale/api/_impl/dataset/builder.py
  client/starwhale/api/_impl/dataset/loader.py
  client/starwhale/api/_impl/evaluation.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/tabular.py
  client/tests/core/test_dataset.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_evaluation.py
  client/tests/sdk/test_loader.py
Labels: chore 🛎️, refactor 🐛, break-change 💔, dataset🐫

#1967 update(console): fix button ui
  console/src/pages/Dataset/DatasetVersionListCard.tsx
Labels: enhancement ❤️, console 🎨

#1966 fix(client): remove the prefix slash when listing tables in the client
  client/starwhale/web/data_store.py
  client/tests/web/test_server.py
Labels: chore 🛎️, client 🌈

#1948 feat(sdk): support `DataRow.features` attribute-like usage
  client/starwhale/api/_impl/dataset/loader.py
  client/tests/sdk/test_dataset_sdk.py
  example/mnist/mnist/dataset_read.py
  example/notebooks/dataset-sdk.ipynb
Labels: feature ✨, sdk 🐶, dataset🐫

#1970 fix(console): online eval page can not show
  console/src/pages/Project/OnlineEval.tsx
Labels: bug 🐛, console 🎨

#1972 chore(e2e): refine e2e remove logic
  scripts/e2e_test/remove_test_env.sh
Labels: chore 🛎️

#1965 fix(console): delete the child widgets when deleting the panel
  console/packages/starwhale-core/src/store/store.ts
Labels: hotfix 🔥, console 🎨

#1968 feat(console): support showing the model builtin layout
  console/packages/starwhale-core/src/widget/WidgetRenderTree.tsx
  console/packages/starwhale-core/src/widget/hooks/useRestoreState.tsx
  console/src/domain/model/services/modelVersion.ts
  console/src/pages/Evaluation/EvaluationWidgetResults.tsx
Labels: feature ✨, console 🎨

#1964 chore(dataset): remove `build_from_handler` interface for dataset python sdk
  client/starwhale/api/_impl/dataset/model.py
  client/tests/sdk/test_dataset_sdk.py
Labels: refactor 🐛, sdk 🐶, dataset🐫

#1974 chore(test): make dataset sdk torch tests compatible with different pytorch versions
  client/tests/sdk/test_dataset_sdk.py
Labels: chore 🛎️, client 🌈

#1900 feat(sdk): support evaluation functional sdk
  README.md
  client/starwhale/__init__.py
  client/starwhale/api/_impl/dataset/mapping_builder.py
  client/starwhale/api/_impl/evaluation.py
  client/starwhale/api/_impl/job.py
  client/starwhale/api/_impl/metric.py
  client/starwhale/api/_impl/model.py
  client/starwhale/api/evaluation.py
  client/starwhale/api/job.py
  client/starwhale/consts/__init__.py
  client/starwhale/core/eval/executor.py
  client/starwhale/core/job/context.py
  client/starwhale/core/job/model.py
  client/starwhale/core/job/scheduler.py
  client/starwhale/core/job/step.py
  client/starwhale/core/job/task.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/default_handler.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/starwhale/utils/load.py
  client/tests/__init__.py
  client/tests/core/test_executor.py
  client/tests/core/test_job.py
  client/tests/core/test_model.py
  client/tests/data/job/job_steps_with_cls.py
  client/tests/data/job/job_steps_with_error.py
  client/tests/data/job/job_steps_without_cls.py
  client/tests/data/sdk/service/default_class.py
  client/tests/data/sdk/service/no_api.py
  client/tests/sdk/test_base.py
  client/tests/sdk/test_data_store.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
  client/tests/sdk/test_evaluation.py
  client/tests/sdk/test_job.py
  client/tests/sdk/test_metric.py
  client/tests/sdk/test_model.py
  client/tests/sdk/test_service.py
  client/tests/sdk/test_track.py
  client/tests/sdk/test_wrapper.py
  docs/docs/examples/ucf101.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/evaluation/api/sdk.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/examples/speech.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/examples/ucf101.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/sdk/overview.md
  example/mnist/custom_model.yaml
  example/mnist/mnist/custom_evaluator.py
  example/mnist/mnist/evaluator.py
  example/mnist/mnist/plain_evaluator.py
  example/mnist/plain_model.yaml
  example/stable-diffusion/txt2img/run.py
  example/ucf101/ucf101/custom_evaluator.py
  example/ucf101/ucf101/evaluator.py
  scripts/example/src/evaluator.py
Labels: feature ✨, sdk 🐶, model🐇, e2e, evaluation

#1971 chore(dataset): new dataset entrypoint function for create or load in Python SDK
  client/starwhale/api/_impl/dataset/model.py
  client/tests/sdk/test_dataset_sdk.py
Labels: chore 🛎️, sdk 🐶, dataset🐫

#1975 fix(controller): jobs from console with GPU requests can not work
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/ResourceOverwriteSpec.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/ResourceOverwriteSpecTest.java
Labels: bug 🐛, controller 🏘️

#1977 optimize(console): avoid rerender and use partical measure columns
  console/packages/starwhale-core/src/utils/index.tsx
  console/packages/starwhale-core/src/utils/useEvent.tsx
  console/packages/starwhale-core/src/utils/useForceUpdate.tsx
  console/packages/starwhale-core/src/utils/useWhatChanged.tsx
  console/packages/starwhale-core/src/widget/WidgetRenderTree.tsx
  console/packages/starwhale-core/src/widget/withWidgetDynamicProps.tsx
  console/packages/starwhale-ui/src/BusyLoaderWrapper/BusyPlaceholder.tsx
  console/packages/starwhale-ui/src/Button/Button.tsx
  console/packages/starwhale-ui/src/GridTable/GridTable.tsx
  console/packages/starwhale-ui/src/GridTable/types.ts
  console/packages/starwhale-ui/src/base/data-table/cells/cell-placement.tsx
  console/packages/starwhale-ui/src/base/data-table/column.tsx
  console/packages/starwhale-ui/src/base/data-table/config-query.tsx
  console/packages/starwhale-ui/src/base/data-table/config-views.tsx
  console/packages/starwhale-ui/src/base/data-table/data-custom-table.tsx
  console/packages/starwhale-ui/src/base/data-table/headers/header-cell.tsx
  console/packages/starwhale-ui/src/base/data-table/headers/header.tsx
  console/packages/starwhale-ui/src/base/data-table/headers/headers.tsx
  console/packages/starwhale-ui/src/base/data-table/inner-table-element.tsx
  console/packages/starwhale-ui/src/base/data-table/measure-column-widths.tsx
  console/packages/starwhale-ui/src/base/data-table/stateful-data-table.tsx
  console/packages/starwhale-ui/src/base/data-table/store.ts
  console/packages/starwhale-ui/src/base/data-table/types.tsx
  console/packages/starwhale-ui/src/base/data-table/view/useCurrentView.tsx
  console/src/pages/Evaluation/EvaluationListCard.tsx
Labels: enhancement ❤️, hotfix 🔥, console 🎨

#1981 fix(e2e): torch 2.0 has no _six module
  example/PennFudanPed/pfp/utils/coco_eval.py
Labels: e2e

#1982 fix(console): resolve the gitignore missing issue after yarn building
  console/package.json
Labels: bug 🐛

#1983 fix(console): loop rerender when panel loading
  console/packages/starwhale-widgets/src/PanelTableWidget/index.tsx
Labels: hotfix 🔥, console 🎨

#1979 fix(controller): admin server conflict with sw index page
  server/controller/src/main/java/ai/starwhale/mlops/api/ErrorController.java
  server/controller/src/main/java/ai/starwhale/mlops/configuration/ResourceConfiguration.java
  server/controller/src/main/java/ai/starwhale/mlops/configuration/security/AdminSecurityConfiguration.java
  server/controller/src/main/java/ai/starwhale/mlops/configuration/security/SecurityConfiguration.java
  server/controller/src/main/resources/application.yaml
Labels: bug 🐛

#1980 feat(console): support simplified version of layout settings
  console/packages/starwhale-core/src/types/index.ts
  console/packages/starwhale-core/src/widget/WidgetRenderer.tsx
  console/src/domain/panel/utils.ts
  console/src/pages/Evaluation/EvaluationWidgetResults.tsx
Labels: feature ✨, console 🎨

#1987 feat(client): model building support eval layout yaml config
  client/starwhale/consts/__init__.py
  client/starwhale/core/model/model.py
  client/starwhale/web/panel.py
  client/tests/core/test_model.py
  console/src/domain/model/services/modelVersion.ts
Labels: feature ✨, client 🌈

#1985 fix(client): fix unclosed file warning in model eval
  client/starwhale/core/job/task.py
Labels: chore 🛎️, client 🌈

#1978 feat(controller): support backup and restore for mysql
  server/controller/src/main/java/ai/starwhale/mlops/backup/db/MysqlBackupService.java
  server/controller/src/main/java/ai/starwhale/mlops/backup/db/TablesResponse.java
  server/controller/src/main/resources/application.yaml
  server/controller/src/test/java/ai/starwhale/mlops/backup/db/MysqlBackupServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/MySqlContainerHolder.java
Labels: feature ✨

#1988 chore(controller): update api of data store returns the revision
  server/controller/src/main/java/ai/starwhale/mlops/api/DataStoreController.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/DataStore.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/MemoryTable.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/impl/MemoryTableImpl.java
Labels: chore 🛎️, datastore 🐇

#1976 feat(dataset) support mapping style dataset builder
  client/starwhale/api/_impl/dataset/builder/__init__.py
  client/starwhale/api/_impl/dataset/builder/iterable_builder.py
  client/starwhale/api/_impl/dataset/builder/mapping_builder.py
  client/tests/sdk/test_dataset.py
Labels: sdk 🐶, dataset🐫

#1992 feat(client): eval info --web support remote instance
  client/starwhale/core/eval/view.py
  client/starwhale/web/server.py
  client/tests/web/test_server.py
Labels: feature ✨, client 🌈

#2002 chore(doc): remove the useless keep_files config for doc release ci
  .github/workflows/docs.yaml
  .github/workflows/release.yml
Labels: doc 📄, chore 🛎️

#1973 feat(dataset): new dataset constructive mechanism with versioning datastore table
  client/starwhale/api/_impl/dataset/builder/__init__.py
  client/starwhale/api/_impl/dataset/builder/mapping_builder.py
  client/starwhale/api/_impl/dataset/mapping_builder.py
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/api/_impl/evaluation.py
  client/starwhale/core/dataset/store.py
  client/starwhale/core/dataset/tabular.py
  client/starwhale/core/dataset/type.py
  client/tests/sdk/test_dataset_sdk.py
  client/tests/sdk/test_evaluation.py
Labels: feature ✨, sdk 🐶, dataset🐫, e2e

#2003 fix(console): sidebar invisible in admin page
  console/src/pages/BaseSubLayout.tsx
Labels: bug 🐛, console 🎨

#1994 feat(dataset): provide `uri`, `committed_version`, `changed` properties for SDK Dataset
  client/starwhale/api/_impl/dataset/model.py
  client/tests/sdk/test_dataset_sdk.py
Labels: feature ✨, sdk 🐶, dataset🐫

#1991 fix(console): eval pages works with project name in uri
  console/src/api/ApiHeader.tsx
  console/src/components/Editor/index.tsx
  console/src/pages/Evaluation/EvaluationListCard.tsx
  console/src/pages/Evaluation/EvaluationWidgetResults.tsx
Labels: bug 🐛, console 🎨

#1990 chore(dataset): sdk dataset head use internal data loader
  client/starwhale/api/_impl/dataset/loader.py
  client/starwhale/api/_impl/dataset/model.py
  client/tests/sdk/test_dataset_sdk.py
Labels: sdk 🐶, dataset🐫

#1998 chore(dataset): remove dataset `create` argument in python sdk
  client/starwhale/api/_impl/dataset/model.py
  client/tests/sdk/test_dataset_sdk.py
  example/datasets/caltech_101/dataset.py
  example/datasets/celeba/dataset.py
  example/datasets/cityscapes/3dcarbox/dataset.py
  example/datasets/cityscapes/disparity/dataset.py
  example/datasets/cityscapes/fine/dataset.py
  example/datasets/cityscapes/person_bbox/dataset.py
  example/datasets/country211/dataset.py
  example/datasets/culane/dataset.py
  example/datasets/dtd/dataset.py
  example/datasets/eurosat/dataset.py
  example/datasets/fer2013/dataset.py
  example/datasets/flickr8k/dataset.py
  example/datasets/gtsrb/dataset.py
  example/datasets/iNaturalist/dataset.py
  example/datasets/kitti/lane/dataset.py
  example/datasets/kitti/object_bird/dataset.py
  example/datasets/lfw/dataset.py
  example/datasets/oxfordIIITPet/dataset.py
  example/datasets/sbd/dataset.py
  example/datasets/sintel/dataset.py
  example/datasets/stanford_cars/dataset.py
  example/datasets/svhn/dataset.py
  example/datasets/wider_face/dataset.py
Labels: chore 🛎️, dataset🐫

#2009 fix(console): set ploty auto layout when large mount of data
  console/packages/starwhale-ui/src/Plotly/utils.ts
Labels: enhancement ❤️, console 🎨

#1995 chore(script):support multi arch for image sync
  scripts/publish/image_sync.sh
Labels: chore 🛎️

#2011 fix(client): ut without existing local config or default
  client/tests/base/test_tag.py
Labels: chore 🛎️, client 🌈

#2012 chore(client): add ui assets to pkg data
  client/Makefile
  client/setup.py
Labels: chore 🛎️, client 🌈

#2013 fix(client): install console related dev tool for building ui
  client/Makefile
  console/Makefile
Labels: client 🌈, e2e

#2004 refactor(client): datastore in standalone support version and mutable schema
  client/starwhale/api/_impl/data_store.py
  client/tests/sdk/test_data_store.py
  client/tests/sdk/test_track.py
Labels: break-change 💔, datastore 🐇, e2e

#1996 feat(dataset): `MappingDatasetBuilder` supports to upload swds_bin to cloud instance
  client/starwhale/api/_impl/dataset/builder/mapping_builder.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
Labels: feature ✨, sdk 🐶, dataset🐫

#2022 bug(client): fix too large indexed-size number for localFS make_file
  client/starwhale/core/dataset/store.py
  client/tests/core/test_dataset_store.py
Labels: bug 🐛, sdk 🐶, client 🌈

#2023 fix(console): UCF video display error, add status label UI to evaluation, display table after query in panel, and fix deployment script.
  console/package.json
  console/packages/starwhale-ui/src/base/data-table/store.ts
  console/packages/starwhale-ui/src/base/data-table/types.tsx
  console/packages/starwhale-ui/src/base/data-table/view/useCurrentView.tsx
  console/src/domain/job/components/JobStatus.tsx
  console/src/domain/panel/utils.ts
  console/src/i18n/locales.ts
  console/src/pages/Evaluation/EvaluationListCard.tsx
  console/src/pages/Evaluation/EvaluationListCompare.tsx
  console/src/pages/Evaluation/EvaluationWidgetResults.tsx
  docker/Makefile
Labels: hotfix 🔥, ci 🕹️, console 🎨

#2016 feat(datastore): datastore api support revision
  client/starwhale/api/_impl/data_store.py
  client/tests/sdk/test_data_store.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
Labels: feature ✨, client 🌈, datastore 🐇

#1993 refactor(controller): add object storage for dataset
  client/starwhale/api/_impl/dataset/loader.py
  client/starwhale/core/dataset/store.py
  client/starwhale/core/dataset/view.py
  client/tests/core/test_dataset_store.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_loader.py
  console/packages/starwhale-core/src/datastore/utils.ts
  scripts/client_test/cli_test.py
  scripts/client_test/cmds/__init__.py
  scripts/client_test/cmds/artifacts_cmd.py
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetController.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/DatasetService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/index/datastore/DataStoreTableNameHelper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/index/datastore/IndexWriter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/objectstore/HashNamedDatasetObjectStoreFactory.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/upload/DatasetUploader.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/storage/HashNamedObjectStore.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/storage/StoragePathCoordinator.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/storage/UriAccessor.java
  server/controller/src/main/resources/application.yaml
  server/controller/src/test/java/ai/starwhale/mlops/JobMockHolder.java
  server/controller/src/test/java/ai/starwhale/mlops/api/DatasetControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/DatasetUploaderTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/dataset/datastore/IndexWriterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/storage/StoragePathCoordinatorTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/storage/TestHashNamedObjectStore.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/storage/UriAccessorTest.java
Labels: refactor 🐛, break-change 💔, dataset🐫, e2e

#2021 chore(controller): datastore query and scan api support revision
  server/controller/src/main/java/ai/starwhale/mlops/api/DataStoreController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/datastore/QueryTableRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/datastore/TableDesc.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/DataStore.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/DataStoreQueryRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/DataStoreScanRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/MemoryTable.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/impl/MemoryTableImpl.java
  server/controller/src/test/java/ai/starwhale/mlops/api/DataStoreControllerTest.java
Labels: chore 🛎️, datastore 🐇

#2028 chore(client): update cli `--project` option doc
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/eval/cli.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/runtime/cli.py
Labels: doc 📄, chore 🛎️, client 🌈

#2027 chore(client): make the internal options hidden in the `--help` output
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/eval/cli.py
  client/starwhale/core/model/cli.py
  docs/i18n/zh/docusaurus-plugin-content-docs/current/evaluation/api/cli.md
Labels: doc 📄, chore 🛎️, client 🌈

#2019 chore(dataset): remove useless iterable builder
  client/starwhale/api/_impl/dataset/builder/__init__.py
  client/starwhale/api/_impl/dataset/builder/iterable_builder.py
  client/starwhale/core/dataset/tabular.py
  client/tests/sdk/test_dataset.py
Labels: chore 🛎️, sdk 🐶, dataset🐫

#2034 feat(dataset): support dataset blob attributes
  client/starwhale/api/_impl/dataset/builder/mapping_builder.py
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/type.py
  client/tests/core/test_dataset.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
  docs/i18n/zh/docusaurus-plugin-content-docs/current/dataset/concepts.md
  example/mnist/dataset.yaml
Labels: feature ✨, sdk 🐶, dataset🐫

#2024 feat(console): project sort by visit type and new project card
  console/src/domain/project/components/VisitSelector.tsx
  console/src/domain/project/hooks/useFetchProjects.ts
  console/src/domain/project/services/project.ts
  console/src/hooks/usePage.ts
  console/src/i18n/locales.ts
  console/src/pages/Project/ProjectListCard.tsx
Labels: feature ✨, console 🎨

#2029 feat(dataset):add more info into dataset summary
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/base/cloud.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/type.py
  client/starwhale/core/project/view.py
  client/tests/base/test_cloud.py
  client/tests/core/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
  client/tests/sdk/test_evaluation.py
  client/tests/sdk/test_loader.py
Labels: dataset🐫

#2040 bug(example): fix dataset examples for the localfs link issue
  example/PennFudanPed/pfp/dataset.py
  example/datasets/caltech_101/dataset.py
  example/datasets/coco/dataset.py
Labels: bug 🐛, example 🚕, dataset🐫

#2047 fix(console): dataset selector filter error and make select default tree node when filter exsits with arrow keyboard
  console/packages/starwhale-ui/src/DynamicSelector/Selector.tsx
  console/packages/starwhale-ui/src/Tree/Tree.tsx
  console/packages/starwhale-ui/src/Tree/hooks/useTreeDataLoader.tsx
  console/packages/starwhale-ui/src/Tree/hooks/useTreeDataSelection.tsx
  console/packages/starwhale-ui/src/Tree/types.ts
  console/packages/starwhale-ui/src/base/tree-view/tree-view.tsx
  console/src/domain/dataset/components/DatasetLabel.tsx
  console/src/domain/dataset/components/DatasetTreeSelector.tsx
Labels: hotfix 🔥, console 🎨

#2026 feat(dataset): dataset sdk supports to use datastore revision for builder and loader
  client/starwhale/api/_impl/data_store.py
  client/starwhale/api/_impl/dataset/builder/mapping_builder.py
  client/starwhale/api/_impl/dataset/loader.py
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/api/_impl/wrapper.py
  client/starwhale/core/dataset/copy.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/tabular.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
Labels: feature ✨, sdk 🐶, dataset🐫, e2e

#2049 update(console): adapt the API to the dataset revision version
  console/packages/starwhale-core/src/datastore/hooks/useFetchDatastore.ts
  console/packages/starwhale-ui/src/Viewer/DatasetViewer.tsx
  console/src/domain/dataset/utils.ts
  console/src/pages/Dataset/DatasetVersionOverviewFiles.tsx
Labels: enhancement ❤️, console 🎨

#2045 chore(dataset): remove user-raw dataset format support
  client/starwhale/api/_impl/track/handler.py
  client/starwhale/base/type.py
  client/starwhale/core/dataset/tabular.py
  client/starwhale/core/dataset/type.py
  client/tests/core/test_dataset.py
  client/tests/sdk/test_dataset.py
  client/tests/sdk/test_track.py
  docs/i18n/zh/docusaurus-plugin-content-docs/current/dataset/api/data_type.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/dataset/api/sdk.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/dataset/concepts.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/examples/mnist.md
  docs/i18n/zh/docusaurus-plugin-content-docs/current/reference/sdk/overview.md
Labels: chore 🛎️, dataset🐫

#2043 feat(dataset): add create mode argument for dataset sdk
  client/starwhale/api/_impl/dataset/model.py
  client/tests/sdk/test_dataset_sdk.py
Labels: feature ✨, sdk 🐶, dataset🐫

#2031 fix(controller): job spec name typo
  docs/i18n/zh/docusaurus-plugin-content-docs/current/evaluation/concepts.md
  scripts/client_test/step_specs/step_spec_cpu_full.yaml
  scripts/client_test/step_specs/step_spec_cpu_mini.yaml
  scripts/client_test/step_specs/step_spec_gpu_full.yaml
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/spec/StepSpec.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/split/JobSpliteratorEvaluation.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobParserTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobSpliteratorEvaluationTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/spec/JobSpecTest.java
Labels: bug 🐛, e2e
