Repository star-whale/starwhale, pull requests merged in 2023-06, with the labels that each got.

#2294 feat(client): support condarc for runtime yaml
  client/starwhale/base/type.py
  client/starwhale/core/runtime/cli.py
  client/starwhale/core/runtime/model.py
  client/starwhale/core/runtime/view.py
  client/tests/core/test_runtime.py
  example/LLM/belle-bloom/runtime_conda.yaml
  scripts/example/runtime_conda.yaml
Labels: feature ✨, client 🌈, e2e

#2291 bug(client): fix multi conda pkgs installation error
  client/starwhale/core/runtime/model.py
  client/starwhale/utils/venv.py
  client/tests/core/test_runtime.py
  client/tests/utils/test_venv.py
  scripts/example/runtime_conda.yaml
Labels: bug 🐛, client 🌈, e2e

#2301 chore(client): ignore urllib3 InsecureRequestWarning for http requests
  client/starwhale/base/cloud.py
  client/starwhale/core/instance/view.py
Labels: chore 🛎️, client 🌈, e2e

#2299 chore(client): forbid snapshot mechanism for model run in the workdir mode
  client/starwhale/core/model/cli.py
Labels: chore 🛎️, client 🌈, e2e

#2295 fix(controller): image build support separate registry url
  server/controller/src/main/java/ai/starwhale/mlops/configuration/DockerSetting.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeRegistryListener.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/system/listener/DockerSettingListener.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeRegistryListenerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/system/SystemSettingServiceTest.java
Labels: e2e

#2302 fix(client): wrong file path linked when model file exists in cache
  client/starwhale/base/bundle_copy.py
  client/starwhale/core/model/copy.py
Labels: bug 🐛, client 🌈, e2e

#2305 chore(client): refactor runtime docker image info
  client/starwhale/consts/__init__.py
  client/starwhale/core/runtime/model.py
  client/tests/core/test_runtime.py
Labels: chore 🛎️, refactor 🐛, client 🌈, e2e

#2292 example: add bloom mt0xxl 11B model ppl
  example/LLM/bloom/.swignore
  example/LLM/bloom/download_model.py
  example/LLM/bloom/mt0xxl.py
  example/LLM/bloom/runtime.yaml
Labels: example 🚕

#2296 chore(console): optimise image build button
  console/src/api/const.ts
  console/src/i18n/locales.ts
  console/src/pages/Runtime/RuntimeListCard.tsx
  console/src/pages/Runtime/RuntimeVersionListCard.tsx
Labels: chore 🛎️

#2298 chore(client): make conda log verbose following with swcli verbose level
  client/starwhale/utils/venv.py
  client/tests/core/test_runtime.py
Labels: chore 🛎️, client 🌈, e2e

#2311 fix(controller): prevent flyway migration from failing
  server/controller/src/test/java/ai/starwhale/mlops/backup/db/MysqlBackupServiceTest.java
Labels: bug 🐛, controller 🏘️

#2307 fix(controller): support node select for image build
  server/controller/src/main/java/ai/starwhale/mlops/configuration/RunTimeProperties.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/resources/application.yaml
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/system/SystemSettingServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sTaskSchedulerTest.java
Labels: bug 🐛, e2e

#2321 feat(console): new log support fullscreen / pause / resume / download / search
  console/package.json
  console/src/api/ApiHeader.tsx
  console/src/components/LogViewer/LogView.scss
  console/src/components/LogViewer/LogViewer.tsx
  console/src/hooks/useWebSocket.ts
  console/src/i18n/locales.ts
  console/src/pages/BaseSubLayout.tsx
  console/src/pages/Evaluation/EvaluationOverviewLayout.tsx
  console/src/pages/Job/JobTasks.tsx
  console/src/pages/Job/TaskListCard.tsx
  console/src/pages/Model/ModelVersionOverviewFiles.tsx
  console/src/routes.tsx
  console/yarn.lock
Labels: enhancement ❤️, console 🎨

#2324 update(console): audio width 0 in grid table, config column overflow hidden, etc
  console/packages/starwhale-ui/src/AutoResizer/GridResizerVertical.tsx
  console/packages/starwhale-ui/src/Transfer/Transfer.tsx
  console/packages/starwhale-ui/src/Transfer/TransferList.tsx
  console/packages/starwhale-ui/src/Viewer/AudioViewer.tsx
Labels: console 🎨

#2304 fix(client): fix race condition in unit test
  client/starwhale/utils/fs.py
Labels: bug 🐛, client 🌈

#2306 feat(client): standalone supports docker settings with .config
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/store.py
  client/starwhale/core/model/view.py
  client/starwhale/core/runtime/store.py
  client/starwhale/utils/config.py
  client/tests/core/test_model.py
  client/tests/core/test_runtime.py
Labels: feature ✨, client 🌈, e2e

#2320 chore(controller): job pause and resume can be disabled
  server/controller/src/main/java/ai/starwhale/mlops/api/JobController.java
  server/controller/src/main/java/ai/starwhale/mlops/configuration/FeaturesProperties.java
  server/controller/src/test/java/ai/starwhale/mlops/api/JobControllerTest.java
Labels: chore 🛎️, controller 🏘️

#2322 bug(client): fix fine_tune decorator search errors
  client/starwhale/api/_impl/experiment.py
  client/starwhale/base/view.py
  client/tests/sdk/test_job.py
  scripts/client_test/cli_test.py
  scripts/example/src/sdk_model_build.py
Labels: bug 🐛, client 🌈, e2e

#2326 fix(controller): collect pod log before delete when cancel job
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/watchers/TaskWatcherForSchedule.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/watchers/log/CancellableTaskLogK8sCollector.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/watchers/log/TaskLogK8sCollector.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/SwTaskScheduler.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sClient.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/PodEventHandler.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TaskWatcherForScheduleTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/log/CancellableTaskLogK8sCollectorFactoryTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/log/CancellableTaskLogK8sCollectorTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sClientTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sTaskSchedulerTest.java
Labels: bug 🐛, controller 🏘️

#2303 feat(controller): add task get api
  server/controller/src/main/java/ai/starwhale/mlops/api/JobApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/JobController.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/TaskService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/mapper/TaskMapper.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TaskServiceTest.java
Labels: feature ✨

#2330 fix(controller): task ut error with resource null
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TaskServiceTest.java
Labels: chore 🛎️

#2331 fix(controller): task dev url typo
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/converter/TaskConverter.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TaskConverterTest.java
Labels: bug 🐛

#2332 feat(console): support dev mode with password, add auth control
  console/packages/starwhale-ui/src/DynamicSelector/StyledComponent.tsx
  console/src/api/const.ts
  console/src/domain/dataset/components/DatasetTreeSelector.tsx
  console/src/domain/job/components/JobForm.tsx
  console/src/domain/job/schemas/job.tsx
  console/src/domain/job/schemas/task.tsx
  console/src/domain/model/components/ModelTreeSelector.tsx
  console/src/domain/runtime/components/RuntimeTreeSelector.tsx
  console/src/i18n/locales.ts
  console/src/pages/Job/JobTasks.tsx
  console/src/pages/Job/TaskListCard.tsx
  console/vite.config.ts
Labels: feature ✨, console 🎨

#2314 example(LLM): fintune bigscience/mt0
  example/LLM/bloom/download_model.py
  example/LLM/bloom/mt0xxl.py
Labels: example 🚕

#2315 example(LLM): add guanaco evaluation example
  .gitignore
  example/LLM/bloom/download_model.py
  example/LLM/guanaco/.gitignore
  example/LLM/guanaco/.swignore
  example/LLM/guanaco/README.md
  example/LLM/guanaco/runtime.yaml
  example/LLM/guanaco/sw.py
Labels: example 🚕

#2334 example(dataset): add openassistant guanaco dataset
  example/datasets/LLM/openassistant-guanaco/README.md
  example/datasets/LLM/openassistant-guanaco/dataset.py
Labels: example 🚕

#2336 fix(controller): start end time of task always be -1
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/converter/TaskBoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/converter/TaskConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/po/TaskEntity.java
Labels: bug 🐛, controller 🏘️

#2335 fix(console): fix console build issue
  console/vite.config.ts
Labels: console 🎨

#2342 fix(console): e2e sync with console
  console/playwright/tests/admin-project.spec.ts
Labels: console 🎨

#2347 fix(console): prevent showing error msg when log in
  console/src/api/ApiHeader.tsx
  console/src/components/Header/index.tsx
Labels: console 🎨

#2351 chore(console): rename the display of builtin
  console/src/domain/job/components/JobForm.tsx
  console/src/i18n/locales.ts
Labels: chore 🛎️

#2346 fix(controller): set dev_way to null when dev mode is false
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobService.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobServiceTest.java
Labels: bug 🐛

#2345 feat(runtime): support runtime replace image registry
  client/starwhale/core/runtime/model.py
  client/tests/core/test_runtime.py
  server/controller/src/main/java/ai/starwhale/mlops/common/DockerImage.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/ModelServingService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/converter/JobBoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/RuntimeService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/converter/RuntimeVersionConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/runtime/po/RuntimeVersionEntity.java
  server/controller/src/test/java/ai/starwhale/mlops/common/DockerImageTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobBoConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/ModelServingServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeTestConstants.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/RuntimeVersionConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/runtime/mapper/RuntimeVersionMapperTest.java
Labels: feature ✨, e2e

#2350 enhance(client): add internal model handler for api
  client/starwhale/api/_impl/job.py
  client/starwhale/base/scheduler/step.py
  client/starwhale/base/scheduler/task.py
  client/starwhale/core/model/model.py
  client/tests/core/test_model.py
  client/tests/sdk/test_job.py
  client/tests/sdk/test_model.py
  example/mnist/mnist/custom_evaluator.py
Labels: enhancement ❤️, client 🌈, e2e

#2349 example(LLM): add vicuna 7B/13B examples
  example/LLM/vicuna/.gitignore
  example/LLM/vicuna/README.md
  example/LLM/vicuna/build.py
  example/LLM/vicuna/evaluation.py
  example/LLM/vicuna/utils.py
Labels: example 🚕

#2341 example(LLM): add llama model evaluation and finetune example
  example/LLM/llama/.gitignore
  example/LLM/llama/README.md
  example/LLM/llama/build.py
  example/LLM/llama/evaluation.py
  example/LLM/llama/finetune.py
  example/LLM/llama/runtime.yaml
  example/LLM/llama/utils.py
Labels: example 🚕

#2352 enhance(controller): job support auto release
  server/controller/src/main/java/ai/starwhale/mlops/api/JobController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/job/JobRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobDao.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/bo/Job.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/converter/JobBoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/po/JobEntity.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/po/JobFlattenEntity.java
  server/controller/src/main/resources/db/migration/v0_4_0/V0_4_0_005__add_job_release_tm.sql
  server/controller/src/main/resources/mapper/JobMapper.xml
  server/controller/src/test/java/ai/starwhale/mlops/api/JobControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobServiceTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/mapper/JobMapperTest.java
Labels: enhancement ❤️, controller 🏘️

#2356 fix(client): make model serving of the examples work
  example/PennFudanPed/pfp/evaluator.py
  example/cifar10/cifar/evaluator.py
  example/nmt/nmt/evaluator.py
  example/speech_command/sc/evaluator.py
  example/text_cls_AG_NEWS/tcan/evaluator.py
  example/ucf101/ucf101/evaluator.py
Labels: bug 🐛, client 🌈

#2354 fix(controller): start time may be empty if job failed directly
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/watchers/TaskWatcherForPersist.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TaskWatcherForPersistTest.java
Labels: bug 🐛, controller 🏘️

#2358 example(LLM): add readme and runtime.yaml for vicuna example
  example/LLM/vicuna/README.md
  example/LLM/vicuna/runtime.yaml
Labels: example 🚕

#2361 chore(ci): remove scale controller to zero for daily e2e test
  scripts/e2e_test/start_test.sh
Labels: chore 🛎️

#2363 fix(controller): job status is running after cancel the task in preparing status
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/status/JobStatusMachine.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/TaskStatusMachine.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/JobUpdateHelperTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/TaskWatcherForJobStatusTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/WatchableTaskTest.java
Labels: bug 🐛, controller 🏘️, e2e

#2360 chore(controller): add exposed links in job list
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/job/JobVo.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/converter/JobConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/spec/StepSpec.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/converter/JobConverterTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/spec/JobSpecTest.java
Labels: chore 🛎️, controller 🏘️

#2355 example(LLM): add musicgen example
  example/LLM/musicgen/.gitignore
  example/LLM/musicgen/README.md
  example/LLM/musicgen/build.py
  example/LLM/musicgen/dataset.py
  example/LLM/musicgen/evaluation.py
  example/LLM/musicgen/runtime.yaml
  example/LLM/musicgen/utils.py
Labels: example 🚕

#2372 fix(controller): exposed links is empty
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/WatchableTask.java
Labels: bug 🐛, controller 🏘️

#2374 chore(ci): workaround unittest raise bz2 import error issue
  .github/workflows/client.yaml
Labels: chore 🛎️, ci 🕹️, client 🌈

#2371 feat(dataset): support dataset builf from audio/video/image folder
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/base/type.py
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/type.py
  client/starwhale/core/dataset/view.py
  client/starwhale/core/runtime/cli.py
  client/tests/core/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
  scripts/client_test/cmds/artifacts_cmd.py
Labels: feature ✨, client 🌈, dataset🐫, e2e

#2373 chore(runtime): raise exception for the unsupport dependencies in the runtime.yaml
  client/starwhale/core/runtime/model.py
  client/tests/core/test_runtime.py
Labels: chore 🛎️, runtime🐌, e2e

#2377 feat(client): support build dataset cli from json file
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/view.py
  client/tests/core/test_dataset.py
Labels: feature ✨, client 🌈

#2375 enhance(console): add ui for executing cmd in running task
  console/packages/starwhale-ui/src/IconFont/index.tsx
  console/src/api/WithAuth.tsx
  console/src/api/const.ts
  console/src/domain/job/components/ExecutorForm.tsx
  console/src/domain/job/schemas/job.tsx
  console/src/domain/job/services/job.ts
  console/src/i18n/locales.ts
  console/src/pages/Job/TaskListCard.tsx
Labels: enhancement ❤️, console 🎨

#2378 example(LLM): fix belle example git checkout the specified version issue
  example/LLM/belle-bloom/sw.py
Labels: example 🚕

#2376 chore(client): split gradio to the extra
  client/Makefile
  client/setup.py
Labels: chore 🛎️, client 🌈, e2e

#2382 bug(client): fix dataset create for cloud instance error
  client/starwhale/base/uri/resource.py
  client/tests/sdk/test_dataset_sdk.py
Labels: bug 🐛, client 🌈

#2384 fix(datastore): list item may be null
  server/controller/src/main/java/ai/starwhale/mlops/datastore/type/ListValue.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/type/BaseValueTest.java
Labels: bug 🐛, datastore 🐇

#2383 chore(ci): add controller debug logs when e2e was failed
  .github/workflows/e2e-test.yml
  scripts/e2e_test/start_test.sh
Labels: e2e

#2385 chore(client): tune traceback max_frames setting by the verbose argument
  client/starwhale/__init__.py
  client/starwhale/utils/debug.py
Labels: chore 🛎️, client 🌈

#2392 chore(ci): add gradio req for e2e examples
  example/runtime/pytorch-e2e/requirements.txt
Labels: chore 🛎️, ci 🕹️

#2380 chore(client): tune runtime restore command output
  client/starwhale/core/runtime/view.py
  client/starwhale/utils/venv.py
Labels: chore 🛎️, client 🌈

#2381 enhance(client): tune dataset head cli output
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/view.py
  client/tests/core/test_dataset.py
Labels: enhancement ❤️, client 🌈, dataset🐫

#2387 feat(dataset): support `--overwrite`/`--patch` for swcli dataset build
  client/starwhale/api/_impl/dataset/model.py
  client/starwhale/core/dataset/cli.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/dataset/view.py
  client/tests/core/test_dataset.py
  client/tests/sdk/test_dataset_sdk.py
Labels: feature ✨, client 🌈, dataset🐫, e2e

#2393 bugfix: 1. add force support for model copy; 2. add timeout and retries for http client
  client/starwhale/core/model/copy.py
  client/tests/base/test_copy.py
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/model/CreateModelVersionRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelServiceTest.java
Labels: e2e

#2396 chore(client): remove useless assert blob size for model copy
  client/starwhale/core/model/copy.py
Labels: client 🌈

#2389 chore(ci): add http proxy for e2e docker build
  scripts/client_test/cli_test.py
  scripts/publish/pub.sh
Labels: chore 🛎️, e2e

#2359 feat(console): remove useless i18n codes
  console/src/i18n/locales.ts
Labels: feature ✨

#2391 chore(ci): add sudo command for e2e base image
  docker/Dockerfile.base_e2e
Labels: chore 🛎️, ci 🕹️, e2e

#2397 chore(ci): enable client-e2e for mac osx
  .github/workflows/client.yaml
  scripts/client_test/cli_test.py
Labels: chore 🛎️, ci 🕹️

#2398 chore(ci): remove torch/tensorflow python3.11 unittest skip
  .github/workflows/client.yaml
  client/requirements-dev.txt
  client/tests/sdk/test_dataset_sdk.py
Labels: ci 🕹️

#2403 bug(client): skip model list for the empty manifest/digest info
  client/starwhale/core/model/model.py
Labels: client 🌈

#2405 chore(controller): remove unused property in model version
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/model/ModelInfoVo.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
Labels: chore 🛎️

#2404 fix(controller): make the property of 'shared' in model version to show
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/model/ModelInfoVo.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/model/ModelVersionVo.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/converter/ModelVersionVoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/po/ModelVersionEntity.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelVersionConverterTest.java
Labels: bug 🐛

#2410 chore(ci): add verbose for e2e cmd output
  scripts/client_test/cmds/artifacts_cmd.py
Labels: chore 🛎️

#2413 fix(console): store not reset when tables changed / compare num error / widget preview error
  console/packages/starwhale-core/src/dataset/utils.ts
  console/packages/starwhale-core/src/form/WidgetPreviewModal.tsx
  console/packages/starwhale-ui/src/GridTable/GridCompareTable.tsx
  console/src/components/Editor/FullTablesEditor.tsx
Labels: console 🎨

#2412 fix(controller): runtime can not upload when user is not system admin
  server/controller/src/main/java/ai/starwhale/mlops/common/proxy/WebServerInTask.java
  server/controller/src/main/java/ai/starwhale/mlops/configuration/security/ProjectNameExtractorDataStoreMixed.java
  server/controller/src/test/java/ai/starwhale/mlops/api/config/ProjectNameExtractorDataStoreMixedTest.java
  server/controller/src/test/java/ai/starwhale/mlops/common/proxy/WebServerInTaskTest.java
Labels: bug 🐛, controller 🏘️

#2417 optimize(console): grid cell preview pre view with work wrap
  console/packages/starwhale-ui/src/GridDatastoreTable/components/Preview.tsx
  console/packages/starwhale-ui/src/Viewer/DataViewer.tsx
  console/packages/starwhale-ui/src/Viewer/TextViewer.tsx
Labels: console 🎨

#2416 refactor(controller): refine job start end time
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/JobService.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/status/JobStatus.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/status/JobStatusMachine.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/step/StepHelper.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/TaskStatus.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/task/status/TaskStatusMachine.java
  server/controller/src/main/java/ai/starwhale/mlops/reporting/SimpleTaskModifyReceiver.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/JobEventHandler.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/HotJobHolderImplTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/job/StatusRequirementTest.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/task/StepHelperTest.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/JobEventHandlerTest.java
Labels: refactor 🐛, controller 🏘️

#2420 (controller) add dataset hashedblod download api
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetApi.java
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetController.java
  server/controller/src/test/java/ai/starwhale/mlops/api/DatasetControllerTest.java
Labels: controller 🏘️

#2419 bug(client): fix dataset blob download api typo
  client/starwhale/core/dataset/copy.py
  client/tests/sdk/test_dataset.py
Labels: bug 🐛, client 🌈

#2422 fix(controller): header is omitted by response stream
  server/controller/src/main/java/ai/starwhale/mlops/api/DatasetController.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/storage/HashNamedObjectStore.java
  server/controller/src/test/java/ai/starwhale/mlops/api/DatasetControllerTest.java
Labels: bug 🐛

#2414 fix(controller): read model file without compression fail
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/ModelService.java
  server/controller/src/test/java/ai/starwhale/mlops/domain/model/ModelServiceTest.java
  server/storage-access-layer/src/main/java/ai/starwhale/mlops/storage/LengthAbleInputStream.java
Labels: bug 🐛, controller 🏘️

#2418 enhance(ci): refactor minikube config for e2e and dev
  .github/file-filter.yml
  .github/workflows/e2e-test.yml
  docker/charts/templates/NOTES.txt
  docker/charts/templates/controller-deployment.yaml
  docker/charts/templates/controller-ingress.yaml
  docker/charts/templates/minio.yaml
  docker/charts/values.minikube.cn.yaml
  docker/charts/values.minikube.global.yaml
  docker/charts/values.yaml
  scripts/ci.sh
  scripts/e2e_test/check_controller_port.sh
  scripts/e2e_test/start_test.sh
  scripts/publish/pub.sh
  scripts/release.sh
Labels: e2e

#2429 bug(ci): fix e2e release charts typo
  README.md
  docker/charts/templates/NOTES.txt
  docker/charts/templates/controller-deployment.yaml
  docker/charts/templates/controller-ingress.yaml
  docker/charts/templates/minio.yaml
Labels: bug 🐛, ci 🕹️, e2e

#2430 bug(ci): fix console e2e typo
  console/playwright/tests/admin-project.spec.ts
Labels: ci 🕹️, console 🎨

#2432 fix(share): use full uri for model and runtime
  client/scripts/sw-docker-entrypoint
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/bo/DataSet.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/bo/DatasetVersion.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/dataset/converter/DatasetBoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/bo/JobRuntime.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/converter/JobBoConverter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/model/Model.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/k8s/K8sTaskScheduler.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/k8s/K8sTaskSchedulerTest.java
Labels: e2e

#2426 example(LLM): update llm examples runtime req version
  example/LLM/belle-bloom/README.md
  example/LLM/belle-bloom/runtime.yaml
  example/LLM/belle-bloom/runtime_conda.yaml
  example/LLM/belle-bloom/sw.py
  example/LLM/guanaco/runtime.yaml
  example/LLM/llama/runtime.yaml
  example/LLM/vicuna/runtime.yaml
Labels: chore 🛎️, example 🚕

#2436 chore(console): auth for pin and unpin
  console/src/api/const.ts
  console/src/pages/Job/JobListCard.tsx
Labels: chore 🛎️, console 🎨
