Repository star-whale/starwhale, pull requests merged in 2024-01, with the labels that each got.

#3100 refactor(client): refactor handler args with `@starwhale.argument` decorator
  client/starwhale/__init__.py
  client/starwhale/api/_impl/argument.py
  client/starwhale/api/_impl/evaluation/__init__.py
  client/starwhale/api/_impl/experiment.py
  client/starwhale/api/_impl/job/handler.py
  client/starwhale/api/job.py
  client/starwhale/base/scheduler/__init__.py
  client/starwhale/base/scheduler/step.py
  client/starwhale/base/scheduler/task.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/model.py
  client/starwhale/core/model/view.py
  client/tests/sdk/test_job_handler.py
  client/tests/sdk/test_model.py
  scripts/client_test/cli_test.py
  scripts/example/src/evaluator.py
Labels: refactor 🐛, client 🌈, e2e

#3101 feat(client): support echo `@starwhale.argument` help text
  client/starwhale/api/_impl/argument.py
  client/starwhale/core/model/cli.py
  client/starwhale/core/model/view.py
  client/tests/sdk/test_argument.py
Labels: feature ✨, client 🌈

#3111 chore(doc): fix github action broken links
  README.md
  README_ZH.md
Labels: chore 🛎️

#3102 feat(client): dump arguments to json file when model building
  client/starwhale/api/_impl/argument.py
  client/starwhale/consts/__init__.py
  client/starwhale/core/model/model.py
  client/tests/core/test_model.py
  client/tests/sdk/test_argument.py
Labels: feature ✨, client 🌈, e2e

#3112 chore(controller): prevent access to deleted projects
  server/controller/src/main/java/ai/starwhale/mlops/configuration/security/JwtTokenFilter.java
  server/controller/src/test/java/ai/starwhale/mlops/configuration/security/JwtTokenFilterTest.java
Labels: chore 🛎️, controller 🏘️

#3115 fix(controller): allow recovering project if project is deleted
  server/controller/src/main/java/ai/starwhale/mlops/configuration/security/JwtTokenFilter.java
  server/controller/src/test/java/ai/starwhale/mlops/configuration/security/JwtTokenFilterTest.java
Labels: bug 🐛, controller 🏘️

#3116 enhance(sdk): support new typing hint example for transformers 4.36.0+
  client/starwhale/api/_impl/argument.py
  client/tests/sdk/test_argument.py
Labels: enhancement ❤️, sdk 🐶

#3123 fix(controller): 500 when get deleted project by name
  server/controller/src/main/java/ai/starwhale/mlops/configuration/security/JwtTokenFilter.java
  server/controller/src/main/java/ai/starwhale/mlops/domain/project/mapper/ProjectMapper.java
Labels: bug 🐛, controller 🏘️, e2e

#3120 enhance(docker): add conda bin into /usr/local/bin, make debug mode happy
  docker/Dockerfile.base
Labels: enhancement ❤️, docker 🗃️

#3121 enhance(docker): add pydistutils cfg file for setuptools easy install
  docker/external/base-entrypoint.sh
Labels: enhancement ❤️, docker 🗃️, runtime🐌

#3117 feat: add custom args
  .github/workflows/e2e-test.yml
  client/starwhale/api/_impl/argument.py
  client/starwhale/api/_impl/job/handler.py
  client/starwhale/base/client/models/models.py
  client/starwhale/base/models/model.py
  client/starwhale/consts/__init__.py
  client/starwhale/core/model/model.py
  client/tests/core/test_model.py
  client/tests/sdk/test_argument.py
  client/tests/sdk/test_job_handler.py
  console/src/api/server/data-contracts.ts
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/spec/StepSpec.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/container/impl/SwCliModelHandlerContainerSpecification.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/impl/contianer/SwCliModelHandlerContainerSpecificationTest.java
Labels: e2e

#3124 chore(controller):update jobs column to longtext which belong to model version
  server/controller/src/main/resources/db/migration/v0_4_0/V0_4_0_034__alter_jobs_type_for_model_version.sql
Labels: chore 🛎️

#3125 example(LLM): use `@starwhale.argument` feature to refactor llm finetune examples
  example/llm-finetune/models/baichuan2/evaluation.py
  example/llm-finetune/models/baichuan2/finetune.py
  example/llm-finetune/models/chatglm3/evaluation.py
  example/llm-finetune/models/chatglm3/finetune.py
  example/llm-finetune/runtime/runtime.yaml
Labels: example 🚕

#3127 enhance(client): sort model/runtime/dataset history list by created_at field
  client/starwhale/base/view.py
Labels: enhancement ❤️, client 🌈

#3126 enhance(client): make the list(model/runtime/dataset) output of standalone instance consitent with cloud/server style
  client/starwhale/base/bundle.py
  client/starwhale/base/models/runtime.py
  client/starwhale/core/dataset/model.py
  client/starwhale/core/model/model.py
  client/starwhale/core/runtime/model.py
  client/tests/core/test_runtime.py
Labels: enhancement ❤️, client 🌈

#3129 chore(client): ignore warnings when logger level is 0(error)
  client/starwhale/utils/debug.py
Labels: chore 🛎️, client 🌈

#3128 example(LLM): change chatglm3 generation_config field type for command line arguments
  example/llm-finetune/models/chatglm3/finetune.py
Labels: chore 🛎️, example 🚕

#3131 fix(controller): support multiple value
  client/starwhale/base/client/models/models.py
  console/src/api/server/data-contracts.ts
  server/controller/src/main/java/ai/starwhale/mlops/domain/job/spec/StepSpec.java
  server/controller/src/main/java/ai/starwhale/mlops/schedule/impl/container/impl/SwCliModelHandlerContainerSpecification.java
  server/controller/src/test/java/ai/starwhale/mlops/schedule/impl/contianer/SwCliModelHandlerContainerSpecificationTest.java
Labels: e2e

#3064 enhance(datastore): support updating table with schema embedded records
  client/starwhale/base/client/models/models.py
  console/src/api/server/Api.ts
  console/src/api/server/data-contracts.ts
  server/controller/src/main/java/ai/starwhale/mlops/api/DataStoreController.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/datastore/RecordCellDesc.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/datastore/RecordRowDesc.java
  server/controller/src/main/java/ai/starwhale/mlops/api/protocol/datastore/UpdateTableEmbeddedRequest.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/ColumnSchemaDesc.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/DataStore.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/MemoryTable.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/impl/RecordDecoder.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/type/BaseValue.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/type/BoolValue.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/type/BytesValue.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/type/Float32Value.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/type/Float64Value.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/type/Int16Value.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/type/Int32Value.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/type/Int64Value.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/type/Int8Value.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/type/ListValue.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/type/MapValue.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/type/ObjectValue.java
  server/controller/src/main/java/ai/starwhale/mlops/datastore/type/StringValue.java
  server/controller/src/test/java/ai/starwhale/mlops/api/DataStoreControllerTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/DataStoreTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/impl/RecordDecoderTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/type/BaseValueTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/type/ListValueTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/type/MapValueTest.java
  server/controller/src/test/java/ai/starwhale/mlops/datastore/type/ObjectValueTest.java
Labels: enhancement ❤️, controller 🏘️, datastore 🐇, e2e

#3134 bug(SDK): fix pipeline batch size return error
  client/starwhale/api/_impl/evaluation/pipeline.py
  client/tests/sdk/test_evaluation_pipeline.py
Labels: bug 🐛, sdk 🐶
